@use '../../../01-core' as *;

/**
 * Default calendar skin.
 *
 * @see https://codepen.io/rachelandrew/pen/PNwaZe
 */
// VIEW CODE

.view-uw-view-calendar .view-filters {
  display: none;
}

.calendar-view-day {
  padding: var(--size-1);
  background-color: white;
}

.calendar-view-day__row {
  margin: 0 auto;
  padding: var(--size-075);
  background-color: white;
}

.calendar-view-day__row + .calendar-view-day__row {
  margin-bottom: var(--size-075);
}

[data-calendar-view-day]:hover .calendar-view-day__number,
[data-calendar-view-day]:active .calendar-view-day__number,
[data-calendar-view-day]:focus .calendar-view-day__number {
  font-weight: normal;
}

.calendar-view-day__number {
  margin-bottom: var(--size-075);
  border: var(--size-xs) solid  transparent;
}

.calendar-view-pager__reset {
  text-align: center;
}

.view > .calendar-view-pager__reset {
  margin-block-end: 0;
}


/** Table **/
.calendar-view-table {
  --calendar-font-light: var(--font-systembold);
  --calendar-font-bold: var(--font-systembold);
  --calendar-font-2: var(--font-condensedbook);
  --calendar-font-3: var(--font-book);
  --calendar-view-columns: 7;
  --calendar-view-color-white: var(--uw-white);
  --calendar-view-color-grey: var(--gray-2);
  --calendar-view-color-gray: var(--gray-4);
  --calendar-view-color-evil: var(--gray-3);
  --calendar-view-color-dark: var(--gray-6);
  --calendar-view-day-rows-gap: var(--size-1);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(var(--calendar-view-columns), 1fr);
  border-collapse: collapse;
  position: relative;
}

.calendar-view-table tr:hover {
  .calendar-view-day {
    background-color: var(--gray-1);
    &:hover {
      background-color: var(--calendar-view-color-white);
    }
  }
}
@each $faculty, $colour in $faculties_colours {
  .#{$faculty} {
    .calendar-view-table {
      --calendar-view-color-light: color-mix(in srgb, var(--#{$colour}-1), #fff 85%);
    }
    @if $faculty == org-default {
      .today {
        .calendar-view-day {
          background-color: var(--calendar-view-color-light) !important;
          &:hover {
            background-color: var(--calendar-view-color-light) !important;
            .calendar-view-day__number {
              color: var(--uw-black) !important;
              background: var(--uw-white);
              border: var(--size-xs) solid  var(--#{$colour}-primary);
            }
          }
        }
        .calendar-view-day__number {
          color: var(--uw-black) !important;
          background-color: var(--uw-gold);
        }
      }
      .calendar-view-table thead th {
        background: var(--uw-black) !important;
      }
      .pager__item {
        a:hover,
        a:focus {
          background: var(--uw-black) !important;
          color: var(--uw-white);
        }
      }
      .calendar-view-day a {
        color: var(--uw-black) !important;
      }
    }
    @else if $faculty == org-stj {
      .calendar-view-table {
        --calendar-view-color-light: color-mix(in srgb, var(--#{$colour}-light), #fff 85%);
      }
      .calendar-view-day a {
        color: var(--#{$colour}-primary) !important;
      }
    }
    @else if $faculty == org-stp {
      .calendar-view-table {
        --calendar-view-color-light: color-mix(in srgb, var(--#{$colour}-light), #fff 95%);
      }
      .calendar-view-day a {
        color: var(--#{$colour}-primary) !important;
      }
    }
    @else if $faculty == org-ren {
      .calendar-view-table {
        --calendar-view-color-light: color-mix(in srgb, var(--#{$colour}-light), #fff 93%);
      }
      .calendar-view-day a {
        color: var(--#{$colour}-primary) !important;
      }
    }
    @else {
      .calendar-view-table {
        --calendar-view-color-light: color-mix(in srgb, var(--#{$colour}-1), #fff 85%);
      }
      .calendar-view-day a {
        color: var(--#{$colour}-primary) !important;
      }
    }
    .today {
      .calendar-view-day {
        background-color: var(--calendar-view-color-light) !important;
        &:hover {
          background-color: var(--calendar-view-color-light) !important;
          .calendar-view-day__number {
            color: var(--#{$colour}-primary);
            background: var(--uw-white);
            border: 1px solid  var(--#{$colour}-primary);
          }
        }
      }
      .calendar-view-day__number {
        color: var(--uw-white);
        background-color: var(--#{$colour}-primary);
      }
      .calendar-view-table tr:hover {
        .calendar-view-day {
          &:hover {
            background-color: var(--calendar-view-color-light);
          }
        }
      }
    }
    .calendar-view-table thead th {
      background: var(--#{$colour}-primary);
    }
    .pager__item {
      a:hover,
      a:focus {
        background: var(--#{$colour}-primary);
        color: var(--uw-white);
      }
    }
  }
}

.calendar-view-table[data-calendar-hide-weekend] {
  --calendar-view-columns: 5;
}

.calendar-view-table tr,
.calendar-view-table thead,
.calendar-view-table tbody {
  display: grid;
  grid-column: 1 / -1;
  grid-template-columns: repeat(var(--calendar-view-columns), 1fr);
  width: 100%;
  overflow: hidden;
}

.calendar-view-table caption {
  font-family: var(--calendar-font-3);
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
  grid-column: 1 / -1;
  line-height: 4;
  padding: var(--size-2) 0;
  text-align: center;
}

.calendar-view-table a {
  text-decoration: none;
}

.calendar-view-table td,
.calendar-view-table th {
  border: var(--size-xs) solid var(--calendar-view-color-grey);
  box-sizing: border-box;
  padding: var(--size-1);
  vertical-align: baseline;
  width: calc(100% / 7);
}

.calendar-view-table thead th {
  font-style: normal;
  font-weight: normal;
}

.calendar-view-table th {
  width: 100%;
  padding: var(--size-1);
  font-family: var(--calendar-font-3);
  font-size: 0.8125rem;
  font-weight: normal;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
  color: var(--calendar-view-color-white) !important;
  border-color: transparent;
}

.calendar-view-table td {
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  min-height: var(--size-15);
  .uw-full-width .block-uw-cbl-multi-type-calendar & {
    @container column (min-width: #{$screen-xl}) {
      min-height: var(--size-26);
    }
  }
  min-width: calc(100% / var(--calendar-view-columns));
  &:hover,
  &:focus {
    background-color: var(--calendar-view-color-white);
  }
}

/** Cells **/
.calendar-view-table .calendar-view-day {
  display: flex;
  flex-direction: column;
  flex: 1;
  &:hover{
    .calendar-view-day__number {
      color: var(--calendar-view-color-white);
      background: var(--calendar-view-color-dark);
    }
  }
}

.calendar-view-table .calendar-view-day__number {
  flex: 0 0 auto;
  align-self: flex-end;
  width: var(--size-4);
  border-radius: 50%;
  font-family: var(--calendar-font-bold);
  font-size: var(--font-size-00);
  line-height: 1;
  margin-bottom: var(--size-05);
  padding: var(--size-1) 0.15rem;
  cursor: help;
  text-align: center;
  color: var(--calendar-view-color-dark);
  transition: border-radius 0.2s linear;
}
.past .calendar-view-day {
  //opacity: 0.4;
  .calendar-view-table .calendar-view-day__number {
    color: var(--calendar-view-color-grey);
  }
}
.calendar-view-day__rows {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--calendar-view-day-rows-gap);
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.calendar-view-day__rows > * {
  //flex: 1;
}

[dir="ltr"] .calendar-view-table .calendar-view-day__rows {
  margin-left: 0;
}

[dir="rtl"] .calendar-view-table .calendar-view-day__rows {
  margin-right: 0;
}

.calendar-view-table .calendar-view-day__row {
  font-size: var(--font-size-min);
  font-family: var(--calendar-font-3);
  border-radius: var(--size-05);
  padding: var(--size-075);
  margin: 0;
  line-height: 1.2;
  background: var(--calendar-view-color-white);
  border: var(--size-xs) solid var(--calendar-view-color-grey);
  text-decoration: none;
}

.calendar-view-table .calendar-view-day__row > * {
  margin: 0.1875rem 0 0.4375rem;
  text-decoration: none;
}
.calendar-view-table .calendar-view-day__row.hover,
.calendar-view-table .calendar-view-day__row:hover,
.calendar-view-table .calendar-view-day__row:active,
.calendar-view-table .calendar-view-day__row:focus {
  border-color: var(--calendar-view-color-gray);
}

/** Past & future results **/
.calendar-view-table .next-month .calendar-view-day,
.calendar-view-table .previous-month .calendar-view-day  {
  background: var(--calendar-view-color-light) !important;
  color: var(--calendar-view-color-evil);
  &:hover{
    background: var(--calendar-view-color-white) !important;
  }
}

.calendar-view-table .next-month .calendar-view-day__number,
.calendar-view-table .previous-month .calendar-view-day__number {
  //background: var(--calendar-view-color-gray);
}

/** Pager (i.e. "Navigation by month") **/
.calendar-view-pager {
  position: relative;
  align-items: center;
  background-color: var(--calendar-view-color-light);
  border: var(--size-xs) solid var(--calendar-view-color-grey);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  z-index: var(--layer-dropdown);
}

.calendar-view-pager .pager__item {
  flex: 1;
}

[dir="ltr"] .calendar-view-pager .pager__previous {
  text-align: left;
  a {
    padding-left: var(--size-4);
  }
}
[dir="rtl"] .calendar-view-pager .pager__previous {
  text-align: left;
  a {
    padding-left: var(--size-4);
  }
}

[dir="ltr"] .calendar-view-pager .pager__next {
  text-align: right;
  a {
    padding-right: var(--size-4);
  }
}
[dir="rtl"] .calendar-view-pager .pager__next {
  text-align: left;
  a {
    padding-right: var(--size-4);
  }
}

.calendar-view-pager .pager__current {
  text-align: center;
  visibility: hidden;
  display: inherit;
}

.calendar-view-pager__reset a,
.calendar-view-pager .pager__item > * {
  padding: var(--size-2) var(--size-1);
  font-size: 0.8125rem;
  line-height: 2;
  text-transform: uppercase;
  font-weight: normal;
  text-decoration: none;
}

.calendar-view-pager .pager__item a {
  background-color: white;
  color: var(--uw-black);
  display: block;
  width: 100%;
}

.calendar-view-pager .pager__item > .form-item {
  margin: 0;
}

/** Mobile (e.g. 48rem = 768px) **/
@container column (max-width: 48rem) {
  .calendar-view-table thead,
  .calendar-view-table .next-month,
  .calendar-view-table .previous-month {
    display: none;
  }

  .calendar-view-table,
  .calendar-view-table tr,
  .calendar-view-table thead,
  .calendar-view-table tbody {
    grid-template-columns: 1fr;
  }

  .calendar-view-table tr {
    grid-column: 1 / 2;
  }

  .calendar-view-table .calendar-view-day__number {
    align-self: flex-start;
  }

  .calendar-view-pager {
    flex-direction: column;
    .pager__item {
      width: 100%;
    }
    .pager__current {
      display: none;
    }
  }
}

/**
 * Multiple days event styling.
 */

/** Desktop (e.g. 48rem = 768px) **/
@container column (min-width: 48rem) {
  /** Multi-day events **/
  .calendar-view-day__row.is-multi {
    --calendar-view-day-multi-offset: calc(-1rem - 1px);
    padding-left: calc(var(--calendar-view-day-multi-offset) * -1);
    padding-right: calc(var(--calendar-view-day-multi-offset) * -1);
  }

  .calendar-view-day__row.is-multi:not(.is-multi--first) > * {
    opacity: 0;
    pointer-events: none;
  }

  .calendar-view-day__row.is-multi--first {
    margin-right: var(--calendar-view-day-multi-offset);
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .calendar-view-day__row.is-multi--middle {
    margin-right: var(--calendar-view-day-multi-offset);
    margin-left: var(--calendar-view-day-multi-offset);
    border-right: none;
    border-left: none;
    border-radius: 0;
  }
  .calendar-view-day__row.is-multi--last {
    margin-left: var(--calendar-view-day-multi-offset);
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
// UW CODE
.block-uw-cbl-multi-type-calendar .view-uw-view-calendar:has(ul.pager__items) {
  text-shadow: none;
  @container column (min-width: 48rem) {
    .view-content {
      margin-top: calc(-1 * var(--size-9));
      position: relative;
      z-index: var(--layer-content);
    }
  }
}
