@use '../../../01-core' as *;

@each $faculty, $colour in $faculties_colours {

  // Wrapping the element with this class, <body>.
  .#{$faculty} {

    // If the UW branding group
    @if $faculty == org-default {
      .uw-carousel__banner {
        .owl-prev,
        .owl-next {
          color: var(--uw-gold) !important;
          &:hover,
          &:focus {
            background: var(--uw-gold) !important;
            color: var(--uw-black) !important;
          }
        }
      }
      .uw-owl-nav__banner-control {
        background: var(--uw-black) !important;
        border: var(size-xs) solid var(--uw-gold) !important;
        .uw-play-svg {
          fill: var(--uw-gold);
        }

        .uw-pause-svg {
          fill: var(--uw-gold);
        }

        &:hover,
        &:focus {
          background: var(--uw-gold) !important;
          border: var(--size-xs) solid var(--uw-black) !important;
          .uw-play-svg{
            fill: var(--uw-black);
          }

          .uw-pause-svg {
            fill: var(--uw-black);
          }
        }
      }
      .uw-text-overlay--split,
      .uw-text-overlay--full-width,
       // MAKING THE CONFERENCE BEHAVE LIKE FDSU.
      .uw-text-overlay--full-overlay,
      .uw-text-overlay--inset {
        .card__banner--title {
          color: var(--uw-gold);
        }
        .card__banner--sub-title  {
          color: var(--uw-white);
        }
        a  {
          text-decoration: none;
          .card__banner--title {
            color: var(--uw-gold);
          }

          .card__banner--other-split,
          .card__banner--sub-title  {
            color: var(--uw-white) !important;
          }
          &:hover,
          &:focus {
            .card__banner--title {
              color: var(--uw-gold);
              text-decoration: underline;
            }
            .card__banner--other-split,
            .card__banner--sub-title {
              color: var(--uw-white) !important;
              text-decoration: underline;
            }
          }
        }
      }
      .uw-text-overlay--left-dark {
        a  {
          text-decoration: none;
          .card__banner--title,
          .card__banner--sub-title  {
            color: var(--uw-white) !important;
          }
          &:hover,
          &:focus {
            .card__banner--title,
            .card__banner--sub-title {
              color: var(--uw-white) !important;
              text-decoration: underline;
            }
          }
        }
      }

      .uw-text-overlay--split,
      .uw-text-overlay--left-light {
        .card__banner--caption.uw_para_local_video_banner {
          .card__banner--title,
          .card__banner--sub-title {
            color: var(--uw-black) !important;
          }
        }
        a  {
          text-decoration: none;
          .card__banner--title {
            color: var(--uw-black) !important;
          }

          .card__banner--sub-title  {
            color: var(--uw-black) !important;
          }
          &:hover,
          &:focus {
            .card__banner--title {
              color: var(--uw-black) !important;
              text-decoration: underline;
            }
            .card__banner--sub-title  {
              color: var(--uw-black) !important;
              text-decoration: underline;
            }
          }
        }
      }
      .banner-video-control {
        background-color: rgba(0, 0, 0, 0.7);
        border: var(size-xs) solid var(--uw-gold) !important;
        .uw-play-svg {
          fill: var(--uw-gold);
        }

        .uw-pause-svg {
          fill: var(--uw-gold);
        }

        &:hover,
        &:focus {
          background: var(--uw-gold) !important;
          border: var(--size-xs) solid var(--uw-black) !important;
          .uw-play-svg{
            fill: var(--uw-black);
          }

          .uw-pause-svg {
            fill: var(--uw-black);
          }
        }
      }
    }
    @else if $faculty == org-stp or $faculty == org-stj or $faculty == org-ren or $faculty == org-cgc {
      .card__banner{
        .card__banner--title  {
          color: var(--uw-white);
        }
        .card__banner--sub-title  {
          color: var(--uw-white);
        }
        a {
          .card__banner--title,
          .card__banner--sub-title,
          .card__banner--other-split{
            color: var(--uw-white);
          }

          &:hover,
          &:focus {
            .card__banner--title,
            .card__banner--sub-title,
            .card__banner--other-split {
              color: var(--uw-white);
              text-decoration: underline;
            }
          }
        }
      }
      .uw-carousel__banner{
        .owl-prev,
        .owl-next {
          color: var(--#{$colour}-light) !important;

          &:hover,
          &:focus {
            background: var(--#{$colour}-primary) !important;
          }
        }
      }
      .uw-owl-nav__banner-control,
      .banner-video-control{
        color: var(--#{$colour}-primary) !important;
        background: var(--uw-white) !important;
        border: var(--size-xs) solid var(--#{$colour}-primary) !important;

        .uw-play-svg {
          fill: var(--#{$colour}-primary) !important;
        }

        .uw-pause-svg {
          fill: var(--#{$colour}-primary) !important;
        }

        &:hover,
        &:focus {
          background: var(--#{$colour}-primary) !important;
          border: var(--size-xs) solid var(--uw-white) !important;
          color: var(--uw-white) !important;
          .uw-play-svg {
            fill: var(--uw-white) !important;
          }
          .uw-pause-svg {
            fill: var(--uw-white) !important;
          }
        }
      }

      // MAKING THE CONFERENCE BEHAVE LIKE FDSU.
      .uw-text-overlay--full-overlay &,
      .uw-text-overlay--full-width,
      .uw-text-overlay--inset {
        .card__banner--caption {
          background: var(--#{$colour}-primary) !important;
        }
      }
    }
    @else {
      .card__banner {
        .card__banner--title  {
          color: var(--#{$colour}-1);
        }
        .card__banner--sub-title  {
          color: var(--#{$colour}-1);
        }
        a {
          text-decoration: none;
          .card__banner--title  {
            color: var(--#{$colour}-1);
          }
          .card__banner--sub-title  {
            color: var(--#{$colour}-1);
          }
          .card__banner--other-split {
            color: var(--uw-white);
          }
          &:hover,
          &:focus {
            .card__banner--other-split {
              color: var(--uw-white);
              text-decoration: underline;
            }
            .card__banner--title  {
              color: var(--#{$colour}-1);
              text-decoration: underline;
            }

            .card__banner--sub-title  {
              color: var(--#{$colour}-1);
              text-decoration: underline;
            }
          }
        }
        .uw-text-overlay--left-dark {
          a  {
            text-decoration: none;
            .card__banner--title,
            .card__banner--sub-title  {
              color: var(--uw-white) !important;
            }
            &:hover,
            &:focus {
              .card__banner--title,
              .card__banner--sub-title {
                color: var(--uw-white) !important;
                text-decoration: underline;
              }
            }
          }
        }
        .uw-text-overlay--left-light,
        .uw-text-overlay--split {
          .card__banner--title  {
            color: var(--uw-black);
          }
          .card__banner--sub-title  {
            color: var(--uw-black);
          }
          a  {
            text-decoration: none;
            .card__banner--title,
            .card__banner--sub-title  {
              color: var(--uw-black);
            }
            &:hover,
            &:focus {
              .card__banner--title,
              .card__banner--sub-title {
                color: var(--uw-black);
                text-decoration: underline;
              }
            }
          }
        }
      }

      .uw-carousel__banner{
        .owl-prev,
        .owl-next {
          color: var(--#{$colour}-1) !important;
          &:hover,
          &:focus {
            background: var(--#{$colour}-primary) !important;
          }
        }
      }

      .uw-owl-nav__banner-control,
      .banner-video-control {
        background: var(--uw-white) !important;
        border: var(--size-xs) solid var(--#{$colour}-primary) !important;
        color: var(--#{$colour}-primary) !important;
        .uw-play-svg {
          fill: var(--#{$colour}-primary) !important;
        }

        .uw-pause-svg {
          fill: var(--#{$colour}-primary) !important;
        }

        &:hover,
        &:focus{
          background: var(--#{$colour}-primary) !important;
          border: var(--size-xs) solid var(--#{$colour}-1) !important;
          color: var(--#{$colour}-1) !important;
          .uw-play-svg {
            fill: var(--#{$colour}-1) !important;
          }

          .uw-pause-svg {
            fill: var(--#{$colour}-1) !important;
          }
        }
      }
      // MAKING THE CONFERENCE BEHAVE LIKE FDSU.
      .uw-text-overlay--full-overlay &,
      .uw-text-overlay--full-width,
      .uw-text-overlay--inset {
        .card__banner--caption {
          background: var(--#{$colour}-primary) !important;
        }
      }
    }
    // Reset all links white in split other text.
    .uw-text-overlay--split a {
      color: var(--uw-white) !important;
      text-decoration: underline !important;
      &:hover,
      &:focus {
        text-decoration: none !important;
      }
    }
  }
}

.card__banner--image {
  margin-bottom: 0;
  padding: 0;
  position: relative;
  &.uw-text-overlay--left-dark,
  &.uw-text-overlay--left-light {
    height: 100%;
    min-height: 25rem;
    @media(min-width: $screen-xs) {
      min-height: 30rem;
    }
    @media(min-width: $screen-lg) {
      min-height: 32.375rem;
    }
    @media(min-width: $screen-xxl) {
      min-height: 38rem;
    }
    @media(min-width: $screen-onek) {
      min-height: 39.5rem;
    }
    picture {
      height: 100%;
      background-color: var(--uw-black);
      position: absolute;
      width: 100%;
    }
    picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    &::before {
      content: "";
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      z-index: var(--layer-background);
      background-image: radial-gradient(ellipse at 25% 64%, rgba(0, 0, 0, 0.7) 8%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0.1) 100%);
      @media(min-width: $screen-lg) {
        background-image: radial-gradient(ellipse at 25% 64%, rgba(0, 0, 0, 0.8) 8%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
      }
      @media(min-width: $screen-xxl) {
        background-image: radial-gradient(ellipse at 35% 64%, rgba(0, 0, 0, 0.8) 8%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
      }
      .uw-full-width & {
        @media(min-width: $screen-lg) {
          background-image: radial-gradient(ellipse at 25% 64%, rgba(0, 0, 0, 0.8) 8%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
        }
        @media(min-width: $screen-xxl) {
          background-image: radial-gradient(ellipse at 41% 64%, rgba(0, 0, 0, 0.8) 8%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0) 100%);
        }
      }
    }
  }
  &.uw-text-overlay--left-light {
    picture {
      background-color: var(--uw-white);
    }
    &::before {
      background: radial-gradient(ellipse at 25% 64%, rgba(255, 255, 255, 0.85) 6%, rgba(255, 255, 255, 0.7) 30%, rgba(255, 255, 255, 0.5) 47%);
      @media(min-width: $screen-lg) {
        background: radial-gradient(ellipse at 25% 64%, rgba(255, 255, 255, 0.85) 6%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0) 47%);
      }
      @media(min-width: $screen-xxl) {
        background: radial-gradient(ellipse at 19% 61%, rgba(255, 255, 255, 0.8) 5%, rgba(255, 255, 255, 0.4) 25%, rgba(255, 255, 255, 0) 47%);
      }
      .uw-full-width & {
        background: radial-gradient(ellipse at 35% 64%, rgba(255, 255, 255, 0.85) 6%, rgba(255, 255, 255, 0.7) 30%, rgba(255, 255, 255, 0.5) 47%);
        @media(min-width: $screen-lg) {
          background: radial-gradient(ellipse at 25% 64%, rgba(255, 255, 255, 0.85) 6%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0) 47%);
        }
        @media(min-width: $screen-xxl) {
          background: radial-gradient(ellipse at 38% 60%, rgba(255, 255, 255, 0.85) 6%, rgba(255, 255, 255, 0.5) 30%, rgba(255, 255, 255, 0) 55%);
        }
      }
    }
  }
}
.card__banner--caption {
  background-color: var(--uw-black);
  display: block;
  height: auto;
  margin-bottom: 0;
  padding: var(--size-2) var(--size-4);
  position: relative;
  width: 100%;
  .uw-text-overlay--none & {
    display: none;
  }
  .tag-list {
    margin-bottom: var(--size-1);
  }
  .uw-text-overlay--split & {
    align-items: center;
    background: var(--uw-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: var(--layout-lg-max-width);
    margin: 0 auto;
    text-align: center;
    .card__banner--other-split {
      color: var(--uw-white) !important;
      padding: var(--size-1) var(--size-4);
      h2 {
        font-size: var(--size-4);
        letter-spacing: 0.075rem;
      }
      *:last-child {
        margin-bottom: 0 !important;
      }
    }
    @media(min-width: $screen-lg) {
      background: rgba(0, 0, 0, 0.7);
      bottom: 1rem;
      left: 0;
      margin: 0 auto;
      position: absolute;
      right: 0;
      .card__banner--other-split {
        h2 {
          font-size: var(--size-6);
        }
      }
    }
    &.uw_para_local_video_banner {
      background-color: var(--neutral-1);
      bottom: inherit;
      left: inherit;
      margin: inherit;
      max-width: inherit;
      min-height: inherit;
      position: relative;
      right: inherit;
      padding: 0;
      &:not(:empty) {
        padding: var(--size-2) var(--size-16);
      }
    }
  }
  .uw-text-overlay--full-width &,
    // MAKING THE CONFERENCE BEHAVE LIKE FDSU.
  .uw-text-overlay--full-overlay & {
    background-color: var(--uw-black);
    text-align: center;
    padding: var(--size-2) var(--size-4);
    strong {
      font-weight: 400;
    }
  }
  .uw-text-overlay--left-dark &,
  .uw-text-overlay--left-light & {
    background-color: transparent;
    display: grid;
    height: 100%;
    padding: var(--size-10) var(--size-4) 0 var(--size-4);
    place-content: center start;
    position: absolute;
    text-align: left;
    top: 0;
    z-index: var(--layer-wrapper);
    @media(min-width: $screen-xxl) {
      padding-top: var(--size-15);
    }
    .uw-full-width & {
      @media(min-width: $screen-xl) {
        max-width: 100% !important;
        padding-left: calc((100% - var(--layout-max-width)) / 2);
        padding-right: calc((100% - var(--layout-max-width)) / 2);
      }
    }
  }
  .card__banner--text-align {
    display: grid;
    width: 100%;
    @media(min-width: $screen-xs) {
      grid-template-columns: 75% 1fr;
    }
    @media(min-width: $screen-sm) {
      grid-template-columns: 1fr 1fr;
    }
    @media(min-width: $screen-md) {
      min-width: 100%;
      grid-template-columns: 75% 1fr;
    }
    @media(min-width: $screen-lg) {
      grid-template-columns: 1fr 1fr;
    }
    @media(min-width: $screen-xl) {
      min-width: var(--layout-lg-max-width);
    }
    @media(min-width: $screen-xxl) {
      //grid-template-columns: 45% 1fr;
      .card__media & {
        min-width: var(--layout-max-width);
      }
    }
    .tag-list,
    .card__banner--title,
    .card__banner--sub-title {
      grid-column: 1 / 2;
    }
    .uw-contained-width--narrow &,
    .uw-contained-width--wide & {
      display: grid;
      grid-template-columns: 100%;
      min-width: 100%;
      .tag-list,
      .card__banner--title,
      .card__banner--sub-title {
        grid-column: 1 / 2;
      }
    }
  }
}

.card__banner--title {
  // Make pretty text wrap.
  @include uw-headlines();
  display: block;
  font-family: var(--font-condensedbook);
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-400);
  line-height: var(--font-lineheight-2);
  letter-spacing: 0.045rem;
  margin-top: 0 !important;
  width: auto;
  @media(min-width: $screen-md) {
    font-size: var(--font-size-6);
  }
  // MAKING THE CONFERENCE BEHAVE LIKE FDSU.
  .uw-text-overlay--full-overlay &,
  .uw-text-overlay--full-width & {
    padding: 0 var(--size-1);
    letter-spacing: 0.045rem;
    &.balanced-text {
      margin: 0 auto;
    }
  }
  .uw-text-overlay--split .uw_para_local_video_banner &  {
    font-family: var(--font-primary);
    @media(min-width: $screen-md) {
      font-size: var(--font-size-3);
    }
    &.balanced-text {
      margin: 0 auto;
    }
  }
  .uw-text-overlay--left-dark & {
    color: var(--uw-white) !important;
    font-weight: var(--font-weight-200);
    line-height: var(--font-lineheight-1);
    margin-bottom: var(--size-1);
    @media(min-width: $screen-md) {
      font-size: var(--font-size-8);
    }
    width: 100%;
  }
  .uw-text-overlay--left-light & {
    font-weight: var(--font-weight-200);
    line-height: var(--font-lineheight-1);
    margin-bottom: var(--size-1);
    @media(min-width: $screen-md) {
      font-size: var(--font-size-8);
    }
    width: 100%;
  }
}

.card__banner--sub-title {
  // Make pretty text wrap.
  @include uw-headlines();
  display: block;
  font-family: var(--font-book);
  font-size: var(--font-size-00);

  @media(min-width: $screen-md) {
    font-size: var(--font-size-0);
  }
  line-height: var(--font-lineheight-2);
  width: auto;
  .uw-text-overlay--full-overlay &,
  .uw-text-overlay--full-width & {
    &.balanced-text {
      margin: 0 auto;
    }
  }

  .uw-text-overlay--split .uw_para_local_video_banner & {
    font-family: var(--font-primary);
  }
  .uw-text-overlay--left-dark & {
    color: var(--uw-white) !important;
    font-family: var(--font-primary);
    @media(min-width: $screen-md) {
      font-size: var(--font-size-1);
      line-height: var(--font-lineheight-4);
    }
    width: 100%;
  }
  .uw-text-overlay--left-light & {
    font-family: var(--font-primary);
    @media(min-width: $screen-md) {
      font-size: var(--font-size-1);
      line-height: var(--font-lineheight-4);
    }
    width: 100%;
  }
}
// Fixes spacing below embedded images.
.uw-picture img {
  display: block;
}

.js .uw-owl-nav__dots-js {
  display: none;
}

.uw-owl-nav__banner-control,
.banner-video-control {
  .uw-icon {
    svg {
      height: inherit;
      width: inherit;
    }
  }
}

// Video type banner.
.uw_para_local_video_banner {
  .card__media & {
    @media(min-width: $screen-md) {
      height: 100%;
    }
  }
  video{
    position: relative;
  }
}

.video-bottom {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: var(--size-2);
  right: var(--size-1);
  z-index: var(--layer-modal);
  .uw-carousel__banner &{
    bottom: var(--size-105);
  }
}

.video-control {
  font-size: var(--font-size-00);
  padding: 0 var(--size-1) 0 0;
  line-height: 0;
}

.play,
.pause {
  .uw-icon {
    height: var(--size-4);
    width: var(--size-4);
  }
  span{
    display: inline-flex;
    line-height: 2.2;
  }
}

.uw-video-play {
  .pause {
    display: none;
  }
  .play {
    display: inline-flex;
  }
}

.uw-video-pause {
  .pause {
    display: inline-flex;
  }
  .play {
    display: none;
  }
}

.card__banner {
  .card__body {
    padding: inherit;
  }
  .card__image {
    margin: 0;
  }

  a {

    .card__banner--media {
      margin-bottom: 0;
      order: inherit;
      transition-delay: 0s;
      transition-duration: 0.2s;
      transition-property: color, border-color, filter;
      transition-timing-function: linear;
    }

    &:hover {
      .card__banner--media {
        filter: brightness(50%);
        transition-delay: 0s;
        transition-duration: 0.2s;
        transition-property: color, border-color, filter;
        transition-timing-function: linear;
      }
    }
  }
  .uw-text-overlay--left-dark a,
  .uw-text-overlay--left-light a {
    &:hover {
      .card__banner--title,
      .card__banner--sub-title {
        text-decoration: underline;
      }
      .card__banner--media {
        filter: inherit;
      }
    }
  }
  .uw-picture__fallback{
    display: block;
  }
  .video-bottom {
    opacity: 0;
    transition: opacity 0.2s ease;
    &:focus-within {
      opacity: 1;
    }
  }
  &:hover,
  &:focus{
    .video-bottom {
      opacity: 1;
      transition: opacity 0.2s ease;
    }
  }
}
// CSS for the single page look.
.card__banner--page-title {
  // Make pretty text wrap.
  @include uw-headlines();
  background: rgba(255, 255, 255, 0.85);
  @media(min-width: $screen-lg) {
    min-height: 3.438rem;
    position: absolute;
    top: 0;
    z-index: var(--layer-wrapper);
  }
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

.card__banner--text-split {
  // Make pretty text wrap.
  @include uw-headlines();
  clear: both;
  color: var(--uw-black);
  font-family: var(--font-condensed);
  font-size: var(--font-size-5);
  hyphens: none;
  letter-spacing: 0.045rem;
  line-height: var(--font-lineheight-2);
  margin: var(--size-1) 0;
  text-rendering: optimizeLegibility;
  &.balanced-text {
    margin: var(--size-1) auto;
  }
  @media(min-width: $screen-lg) {
    line-height: var(--font-lineheight-2);
    font-size: var(--font-size-8);
  }
}
// END of CSS for the single page look.
