{% for image in banners.images %}
  {% include '@components/card/card.twig' with {
    'banner': image,
    'show_header': 'no',
    'type': 'banner',
    'faculty': faculty,
    'bundle': banners.bundle,
  } %}
{% endfor %}
