@use '../../01-core' as *;

$site-name-bg: var(--gray-2);

.uw-header {
  @include uw-full-width;
  background-color: var(--uw-black);
  &__masthead {
    display: flex;
    font-family: var(--font-condensedbook);
    margin-bottom: 0;
    min-height: var(--size-7);
    padding: var(--size-1);
    position: relative;
    transition: margin 200ms;
    &:has(input.uw-input--checkboxform:checked) {
      margin-bottom: var(--size-8);
      transition: margin 200ms ease;
    }
    &.open{
      margin-bottom: var(--size-8);
      transition: margin 200ms ease;
    }
    @media(min-width: $screen-md) {
      @include uw-contained-width;
      min-height: inherit;
      padding: var(--size-2);
    }
    @media(min-width: $screen-xl) {
      padding: var(--size-2) 0;
    }
    .uw-site-logo {
      align-self: flex-start;
      flex: 1;
      .uw-header__menu--full & {
        @media(min-width: $screen-lg) {
          flex: inherit;
        }
      }
    }
    .uw-header-menu {
      align-self: flex-end;
      margin-right: 2.75rem;
      @media(min-width: $screen-md) {
        margin-right: var(--size-2);
      }
      &.uw-header-menu__full {
        @media(min-width: $screen-lg) {
          align-self: center;
          margin-right: inherit;
          margin-left: var(--size-xs);
          width: 100%;
        }
      }
    }
    .uw-header-search {
      align-self: flex-end;
      display: inline-flex;
    }
    .uw-header-searchbar{
      @include uw-contained-width;
      display: block;
      left: 0;
      padding: 0;
      position: absolute;
      top: 100%;
      width: 100%;
    }
  }

  .uw-header__nav{
    @include uw-full-width;
    background-color: $site-name-bg;
    position: relative;
    z-index: var(--layer-header);
  }
  .uw-header__center{
    @include uw-contained-width;
    border-bottom: var(--size-xs) solid var(--gray-3);
    @media(min-width: $screen-md) {
      border-bottom: inherit;
    }
    display: grid;
    grid-template-columns: auto var(--size-8);
    padding: 0;
    position: relative;
    z-index: var(--layer-overlay);
  }
  .uw-header__site-name{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  .uw-navigation-button{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  .uw-header__navigation{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .messages-list {
    background-color: var(--uw-white);
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0 var(--size-2);
  }
}
