{%  if is_demo_header %}
  {%  set  branding_level = 'full' %}
  {%  set  faculty = faculty ? faculty : 'org-art' %}
{% endif %}

{% if not uw_option %}
  {% set uw_option = 'all' %}
{% endif %}
{% set header_classes = [
  'uw-header',
  'uw-header__menu--' ~ branding_menu_style|clean_class,
  faculty]|join(' ')|trim
%}

<header class="{{ header_classes }}" role="banner">
  {% if global_message %}
    <div id="global-message">
      {{ global_message|render }}
    </div>
  {% endif %}
  <div class="uw-header__masthead" lang="en">
    {% include '@components/site-logo/site-logo.twig' %}

    {% if branding_level == 'full' and uwoption != 'none' %}
      {% include "@components/menu/menu--header/menu--header.twig" with {
        'branding_menu_style' : branding_menu_style,
        'modifier_classes': 'header',
        'include_home': false,
      } %}
    {% endif %}

    {% include '@components/search/search.twig' with {
      'search': search
    }%}
  </div>
  <!-- Branding colour bar. -->
  {% if branding_level == 'full' %}
    {% include '@components/color-bar/color-bar.twig' with {
      'faculty': faculty
    }%}
  {%  endif %}

  {% if uw_option != 'none' %}
    <!-- Main header horizontal navigation -->
    <nav class="uw-header__nav" lang="{{ current_site_language }}">
      <div class="uw-header__center">
        <div class="uw-header__site-name">
          {% include '@components/site-name/site-name.twig' with {
            'site_name': site_name,
            'home_link': home_link
          } %}
         </div>
        {% if uw_option == 'all' %}
          <button class="uw-navigation-button" aria-controls="uw-header__navigation" aria-expanded="false">
            <span class="uw-navigation-button__text">Menu</span>
            <span class="uw-navigation-button__lines"></span>
          </button>
        {% endif %}
      </div>
      {% if uw_option == 'all' %}
        <div id="uw-header__navigation" class="uw-header__navigation">
          {% include "@components/menu/menu--horizontal/menu--horizontal.twig" with {
            'modifier_classes': 'main',
            'menu_name': 'horizontal',
            'items': nav_items,
            'home_link': home_link,
            'include_home': true,
          }%}

          {% include "@components/menu/menu--secondary/menu--secondary.twig" with {
            'modifier_classes': 'secondary',
            'items': secondary_items,
            'include_home': false,
          }%}
        </div>
      {% endif %}
    </nav>
  {% endif %}
</header>
