// @file
// Styles for form items.

@use '../../01-core' as *;

.form-item {
  margin: 0 0 var(--size-2);
  .form--inline{
    .form-checkboxes &{
      margin: inherit;
    }
  }
}

.form-item__label {
  display: block;
  //font-family: var(--font-system);
  //font-size: var(--font-size-2);
  //margin-bottom: var(--size-1);

  .is-disabled > & {
    opacity: 0.35;
  }
}

.form-item__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

.form-item__description {
  color: var(--gray-6);
  font-family: var(--font-system);
  font-size: var(--font-size-00);
  //margin-top: var(--size-1);

  > :last-child {
    margin-bottom: 0;
  }
}

.form-item__required-marker::before {
  color: #e00;
  content: '*';
}

.form-item--box,
.form-item--color,
.form-item__date,
.form-item--email,
.form-item--month,
.form-item--number,
.form-item--password,
.form-item--search,
.form-item--select,
.form-item--tel,
.form-item--text,
.form-item--textarea,
.form-item--time,
.form-item--url,
.form-item--week {
  //appearance: none;
  //border-color: var(--gray-3);
  //border-style: solid;
  //border-width: var(--border-size-1);
  //display: block;
  //font-family: var(--font-system);
  //font-size: var(--font-size-1);
  //max-width: 100%;
  //padding: var(--size-1) var(--size-2);
  //transition: background-color 200ms ease-in-out, border 200ms ease-in-out;

  &:hover {
    background-color: white;
    //border-color: var(--gray-5);
    //border-style: solid;
    //border-width: var(--border-size-1);
  }

  &:disabled {
    cursor: default;
    opacity: 0.35;

    &:hover,
    &:focus {
      background-color: var(--gray-1);
      //border-color: var(--gray-3);
      border-style: solid;
      //border-width: var(--border-size-1);
    }
  }

  .is-full-width > & {
    width: 100%;
  }
}

// Form Item: Textarea
.form-item__textarea {
  height: auto;
}

// Form Item: Checkbox
.form-item--checkbox,
.form-item--radio {
  display: flex;
  margin-bottom: var(--size-2);

  .form-item__label {
    align-self: center;
    cursor: pointer;
    margin-bottom: 0;
  }
}

// Form Item: Range
.form-item--range {
  .form-item__range {
    display: block;
    max-inline-size: 100%;
  }
}

// Form Item: File
.form-item--file {
  .form-item__file {
    appearance: none;
    background-clip: padding-box;
    font-family: var(--font-system);
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-400);
    line-height: var(--font-lineheight-4);
    overflow: hidden;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }

    &::file-selector-button {
      background-color: var(--gray-2);
      border-color: inherit;
      border-inline-end-width: 1px;
      border-radius: 0;
      border-style: solid;
      border-width: 0;
      color: var(--gray-9);
      margin-inline-end: var(--size-2);
      margin: var(--size-1) var(--size-2);
      padding: var(--size-105) var(--size-2);
      pointer-events: none;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    &:hover:not(:disabled):not([readonly])::file-selector-button {
      background-color: var(--gray-2);
    }

    &::-webkit-file-upload-button {
      background-color: var(--gray-2);
      border-color: inherit;
      border-inline-end-width: 1px;
      border-radius: 0;
      border-style: solid;
      border-width: 0;
      color: var(--gray-9);
      margin-inline-end: var(--size-2);
      margin: var(--size-1) var(--size-2);
      padding: var(--size-105) var(--size-2);
      pointer-events: none;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    &:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
      background-color: var(--gray-2);
    }
  }
}

// Form Item: Color
.form-item--color {
  .form-item__color {
    height: auto;
    max-inline-size: var(--size-6);
    padding: var(--size-1);

    &:not(:disabled):not([readonly]) {
      cursor: pointer;
    }

    &::-moz-color-swatch {
      height: 1.25em;
    }

    &::-webkit-color-swatch {
      height: 1.25em;
    }
  }
}

// Form Item: Select
.form-item--select {
  .form-item__select {
    //@include svg-background('/img/select-arrows.svg');
    //background-position: right var(--size-2) center; // LTR
    //background-repeat: no-repeat;
    //background-size: var(--size-3);
    //display: block;
    //padding-right: var(--size-12);

    // Remove inner focus styling on Firefox.
    &:-moz-focusring {
      //color: transparent;
      //text-shadow: 0 0 0 black;
    }

    &::-ms-expand {
      //display: none;
    }
  }
}
