{% set classes = [
  'form-item',
  type ? 'form-item--' ~ type|clean_class,
  name ? 'form-item--id-' ~ name|clean_class,
  'js-form-item',
  type ? 'js-form-type-' ~ type|clean_class,
  name ? 'js-form-item-' ~ name|clean_class,
  errors ? 'has-error' : '',
  disabled == 'disabled' or is_disabled ? 'is-disabled',
  required == 'required' or is_required ? 'is-required',
  label_display not in ['after', 'before'] ? 'has-no-label',
  label_display not in ['invisible'] and label_display in ['after'] ? 'has-visible-label-after',
  is_full_width ? 'is-full-width',
  attributes ? attributes.class,
]|join(' ')|trim %}

{% set description_classes = [
  'form-item__description',
  description_display == 'invisible' ? 'u-visually-hidden',
  description.attributes ? description.attributes.class,
]|join(' ')|trim %}

<div class="{{ classes }}" {{ attributes ? attributes|without('class') }}>
  {% if label_display in ['before', 'invisible'] %}
    {{ label }}
  {% endif %}

  {% if prefix or suffix %}
    <div class="form-item__element">
  {% endif %}

  {% if prefix %}
    <span class="form-item__prefix">{{ prefix }}</span>
  {% endif %}

  {% if description_display == 'before' and description.content %}
    <div class="{{ description_classes }}" {{ description.attributes ? description.attributes|without('class') }}>
      {{ description.content }}
    </div>
  {% endif %}

  {{ children | raw }}

  {% if suffix %}
    <span class="form-item__suffix">{{ suffix }}</span>
  {% endif %}

  {% if prefix or suffix %}
    </div>
  {% endif %}

  {% if label_display == 'after' %}
    {{ label }}
  {% endif %}

  {% if errors %}
    <div class="form-item__error-message">
      {{ errors }}
    </div>
  {% endif %}

  {% if description_display in ['after', 'invisible'] and description.content %}
    <div class="{{ description_classes }}" {{ description.attributes ? description.attributes|without('class') }}>
      {{ description.content }}
    </div>
  {% endif %}
</div>
