.uw-profiles {
  display: block;

  .card__image {
    display: inline-block;
    padding-right: var(--size-2);
    vertical-align: top;
  }

  .card__title a {
    color: var(--school-4);
    font-weight: 400;
  }
}
