{% set classes = type %}

{% if type == 'contact' %}
  {% set classes = classes ~ ' uw-exp-col' %}
{% endif %}

{% if style %}
  {% set classes = classes ~ ' uw-agenda' %}
{% endif %}

<div class="{{ classes }}"{% if type == 'contact' %} id="{{ random() }}"{% endif %}>
  {% if type == 'contact' and items|length > 1 %}
    <div class="uw-exp-col__controls">
      <button class="uw-exp-col__button uw-exp-col__button--controls" data-type="expand-all">{{ 'Expand All'|t }}</button>
      <button class="uw-exp-col__button uw-exp-col__button--controls" data-type="collapse-all">{{ 'Collapse All'|t }}</button>
    </div>
  {% endif %}
  {% embed '@components/content-grid-list/content-grid-list.twig' %}
    {% block content %}
      {% for item in items %}
        {% if type == 'contact' %}
          {% include '@components/contact/contact.twig' with {
            'contact': item,
          } %}
        {% else %}
          {% include '@components/card/card--teaser/_card--teaser.twig' with {
            'teaser': item,
            'type': 'teaser',
          } %}
        {% endif %}
      {% endfor %}
    {% endblock %}
  {% endembed %}
</div>
