// @file
@use '../../../01-core' as *;

$icon-font-family-small: var(--font-condensedbook) !default;
$icon-font-family-normal: var(--font-condensedbook) !default;
$icon-font-size-normal: var(--font-size-2) !default;
$icon-font-size-small: var(--font-size-0) !default;

.icon--button {
  align-items: center;
  background: none;
  border: var(--size-xs) solid var(--uw-black);
  display: flex;
  flex-flow: row;
  font-family: $icon-font-family-small;
  font-size: $icon-font-size-normal;
  font-weight: var(--font-weight-400);
  gap: var(--size-05);
  height: var(--size-6);
  line-height: normal;
  padding: 0 var(--size-1);
  transition: all  0.2s ease-in;

  .uw-icon {
    align-items: center;
    display: flex;
    line-height: normal;
    svg {
      fill: var(--uw-black);
    }
  }
  &.uw-icon-link {
    color: var(--uw-black);
    text-decoration: none;

    &:hover,
    &:focus {
      background: $button-background-color-hover;
      color: var(--uw-black) !important;
      .uw-icon {
        svg{
          fill: var(--uw-black);
        }
      }
    }
  }
  &.icon--social{
    border-radius: 50%;
    height: var(--size-4);
    padding: 0 var(--size-03);
    width: var(--size-4);
    .uw-site-footer__block &{
      background: none;
      border-color: var(--uw-black-3);
      .uw-icon {
        svg{
          fill: var(--uw-white);
        }
      }
      &:hover,
      &:focus {
        background: var(--uw-white);
        border-color: var(--uw-white);
        outline: none;
        .uw-icon {
          svg{
            fill: var(--uw-black-3);
          }
        }
      }
    }
    .uw-footer__social & {
      background: none;
      border-color: var(--uw-black);
      .uw-icon {
        svg{
          fill: var(--uw-white);
        }
      }
      &:hover,
      &:focus {
        border-color: var(--uw-gold);
        background: var(--uw-gold);
        .uw-icon {
          svg{
            fill: var(--uw-black);
          }
        }
      }
    }
  }
}
