@use '../../../01-core' as *;

.layout--uw-2-col {
  display: grid;
  grid-template-columns: 100%;
  gap: var(--grid-gap);
  &.larger-left {
    @media(min-width: $screen-md) {
      grid-template-columns: 66%  30%;
    }
  }

  &.larger-right {
    @media(min-width: $screen-md){
      grid-template-columns: 30% 66%;
    }
  }

  &.even-split {
    @media(min-width: $screen-md) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  .layout__region{

    &--first {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &--second {
      grid-column: 1 / 2;
      grid-row: 2/ 3;

      @media(min-width: $screen-md) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
    }
  }
}
