// @file
// Styles for Tags.

@use '../../01-core' as *;

$tag-font-family-small: var(--font-system) !default;
$tag-font-family-normal: var(--font-systemmedium) !default;
$tag-font-size-normal: var(--font-size-000) !default;
$tag-font-size-small: var(--font-size-0000) !default;
$tag-font-size-full: var(--font-size-00) !default;

.tag {
  @include link-no-underline(
    var(--gray-5),
    var(--gray-5)
  );
  background: none;
  display: inline-block;
  font-family: $tag-font-family-normal;
  font-size: $tag-font-size-normal;
  margin: 0 0 var(--size-1) 0;
  padding: 0;
  text-decoration: none;
  transition: background 200ms ease-in;
  &.token{
    text-transform: inherit;
  }
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  &--normal{
    font-family: $tag-font-family-normal;
    font-size: $tag-font-size-normal;
    a{
      font-family: $tag-font-family-normal;
      font-size: $tag-font-size-normal;
    }
  }
  &--full {
    background: var(--uw-gold-3);
    color: var(--uw-black-primary);
    display: flex;
    font-family: $tag-font-family-small;
    font-size: $tag-font-size-normal;
    padding: var(--size-05) var(--size-1);
    text-transform: uppercase;
    @media(min-width: $screen-md) {
      font-size: $tag-font-size-full;
    }
    &:hover,
    &:focus {
      background: var(--uw-black-primary);
      color: var(--uw-gold-3);
      text-decoration: none;
    }
    a {
      background: var(--uw-gold-3);
      color: var(--uw-black-primary);
      font-family: $tag-font-family-small;
      font-size: $tag-font-size-normal;
      @media(min-width: $screen-md) {
        font-size: $tag-font-size-full;
      }
      &:hover,
      &:focus {
        background: var(--uw-black-primary);
        color: var(--uw-gold-3);
        text-decoration: none;
      }
    }
  }
  &--small {
    font-family: $tag-font-family-normal;
    font-size: $tag-font-size-small;
    padding: var(--size-075) var(--size-1);
    a {
      font-family: $tag-font-family-normal;
      font-size: $tag-font-size-small;
    }
  }
  &--simple {
    @include link-reverse(
      var(--gray-5),
      var(--gray-5)
    );
    font-family: $tag-font-family-normal;
    a {
      @include link-reverse(
        var(--gray-5),
        var(--gray-5)
      );
      font-family: $tag-font-family-normal;
    }
  }

  a {
    @include link-no-underline(
      var(--gray-5),
      var(--gray-5)
    );
    background: none;
    display: inline-block;
    font-size: $tag-font-size-normal;
    margin: 0 0 var(--size-1) 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
  }
}
@each $faculty, $colour in $faculties_colours {
  .tag-list__item.#{$faculty} {
    a.tag--full {
      text-decoration: none;
      @if $faculty == org-default {
        background-color: var(--uw-black-primary);
        border: var(--size-xs) solid transparent;
        color: var(--uw-white);
        &:hover,
        &:focus {
          border: var(--size-xs) solid var(--uw-gold);
          background-color: var(--uw-gold);
          color: var(--uw-black-primary);
        }
      }
      @else if $faculty == org-stp or $faculty == org-stj or $faculty == org-ren or $faculty == org-cgc{
        background-color: var(--#{$colour}-primary);
        border: var(--size-xs) inset transparent;
        color: var(--uw-white);
        &:hover,
        &:focus {
          border: var(--size-xs) inset var(--#{$colour}-primary);
          background-color: var(--uw-white);
          color: var(--#{$colour}-primary);
        }
      }
      @else {
        background-color: var(--#{$colour}-primary);
        border: var(--size-xs) solid transparent;
        color: var(--uw-white);
        &:hover,
        &:focus {
          background-color: var(--#{$colour}-1);
          border: var(--size-xs) solid var(--#{$colour}-1);
          color: var(--#{$colour}-primary);
        }
      }
    }
    span.tag--full{
      text-decoration: none !important;
      display: inherit;
      @media(min-width: $screen-md) {
        padding-top: var(--size-075) !important;
      }
      @if $faculty == org-default {
        background-color: var(--uw-black-primary);
        color: var(--uw-white);
      }
      @else if $faculty == org-stp or $faculty == org-stj or $faculty == org-ren or $faculty == org-cgc {
        background-color: var(--#{$colour}-primary);
        color: var(--uw-white);
      }
      @else {
        background-color: var(--#{$colour}-primary);
        color: var(--uw-white);
      }
    }
  }
}
