{% set classes = [
  'tag',
  type ? 'tag--' ~ type,
  size ? 'tag--' ~ size
] %}
{% if pattern_lab %}
  <h3>Type simple size normal. </h3>
{% endif %}

{%  if faculty %}
<span class="{{ faculty }}">
{%  endif %}
  {% if url %}
    <a href="{{ url }}" class="{{ classes|join(' ') }}" rel="tag">{{ title }}</a>
  {% else %}
    <span class="{{ classes|join(' ') }}">{{ title }}</span>
  {%  endif %}
  {%  if faculty %}
</span>
{%  endif %}

{% if pattern_lab %}
  <br>
  <h3> Type full size normal. </h3>
  <a href="{{ url }}" class="tag tag--full tag--normal" rel="tag">
    {{ title }}
  </a>
  <br>
  <h3>Type full size small. </h3>
  <a href="{{ url }}" class="tag tag--full tag--small" rel="tag">
    {{ title }}
  </a>
{% endif %}
