<h2>{{ 'Slider'|t }}</h2>
{% include '@components/image-gallery/_image-gallery.twig' with {
  type: 'slider',
  images: images
} %}

<h2>{{ 'Grid'|t }}</h2>
{% include '@components/image-gallery/_image-gallery.twig' with {
  type: 'grid',
  image_gallery: image_gallery
} %}
