{% import _self as menus %}

{% set menu_parent_hide = false %}
{{ menus.menu_links(items, attributes, 0, menu_name, menu_class, item_class, link_class) }}

{% macro menu_links(items, attributes, menu_level, menu_name, menu_class, item_class, link_class, parent) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}

      {% set menu_classes = [
        'menu',
        'menu--' ~ menu_name|clean_class,
        attributes ? attributes.class
      ]|join(' ')|trim %}

      <ul class="{{ menu_classes }}" {{ attributes ? attributes|without('class') }}>
    {% else %}
      <ul class="menu menu__subnav">
    {% endif %}

    {% for item in items %}

      {% set item_classes = [
        'menu__item',
        item.attributes ? item.attributes.class
      ] %}

      {% set link_classes = [
        'menu__link',
      ] %}

      {% if item.below %}
        {% set item_classes = item_classes|merge(['has-subnav']) %}
        {% set link_classes = link_classes|merge(['has-subnav']) %}
      {% endif %}

      {% if item.in_active_trail %}
        {% set item_classes = item_classes|merge(['is-active-trail']) %}
        {% set link_classes = link_classes|merge(['is-active-trail']) %}
      {% endif %}

      {% if item.active %}
        {% set link_classes = link_classes|merge(['active']) %}
      {% endif %}

      {% if item.is_collapsed %}
        {% set item_classes = item_classes|merge(['is-collapsed']) %}
        {% set link_classes = link_classes|merge(['is-collapsed']) %}
      {% endif %}

      {% if item.is_expanded %}
        {% set item_classes = item_classes|merge(['is-expanded']) %}
        {% set link_classes = link_classes|merge(['is-expanded']) %}
      {% endif %}

      {% if item['original_link'].options.attributes.class %}
        {% set original_link_class = item['original_link'].options.attributes.class %}
        {% if original_link_class is not iterable %}
          {% set original_link_class = [original_link_class] %}
        {% endif %}
        {% set link_classes = link_classes|merge(original_link_class) %}
      {% endif %}

      {# Check for submenu  #}
      {% if item.submenu %}

        {# Add class for indicating the item has a submenu  #}
        {% set item_classes = item_classes|merge(['has-submenu']) %}

        {# Check if we are in parent menu_level #}
        {% if menu_level == 0 %}

          {# Add the link class #}
          {% set link_classes =  link_classes|merge(['menu__link-sub']) %}

        {% endif %}
        {% if menu_level == 1 %}
          {% set item_classes = item_classes|merge(['sub-1']) %}
        {% endif %}
      {% endif %}

      {% set item_classes = item_classes|join(' ')|trim %}
      {% set link_classes = link_classes|join(' ')|trim %}

      {# Check menu level 1 and parent and not have the hide parent flag
          Hide the Parent menu item from printing more than once
          this is the recursive check currently 2 deep
      #}
      {% if menu_level == 1 and parent and not menu_parent_hide  %}

        {% set menu_parent_hide = true %}

        <li class="menu__item menu__item-parent">

          <a href="{{ parent.url }}" class="menu__link-parent">

            <span class="link-text">
              {% if parent.title %}
                {{ parent.title }}
              {% elseif parent.text %}
                {{ parent.text }}
              {% endif %}
            </span>

          </a>

        </li>
      {% endif %}

      <li class="{{ item_classes }}" {{ item.attributes ? item.attributes|without('class') }}>

        <a class="{{ link_classes }}"
          {% if item.submenu and menu_level == 0 %}
            tabindex="0"
            aria-haspopup="true"
            role="button"
          {% elseif item.submenu %}
            href="{{ item.url }}"
          {% else %}
            href="{{ item.url }}"
          {% endif %}
         >
          <span class="link-text">
          {% if item.title %}
            {{ item.title }}
          {% elseif item.text %}
           {{ item.text }}
          {% endif %}
          </span>
        </a>
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% elseif item.submenu %}
          {% if menu_level == 0 %}
            {{ menus.menu_links(item.submenu, attributes, menu_level + 1, '', '', '', '', item) }}
          {% else %}
            {{ menus.menu_links(item.submenu, attributes, menu_level + 1) }}
          {% endif %}
        {% endif %}
      </li>

    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
