// @file
// Styles for Uwaterloo events.

@use '../../01-core' as *;

.waterloo-events {
  display: flex;
  flex-wrap: wrap;
  gap: var(--grid-gap);
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
  li {
    padding: 0;
    margin: 0;
    flex-grow: 1;
    background-color: var(--gray-2);
    min-height: var(--size-20);
    width: 100%;
    @container column (min-width: #{$screen-sm}) {
      width: 45%;
    }
    @container column (min-width: #{$screen-lg}) {
      width: 30%;
    }
  }
  a.waterloo-events__event {
    display: grid;
    gap: var(--size-2);
    grid-template-columns: 4.75rem auto;
    text-decoration: none !important;
    .waterloo-events__event--date {
      color: var(--uw-white) !important;
    }
    .waterloo-events__event--summary {
      color: var(--uw-black) !important;
    }
    &:hover,
    &:focus {
      .waterloo-events__event--title,
      .waterloo-events__event--summary {
        color: var(--uw-black) !important;
        text-decoration: underline !important;
      }
      .waterloo-events__event--month,
      .waterloo-events__event--day {
        text-decoration: none !important;
      }
      .waterloo-events__event--time {
        color: var(--uw-black);
        background-color: var(--uw-white);
      }
    }
  }
  .waterloo-events__event--date {
    display: flex;
    flex-direction: column;
    width: 4.75rem;
    height: 5.063rem;
    grid-column: 1 / 2;
    place-content: center;
    text-align: center;
  }
  .waterloo-events__event--month {
    color: var(--uw-white);
    font-family: var(--font-system);
    font-size: var(--font-size-00);
    line-height: var(--font-lineheight-00);
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    text-decoration: none !important;
  }
  .waterloo-events__event--day {
    color: var(--uw-white);
    font-family: var(--font-primary);
    font-size: var(--font-size-55);
    padding: 0;
    margin: 0;
    line-height: var(--font-lineheight-00);
    text-decoration: none !important;
  }

  .waterloo-events__event--info {
    padding: 0 var(--size-7) var(--size-2) 0;
  }

  .waterloo-events__event--time {
    display: inline-block;
    margin: var(--size-1) 0 var(--size-105) 0;
    grid-column: 2 / 3;
  }

  .waterloo-events__event--title {
    @include uw-no-breakout();
    @include uw-headlines();
    font-size: var(--font-size-2);
    padding: 0;
    line-height: var(--size-3);
    margin: 0 0 var(--size-1) 0;
    grid-column: 2 / 3;
  }
  .waterloo-events__event--summary {
    @include uw-no-breakout();
    @include uw-headlines();
    grid-column: 2 / 3;
  }
}
.uw-waterloo-events__button {
  display: flex;
  justify-content: center;
  @container column (min-width: #{$screen-lg}) {
    grid-column: 1 / 3;
  }
  flex-flow: row;
  margin-top: var(--size-4);

  .button {
    @extend %button--standard;
    // Not using standard padding based on design.
    font-weight: inherit;
    padding: var(--size-105) var(--size-205);
    text-decoration: none !important;
  }
}

@each $faculty, $colour in $faculties_colours {
  .#{$faculty} {
    // If the UW branding group
    @if $faculty == org-default {
      .waterloo-events__event--date {
        background: var(--uw-black);
      }
      .waterloo-events__event--time {
        color: var(--uw-white);
        background-color: var(--uw-black);
      }
      a.waterloo-events__event {
        &:hover,
        &:focus {
          .waterloo-events__event--time {
            color: var(--uw-black);
            background-color: var(--uw-white);
          }
          .waterloo-events__event--date {
            background: var(--uw-white);
            border: var(--size-xs) solid  var(--uw-black);
          }
          .waterloo-events__event--day,
          .waterloo-events__event--month {
            color: var(--uw-black);
          }
        }
      }
    }
    @else {
      .waterloo-events__event--date {
        background: var(--#{$colour}-primary);
      }
      .waterloo-events__event--time {
        color: var(--uw-white);
        background: var(--#{$colour}-primary);
      }
      a.waterloo-events__event {
        &:hover,
        &:focus {
          .waterloo-events__event--time {
            color: var(--#{$colour}-primary);
            background: var(--uw-white);
          }
          .waterloo-events__event--date {
            background: var(--uw-white);
            border: var(--size-xs) solid var(--#{$colour}-1);
          }
          .waterloo-events__event--day,
          .waterloo-events__event--month {
            color: var(--#{$colour}-primary) !important;
          }
        }
      }
    }
  }
}
