<ul class="waterloo-events">
  {% for item in uwevents.items %}
    <li>
      <a class="waterloo-events__event" href="{{ item.url }}">
        <span class="waterloo-events__event--date">
          <span class ="waterloo-events__event--month">  {{ item.date.month }} </span>
          <span class ="waterloo-events__event--day">  {{ item.date.day }} </span>
        </span>
        <span class="waterloo-events__event--info">
          <span class="waterloo-events__event--time tag tag--full tag--normal"> {{ item.date.time }} </span>
          <h3 class="waterloo-events__event--title"> {{ item.title }} </h3>
          <div class="waterloo-events__event--summary"> {{ item.summary }}</div>
        </span>
      </a>
    </li>
  {% endfor %}
</ul>
{% if uwevents.show_all %}
  <div class="uw-waterloo-events__button">
    {% include '@components/button/button.twig' with {
      'url': uwevents.show_all_url,
      'text': uwevents.show_all_text,
    } %}
  </div>
{% endif %}
