@use '../../01-core' as *;

.uw-instagram {
  display: block;
  width: 100%;

  &__wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;

    iframe {
      max-width: 500px;
      width: 100%;
    }
  }

  &__view-on-source {
    padding: var(--size-2) 0;
    text-align: center;
  }
}
