<div class="uw-instagram">
  <div class="uw-instagram__wrapper">
    <blockquote class="instagram-media" data-instgrm-captioned data-instgrm-permalink="{{ instagram.url }}" data-instgrm-version="12" style="max-width: 500px;"></blockquote>
    <script async src="https://www.instagram.com/embed.js"></script>
  </div>
  <div class="uw-instagram__view-on-source">
    <a href="{{ instagram.url }}">{{ 'View on Instagram'|t }}</a>
  </div>
</div>
