{% if not timezone %}
  {% set timezone = 'America/Toronto' %}
{% endif %}

{% if date_format == 'long' %}
  {% if translated %}
    {{ translated }}
  {% else %}
    {{ date|date('l, F j, Y', timezone) }}
  {% endif %}
{% endif %}

{% if date_format == 'standard' %}
  {% if translated %}
    {{ translated }}
  {% else %}
    {{ date|date('F j, Y', timezone) }}
  {% endif %}
{% endif %}

{% if date_format == 'agenda-date' %}
  {% if translated %}
    {{ translated }}
  {% else %}
    {{ date|date('M j', timezone) }}
  {% endif %}
{% endif %}

{% if date_format == 'agenda-time' %}
  {% if translated %}
    {{ translated }}
  {% else %}
    {{ date|date('g:i a', timezone) }}
  {% endif %}
 {% endif %}

{% if date_format == 'long_with_time' %}
  {% if translated %}
    {{ translated }}
  {% else %}
    {{ date|date('l, F j, Y g:i a', timezone) }}
  {% endif %}
{% endif %}

{% if date_format == 'time_only' %}
  {% if translated %}
    {{ translated }}
  {% else %}
    {{ date|date('g:i a', timezone) }}
  {% endif %}
{% endif %}

{% if date_format == 'timezone' %}
  {% if translated %}
    {{ translated }}
  {% else %}
    {{ date|date('T (\\G\\M\\T P)', timezone) }}
  {% endif %}
{% endif %}

{% if date_format == 'month_only' %}
  {% if translated %}
    {{ translated }}
  {% else %}
    {{ date|date('F Y', timezone) }}
  {% endif %}
{% endif %}
