@use '../../01-core' as *;

.uw-date {
  background-color: var(--uw-gold);
  color: var(--uw-black);
  clear: both;
  display: inline-block;
  font-family: var(--font-systemmedium);
  font-size: var(--font-size-00);
  padding: var(--size-1) var(--size-2);
  text-shadow: none;
  text-transform: uppercase;
  width: auto;
  @media(min-width: $screen-lg) {
    margin-left: inherit;
  }
}

.uw-date-details{
  box-sizing: border-box;
  display: inline-block;

  .uw-date {
    box-sizing: border-box;
    display: block;
    padding: var(--size-1) var(--size-2);
    &:first-child {
      padding: var(--size-1)  2.75rem var(--size-1) var(--size-2);
    }
    text-transform: uppercase;
  }

  &[open] {
    background-color: transparent !important;
    .card__node--event & {
      margin-bottom: var(--size-4);
    }
    position: absolute;
    width: calc(100%);
    z-index: var(--layer-content);
    @media(min-width: $screen-xs) {
      width: inherit;
    }
  }
}

.uw-date-details__summary {
  .uw-date {
    background: inherit;
  }
  background-position: right var(--size-105) center; // LTR
  background-repeat: no-repeat;
  background-size: 13px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  .block-uw-cbl-multi-type-list & {
    background-position: right var(--size-1) center; // LTR
  }
  &::-webkit-details-marker {
    display: none;
  }
}

@each $faculty, $colour in $faculties_colours {
  .#{$faculty} {
    @if $faculty == org-default  or $faculty == org-neutral {
      .uw-date {
        background-color: var(--#{$colour}-primary);
        color: var(--uw-black);
      }

      .uw-date-details {
        background-color: var(--#{$colour}-primary);

        &[open] {
          .uw-date-details__summary {
            @include svg-background(mobile-arrow-up);
          }
        }
      }

      .uw-date-details__summary {
        @include svg-background(mobile-arrow-down);
        background-color: var(--#{$colour}-primary);
        color: var(--uw-black);
      }
    }
    @else {
      .uw-date {
        background-color: var(--#{$colour}-primary);
        color: var(--uw-white);
      }

      .uw-date-details {
        background-color: var(--#{$colour}-primary);

        &[open] {
          .uw-date-details__summary {
            @include svg-background(mobile-arrow-up-w);
          }
        }
      }

      .uw-date-details__summary {
        @include svg-background(mobile-arrow-down-w);
        background-color: var(--#{$colour}-primary);
        color: var(--uw-white);
      }
    }
    // Override when on bg image for all faculties.
    .uw-section__background-image {
      .uw-date {
        background-color: var(--uw-white);
        color: var(--uw-black) !important;
      }
      .uw-date-details {
        &[open] {
          .uw-date-details__summary {
            //
          }
        }
      }
      .uw-date-details__summary {
        .uw-date {
          //
        }
      }
    }
  }

  // Background-color overrides.
  .uw-section__background--#{$faculty} {
    @if $faculty == org-default {
      .uw-date {
        background-color: var(--uw-black) !important;
        color: var(--uw-gold);
      }
      .uw-date-details {
        .uw-date-details__summary {
          .uw-date {
            //
          }
          @include svg-background(mobile-arrow-down-y);
        }
        &[open] {
          .uw-date-details__summary {
            @include svg-background(mobile-arrow-up-y);
          }
        }
      }
    }
    @else if $faculty == org-art or $faculty == org-mat or $faculty == org-stj or $faculty == org-stp or $faculty == org-ren  or $faculty == org-cgc {
      .uw-date {
        background-color: var(--uw-white) !important;
        color: var(--#{$colour}-primary) !important;
      }
      .uw-date-details {
        .uw-date-details__summary {
          //
        }
        &[open] {
          .uw-date-details__summary {
            //
          }
        }
      }

      .uw-date-details__summary {
        .uw-date {
          //
        }
      }
    }
    @else if $faculty == org-default-b or $faculty == neutral {
      .uw-date {
        background-color: var(--uw-gold);
        color: var(--uw-black);
      }
      .uw-date-details {
        &[open] {
          .uw-date-details__summary {
            //
          }
        }
      }

      .uw-date-details__summary {
        .uw-date {
          //
        }
      }
    }
    @else {
      .uw-date {
        background-color: var(--#{$colour}-1);
        color: var(--#{$colour}-primary) !important;
      }
      .uw-date-details {
        background-color: transparent;
        &[open] {
          .uw-date-details__summary {
            //
          }
        }
      }

      .uw-date-details__summary {
        .uw-date {
          //
        }
      }
    }
  }
}

.uw-date__agenda-date {
  font-family: var(--font-system);
  font-size: var(--font-size-1);
  @media(min-width: $screen-md) {
    font-size: var(--font-size-2);
  }
  text-transform: uppercase;
}

.uw-date__agenda-time {
  font-family: var(--font-book);
  font-size: var(--font-size-2);
  @media(min-width: $screen-md) {
    font-size: var(--font-size-3);
  }
  text-transform: uppercase;
  padding-bottom: 0.25rem;
  border-bottom: 1px solid var(--neutral-2);
}
