    <!-- Drupal -->
    <script type="application/json" data-drupal-selector="drupal-settings-json"></script>
    <script src="../../core/assets/vendor/jquery/jquery.min.js?v=2.2.4"></script>
    <script src="../../core/assets/vendor/jquery-once/jquery.once.min.js?v=2.1.1"></script>
    <script src="../../core/misc/drupalSettingsLoader.js?v=8.3.7"></script>
    <script src="../../core/misc/drupal.js?v=8.3.7"></script>
    <script src="../../core/misc/drupal.init.js?v=8.3.7"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    <!-- Concatenated by Gulp so you don't have to manually add each file. -->
    <script src="../../js/all.js?{{ cacheBuster }}"></script>

    <!--DO NOT REMOVE-->
    {{ patternLabFoot|raw }}
  </body>
</html>
