<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<path d="M23.702 15.419l-12.925-12.926c-0.312-0.309-0.732-0.485-1.168-0.485-0.438 0-0.858 0.176-1.17 0.485-0.653 0.657-0.653 1.72 0 2.369l11.72 11.724-11.72 11.724c-0.653 0.653-0.653 1.712 0 2.366 0.648 0.65 1.691 0.65 2.339 0l12.925-12.923c0.309-0.312 0.481-0.729 0.481-1.167 0-0.434-0.172-0.858-0.481-1.166z"></path>
</svg>
