<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>pause</title>
  <rect x="9" y="8.2" class="uw-pause-svg" width="4" height="15"/>
  <rect x="16.8" y="8.2" class="uw-pause-svg" width="4" height="15"/>
</svg>
