<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>comment</title>
<path d="M26.606 2.221h-21.245c-1.722 0-3.125 1.402-3.125 3.125v14.37c0 1.724 1.402 3.124 3.125 3.124h2.087l-2.744 8.918 9.602-8.918h12.3c1.722 0 3.125-1.401 3.125-3.124v-14.37c0-1.722-1.402-3.124-3.125-3.124z"></path>
</svg>
