<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
  <g>
    <path class="st0" d="M32,16.1c0-8.84-7.16-16-16-16S0,7.26,0,16.1C0,24.08,5.85,30.7,13.5,31.9V20.72H9.44V16.1h4.06v-3.53
		c0-4.01,2.39-6.22,6.04-6.22c1.75,0,3.58,0.31,3.58,0.31v3.94h-2.02c-1.99,0-2.61,1.23-2.61,2.5v3h4.44l-0.71,4.62H18.5V31.9
		C26.15,30.7,32,24.08,32,16.1z"/>
  </g>
</svg>
