<svg xmlns="http://www.w3.org/2000/svg" width="40" height="30"  viewBox="0 0 40 30">
  <title>Facebook</title>
  <path d="M26.4,16l0.6-4.9h-4.9v-3c0-1.4,0.4-2.3,2.5-2.3h2.6V1.5c-0.5-0.1-2-0.2-3.8-0.2c-3.8,0-6.4,2.2-6.4,6.3v3.6h-4.3v4.9H17
	v12.4h5.1V16H26.4L26.4,16z"/>
</svg>
