<svg xmlns="http://www.w3.org/2000/svg" width="25" height="32" viewBox="0 0 25 32">
<path d="M25.054 5.268c0.179 0.429 0.089 0.929-0.25 1.25l-8.804 8.804v13.25c0 0.464-0.286 0.875-0.696 1.054-0.143 0.054-0.304 0.089-0.446 0.089-0.304 0-0.589-0.107-0.804-0.339l-4.571-4.571c-0.214-0.214-0.339-0.5-0.339-0.804v-8.679l-8.804-8.804c-0.339-0.321-0.429-0.821-0.25-1.25 0.179-0.411 0.589-0.696 1.054-0.696h22.857c0.464 0 0.875 0.286 1.054 0.696z"></path>
</svg>
