<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>finder</title>
<path d="M16.031 24c-4.135 0-8.177-0.605-12.066-1.803l0.633-1.898c3.684 1.13 7.515 1.701 11.433 1.701 0.511 0 1.020-0.010 1.528-0.030 0.132-2.424 0.441-3.97 0.441-3.97s-2 0-6 0c0-5.469 1.869-10.314 3.904-13.969h-15.904v23.938h17.693c-0.146-1.428-0.197-2.777-0.192-3.995-0.488 0.017-0.978 0.026-1.469 0.026zM6 8h2v4h-2v-4zM32 4.031h-13.348c-0.061 0.1-0.122 0.2-0.183 0.303-1.2 2.018-2.154 4.086-2.835 6.147-0.569 1.723-0.947 3.445-1.13 5.144h6.402l-0.577 2.839c-0.010 0.050-0.255 1.339-0.381 3.342 2.558-0.254 5.069-0.756 7.516-1.507l0.633 1.898c-2.674 0.824-5.421 1.367-8.22 1.626-0.001 0.137-0.002 0.275-0.001 0.415 0.004 1.27 0.073 2.518 0.206 3.73h11.918v-23.938zM26 12h-2v-4h2v4zM18.352 32h2.443c-0.171-0.682-0.318-1.381-0.442-2.096-0.109-0.633-0.199-1.279-0.271-1.935h-2.389c0.132 1.293 0.342 2.65 0.659 4.031zM21.514 0h-3.012c-0.805 1.090-1.717 2.449-2.598 4.031h2.748c1.052-1.728 2.099-3.106 2.862-4.031z"></path>
</svg>
