<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
  <g>
    <defs>
      <path d="M9.31,0.26C7.62,0.34,6.46,0.61,5.45,1.01C4.41,1.41,3.52,1.96,2.64,2.84C1.76,3.73,1.22,4.62,0.82,5.66
			C0.42,6.67,0.16,7.83,0.08,9.52C0.01,11.21-0.01,11.75,0,16.07c0.01,4.31,0.03,4.86,0.11,6.55c0.08,1.69,0.35,2.84,0.75,3.85
			c0.41,1.04,0.95,1.93,1.84,2.81c0.88,0.88,1.77,1.42,2.82,1.83c1.01,0.39,2.17,0.66,3.86,0.73c1.69,0.07,2.24,0.09,6.55,0.08
			c4.32-0.01,4.86-0.03,6.55-0.11c1.69-0.08,2.84-0.35,3.85-0.75c1.04-0.41,1.93-0.95,2.81-1.84c0.88-0.88,1.42-1.77,1.83-2.82
			c0.39-1.01,0.66-2.17,0.73-3.86c0.07-1.7,0.09-2.24,0.08-6.55c-0.01-4.31-0.03-4.86-0.11-6.55c-0.08-1.69-0.35-2.85-0.75-3.86
			c-0.41-1.04-0.95-1.93-1.84-2.81c-0.88-0.88-1.77-1.42-2.82-1.83c-1.01-0.39-2.17-0.66-3.86-0.73c-1.69-0.08-2.24-0.09-6.55-0.08
			C11.54,0.16,11,0.18,9.31,0.26 M9.49,28.98c-1.55-0.07-2.39-0.32-2.95-0.54c-0.74-0.29-1.27-0.63-1.83-1.19
			c-0.56-0.56-0.9-1.08-1.19-1.82c-0.22-0.56-0.48-1.4-0.55-2.95c-0.08-1.67-0.1-2.18-0.1-6.42c-0.01-4.24,0.01-4.74,0.08-6.42
			C3.01,8.1,3.27,7.25,3.49,6.69c0.29-0.74,0.63-1.27,1.19-1.83c0.56-0.56,1.08-0.9,1.82-1.19c0.56-0.22,1.4-0.48,2.95-0.55
			c1.68-0.08,2.18-0.1,6.42-0.1c4.24-0.01,4.74,0.01,6.42,0.08c1.55,0.07,2.39,0.32,2.95,0.54c0.74,0.29,1.27,0.63,1.83,1.19
			c0.56,0.56,0.9,1.08,1.19,1.83c0.22,0.56,0.48,1.4,0.55,2.95c0.08,1.68,0.1,2.18,0.11,6.42c0.01,4.24-0.01,4.74-0.08,6.42
			c-0.07,1.55-0.32,2.39-0.54,2.95c-0.29,0.74-0.63,1.27-1.19,1.83c-0.55,0.56-1.08,0.9-1.82,1.19c-0.56,0.22-1.4,0.48-2.95,0.55
			c-1.68,0.08-2.18,0.1-6.42,0.1C11.67,29.07,11.17,29.06,9.49,28.98 M22.45,7.55c0,1.05,0.86,1.9,1.91,1.9
			c1.05,0,1.9-0.86,1.9-1.91c0-1.05-0.86-1.9-1.91-1.9C23.3,5.64,22.44,6.49,22.45,7.55 M7.73,16.05c0.01,4.51,3.67,8.15,8.17,8.14
			c4.51-0.01,8.15-3.67,8.14-8.17c-0.01-4.5-3.67-8.15-8.17-8.14C11.37,7.89,7.72,11.55,7.73,16.05 M10.59,16.05
			c-0.01-2.92,2.36-5.3,5.29-5.31c2.92-0.01,5.3,2.36,5.31,5.29c0.01,2.93-2.36,5.3-5.29,5.31C12.97,21.34,10.6,18.97,10.59,16.05"
      />
    </defs>
  </g>
</svg>
