<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
  <title>linkedin</title>
  <path d="M8.426 29.83v-18.25h-6.065v18.25h6.065zM5.391 9.088c2.118 0 3.434-1.398 3.434-3.15-0.040-1.792-1.316-3.152-3.394-3.152-2.072 0-3.43 1.36-3.43 3.152 0 1.751 1.316 3.15 3.353 3.15h0.036zM11.783 29.83h6.065v-10.193c0-0.541 0.039-1.092 0.2-1.479 0.439-1.089 1.435-2.221 3.112-2.221 2.195 0 3.073 1.679 3.073 4.128v9.766h6.065v-10.464c0-5.607-2.992-8.214-6.982-8.214-3.272 0-4.707 1.83-5.511 3.074h0.042v-2.646h-6.065c0.082 1.717 0.002 18.25 0.002 18.25v0z"></path>
</svg>
