<svg xmlns="http://www.w3.org/2000/svg" width="52" height="52" viewBox="0 0 52 52"><defs><style>.cls-1{fill:#94bfa2;}</style></defs><title>messages-status</title><path class="cls-1" d="M26,0A26,26,0,1,0,52,26,26,26,0,0,0,26,0ZM22.32,38.26,10.07,26,15,21.1l7.35,7.35L37,13.75l4.9,4.9Z"/></svg>
