<svg version="1.1" xmlns="http://www.w3.org/2000/svg"  width="32px" height="23.6px" viewBox="0 0 32 23.6">
  <title>On It Check</title>
<g transform="translate(0 15.477)">
  <path d="M11.3-3.5L0-10.1V1.6l11.3,6.5L32-3.8l0-11.7L11.3-3.5z"/>
</g>
</svg>
