<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>rss-box</title>
<path d="M26.667 0h-21.333c-2.934 0-5.334 2.4-5.334 5.334v21.332c0 2.935 2.4 5.334 5.334 5.334h21.333c2.934 0 5.333-2.398 5.333-5.334v-21.332c0-2.934-2.399-5.334-5.333-5.334zM8.717 25.977c-1.499 0-2.717-1.209-2.717-2.707 0-1.49 1.218-2.713 2.717-2.713 1.505 0 2.721 1.223 2.721 2.713-0 1.498-1.216 2.707-2.721 2.707zM15.546 26c0-2.557-0.994-4.963-2.796-6.764-1.804-1.805-4.199-2.801-6.747-2.801v-3.912c7.427 0 13.473 6.045 13.473 13.477l-3.93 0zM22.488 26c0-9.096-7.396-16.498-16.48-16.498v-3.914c11.25 0 20.405 9.16 20.405 20.412l-3.924-0z"></path>
</svg>
