<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>search-2</title>
<path d="M28.067 29.328l-7.159-10.519c4.091-3.24 5.248-9.105 2.49-13.695-2.995-4.986-9.488-6.604-14.474-3.61-4.985 2.996-6.604 9.489-3.609 14.474 2.701 4.496 8.248 6.253 12.967 4.357l5.946 11.299c0.184 0.351 0.613 0.47 0.952 0.267l2.674-1.608c0.34-0.204 0.435-0.638 0.212-0.966zM18.049 16.689c-3.388 2.035-7.8 0.935-9.836-2.453s-0.934-7.8 2.453-9.835c3.387-2.036 7.799-0.935 9.834 2.453s0.936 7.801-2.452 9.835z"></path>
</svg>
