<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>si-teach</title>
<path d="M16.333 2.999c-4.868 0-8.814 3.946-8.814 8.814 0 2.366 0.927 4.588 2.609 6.257 2.224 2.208 2.282 2.983 2.438 4.126h7.535c0.156-1.143 0.214-1.918 2.438-4.126 1.682-1.668 2.608-3.89 2.608-6.257 0-4.868-3.946-8.814-8.814-8.814zM16.333 6.015c-3.197 0-5.797 2.601-5.797 5.797 0 0.391-0.317 0.708-0.708 0.708s-0.708-0.317-0.708-0.708c0-3.978 3.236-7.214 7.214-7.214 0.391 0 0.708 0.317 0.708 0.708s-0.317 0.708-0.709 0.708zM12.566 23.287v2.421c0 2.081 1.687 3.767 3.768 3.767s3.767-1.687 3.767-3.767v-2.421h-7.535z"></path>
</svg>
