<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<title>si-professionals</title>
<path d="M17.987 21.055v1.73c0 0.279-0.227 0.506-0.506 0.506h-3c-0.28 0-0.506-0.227-0.506-0.506v-1.73l-10.879-4.176v10.693c0 1.102 0.893 1.995 1.995 1.995h21.78c1.102 0 1.995-0.894 1.995-1.995v-10.693l-10.88 4.176zM27.671 9.492h-23.38c-1.102 0-1.995 0.893-1.995 1.996v3.281c0 0.413 0.313 0.868 0.698 1.016l10.981 4.215v-0.857c0-0.279 0.227-0.506 0.506-0.506h3c0.28 0 0.506 0.227 0.506 0.506v0.857l10.981-4.215c0.386-0.148 0.699-0.603 0.699-1.016v-3.281c0-1.102-0.894-1.996-1.995-1.996zM21.101 8.506h-1.511c0-1.804-1.282-2.798-3.609-2.798s-3.608 0.994-3.608 2.798h-1.511c0-2.083 1.345-4.309 5.12-4.309s5.12 2.226 5.12 4.309z"></path>
</svg>
