<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="30" height="32" viewBox="0 0 30 32">
  <title>Special Alerts</title>
  <g>
    <g>
      <path d="M16,1.91C8.22,1.91,1.91,8.22,1.91,16S8.22,30.09,16,30.09S30.09,23.78,30.09,16S23.78,1.91,16,1.91z
			 M16,28.27C9.78,28.27,3.73,22.22,3.73,16S9.78,3.73,16,3.73S28.27,9.78,28.27,16S22.22,28.27,16,28.27z"/>
      <circle cx="16" cy="21.64" r="1.41"/>
      <path d="M16,8.96c-0.78,0-1.41,0.63-1.41,1.41l0.21,6.62c0,0.78,0.42,1.37,1.2,1.37c0.78,0,1.16-0.59,1.16-1.37
			l0.25-6.62C17.41,9.59,16.78,8.96,16,8.96z"/>
    </g>
  </g>
</svg>
