<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
<style type="text/css">
	.st0{fill-rule:evenodd;clip-rule:evenodd;fill:#231F20;}
</style>
<path class="st0" d="M18.91,23.34c-0.1,2.34-2.08,4.25-4.5,4.25c-0.55,0-1.09-0.1-1.58-0.29c0.5,0.17,1.03,0.29,1.58,0.29
	C16.85,27.59,18.83,25.7,18.91,23.34V2.33h3.93c0.38,2,1.6,3.72,3.28,4.78l0,0c1.16,0.74,2.57,1.18,4.06,1.18v1.16l0,0v4.08
	c-2.78,0-5.36-0.88-7.47-2.34v10.66c0,5.32-4.42,9.65-9.87,9.65c-2.1,0-4.06-0.65-5.66-1.75l0,0c-2.55-1.75-4.21-4.63-4.21-7.89
	c0-5.32,4.42-9.65,9.87-9.65c0.46,0,0.9,0.04,1.33,0.1v1.24c-4.96,0.1-9.02,3.81-9.57,8.56c0.55-4.75,4.61-8.46,9.59-8.56v4.12
	c-0.42-0.13-0.86-0.21-1.33-0.21c-2.48,0-4.52,1.98-4.52,4.4c0,1.7,0.99,3.16,2.42,3.91l0,0c0.63,0.32,1.33,0.51,2.1,0.51
	c2.42,0,4.4-1.89,4.5-4.25L17.36,1h5.36c0,0.46,0.04,0.9,0.13,1.33h-3.93L18.91,23.34z"/>
</svg>
