<svg xmlns="http://www.w3.org/2000/svg" width="40" height="30"  viewBox="0 0 40 30">
  <title>Tiktok</title>
  <path d="M23.7,21.5c-0.1,2.1-1.9,3.9-4.1,3.9c-0.5,0-1-0.1-1.4-0.3c0.5,0.2,0.9,0.3,1.4,0.3C21.8,25.4,23.6,23.6,23.7,21.5V2.3h3.6
	c0.3,1.8,1.5,3.4,3,4.4l0,0c1.1,0.7,2.4,1.1,3.7,1.1v1.1l0,0v3.7c-2.5,0-4.9-0.8-6.8-2.1v9.8c0,4.9-4.1,8.8-9,8.8
	c-1.9,0-3.7-0.6-5.2-1.6l0,0c-2.3-1.6-3.9-4.2-3.9-7.2c0-4.9,4.1-8.8,9-8.8c0.4,0,0.8,0,1.2,0.1v1.1c-4.5,0.1-8.3,3.5-8.8,7.8
	c0.5-4.3,4.2-7.8,8.8-7.8v3.8c-0.4-0.1-0.8-0.2-1.2-0.2c-2.3,0-4.1,1.8-4.1,4c0,1.6,0.9,2.9,2.2,3.6l0,0c0.6,0.3,1.2,0.5,1.9,0.5
	c2.2,0,4-1.7,4.1-3.9V1.3h4.9c0,0.4,0,0.8,0.1,1.2h-3.6L23.7,21.5z"/>
</svg>
