<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
  <title>X (formerly Twitter)</title>
  <path d="M18.4,14.6L26,5.8h-1.8l-6.6,7.6l-5.2-7.6H6.3l8,11.6l-8,9.2H8l7-8.1l5.5,8.1h6.1L18.4,14.6L18.4,14.6z M15.9,17.5l-0.8-1.1
	L8.7,7.2h2.8l5.2,7.4l0.8,1.1l6.8,9.7h-2.8L15.9,17.5L15.9,17.5z"/>
</svg>
