<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
  <style type="text/css">
    .st0{fill:#282828;}
    .st1{fill:#FFFFFF;}
  </style>
  <g>
    <path class="st0" d="M31.34,8.88c-0.36-1.38-1.46-2.47-2.81-2.83c-2.51-0.68-12.48-0.68-12.48-0.68
		s-9.97,0-12.46,0.68C2.22,6.41,1.14,7.51,0.76,8.88c-0.66,2.49-0.66,7.69-0.66,7.69s0,5.2,0.66,7.71c0.36,1.38,1.46,2.47,2.81,2.83
		c2.51,0.68,12.48,0.68,12.48,0.68s9.97,0,12.46-0.68c1.38-0.36,2.45-1.46,2.81-2.83C32,21.8,32,16.58,32,16.58S32,11.37,31.34,8.88
		z"/>
    <polygon class="st1" points="12.78,21.32 21.14,16.58 12.78,11.85 	"/>
  </g>
</svg>
