// @file
// Styles for Footer Layout.

@use '../../01-core' as *;

.uw-footer {
  color: var(--uw-white);
  background-color: var(--uw-black);
  padding: 0;
  width: 100%;
  &__address {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    margin-left: auto;
    margin-right: auto;
    padding: var(--size-1) 0 var(--size-4);
    text-align: center;
    * {
      font-family: var(--font-sans);
      font-size: var(--font-size-00);
      font-weight: var(--font-weight-100) !important;
      letter-spacing: var(--font-letterspacing-1);
      color: var(--uw-white);
      background-color: var(--uw-black);
    }
    @media(min-width: $screen-md) {
      font-size: var(--font-size-000);
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      margin: 0;
      padding: 0;
      text-align: left;
    }
    @media(min-width: $screen-lg) {
      font-size: var(--font-size-00);
    }
  }
  &__bottom {
    display: grid;
    font-family: var(--font-system);
    font-size: var(--font-size-min);
    grid-column: 1 / 2;
    letter-spacing: 0.5px;
    line-height: 1.7;
    margin-top: var(--size-5);
    margin-bottom: var(--size-105);
    text-align: center;
    @media(min-width: $screen-sm) {
      grid-column: 1 / 3;
    }
    @media(min-width: $screen-md) {
      grid-column: 1 / 4;
    }
    @media(min-width: $screen-lg) {
      grid-column: 1 / 5;
      text-align: left;
    }
    width: 100%;
    a {
      @include link-reverse(
        var(--uw-white),
        var(--uw-white)
      );
      background-color: var(--uw-black);
    }
    &--left {
      display: flex;
      justify-content: center;
      margin-bottom: var(--size-1);
      @media(min-width: $screen-md) {
        justify-content: flex-start;
        margin-bottom: 0;
      }
    }
    &--right {
      display: flex;
      justify-content: center;
      @media(min-width: $screen-md) {
        justify-content: flex-end;
      }
    }
  }
  &__marketing {
    margin: var(--size-3) auto 0 auto;
    grid-column: 1 / 3;
    max-width: 15rem;
    width: 80%;
    @media(min-width: $screen-md) {
      grid-column: 1 / 4;
    }
    @media(min-width: $screen-lg) {
      grid-column: 4 / 5;
      grid-row: 1 / 3;
      max-width: inherit;
      margin: 0;
      width: inherit;
      &::before {
        display: block;
        content: '';
        height: 65%;
        top: 7%;
        bottom: 0;
        transform: translate(calc(var(--size-305) * -1), 0);
        position: absolute;
        width: 1px;
        background-color: var(--neutral-3);
      }
    }
    &--svg {
      position: relative;
      margin: 0 auto;
      z-index: var(--layer-background);
      .uw-icon {
        position: absolute;
        top: calc(var(--size-505) * -1);
        right: 0;
        height: inherit;
        width: 97%;
        svg {
          fill: var(--uw-gold-footer);
          height: inherit;
          width: 100%;
        }
      }
      @media(min-width: $screen-lg) {
        margin: inherit;
        max-width: inherit;
        .uw-icon {
          width: 97%;
          right: 0;
        }
      }
    }
    &--text {
      position: relative;
      margin: 0 auto;
      max-width: 15rem;
      text-align: center;
      z-index: var(--layer-content);
      @media(min-width: $screen-lg) {
        margin: inherit;
        max-width: inherit;
      }
      span {
        display: inline-block;
        font-family: var(--font-condensedbook);
        font-size: var(--font-size-6);
        font-weight: var(--font-weight-100) !important;
        letter-spacing: 0.5px;
        line-height: var(--font-lineheight-1);
        margin-bottom: var(--size-1);
      }
      a {
        @include link (
          var(--uw-white),
          var(--uw-gold)
        );
        background-color: var(uw-black);
        display: inline-block;
        text-align: center;
        width: 100%;
        i {
          display: inline-block;
          font-style: italic;
          height: var(--size-3);
          border-bottom: solid var(--size-sm) var(--uw-gold);
        }
        &:hover,
        &:focus {
          i {
            border-bottom: solid var(--size-sm) transparent;
          }
        }
      }
    }
  }
  &__menu {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    @media(min-width: $screen-sm) {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    @media(min-width: $screen-md) {
      grid-column: 2 / 4;
      grid-row: 1 / 2;
    }
  }
  &__social {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    @media(min-width: $screen-sm) {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    @media(min-width: $screen-md) {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
      margin: 0;
      text-align: left;
    }
  }
  &__social-directory {
    text-align: center;
    @media(min-width: $screen-md) {
      text-align: right;
    }
    @media(min-width: $screen-lg) {
      text-align: left;
    }
    a {
      font-family: var(--font-sans);
      font-size: var(--font-size-00);
      font-weight: var(--font-weight-100) !important;
      letter-spacing: var(--font-letterspacing-1);
      text-decoration: none;
      &:hover,
      &:focus{
        text-decoration: underline;
      }
    }
  }
  &__territorial {
    a:hover,
    a:focus {
      text-decoration: underline;
    }
    grid-column: 1 / 2;
    @media(min-width: $screen-sm) {
      grid-column: 1 / 3;
    }
    @media(min-width: $screen-md) {
      grid-row: 2 / 3;
    }
  }
  &__wrapper {
    @include uw-contained-width();
    background-color: var(--uw-black);
    color: var(--uw-white);
    display: grid;
    row-gap: var(--size-405);
    padding: var(--size-805)  var(--size-2) var(--size-2)  var(--size-2);
    grid-template-columns: 100%;
    position: relative;
    @media(min-width: $screen-sm) {
      grid-template-columns: 50% 50%;
    }
    @media(min-width: $screen-md) {
      column-gap: var(--size-7);
      grid-template-columns: 14rem auto 11rem;
    }
    @media(min-width: $screen-lg) {
      grid-template-columns: 14rem auto auto 15rem;
    }
    @media(min-width: $screen-xl) {
      padding: var(--size-805) 0 var(--size-2) 0;
    }
  }
}
.text_uw-gold {
  color: var(--uw-gold) !important;
}
