{%  if pattern_lab %}
  {%  set faculty = faculty ? faculty : 'org-default' %}
  {%  set branding_level = branding_level ? branding_level : 'full' %}
{% endif %}
<footer class="uw-footer{% if pattern_lab %} {{ faculty }}{% endif %}"{% if branding_level == 'full' %} role="contentinfo"{% endif %}>
  <div class="uw-site-footer__block">
    {% block content %}
      {% include "@layouts/site-footer/site-footer.twig" with {
        body: "The standard Lorem Ipsum passage, used since the 1500s<br /><br />Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
        site_name: "Faculty of Environment",
        logo_link: "https://uwaterloo.ca/environment",
        logo_url: "/images/uwaterloo-logo.svg",
        logo_alt_text: "Faculty of Environment",
        social_media: sf_social_media,
        facebook: "https://www.facebook.com/University.Waterloo"
      } %}
    {% endblock %}
  </div>
  <div class="uw-footer__wrapper" lang="en">
    {% if branding_level == 'full'%}
      <div class="uw-footer__address">
        {% include "@components/contact-info/contact-info.twig" %}
      </div>
      <div class="uw-footer__menu">
        {% include "@components/menu/menu--footer/menu--footer.twig" with {
          'items': footer_menu
        } %}
      </div>
      <div class="uw-footer__territorial">
        {% include "@components/territorial-statement/territorial-statement.twig" with {
          "modifier_classes": modifier_classes
        } %}
      </div>
      <div class="uw-footer__social">
        {# The global footer icons don't come through in the menu_tree array - this next line forces them to be there. #}
        {# The *site* footer icons *do* come in the menu_tree array, which is why this is needed. #}
        {% set social_media = { 'menu_tree': social_media } %}
        {% include "@components/menu/menu--social/menu--social.twig" with {
          'social_media': social_media,
          "social_media_placement": 'global-site-footer',
        } %}
        <div class="uw-footer__social-directory">
          <a href="https://uwaterloo.ca/social-media/">@uwaterloo social directory</a>
        </div>
      </div>
      <div class="uw-footer__marketing">
        <div class="uw-footer__marketing--svg">
         {% include '@components/icon/icon.twig' with {
           'name': 'onit_check',
         } %}
       </div>
        <div class="uw-footer__marketing--text">
          <span>
            WHERE THERE&rsquo;S <br> A CHALLENGE,<br>WATERLOO IS<br><span class="text_uw-gold">ON IT</span>.
          </span>
          <br>
          <a href="https://uwaterloo.ca/on-it"><i>Learn how &nbsp; &rarr; </i></a>
        </div>
      </div>
      <div class="uw-footer__bottom">
        &copy;{{ 'now' | date('Y') }} All rights reserved
      </div>
    {% endif %}
  </div>
</footer>
