@use '../../01-core' as *;

$lvls: '1', '2', '3', '4';

@each $faculty, $colour in $faculties_colours {
  @each $lvl in $lvls {
    .uw-colour-bar__cbar {
      &.#{$faculty}-#{$lvl} {
        background-color: var(--#{$colour}-#{$lvl});
      }
    }
  }
}

.uw-colour-bar__cbars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.uw-colour-bar__cbar {
  flex: 1;
  height: 0.625rem;
  margin: 0;
  padding: 0;

  @media(min-width: $screen-md) {
    height: 0.875rem;
  }

  @media(min-width: $screen-lg) {
    height: var(--size-2);
  }

  @media(min-width: $screen-xl) {
    height: 1.125rem;
  }
}
