{% set lvls = 4 %}
<div class="uw-colour-bar">
  <div class="uw-colour-bar__wrapper">
    <div class="uw-colour-bar__cbars">
      {% for lvl in range(1,lvls) %}
          <div class="uw-colour-bar__cbar {{ faculty }}-{{ lvl }}"></div>
      {% endfor %}
    </div>
  </div>
</div>
{% if is_demo %}
  <br>
  <br>
  {% for bar in color_bars %}
    <h3>{{ bar.faculty }}</h3>
    <div class="uw-colour-bar">
      <div class="uw-colour-bar__wrapper">
        <div class="uw-colour-bar__cbars">
          {% for lvl in range(1,lvls) %}
            <div class="uw-colour-bar__cbar {{ bar.faculty }}-{{ lvl }}" title="var(--{{ bar.faculty }}-{{ lvl }})"></div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
{% endif %}
