<section class="pl-typography">
  <div class="gap">
    <h3>Headings</h3>
    <article class="typography-demo">
      <h1>Heading Level 1</h1>
      <h2>Heading Level 2</h2>
      <h3>Heading Level 3</h3>
      <h4>Heading Level 4</h4>
      <h5>Heading Level 5</h5>
      <h6>Heading Level 6</h6>
      <h1><a href="{{ url }}">Heading Level 1 Link</a></h1>
      <h2><a href="{{ url }}">Heading Level 2 Link</a></h2>
      <h3><a href="{{ url }}">Heading Level 3 Link</a></h3>
      <h4><a href="{{ url }}">Heading Level 4 Link</a></h4>
      <h5><a href="{{ url }}">Heading Level 5 Link</a></h5>
      <h6><a href="{{ url }}">Heading Level 6 Link</a></h6>
    </article>
  </div>

  <div class="gap">
    <h3>Paragraphs</h3>
    <article class="typography-demo">
      <p>A paragraph (from the Greek paragraphos, “to write beside” or “written beside”) is a self-contained unit of a discourse in writing dealing with a particular point or idea. A paragraph consists of one or more sentences. Though not required by the syntax of any language, paragraphs are usually an expected part of formal writing, used to organize longer prose.</p>
      <p>This is what a successive paragraph looks like. Some people prefer a space between paragraphs, while others prefer sucessive paragraphs indented with no margins between them.</p>
    </article>
  </div>

  <div class="gap">
    <h3>Blockquotes</h3>
    <article class="typography-demo">
      {% block blockquote %}
        {% include "@components/blockquote/blockquote.twig" with {
          'text':  blockquote.text,
          'attribution':  blockquote.attribution
        }%}
      {% endblock %}
    </article>
  </div>

  <div class="gap">
    <h3>Lists</h3>
    <article class="typography-demo">
      <h4>Definition List</h4>
      <dl>
        <dt>Definition List</dt>
        <dd>A number of connected items or names written or printed consecutively, typically one below the other.</dd>
        <dt>This is a term.</dt>
        <dd>This is the definition of that term, which both live in a <code>dl</code>.</dd>
        <dt>Here is another term.</dt>
        <dd>And it gets a definition too, which is this line.</dd>
        <dt>Here is a term that shares a definition with the term below.</dt>
        <dt>Here is a term that shares a definition with the term above.</dt>
        <dd>And they both get the same definition too, which is this line.</dd>
      </dl>

      <h4>Ordered List</h4>
      <ol>
        <li>This is a list item in an ordered list</li>
        <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
        <li>
          Lists can be nested inside of each other
          <ol>
            <li>This is a nested list item</li>
            <li>This is another nested list item in an ordered list
              <ol>
                <li>This is a nested list item</li>
                <li>This is another nested list item in an ordered list
                  <ol>
                    <li>This is a nested list item</li>
                    <li>This is another nested list item in an ordered list</li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>This is the last list item</li>
      </ol>
      <h4>Ordered List  (Upper Alpha)</h4>
      <ol class="upper-alpha">
        <li>This is a list item in an ordered list</li>
        <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
        <li>
          Lists can be nested inside of each other
          <ol>
            <li>This is a nested list item</li>
            <li>This is another nested list item in an ordered list
              <ol>
                <li>This is a nested list item</li>
                <li>This is another nested list item in an ordered list
                  <ol>
                    <li>This is a nested list item</li>
                    <li>This is another nested list item in an ordered list</li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>This is the last list item</li>
      </ol>
      <h4>Ordered List (Lower Alpha)</h4>
      <ol class="lower-alpha">
        <li>This is a list item in an ordered list</li>
        <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
        <li>
          Lists can be nested inside of each other
          <ol>
            <li>This is a nested list item</li>
            <li>This is another nested list item in an ordered list
              <ol>
                <li>This is a nested list item</li>
                <li>This is another nested list item in an ordered list
                  <ol>
                    <li>This is a nested list item</li>
                    <li>This is another nested list item in an ordered list</li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>This is the last list item</li>
      </ol>
      <h4>Ordered List (Upper Roman)</h4>
      <ol class="upper-roman">
        <li>This is a list item in an ordered list</li>
        <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
        <li>
          Lists can be nested inside of each other
          <ol>
            <li>This is a nested list item</li>
            <li>This is another nested list item in an ordered list
              <ol>
                <li>This is a nested list item</li>
                <li>This is another nested list item in an ordered list
                  <ol>
                    <li>This is a nested list item</li>
                    <li>This is another nested list item in an ordered list</li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>This is the last list item</li>
      </ol>
      <h4>Ordered List (Lower Roman)</h4>
      <ol class="lower-roman">
        <li>This is a list item in an ordered list</li>
        <li>An ordered list is a list in which the sequence of items is important. An ordered list does not necessarily contain sequence characters.</li>
        <li>
          Lists can be nested inside of each other
          <ol>
            <li>This is a nested list item</li>
            <li>This is another nested list item in an ordered list
              <ol>
                <li>This is a nested list item</li>
                <li>This is another nested list item in an ordered list
                  <ol>
                    <li>This is a nested list item</li>
                    <li>This is another nested list item in an ordered list</li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </li>
        <li>This is the last list item</li>
      </ol>

      <h4>Unordered List</h4>
      <ul>
        <li>This is a list item in an unordered list</li>
        <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
        <li>
          Lists can be nested inside of each other
          <ul>
            <li>This is a nested list item</li>
            <li>
              This is another nested list item in an unordered list
              <ul>
                <li>This is a nested list item</li>
                <li>
                  This is another nested list item in an unordered list
                  <ul>
                    <li>This is a nested list item</li>
                    <li>This is another nested list item in an unordered list</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>This is the last list item</li>
      </ul>
      <h4>Unordered List (disc)</h4>
      <ul class="disc">
        <li>This is a list item in an unordered list</li>
        <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
        <li>
          Lists can be nested inside of each other
          <ul>
            <li>This is a nested list item</li>
            <li>
              This is another nested list item in an unordered list
              <ul>
                <li>This is a nested list item</li>
                <li>
                  This is another nested list item in an unordered list
                  <ul>
                    <li>This is a nested list item</li>
                    <li>This is another nested list item in an unordered list</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>This is the last list item</li>
      </ul>
      <h4>Unordered List (square)</h4>
      <ul class="square">
        <li>This is a list item in an unordered list</li>
        <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
        <li>
          Lists can be nested inside of each other
          <ul>
            <li>This is a nested list item</li>
            <li>
              This is another nested list item in an unordered list
              <ul>
                <li>This is a nested list item</li>
                <li>
                  This is another nested list item in an unordered list
                  <ul>
                    <li>This is a nested list item</li>
                    <li>This is another nested list item in an unordered list</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>This is the last list item</li>
      </ul>
      <h4>Unordered List (cirlce)</h4>
      <ul class="circle">
        <li>This is a list item in an unordered list</li>
        <li>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </li>
        <li>
          Lists can be nested inside of each other
          <ul>
            <li>This is a nested list item</li>
            <li>
              This is another nested list item in an unordered list
              <ul>
                <li>This is a nested list item</li>
                <li>
                  This is another nested list item in an unordered list
                  <ul>
                    <li>This is a nested list item</li>
                    <li>This is another nested list item in an unordered list</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>This is the last list item</li>
      </ul>
    </article>
  </div>
  <div class="gap">
  <h3>Details</h3>
    <article class="typography-demo">
      {% block details%}
        {% include "@components/details/details.twig" with {
          'is_open' : details.is_open,
          'details_classes':  details.details.classes,
          'details_content':  details.details_content,
          'details_description':  details.details_description,
          'details_summary':  details.details_summary,
        }%}
      {% endblock %}
    </article>
  </div>

  <div class="gap">
    <h3>Horizontal rules</h3>
    <article class="typography-demo">
      <hr>
    </article>
  </div>

  <div class="gap">
    <h3>Code</h3>
    <article class="typography-demo">
      <p>Keybord input: <kbd>Cmd</kbd></p>
      <p>Inline code:<code>&lt;div&gt;code&lt;/div&gt;</code></p>
      <p>Sample output: <samp>This is sample output from a computer program</samp></p>
    </article>
  </div>

  <div class="gap">
    <h3>Pre-formatted text</h3>
    <article class="typography-demo">
      <pre>
      P R E F O R M A T T E D T E X T
      ! " # $ % &amp; ' ( ) * + , - . /
      0 1 2 3 4 5 6 7 8 9 : ; &lt; = &gt; ?
      @ A B C D E F G H I J K L M N O
      P Q R S T U V W X Y Z [ \ ] ^ _
      ` a b c d e f g h i j k l m n o
      p q r s t u v w x y z { | } ~
      </pre>
    </article>
  </div>

  <div class="gap">
    <h3>Inline elements</h3>
    <article class="typography-demo">
      <p><a href="{{ url }}">This is a text link</a></p>
      <p><strong>Strong is used to indicate strong importance</strong></p>
      <p><em>This text has added emphasis</em></p>
      <p>The <b>b element</b> is stylistically different text from normal text, without any special importance</p>
      <p>The <i>i element</i> is text that is set off from the normal text</p>
      <p>The <u>u element</u> is text with an unarticulated, though explicitly rendered, non-textual annotation</p>
      <p><del>This text is deleted</del> and <ins>This text is inserted</ins></p>
      <p><s>This text has a strikethrough</s></p>
      <p>Superscript<sup>®</sup></p>
      <p>Subscript for things like H<sub>2</sub>O</p>
      <p><small>This small text is small for for fine print, etc.</small></p>
      <p>Abbreviation: <abbr title="HyperText Markup Language">HTML</abbr></p>
      <p><q cite="https://developer.mozilla.org/en-US/docs/HTML/Element/q">This text is a short inline quotation</q></p>
      <p><cite>This is a citation</cite></p>
      <p>The <dfn>dfn element</dfn> indicates a definition.</p>
      <p>The <mark>mark element</mark> indicates a highlight</p>
      <p>The <var>variable element</var>, such as <var>x</var> = <var>y</var></p>
      <p>The <time>time element</time>, such as <time>10:00pm</time></p>
    </article>
  </div>

<div class="gap">
  <h3>Table</h3>
  <article class="typography-demo">
    <table>
      <caption>Table caption</caption>
      <thead>
      <tr>
        <th>Table Heading A</th>
        <th>Table Heading B</th>
        <th>Table Heading C</th>
        <th>Table Heading D</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th>Table Footer A</th>
        <th>Table Footer B</th>
        <th>Table Footer C</th>
        <th>Table Footer D</th>
      </tr>
      </tfoot>
      <tbody>
      <tr>
        <td>Table Cell A1</td>
        <td>Table Cell B1</td>
        <td>Table Cell C1</td>
        <td>Table Cell D1</td>
      </tr>
      <tr>
        <td>Table Cell A2</td>
        <td>Table Cell B2</td>
        <td>Table Cell C2</td>
        <td>Table Cell D2</td>
      </tr>
      <tr>
        <td>Table Cell A3</td>
        <td>Table Cell B3</td>
        <td>Table Cell C3</td>
        <td>Table Cell D3</td>
      </tr>
      <tr>
        <td>Table Cell A4</td>
        <td>Table Cell B4</td>
        <td>Table Cell C4</td>
        <td>Table Cell D4</td>
      </tr>
      </tbody>
    </table>
    <table>
      <caption>Table caption</caption>
      <tbody>
      <tr>
        <th scope="row">Table Heading 1</th>
        <td>Table Cell A1</td>
        <td>Table Cell B1</td>
        <td>Table Cell C1</td>
        <td>Table Cell D1</td>
      </tr>
      <tr>
        <th scope="row">Table Heading 2</th>
        <td>Table Cell A2</td>
        <td>Table Cell B2</td>
        <td>Table Cell C2</td>
        <td>Table Cell D2</td>
      </tr>
      <tr>
        <th scope="row">Table Heading 3</th>
        <td>Table Cell A3</td>
        <td>Table Cell B3</td>
        <td>Table Cell C3</td>
        <td>Table Cell D3</td>
      </tr>
      <tr>
        <th scope="row">Table Heading 4</th>
        <td>Table Cell A4</td>
        <td>Table Cell B4</td>
        <td>Table Cell C4</td>
        <td>Table Cell D4</td>
      </tr>
      </tbody>
    </table>
    <table>
      <caption>Table caption</caption>
      <thead>
      <tr>
        <th></th>
        <th scope="col">Table Heading A</th>
        <th scope="col">Table Heading B</th>
        <th scope="col">Table Heading C</th>
        <th scope="col">Table Heading D</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th></th>
        <th scope="col">Table Footer A</th>
        <th scope="col">Table Footer B</th>
        <th scope="col">Table Footer C</th>
        <th scope="col">Table Footer D</th>
      </tr>
      </tfoot>
      <tbody>
      <tr>
        <th scope="row">Table Heading 1</th>
        <td>Table Cell A1</td>
        <td>Table Cell B1</td>
        <td>Table Cell C1</td>
        <td>Table Cell D1</td>
      </tr>
      <tr>
        <th scope="row">Table Heading 2</th>
        <td>Table Cell A2</td>
        <td>Table Cell B2</td>
        <td>Table Cell C2</td>
        <td>Table Cell D2</td>
      </tr>
      <tr>
        <th scope="row">Table Heading 3</th>
        <td>Table Cell A3</td>
        <td>Table Cell B3</td>
        <td>Table Cell C3</td>
        <td>Table Cell D3</td>
      </tr>
      <tr>
        <th scope="row">Table Heading 4</th>
        <td>Table Cell A4</td>
        <td>Table Cell B4</td>
        <td>Table Cell C4</td>
        <td>Table Cell D4</td>
      </tr>
      </tbody>
    </table>

  </article>
</div>
</section>
