// @file
// Styles for Site name.
@use '../../01-core' as *;
$site-name-font-size: var(--font-size-5);
$site-slogan-font-size: var(--font-size-2);

.uw-site-name {
  &__wrapper {
    padding: 0 var(--size-2);
    @media(min-width: $screen-md) {
      @include uw-contained-width;
    }
    @media(min-width: $screen-xl) {
      padding: 0;
    }
  }

  &__link {
    display: inline-block;
    letter-spacing: inherit;
    text-transform: uppercase;
  }

  &__text {
    font-family: var(--font-condensedbook);
    font-size: $site-name-font-size;
    font-weight: var(--font-weight-400);
    hyphens: none;
    line-height: var(--font-lineheight-1);
    //margin: 0 0 var(--size-1);
    margin: 0;
    padding: var(--size-1) 0;
    text-rendering: optimizeLegibility;
  }

  &__subtitle {
    display: block;
    font-family: var(--font-condensedbook);
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-400);
    hyphens: none;
    line-height: var(--font-lineheight-4);
    //margin: 0 0 var(--size-1);
    margin: 0;
    padding: 0 0 0.5rem;
    text-rendering: optimizeLegibility;
    @media(min-width: $screen-md) {
      font-size: $site-slogan-font-size;
    }
  }
}
