@use '../../../01-core' as *;

.layout--uw-5-col {
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: 100%;

  &.even-split {
    @media(min-width: $screen-md) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }

  &.larger-left {
    @media(min-width: $screen-md) {
      grid-template-columns: minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }

  &.larger-second {
    @media(min-width: $screen-md) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }

  &.larger-third {
    @media(min-width: $screen-md) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }

  &.larger-fourth {
    @media(min-width: $screen-md) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr);
    }
  }

  &.larger-right {
    @media(min-width: $screen-md) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 3fr);
    }
  }

  &.legacy-23-19-19-19-20 {
    @media(min-width: $screen-md) {
      grid-template-columns: 23% minmax(0, 1fr)   minmax(0, 1fr)  minmax(0, 1fr)   20%;
    }
  }

  .layout__region {

    &--first {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &--second {
      grid-column: 1 / 2;
      grid-row: 2 / 3;

      @media(min-width: $screen-md) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
    }

    &--third {
      grid-column: 1 / 2;
      grid-row: 3 / 4;

      @media(min-width: $screen-md) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
      }
    }

    &--fourth {
      grid-column: 1 / 2;
      grid-row: 4 / 5;

      @media(min-width: $screen-md) {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
      }
    }

    &--fifth {
      grid-column: 1 / 2;
      grid-row: 5 / 6;

      @media(min-width: $screen-md) {
        grid-column: 5 / 6;
        grid-row: 1 / 2;
      }
    }
  }
  // @todo
  //&.uw-column-separator {
  //  &--between {
  //    --layout-border-width: var(--size-xs);
  //    .layout__region {
  //      position: relative;
  //      &--first {
  //        &::after {
  //          content: '';
  //          position: absolute;
  //          background-color: var(--layout-show-seperator-color);
  //          width: 100%;
  //          height: var(--layout-border-width);
  //          bottom: -1rem;
  //          left: 0;
  //          right: inherit;
  //        }
  //        &::before {
  //          content: '';
  //          position: absolute;
  //          background-color: var(--layout-show-seperator-color);
  //          width: var(--size-xs);
  //          height: 100%;
  //          bottom: 0;
  //          left: inherit;
  //          right: -1rem;
  //        }
  //        @media(min-width: $screen-lg) {
  //          &::after {
  //            display: none;
  //          }
  //        }
  //      }
  //      &--second{
  //        &::before {
  //          content: '';
  //          position: absolute;
  //          background-color: var(--layout-show-seperator-color);
  //          width: 100%;
  //          height: var(--layout-border-width);
  //          bottom: -1rem;
  //          left: 0;
  //        }
  //        @media(min-width: $screen-lg) {
  //          &::before {
  //            content: '';
  //            position: absolute;
  //            background-color: var(--layout-show-seperator-color);
  //            width: var(--size-xs);
  //            height: 100%;
  //            bottom: 0;
  //            left: inherit;
  //            right: -1rem;
  //          }
  //        }
  //      }
  //      &--third {
  //        &::before {
  //          content: '';
  //          position: absolute;
  //          background-color: var(--layout-show-seperator-color);
  //          width: 100%;
  //          height: var(--layout-border-width);
  //          bottom: -1rem;
  //          left: 0;
  //        }
  //        @media(min-width: $screen-sm) {
  //          &::before {
  //            content: '';
  //            position: absolute;
  //            background-color: var(--layout-show-seperator-color);
  //            width: var(--size-xs);
  //            height: 100%;
  //            bottom: 0;
  //            left: inherit;
  //            right: -1rem;
  //          }
  //        }
  //      }
  //    }
  //  }
  //}
}
