{% macro readmore(url, title, label = "Read more", description_prefix = "about" ) %}
  {% include '@components/readmore-link/readmore-link.twig' with {
    'url': url,
    'label': label,
    'description_prefix': description_prefix,
    'title': title
  } %}
{% endmacro %}

{% macro tag(url, title, type, size ) %}
  {% include '@components/tag/tag.twig' with {
    'url': url,
    'title': title,
    'type': type,
    'size': size,
    'faculty':faculty
  } %}
{% endmacro %}
