@use '../../01-core' as *;
// @file
// Styles for Media Object.

.l-media {
  display: flex;
  flex-direction: column;
  @media(min-width: $screen-sm) {
    flex-direction: row;
  }
}

.l-media__object {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  margin: 0 var(--grid-gutter) 0 0;
}

.l-media__content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
}

.l-media--column {
  flex-direction: column;
}

.l-media--reversed {
  > .l-media__object {
    margin: 0 0 0 var(--grid-gutter);
    order: 1;
  }
}

// Adjust the image size in the layout builder off canvas flyout
// when choosing background image in section options.
.media-library-form-element {
  .fieldset-legend {
    font-size: var(--font-size-000) !important;
    font-weight: bold !important;
  }
  input[name="layout_builder_background_image-media-library-update"] {
    display: none !important;
  }
  .media-library-form-element-empty-text {
    font-size: var(--font-size-000) !important;
    font-style: italic !important;
  }
  .media-library-item {
    background: none;
  }
  .media-library-item__preview {
    padding-bottom: 0;
    .uw-picture {
      width: 100% !important;
    }
    .uw-picture__fallback {
      width: 100% !important;
    }
  }
  .media-library-selection {
    margin-top: 0;
  }
}
.media-library-selection .media-library-item--grid {
  width: auto !important;
}
.media-library-item--grid::before {
  border: none;
}
.media-library-item__name {
  color: var(--uw-black);
}
