<div class="uw-media {{ modifier_classes }}" {{ attributes }}>
  {% block content %}
    {% if media %}
      <div class="uw-media__object">{{ media }}</div>
    {% endif %}
    <div class="uw-media__content">{{ content }}</div>
  {% endblock %}
</div>
