// @file
// Styles for Grid layout.

@use '../../01-core' as *;

.l-grid {
  display: grid;
  gap: var(--grid-gap);
  grid-auto-flow: row;
}

.l-grid--2col {
  @media(min-width: $screen-sm) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.l-grid--3col {
  @media(min-width: $screen-sm) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.l-grid--4col {
  @media(min-width: 600px) and (max-width: 800px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media(min-width: 801px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.l-grid--6col {
  @media(min-width: 600px) and (max-width: 999px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media(min-width: 1000px) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
