@use '../../01-core' as *;

.uw-special-alert {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
  width: 100%;
  // Puts the content at z-index 3
  z-index: var(--layer-content);
  &__content {
    @include uw-contained-width(var(--layout-max-width-narrow));

    @media(min-width: $screen-xl) {
      // Reset the width so we use all the width when we have room to.
      @include uw-contained-width(var(--layout-max-width));
    }
    .block-uw-cbl-special-alert {
      background: #f0f0f0;
      border: 2px solid #96172e;
      margin: var(--size-2) 0;
      padding: var(--size-2);

      // Prevent excess space at top from elements that have a margin-top.
      > *:first-child {
        margin-top: 0;
      }

      // Prevent excess space at bottom from elements that have a margin-bottom.
      > *:last-child {
        margin-bottom: 0;
      }
      p:last-of-type {
        margin-bottom: 0;
      }
      .special-alert__heading {
        @include heading-2();
      }
      .special-alert__date {
        font-family: var(--font-systemmedium);
        font-size: var(--font-size-0);
        margin: var(--size-05) 0;
      }
    }
  }
  &.special-alert {
    background: var(--uw-alert);
    max-width: 100%;
    .uw-special-alert__content {
      display: grid;
      gap: var(--size-2);
      grid-template-columns: 100%;
      margin: var(--size-4) auto;
      max-width: 80%;
      padding: 0;
      text-align: center;
      .uw-icon {
        align-self: center;
        height: var(--size-8);
        margin-left: auto;
        margin-right: auto;
        width: var(--size-8);
        svg {
          fill: var(--uw-white);
          height: var(--size-8);
          width: var(--size-8);
        }
      }
      @media(min-width: $screen-md) {
        @include uw-contained-width(var(--layout-max-width));
        grid-template-columns: var(--size-10) auto;
        margin: var(--size-2) auto;
        padding: 0 var(--size-2);
        text-align: left;
      }
      .block-uw-cbl-special-alert {
        border: 0 solid transparent;
        background-color: var(--uw-alert);
        padding: var(--size-1);
        margin: 0;
        * {
          color: var(--uw-white);
        }
        .special-alert__heading {
          @include heading-2();
          color: var(--uw-white);
          font-family: var(--font-systemmedium);
          font-size: var(--font-size-2);
          margin: var(--size-1) 0 var(--size-2) 0;
          line-height: 1.25;
        }
        .special-alert__date {
          background: var(--uw-white);
          color: var(--uw-alert);
          display: inline-block;
          font-family: var(--font-systemmedium);
          font-size: var(--font-size-1);
          padding: var(--size-05) var(--size-1);
          text-transform: uppercase;
          margin: var(--size-105) 0 0 0;
        }
        .special-alert__content {
          * {
            font-family: var(--font-systemmedium);
            font-size: var(--font-size-1);
          }
          p {
            &:last-of-type {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
