<div class="uw-special-alert{% if special_alert.display_style == 'priority' %} special-alert{% endif %}">
  <div role="complementary" class="uw-special-alert__content">
    {% if special_alert.display_style == 'priority' %}
      {% include '@components/icon/icon.twig' with {
        'name': 'special-alert',
      } %}
    {% endif %}
    {%  if pattern_lab %}
    <div class="block-uw-cbl-special-alert">
      {% endif %}
      {% if special_alert.date %}
        <div class="special-alert__date">
          {{ special_alert.date }}
        </div>
      {% endif %}
      {% if special_alert.heading %}
        <div class="special-alert__heading">
          {{ special_alert.heading }}
        </div>
      {% endif %}
      <div class="special-alert__content">
        {%  if pattern_lab %}
          <p>{{ special_alert.content }}</p>
        {% endif %}
        {% block content %}

        {% endblock %}
      </div>
      {%  if pattern_lab %}
    </div>
    {% endif %}
  </div>
</div>

