@use '../../01-core' as *;

.uw-bg--black{
  background-color: var(--uw-black);
}
.uw-bg--white{
  background-color: var(--uw-white);
}
.uw-territorial{
  text-align: center;
  p{
    color: var(--uw-white);
    font-family: var(--font-systemmedium);
    font-size: var(--font-size-min);
    font-weight: 200;
    line-height: 1.7;
    padding: var(--size-2)  0 0 0;
    .uw-bg--black &{
      color: var(--uw-white);
    }
    .uw-bg--white &{
      color: var(--uw-black);
    }
  }
  @media(min-width: $screen-md) {
    text-align: left;
    p{
      line-height: 1.5;
    }
  }
}
