
{% set additional_header_region_attributes =  [
  'l-sidebar__full',
  attributes ? attributes.class
  ]|join(' ')|trim %}

{% set additional_sidebar_first_region_attributes  =  [
  'l-sidebar__sidebar',
  attributes ? attributes.class
  ]|join(' ')|trim %}

{% set additional_main_region_attributes =  [
  'l-sidebar__main',
  attributes ? attributes.class
  ]|join(' ')|trim %}

{% set additional_sidebar_second_region_attributes  =  [
  'l-sidebar__sidebar',
  attributes ? attributes.class
  ]|join(' ')|trim %}

{% set sidebar_classes =  [
  'l-sidebar',
  has_multiple_sidebar ? ' l-sidebar--multi-2',
  modifier_classes,
  attributes ? attributes.class
]|join(' ')|trim%}

<div class="{{ sidebar_classes }}" {{ attributes ? attributes|without('class') }}>

  {% if header_content %}
    <div class="{{ additional_sidebar_first_region_attributes }}">
      {{ header_content }}
    </div>
  {% endif %}

  {% if sidebar_first_content %}
   <aside class="{{ additional_sidebar_first_region_attributes }} ">
      {{ sidebar_first_content }}
    </aside>
  {% endif %}

  {% if main_content %}
    <div class=" {{ additional_main_region_attributes }} ">
      {{ main_content }}
    </div>
  {% endif %}

  {% if sidebar_second_content %}
    <aside class="{{ additional_sidebar_second_region_attributes }} ">
      {{ sidebar_second_content }}
    </aside>
  {% endif %}
</div>

