@use '../../01-core' as *;

.uw-waterloo-news {
  display: grid;
  gap: var(--size-5);
  grid-template-columns: 100%;
  &__item--subhead {
    @include uw-no-breakout();
    @include uw-headlines();
  }
  .layout--uw-1-col &,
  .pl-js-pattern-example & {
    @container column (min-width: #{$screen-lg}) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__featured {
    height: 100%;
    min-height: 25rem;
    position: relative;
    a {
      position: relative;
      z-index: var(--layer-content);
    }
    @container column (min-width: #{$screen-lg}) {
      .layout--uw-1-col &,
      .pl-js-pattern-example & {
        min-height: 50rem;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
    }
    &--content {
      background-image: radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0.65) 20%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 100%);
      @container column (min-width: #{$screen-sm}) {
        background-image: radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0.65) 25%, rgba(0, 0, 0, 0.5) 30%, rgba(0, 0, 0, 0) 100%);
      }
      @container column (min-width: #{$screen-lg}) {
        background-image: radial-gradient(ellipse at 50% 50%, rgba(0, 0, 0, 0.65) 20%, rgba(0, 0, 0, 0.5) 45%, rgba(0, 0, 0, 0) 100%);
      }
      background-position: bottom;
      display: flex;
      flex-direction: column;
      place-content: center;
      height: 100%;
      line-height: var(--font-lineheight-3);
      padding: 0 var(--size-2);
      text-align: center;
      margin: 0 auto;
      transition: background-color 0.3s ease-in-out;
      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
        transition: background-color 0.3s ease-in-out;
      }
      h3 {
        @include heading-2;
        margin: var(--size-1) auto;
        line-height: var(--font-lineheight-2);
      }
      .uw-waterloo-news__featured--subhead,
      .uw-waterloo-news__item--subhead {
        margin-left: auto;
        margin-right: auto;
      }
      .uw-waterloo-news__featured--headline,
      .uw-waterloo-news__featured--subhead {
        max-width: 25rem;
      }
      .uw-full-width & {
        .uw-waterloo-news__featured--headline,
        .uw-waterloo-news__featured--subhead {
          @container column (min-width: #{$screen-xl}) {
            max-width: 35rem;
          }
        }
      }
    }

    &--tag {
      margin: 0;
      .tag-list__item,
      .tag {
        margin-bottom: 0;
      }
    }
  }

  &__items {
    grid-row: 2 / 3;
    @container column (min-width: #{$screen-lg}) {
      .layout--uw-1-col &,
      .pl-js-pattern-example & {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: column;
        place-content: center;
        gap: var(--size-3);
        min-height: 50rem;
      }
    }
  }
  &__item {
    margin-bottom: var(--size-8);
    .layout--uw-1-col &,
    .pl-js-pattern-example & {
      margin-bottom: 0;
      @container column (min-width: #{$screen-lg}) {
        padding: var(--size-2);
      }
    }
    a {
      display: block;
    }

    &--content {
      line-height: var(--font-lineheight-3);
      .layout--uw-1-col &,
      .pl-js-pattern-example & {
        padding: var(--size-2);
        max-width: $screen-fb;
        @container column (min-width: #{$screen-lg}) {
          padding: 0 var(--size-2) 0 var(--size-6);
        }
      }
      h3 {
        @include heading-2;
        margin: var(--size-1) 0;
        line-height: var(--font-lineheight-2);
      }
    }

    &--tag {
      margin: 0;
      .tag-list__item,
      .tag {
        margin-bottom: 0;
      }
    }
  }
  // If class gets added to show only 1 featured,
  // show the content outside of image on desktop
  // and over image on mobile.
  &.uw-waterloo-news__featured-right {
    .uw-waterloo-news__featured {
      @container column (min-width: #{$screen-lg}) {
        grid-column: 2 / 3;
      }
    }
    .uw-waterloo-news__items {
      @container column (min-width: #{$screen-lg}) {
        grid-column: 1 / 2;
      }
    }
  }
  &.uw-waterloo-news__featured-single {
    .uw-waterloo-news__featured {
      height: 100%;
      min-height: 35rem;
    }
    .uw-waterloo-news__items {
      display: none;
      @container column (min-width: #{$screen-lg}) {
        height: 100%;
        min-height: inherit;
        max-height: inherit;
        display: flex;
      }
    }
    .uw-waterloo-news__featured--content {
      @container column (min-width: #{$screen-lg}) {
        display: none;
      }
    }
    &.uw-waterloo-news__featured-none {
      .uw-waterloo-news__featured {
        display: none;
      }
      .uw-waterloo-news__items {
        display: none;
      }
    }
    &.uw-waterloo-news__featured-noimage {
      .uw-waterloo-news__featured {
        display: none;
      }
      .uw-waterloo-news__items {
        grid-column: 1 / 3;
      }
    }
  }
  &.uw-waterloo-news__featured-single.uw-waterloo-news__featured-right {
    .uw-waterloo-news__item--content {
      padding: 0;
    }
    .uw-waterloo-news__featured {
      @container column (min-width: #{$screen-lg}) {
        grid-column: 2 / 3;
      }
    }
    .uw-waterloo-news__items {
      @container column (min-width: #{$screen-lg}) {
        grid-column: 1 / 2;
      }
    }

    @container column (min-width: #{$screen-xxl}) {
      .uw-full-width & {
        .uw-waterloo-news__item--content {
          max-width: unset;
          padding: var(--size-2) var(--size-8) var(--size-2) 18.75rem;
        }
      }
    }
  }
  .uw-waterloo-news__button {
    display: flex;
    justify-content: center;
    @container column (min-width: #{$screen-lg}) {
      grid-column: 1 / 3;
    }
    flex-flow: row;
    gap: var(--size-2);
    margin-top: var(--size-1);

    .button {
      @extend %button--standard;
      // Not using standard padding based on design.
      padding: var(--size-105) var(--size-205);
      font-weight: inherit;
    }
  }
  .uw-waterloo-news__featured--picture,
  picture {
    height: 100%;
    position: absolute;
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    source {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}
