{% if pattern_lab %}
<div class="org-default">
{% endif %}
{% set featured_classes = [
  uwnews.items|length == 0 ? 'uw-waterloo-news__featured-single',
  uwnews.featured.url|length == 0 ? 'uw-waterloo-news__featured-none',
  uwnews.featured.image|length == 0 ? 'uw-waterloo-news__featured-noimage',
  uwnews.position ? 'uw-waterloo-news__featured-' ~ uwnews.position,
]|join(' ')|trim %}

<div class="uw-waterloo-news {{ featured_classes }}">
  <div class="uw-waterloo-news__featured">
    {% if uwnews.featured.image %}
      {% if uwnews.featured.image.type == 'source' %}
        <picture class="uw-waterloo-news__featured--picture">
          <source srcset="{{ uwnews.featured.image.sources.large }}" media="(min-width: 480px)">
          <source srcset="{{ uwnews.featured.image.sources.square }}">
          <img src="{{ uwnews.featured.image.sources.large }}" alt="{{ uwnews.featured.image.alt }}">
        </picture>
      {% else %}
        {% include '@components/responsive-image/responsive-image.twig' with {
          'img_element': uwnews.featured.image.img_fallback,
          'sources': uwnews.featured.image.sources.responsive_sources,
          'alt': uwnews.featured.image.alt,
        } %}
      {% endif %}
    {% endif %}
    <a href="{{ uwnews.featured.url }}">
      <div class="uw-waterloo-news__featured--content">
        <div class="uw-waterloo-news__featured--tag">
          {% if uwnews.featured.tags %}
            {% include '@components/tag-list/tag-list.twig' with {
              'items': uwnews.featured.tags,
            } %}
          {% endif %}
        </div>
        <h3 class="uw-waterloo-news__featured--headline">
          {{ uwnews.featured.headline }}
        </h3>
        <div class="uw-waterloo-news__featured--subhead">
          {{ uwnews.featured.subhead }}
        </div>
      </div>
    </a>
  </div>
  <div class="uw-waterloo-news__items">
    {# If we have more than 1 news item loop through them #}
    {% if uwnews.items %}
      {% for item in uwnews.items %}
        {% if item.url %}
          <div class="uw-waterloo-news__item">
            <a href="{{ item.url }}">
              <div class="uw-waterloo-news__item--content">
                {% if item.tags %}
                  <div class="uw-waterloo-news__item--tag">
                    {% include '@components/tag-list/tag-list.twig' with {
                      'items': item.tags,
                    } %}
                  </div>
                {% endif %}
                <h3 class="uw-waterloo-news__item--headline">
                  {{ item.headline }}
                </h3>
                <div class="uw-waterloo-news__item--subhead">
                  {{ item.subhead }}
                </div>
              </div>
            </a>
          </div>
          {% endif %}
      {% endfor %}
    {% else %}
      {# Print single featured news item content into the content section and not overlayed on image #}
      <div class="uw-waterloo-news__item">
        <a href="{{ uwnews.featured.url }}">
          <div class="uw-waterloo-news__item--content">
            <div class="uw-waterloo-news__featured--tag">
              {% if uwnews.featured.tags %}
                {% include '@components/tag-list/tag-list.twig' with {
                  'items': uwnews.featured.tags,
                } %}
              {% endif %}
            </div>
            <h3 class="uw-waterloo-news__item--headline">
              {{ uwnews.featured.headline }}
            </h3>
            <div class="uw-waterloo-news__item--subhead">
              {{ uwnews.featured.subhead }}
            </div>
          </div>
        </a>
      </div>
    {% endif %}
  </div>
  {% if uwnews.show_all %}
  <div class="uw-waterloo-news__button">
    {% include '@components/button/button.twig' with {
      'url': uwnews.show_all_url,
      'text': uwnews.show_all_text,
    } %}
  </div>
  {% endif %}
</div>
  {% if pattern_lab %}
</div>
{% endif %}
