{#
 * @file
 * Display for theme color swatches.
 *
 * Each color swatch is populated from the yml file within
 * this same directory (colors.yml). Add or remove any colors there.
 *
#}

<section class="pl-colors">
  {% for title, list in colors %}
    <div class="just-for-gap">
      <h3>{{ title|capitalize }}</h3>
      <article class="color-demo">
        {% for color, hex in list %}
          <div style="background-color: {{ hex }}">
            <div>{{ color }}<br>{{ hex }}</div>
          </div>
        {% endfor %}
      </article>
    </div>
  {% endfor %}
</section>
