@use '../../01-core' as *;

$support-for-rtl: true !default;

.uw-mailchimp {
  &__wrapper {
    .mc-field-group {
      margin: 0 0 var(--size-2);

      input {
        background-color: var(--uw-white);
        border: var(--size-xs) solid  var(--gray-3);
        border-radius: var(--size-03);
        box-shadow: inset 0 var(--size-xs) var(--size-03) var(--gray-3);
        box-sizing: border-box;
        color: var(--gray-6);
        font-family: var(--font-systemmedium);
        font-size: var(--font-size-0);
        max-width: inherit;
        padding: 0.46667rem;
        transition: border-color;
        width: 100%;

        &:focus {
          border: var(--size-xs) solid var(--gray-3) !important;
          box-shadow: inset 0 var(--size-xs) var(--size-03) rgba(0, 0, 0, 0.06), 0 0 5px rgba(104, 104, 104, 0.7);
          outline: var(--gray-3);
        }

        [type="submit"] {
          @include button();
          font-weight: 200 !important;
        }
      }
    }

    .brandingLogo{
      margin: var(--size-xs) auto;
    }
    .indicates-required{
      text-align: right;
    }

    .asterisk{
      color: #e00;
      font-family: var(--font-system);
      font-size: var(--font-size-2);
      font-weight: var(--font-weight-400);
    }

    .datefield{
      input{
        width: inherit;
      }
    }

    select {
      @include svg-background(select-arrows);
      appearance: none;
      background-color: var(--gray-1);
      background-position: right var(--size-110) center; // LTR
      background-repeat: no-repeat;
      background-size: var(--size-205);
      border: var(--size-xs) solid var(--gray-3);
      border-radius: var(--size-03);
      box-shadow: inset 0 var(--size-xs) var(--size-03) var(--gray-3);
      box-sizing: border-box;
      height: 2.369rem;
      padding-left: var(--size-1); // LTR
      padding-right: var(--size-5); // LTR
      width: 100%;

      @if $support-for-rtl {
        [dir='rtl'] & {
          background-position: left var(--size-110) center;
          padding-left: var(--size-5);
          padding-right: 0;
        }
      }

      // Remove inner focus styling on Firefox.
      &:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
      }
      &::-ms-expand {
        display: none;
      }
    }
  }
}
