<article {% if type == 'banner' %} id="{{ type }}{{ loop.index }}-{{ banners.uuid }}" {% endif %}class="card {% if style %} card__{{ style }} {% endif %}{% if type %} card__{{ type }} {% endif %}{% if modifier_classes %} card__{{ modifier_classes }}{% endif %}{% if show_hover %} card--show-hover{% endif %}{% if bundle %} card__node--{{ bundle }}{% endif %}">

  {% if media_flags.has_media and media.media is not empty %}
    {% include '@components/card/card-elements/_media.twig' with {
      'media': media,
      'header': header,
      'bundle': bundle,
      'media_flags': media_flags,
      'node_classes': node_classes
    } %}
  {% endif %}

  {% if type != 'banner' and image is not empty and bundle != 'uw_ct_profile' %}
    {% include '@components/card/card-elements/_image.twig' with {
      'image': image
    } %}
  {% endif %}

  {% if header and not media_flags.show_header_in_media %}
    {% include '@components/card/card-elements/_header.twig' with {
      'header': header,
      'type': type,
      'image': image,
      'bundle': bundle,
      'header_level': 1,
      'media_flags': media_flags,
      'node_classes': node_classes
    } %}
  {% endif %}

  {% if content or banner %}
    <div class="card__body">
      {% if banner %}
        {% include '@components/card/card-elements/_banner.twig' with {
          'banner': banner,
        } %}
      {% endif %}

      {% if content %}
        {% include '@components/card/card-elements/_content.twig' with {
          'content': content,
        } %}
      {% endif %}
    </div>
  {% endif %}

  {% if footer %}
    <div class="card__footer">

      {% include '@components/card/card-elements/_footer-elements.twig' with {
        'footer': footer
      } %}

      {% if read_more and url %}
        <div class="card__readmore">
          {{ macros.readmore(url, title) }}
        </div>
      {% endif %}

      {%  if social_media %}
        <div class="card__social {{ social_media_placement }}">
          {% include "@components/menu/menu--social/menu--social.twig" %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {% if tags %}
      {% if tags_inline %}
        {% include '@components/card/card-elements/_tags.twig' with {
          'tags': tags,
          'tags_inline': true
        } %}
      {% else %}

      {% include '@components/card/card-elements/_tags.twig' with {
        'tags': tags
      } %}
      {% endif %}
  {% endif %}

</article>
