{% include "@components/tabs/_tabs.twig" with {
  tab_type: 'button',
  content_list: content_list,
  button_modifier_classes: button_modifier_classes,
  tabs_modifier_class: tabs_modifier_class,
  exp_col_all: exp_col_all,
  uuid: uuid,
} %}
