// @file
// Blockquote styles.

:where(blockquote) {
  &:not(.uw-blockquote) {
    background-color: var(--gray-1);
    color: var(--uw-black);
    font-size: var(--font-size-4);
    padding: var(--size-3);
  }
  cite {
    padding-inline-start: var(--size-2);
    font-family: var(--font-book);
    font-size: var(--font-size-5);
    font-style: normal;
    font-weight: normal;
    text-align: left;
    text-transform: uppercase;
    > :first-child::before{
      content: "\2014";
      display: inline-block;
      padding-right: var(--size-1);
    }
  }
  p {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
  }

  @media print {
    page-break-inside: avoid;
  }
}
