// @file
// Body styles.

:where(body) {
  background-color: var(--var-uw-white);
  color: var(--uw-black);
  font-family: var(--font-primary);
  font-size: var(--font-size-0);
  line-height: var(--font-lineheight-4);
  margin: 0;
  min-block-size: 100%;
  padding: 0;
  scrollbar-gutter: stable both-edges;
  word-wrap: break-word;
}
body.has-open-mobile-menu  {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}
