// @file
// Definition list styles.

:where(dd) {
  margin-bottom: var(--size-1);
}

:where(dt) {
  font-weight: var(--font-weight-700);
}

:where(dl) {
  font-size: var(--font-size-0);
  margin: 0 0 var(--size-1);
}
