// @file
// Details element styles.

@use '../../01-core' as *;

:where(details) {
  font-family: var(--font-primary);
  &.uw-details,
  &.seven-details{
    background: var(--gray-1);
    border: var(--size-xs) solid #bfbfbf;
    border-bottom:var(--size-xs) solid var(--uw-black-primary);
    border-radius: var(--radius-1);
    box-shadow: var(--shadow-0);
    color: var(--uw-black);
    margin: var(--size-3) 0;
    transition: box-shadow 300ms ease;
    width:100%;
    &[open] > .seven-details__summary {
      color: var(--uw-black-primary);
    }
    [open] > & {
      @include svg-background(mobile-arrow-up);
      width:100%;
    }
    &[open] > summary {
      color: var(--uw-black-primary);
    }
    &:hover {
      box-shadow: var(--shadow-3);
    }
    &:focus-within {
      box-shadow: var(--shadow-3);
    }
    &:first-child{
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
    // Couldn't get the margin to override in just :where(summary),
    // so that's why it's here.
    summary label {
      margin-bottom: 0;
      // Let clicking on the label open the details/summary instead.
      pointer-events: none;
    }
    // Fallback for browsers that don’t support details.
    /* stylelint-disable-next-line selector-no-qualifying-type */
    .js &:not([open]) > .details__content {
      display: none;
    }
  }
}

:where(summary) {
  &.seven-details__summary,
  &.details__summary {
    @include uw-no-breakout();
    @include svg-background(mobile-arrow-down);
    background-color: var(--gray-2);
    background-position: right var(--size-2) center; // LTR
    background-repeat: no-repeat;
    background-size: 13px;
    border-radius: var(--radius-1);
    color: var(--uw-black-primary);
    cursor: pointer;
    display:block;
    font-family: var(--font-book);
    font-size: var(--font-size-00);
    font-weight: var(--font-weight-300);
    margin: 0;
    line-height: 1.25;
    outline: 0;
    padding: var(--size-2);
    transition: box-shadow 300ms ease;
    touch-action: manipulation;
    [open] > & {
      @include svg-background(mobile-arrow-up);
      width:100%;
    }
    &:hover,
    &:focus{
      color:var(--uw-black-primary);
    }
    &:first-child{
      margin-top: 0;
    }
    &::-webkit-details-marker {
      display: none;
    }
  }
}

//
.details__fallback-link {
  display: block;
  outline: 0;
  text-decoration: none;
}
.details__content {
  background: var(--uw-white);
  border: var(--size-xs) solid var(--gray-2);
  border-top: 0;
  padding: var(--size-2);

  > :last-child {
    margin-bottom: 0;
  }
  .uw-label,
  label{
    margin-bottom:0;
    margin-top: var(--size-105);
  }
  // Add uw-no-breakout forcing content to flow.
  .uw-copy-text table td *,
  blockquote {
    @include uw-no-breakout();
  }
}
.details__description,
.seven-details__description{
  font-family: var(--font-systemmedium) !important;
  font-size: var(--font-size-000) !important;
  color: var(--uw-black);
  margin-bottom: var(--size-2);
  > :last-child {
    margin-bottom: 0;
  }
}
.node--type{
  &-uw-ct-contact{
    .details {
      max-width: 600px;
    }
  }
}
.seven-details__wrapper {
  padding: var(--size-2);
  .uw-input,
  .form-text{
    width: 100%;
  }
}
