// @file
// Fieldset element styles.

:where(fieldset),
.fieldset {
  background: transparent;
  border: var(--gray-3) solid  var(--size-xs);
  clear: both;
  margin-bottom: var(--size-4);
  min-width: 0;
  padding: var(--size-2);
  position: relative;

  legend {
    border: 0;
    box-sizing: border-box;
    font-family: var(--font-condensedbook);
    font-size: var(--font-size-2);
    font-weight: 300;
    margin: var(--size-1) 0;
    max-width: 100%;
    padding: 0;
    position: relative;
    white-space: normal;
  }
  /* stylelint-disable-next-line selector-no-qualifying-type */
  &.webform-type-fieldset{
    background: var(--gray-1);
    margin :0;
    width: 100%;
    .webform-element-flex & {
      input[type="file"]{
        width: 100%;
      }
    }

    > legend{
      border-radius: 2px;
      font-family: var(--font-condensedbook);
      margin: var(--size-2) 0;
      min-width: 0;
      padding: 0;
      position: relative;
      top: 0;
    }
  }

  &:hover {
    > legend {
      background-color: transparent;
    }
  }
  .fieldset-invisible{
    clear: both;
    &:hover {
      > legend {
        margin-bottom: 0.7rem;
        padding-top: var(--size-2);
      }
    }

    > legend {
      font-weight: 400;
      margin-bottom: 0.7rem;
      padding-top: var(--size-2);
    }
  }
  .fieldset-wrapper {
    margin :0;
    padding: 0;
    width: 100%;
    .webform-container-inline {
      .fieldset-invisible {
        display: inline-block;
      }
    }
  }
}
.captcha {
  margin: var(--size-3) 0;
}

.layout-builder-configure-section {
  fieldset {
    background-color: initial;
  }
}
