// @file
// Form element styles.

@use '../../01-core' as *;

:where(form) {
  font-family: var(--font-book);
  font-size: var(--font-size-0);
  @media(min-width: $screen-md) {
    font-size: var(--font-size-00);
  }
  font-weight: 400;
  .block-webform-block & {
    padding: 0;
  }
}
// Don’t style button elements, since they’re often styled as links for
// accessible widgets. Use the .button class in components/button.
button {
  overflow: visible;
}

.description,
.webform-element-description{
  color: var(--gray-6);
  font-family: var(--font-book);
  font-size: var(--font-size-00);
  margin: var(--size-05) 0;
  flex-basis: 100%;
  width: 100%;
}

.webform-element-flex,
.webform-element--title-inline
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.25rem;
  max-width: 100%;
  align-items: center;
  input[type~='email'],
  input[type~='number'],
  input[type~='tel'],
  input[type~='text'],
  input[type~='url'],
  .form-textarea-wrapper,
  .webform-element-flex
  {
    flex-grow: 1;
    width: auto;
  }
  .js-form-type-textarea &{
    align-items:inherit;
    .field-prefix {
      align-items: flex-start;
      display: inherit;
    }
    .field-suffix {
      align-items: flex-end;
      display: inherit;
    }
  }
}

[data-drupal-selector="edit-moderation-state-wrapper"]{
  background-color: #ffebc5;
  padding: var(--size-2);
  .form-item-moderation-state-0-current{
    font-style: italic;
    label{
      font-size: var(--font-size-0);
      font-style: normal;
      margin-bottom: 0;
    }
  }
}
// Login screen making width 35rem.
.user-login-form{
  margin: 0;
  max-width: 35rem;
}
// uw custon label css
.webform-client-form {
  margin-top: var(--size-105);
}

.form-required::after {
  color: #e00;
  content: "*";
  display: inline-block;
  font-family: var(--font-system);
  font-size: var(--font-size-2);
  font-weight: 300;
  margin-left: var(--size-sm);
}

//CSS for form overrides
.uw-site-container {
  // the bottom fixed admin tab with site container:
  .node-uw-ct-web-page-delete-form,
  .layout-region-node-footer__content,
  .node-layout-builder-form,
  .entity-view-display-layout-builder-form,
  .layout-builder-discard-changes,
  .node-confirm-form
  {
    .form-actions {
      background: var(--gray-1);
      border-top: var(--size-xs) solid var(--gray-4);
      bottom: 0;
      display: flex;
      height: auto;
      gap: var(--size-05);
      left: 0;
      margin: 0;
      padding: var(--size-1);
      position: fixed;
      width: 100%;
      z-index: var(--layer-overlay);
      [data-drupal-selector="edit-preview-toggle"]{
        order: 10;
      }
      .button{
        margin: var(--size-05)  0;
        max-width: 7rem;
      }
      @media(min-width: $screen-md) {
        .button{
          margin-bottom: var(--size-2);
        }
        gap: var(--size-2);
        height: var(--size-8);
      }

      .form-item-toggle-content-preview {
        margin-top: var(--size-2);
        .option{
          font-size: var(--font-size-000);
          @media(min-width: $screen-md) {
            font-size: var(--font-size-00);
          }
        }
      }
      input [type='submit']{
        margin-top: 0;
      }

      .form-wrapper input[type="submit"] {
        margin-top: 0;
      }
    }
  }

  .webform-submission-form{
    .form-actions{
      display: flex;
      gap: var(--size-2);
      margin: var(--size-05) 0;
      .button{
        @include button();
        height: inherit;
        margin: inherit;
      }
    }
  }
  // custom form actions
  .layout-region-node-footer__content .form-actions{
    .button[data-drupal-selector="edit-cancel"]{
      margin-left: 0 !important;
    }
    @media(min-width: $screen-md)  {
      grid-template-columns: 8rem 8rem 8rem 8rem;
      grid-template-rows:auto;
      row-gap: var(--size-2);
    }
  }
  // custom form actions
  .layout-builder-discard-changes .form-actions,
  .node-uw-ct-web-page-delete-form .form-actions{
    .button[data-drupal-selector="edit-cancel"]{
      margin-left: 0 !important;
      padding: var(--size-05);
      padding-top: 10px;
    }
    @media(min-width: $screen-md) {
      grid-template-columns: 8rem 8rem;
      grid-template-rows:auto;
      row-gap: var(--size-2);
    }
  }
  // custom form actions
  .entity-view-display-layout-builder-form .form-actions{
    .button[data-drupal-selector="edit-cancel"]{
      margin-left:0 !important;
    }
    @media(min-width: $screen-md) {
      grid-template-columns: 8rem 8rem 15rem;
      grid-template-rows: auto;
      row-gap: var(--size-2);
    }
  }
}

.webform-multiple-add {
  margin-top: var(--size-2) !important;
  > .button{
    @include button-reset();
    border: var(--size-sm) solid #000 !important;
    display: inline-block;
    padding: 2px;
    border-radius: 50%;
    opacity: 0.4;
    position: relative;
    text-indent: -9999px;
    vertical-align: middle;
    width: var(--size-205);
    &:hover,
    &:focus{
      border: var(--size-sm) solid #000 !important;
      opacity: 1;
    }
  }
}

.js-form-type-webform-multiple{
  .draggable{
    &:hover,
    &:focus {
      td{
        background-color: #f7fcff;
      }
    }
    a.tabledrag-handle .handle {
      background-position: 0 8px;
      height: 24px;
      width: 24px;
    }
    .drag & {
      &:hover,
      &:focus {
        td{
          background-color: #ffd;
        }
      }
    }
  }
}
.form-item--error-message {
  color: #e00 !important;
  font-weight: normal !important;
  &::before{
    color: #e00;
    content: "*";
    display: inline-block;
    font-family: var(--font-system);
    font-size: var(--font-size-2);
    font-weight: 300;
    margin-left: var(--size-sm);
  }
}
