// @file
// HTML styles.

:where(html) {
  --accent-color: var(--blue-6);
  --caret-color: var(--blue-6);
  --scrollbar-color: var(--gray-7);
  --text-0: var(--gray-7);
  accent-color: var(--accent-color);
  background-color: white;
  block-size: 100%;
  box-sizing: border-box;
  caret-color: var(--caret-color);
  min-height: 100%;
  scrollbar-color: var(--scrollbar-color) transparent;
  text-size-adjust: 100%;
  @media screen and (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }

  &:has(dialog[open]) {
    overflow: hidden;
  }
}
.no-scroll {
  bottom: 0;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
