// @file
// IMG element styles.

:where(img) {
  max-inline-size: 100%;
  /* Ensure images maintain proportions despite having dimensions set. */
  height: auto;
  @media print {
    max-width: 100% !important;
    page-break-inside: avoid;
  }
}
