// @file
// Inline element styles.

@use '../../01-core' as *;

:where(a) {
  background-color: transparent;
  cursor: pointer;
  transition-duration: 200ms;
  transition-property: background-color, border-color, color, outline-color, text-decoration-color;
  transition-timing-function: var(--ease-in-out-2);

  //&:where([href]) {
  //  color: var(--gray-6);
  //  text-decoration-color: var(--gray-1);
  //
  //  &:where(:hover) {
  //    color: var(--uw-black);
  //    text-decoration-color: var(--uw-black);
  //  }
  //  &:where(:focus) {
  //    color: var(--uw-black);
  //    text-decoration-color: var(--uw-black);
  //  }
  //  &:where(:visited) {
  //    color: var(--gray-6);
  //    text-decoration-color: var(--gray-6);
  //  }
  //}

  //&:where(:not(:hover)) {
  //  text-decoration: inherit;
  //}

  @media print {
    &,
    &:visited {
      text-decoration: none;
    }

    &[href]::after {
      content: ' <' attr(href) '>';
      font-family: var(--font-sans);
      font-size: 10pt;
      font-weight: normal;
      text-transform: lowercase;
    }

    // Uncomment and replace example.com with your site’s domain.
    //&[href^='/']::after {
    //  content: ' <http://example.com' attr(href) '>';
    //}

    &[href^='javascript:']::after,
    &[href^='mailto:']::after,
    &[href^='tel:']::after,
    &[href^='#']::after,
    &[href*='?']::after {
      content: '';
    }
  }
}

:where(abbr) {
  text-decoration-color: var(--blue-5);
  text-underline-offset: var(--size-xs);
  &[title] {
    border-bottom: 0;
    text-decoration: underline;
    text-decoration: underline dotted;
  }
  &[title]:not([title=""]):hover,
  &:has(a):hover {
    cursor: help;
  }

  @media print {
    &[title]::after {
      content: ' (' attr(title) ')';
    }
  }
}

:where(b) {
  font-weight: var(--font-weight-900);
}

:where(cite) {
  color: var(--gray-6);
}

:where(code) {
  font-family: var(--font-mono);
}

:where(dfn) {
  font-style: italic;
}

:where(ins) {
  text-underline-offset: var(--size-xs);
}

:where(kbd) {
  border-color: var(--gray-4);
  border-radius: var(--radius-2);
  border-width: var(--border-size-1);
  font-family: var(--font-mono);
  padding: var(--size-1) var(--size-2);
}

:where(mark) {
  background: var(--uw-gold-2);
  color: var(--uw-black);
  padding: var(--size-xs) var(--size-05);
  /* Ensure the padding shows when there are line breaks. */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

:where(samp) {
  font-family: var(--font-mono);
}

:where(small) {
  font-size: max(0.5em, var(--font-size-0));
  max-inline-size: var(--size-content-1);
}

:where(strong) {
  font-weight: var(--font-weight-700);
}

:where(sub) {
  bottom: -0.25em;
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

:where(sup) {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
  vertical-align: baseline;
}

:where(u) {
  text-underline-offset: var(--size-xs);
}

:where(var) {
  border-color: var(--gray-4);
  border-radius: var(--radius-2);
  border-width: var(--border-size-1);
  padding: var(--size-1) var(--size-2);
}
