@use '../../01-core' as *;

// @file
// Input element styles.
$uw-input-padding: 0.46667rem;

:where(input),
.uw-input{
  border: var(--size-xs) solid   var(--gray-3);
  box-shadow: inset 0 var(--size-xs) 3px var(--gray-3);
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  font-family: var(--font-systemmedium);
  font-size: var(--font-size-0);
  letter-spacing: inherit;
  padding: $uw-input-padding;
  max-width: inherit;
  touch-action: manipulation;
  &:focus {
    border: var(--size-xs) solid  var(--gray-5) !important;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(104, 104, 104, 0.7);
    outline: var(--gray-5);
  }
}

.bef-toggle{
  display:block;
  margin:1rem 0;
}
.uw-input--submit {
  @include button();
  font-size: var(--font-size-000);
  max-width: var(--size-20);
  padding: var(--size-1);
  &:hover,
  &:focus {
    padding: var(--size-1);
  }
  font-weight:200 !important;
}
:where(input:not(button, button[type], input[type="button"], input[type="submit"], input[type="reset"])) {
  background-color: var(--gray-1);
  border-radius: var(--radius-1);
}

// Checkbox, Options input
:where(input[type="checkbox"],
input[type="radio"]) {
  //block-size: var(--size-3);
  //inline-size: var(--size-3);
  &:checked{
    background-color: red;
  }
}

// file input
:where(input[type="file"]) {
  align-self: flex-start;
  background-color: white;
  border-radius: var(--radius-1);
  border-color: var(--gray-3);
  border-style: solid;
  border-width: var(--border-size-1);
  box-shadow: var(--inner-shadow-1);
  color: var(--gray-7);
  cursor: initial;
  display: block;
  font-family: var(--font-system);
  font-size: var(--font-size-00) !important;
  max-inline-size: 100%;
  padding: $uw-input-padding;
  width: 100%;
}

:where(input[type="file"])::-webkit-file-upload-button {
  color: inherit;
  letter-spacing: inherit;
}

:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  cursor: pointer;
  margin-inline-end: 1.75ch;
}

// Number input
:where(input[type="number"])::-webkit-inner-spin-button,
:where(input[type="number"])::-webkit-outer-spin-button {
  height: auto;
}

// Search input
:where(input[type="search"]) {
  appearance: textfield;
  outline-offset: -2px;
  &::-webkit-search-decoration {
    appearance: none;
  }
}

:where(input[type~='email']),
:where(input[type~='number']),
:where(input[type~='tel']),
:where(input[type~='text']),
:where(input[type~='url'])
 {
  border: var(--size-xs) solid var(--gray-3);
  box-shadow: inset 0 var(--size-xs) 3px var(--gray-3);
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  font-family: var(--font-systemmedium);
  font-size: var(--font-size-0);
  letter-spacing: inherit;
  padding: $uw-input-padding;
  max-width: inherit;
  touch-action: manipulation;
  width: 100%;
  &:focus {
    border: var(--size-xs) solid  var(--gray-5) !important;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(104, 104, 104, 0.7);
    outline: var(--gray-5);
  }
}

// Anything with a non-default size should not be 100% width.
// Most fields default to 60; tel defaults to 30.
:where(input[type='email'][size]:not([size='60'])),
:where(input[type='number'][size]:not([size='60'])),
:where(input[type='tel'][size]:not([size='30'])),
:where(input[type='text'][size]:not([size='60'])),
:where(input[type='url'][size]:not([size='60']))
{
  flex-grow: 0 !important;
  max-width: 100%;
  width: auto;
}

// We officially give up on these in tables,
// just make them always 100%.
td {
  :where(input[type='email'][size]:not([size='60'])),
  :where(input[type='number'][size]:not([size='60'])),
  :where(input[type='tel'][size]:not([size='30'])),
  :where(input[type='text'][size]:not([size='60'])),
  :where(input[type='url'][size]:not([size='60']))
  {
    width: 100%;
  }
}
