// @file
// Label element styles.

:where(label) {
  font-family: var(--font-condensedbook);
}
label,
.label,
.uw-label{
  display: block;
  font-family: var(--font-condensedbook);
  font-size: var(--font-size-2);
  font-weight: normal;
  form &{
    margin-bottom: var(--size-1);
  }
  abbr {
    display: inline;
    font-size: var(--font-size-1);
  }
  &.option{
    font-family: inherit;
    font-size: inherit;
  }
}
