// @file
// Legend element styles.

:where(legend) {
  border: 0;
  box-sizing: border-box;
  color: inherit;
  display: table;
  font-family: var(--font-condensedbook);
  font-size: var(--font-size-2);
  font-weight: 300;
  margin: var(--size-1) 0;
  max-width: 100%;
  padding: 0;
  position: relative;
  white-space: normal;
}
