// @file
// List item styles.

:where(li) {
  margin-bottom: var(--size-1);
  padding-inline-start: var(--size-1);
  &:last-child {
    margin-bottom: 0;
  }
  > *:last-child {
    margin-bottom: 0;
  }
  @media print {
    page-break-inside: avoid;
  }
}
