// @file
// Options element styles.

:where(option) {
  font-family: var(--font-systemmedium);
  font-size: var(--font-size-00);
  letter-spacing: inherit;
}

:where(optgroup) {
  font-family: inherit;
  font-size: 100%;
  font-weight: var(--font-bold);
  line-height: var(--line-xs);
  margin: 0;
}

label.option,
.option{
  display: inline;
  font-family: var(--font-systemmedium) !important;
  font-size: var(--font-size-000) !important;
  font-weight:  normal;
  letter-spacing:inherit;
  margin-left: var(--size-05);
  padding: var(--size-1) 0;
}
