// @file
// Ordered list styles.
ol {
  margin: 0 0 var(--size-2);
  &.lower-alpha {
    list-style-type: lower-alpha;
  }
  &.upper-alpha{
    list-style-type: upper-alpha;
  }
  &.lower-roman {
    list-style-type: lower-roman;
  }
  &.upper-roman {
    list-style-type: upper-roman;
  }
  &.decimal {
    list-style: decimal outside none;
    margin: 0;

    li {
      list-style-type: decimal;
      counter-increment: item;
      display: table;
      margin: var(--size-1) 0;

      &::before {
        content: counters(item, ".") ". ";
        display: table-cell;
        padding-right: 0.6rem;
      }

      li {
        margin: 0.5rem 0;

        li::before {
          content: counters(item, ".") " ";
        }
      }

      ol {
        counter-reset: item;
        list-style: square outside none;
        list-style-type: none;
        margin: 0;
      }
    }
  }

  &.digits-4 {
    padding-inline-start: var(--size-6);
  }
  &.digits-5 {
    padding-inline-start: var(--size-8);
  }
  &.digits-6 {
    padding-inline-start: var(--size-10);
  }
  ol {
    padding-inline-start: var(--size-2);
  }
}
