// @file
// Preformatted text styles.

:where(pre) {
  font-family: var(--font-mono);
  margin: 0 0 var(--size-1);
  max-inline-size: max-content;
  min-inline-size: 0;
  overflow: auto;
  white-space: pre;

  @media print {
    page-break-inside: avoid;
  }
}
