// @file
// Select element styles.

@use '../../01-core' as *;

:where(select) {
  @include svg-background(select-arrows);
  &[multiple]{
    background-image: none;
  }
  background-color: var(--gray-1);
  background-position: right 10px center; // LTR
  background-repeat: no-repeat;
  background-size: 20px;
  padding-right: var(--size-4); // LTR
  appearance: none;
  border: var(--size-xs) solid  var(--gray-3);
  border-radius: var(--radius-1);
  cursor: pointer;
  font-family: var(--font-systemmedium);
  font-size: inherit;
  letter-spacing: inherit;
  padding-block: .75ch;
  padding-right: var(--size-105); // LTR
  padding-inline: 1.25ch 0;
  touch-action: manipulation;
  width: 100%;
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  &::-ms-expand {
    display: none;
  }
}
.form-item-moderation-state-0-state{
  .form-select{
    width: auto;
  }
}
.js-form-type-checkbox{
  &.form-item-checkboxes-other-checkboxes--other-{
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
