// @file
// Table styles.

:where(caption) {
  font-size: var(--font-size-0);
  font-style: italic;
  padding: var(--size-1);
}

:where(table) {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  vertical-align: top;
  width: 100%;
}

//:where(thead, tbody, tfoot, tr, td, th) {
//  border-color: inherit;
//}

tfoot {
  td,
  th {
    background-color: var(--gray-2);
  }
}

th {
  background-color: var(--gray-2);
  border: var(--size-xs) solid var(--gray-3);
  font-style: italic;
  padding: var(--size-1);
  text-align: left;
  &[scope="row"] {
    background-color: var(--gray-2);
  }
}

thead {
  td,
  th {
    background-color: var(--gray-2);
  }
}
td {
  background-color: var(--uw-white);
  border: var(--size-xs) solid var(--gray-3);
  padding: var(--size-1);
}

:where(thead) {
  @media print {
    display: table-header-group;
  }
}

:where(tr) {
  @media print {
    page-break-inside: avoid;
  }
}

:where(th) {
  text-align: inherit;
}
