// @file
// Textarea element styles.

:where(textarea) {
  border: var(--size-xs) solid   var(--gray-3);
  box-shadow: inset 0 var(--size-xs) 3px var(--gray-3);
  box-sizing: border-box;
  cursor: pointer;
  font-family: var(--font-systemmedium);
  font-size: var(--font-size-0);
  letter-spacing: inherit;
  overflow: auto;
  padding-block: var(--size-1);
  padding-inline: var(--size-105);
  resize: block;
  touch-action: manipulation;
  &:focus {
    border: var(--size-xs) solid  var(--gray-5) !important;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(104, 104, 104, 0.7);
    outline: var(--gray-5);
  }
}
