// @file
// Universal styles.

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  @media print {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #000 !important;
    text-shadow: none !important;
  }

  @page {
    margin: 2cm;
  }
}

:where(:focus-visible) {
  outline-color: var(--uw-black);
  outline-offset: 5px;
  transition: outline-offset 145ms var(--ease-2);
}

:where(:not(fieldset, progress, meter)) {
  border-width: 0;
  border-style: solid;
  background-origin: border-box;
  background-repeat: no-repeat;
}

// Specificity needed to override Drupal's default.
code, kbd, samp {
  font-size: 0.9rem;
}

:where(:not(pre) > code) {
  padding: var(--size-05) var(--size-05);
  background: var(--gray-2);
  border-radius: var(--radius-2);
  box-decoration-break: clone;
}

:where(:not(dialog)) {
  margin: 0;
}

:where([tabindex]:not([tabindex*="-"])) {
  cursor: pointer;
  touch-action: manipulation;
}
