// @file
// Unordered list styles.
ul {
  margin: 0 0 var(--size-2);
  ul{
    margin: (var(--size-2) / 2) 0 0;
  }
  &.disc {
    list-style-type: disc;
  }
  &.square {
    list-style-type: square;
  }
  &.circle {
    list-style-type: circle;
  }
}
