@use '../../01-core' as *;

.uw-facebook {
  display: grid;
  padding: var(--size-2) 0;
  width: 100%;

  &__wrapper {
    border: var(--size-xs) solid var(--uw-black);
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    text-align: center;
    width: 100%;
  }

  &__view-on-source {
    padding: var(--size-2) 0;
    text-align: center;
  }

  .fb-post,
  .fb-page {
    background: url('../../images/facebook_logo.png') no-repeat;
    background-position: 50% 25%;
    min-height: 340px;
    text-align: center;
    width: 100%;
  }
}
