.uw-caption {
  .caption {
    background: var(--gray-2);
    border: solid var(--size-xs) var(--neutral-1);
    color: var(--uw-black);
    font-family: var(--font-system);
    font-size: var(--font-size-000);
    padding: var(--size-1);
    text-shadow: none;
  }
  p{
    margin: 0;
  }
}
