<div class="uw-caption">
  {% if caption_alignment %}
    <p class="caption uw-text-align--{{ caption_alignment }}">{{ caption }}</p>
  {% elseif image.caption_alignment %}
    <p class="caption uw-text-align--{{ image.caption_alignment }}">{{ caption }}</p>
  {% else %}
    <p class="caption">{{ caption }}</p>
  {% endif %}
</div>
