{% set button_modifier_classes -%}
  button  button--large  {{ modifier_classes }}
{%- endset %}

{% include "@components/tabs/_tabs.twig" with {
  tab_type: 'content',
  content_list: content_list,
  button_modifier_classes: button_modifier_classes,
} %}