@use '../../01-core' as *;

.uw-remote-video {
  .uw-field__item {
    width: 100%;
    aspect-ratio: 16 / 9;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
  &__video--tall .uw-field__item {
    aspect-ratio: 9 / 16;
  }

  &__view {
    padding-top: 0.25rem;
    text-align: center;

    a {
      font-family: var(--font-systemmedium);
      font-size: var(--font-size-0);
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
