<div class="uw-remote-video">
  <div class="uw-remote-video__video{% if remote_video.view.type == 'YouTube short' %} uw-remote-video__video--tall{% endif %}">
    {{ remote_video.video }}
  </div>
  <div class="uw-remote-video__view">
    {% if remote_video.view.type == 'Generic' %}
      <a href="{{ remote_video.view.url }}">{{ 'View video "@title"'|t({'@title': remote_video.view.title}) }}</a>
    {% elseif remote_video.view.type == 'YouTube playlist' %}
      <a href="{{ remote_video.view.url }}">{{ 'View playlist "@title" on YouTube'|t({'@title': remote_video.view.title}) }}</a>
    {% elseif remote_video.view.type == 'YouTube short' %}
      <a href="{{ remote_video.view.url }}">{{ 'View short "@title" on YouTube'|t({'@title': remote_video.view.title}) }}</a>
    {% else %}
      <a href="{{ remote_video.view.url }}">{{ 'View "@title" on'|t({'@title': remote_video.view.title}) }} {{ remote_video.view.type }}</a>
    {% endif %}
  </div>
</div>
