@use '../../../01-core' as *;

.dashboards{
  &-container{
    .panel{
      padding: 0;
    }
    .uw-search-form {
      margin: 0 0 var(--size-2) 0;
      .catalog-search-form,
      .service-search-form,
      .uw-project-search-form {
        .form-item{
          height: 2.39rem;
          margin: 0;
        }
        .form-text {
          height: 2.39rem;
          margin: 0;
        }
      }
    }
    .views-element-container *,
    td.views-field.views-field-title {
      @include uw-no-breakout();
    }
    // Prevent some table cells from getting too narrow.
    // Using the "ch" unit for "character count".
    .view-uw-view-content-list {
      th {
        &.views-field-status,
        &.views-field-sticky {
          white-space: nowrap;
        }
      }
      td {
        min-width: 10ch;
        &.views-field-status,
        &.views-field-sticky {
          min-width: 4ch;
        }
      }
    }
  }
}

// Edit tabs for the admin pages in Drupal.
.tabs{
  &__trigger{
    padding-bottom: 0;
    &:hover,
    &:focus{
      background: var(--gray-2);
      border: var(--size-xs) solid var(--gray-4);
    }
    .is-collapse-enabled &{
      height: 1.72rem;
    }
  }
  .is-collapse-enabled &{
    &::before{
      display: none;
    }
    li{
      &:not(.is-active){
        display: none;
      }
    }
  }
  &.is-open{
    li{
      &:not(:first-child){
        display: inherit;
      }
    }
  }
}
