{% if items.previous or items.next %}
  <nav aria-label="Pagination" class="pager pager--mini" role="navigation">
    <ul class="pager__items js-pager__items">

      {% if items.previous %}
        <li class="pager__item pager__item--previous">
          <a class="pager__link pager__link--previous" href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }} " rel="prev"{{ items.previous.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Previous page'|t }}</span>
            <span aria-hidden="true">‹</span>
          </a>
        </li>
      {% endif %}

      {% if items.current %}
        <li class="pager__item pager__item--current">
          <span class="visually-hidden">Currently on page {{ items.current }}</span>
          {{ items.current }}
        </li>
      {% endif %}

      {% if items.next %}
        <li class="pager__item pager__item--next">
          <a class="pager__link pager__link--next" href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes|without('href', 'title', 'rel') }}>
            <span class="visually-hidden">{{ 'Next page'|t }}</span>
            <span aria-hidden="true">›</span>
          </a>
        </li>
      {% endif %}

    </ul>
  </nav>
{% endif %}
