@use '../../01-core' as *;

@each $faculty, $colour in $faculties_colours {
  .#{$faculty} {
    // If the UW branding group
    @if $faculty == org-default {
      // Generic links
      a {
        @include link(
          var(--uw-black),
          var(--gray-5)
        );
        &.button {
          @include link-no-underline(
            var(--uw-white),
            var(--gray-5)
          );
        }
        &.uw-site-name__link {
          @include link-reverse(
            var(--uw-black),
            var(--uw-black)
          );
        }
        &.tag {
          @include link-reverse(
            var(--gray-5),
            var(--gray-5)
          );
        }
      }
      // Reset to white.
      //[class^="uw-section__background--"] a,
      //[class^="uw-section__text-color--white"] a
      .uw-section__background--org-default-b a,
      .uw-section__background--org-ahs a,
      .uw-section__background--org-eng a,
      .uw-section__background--org-art a,
      .uw-section__background--org-mat a,
      .uw-section__background--org-sci a,
      .uw-section__background--org-env a,
      .uw-section__background--org-school a,
      .uw-section__background--org-stj a,
      .uw-section__background--org-cgc a,
      .uw-section__background--org-stp a,
      .uw-section__background--org-ren a,
      .uw-section__text-color--white a,
      .uw-section__text-color--white-black-shadow a {
        @include link(
          var(--uw-white),
          var(--uw-white)
        );
        .waterloo-events__event--title,
        .waterloo-events__event--summary {
          color: var(--uw-black) !important;
        }
      }

      // Background colors Yellow and lightgrey make links black
      .uw-section__background--neutral a,
      .uw-section__background--org-default a, {
        @include link(
          var(--uw-black),
          var(--uw-black)
        );
      }
      .card__title a {
        @include link-reverse(
          var(--uw-black),
          var(--uw-black)
        );
      }
      .uw-section__background-color,
      .uw-section__background-image {
        .card__title a {
          @include link-reverse(
            var(--uw-white),
            var(--uw-white)
          );
        }
      }
      .uw-section__background--neutral,
      .uw-section__background--org-default {
        .card__title a {
          @include link-reverse(
            var(--uw-black),
            var(--uw-black)
          );
        }
      }
      .menu--uw-footer li a {
        @include link-reverse(
          var(--uw-white),
          var(--uw-gold)
        );
      }
      .uw-site-footer__content a,
      .uw-site-footer__title a {
        @include link(
          var(--uw-white),
          var(--uw-white)
        );
      }
      .uw-site-footer__content table a {
        @include link(
          var(--uw-black),
          var(--uw-black)
        );
      }
      .uw-footer__marketing--text a {
        @include link(
          var(--uw-white),
          var(--uw-gold)
        );
        //text-decoration-color: var(--uw-gold);
      }
      .uw-footer__social-directory a {
        @include link(
          var(--uw-gold),
          var(--uw-white)
        );
      }
      .uw-site-name__link,
      .layout-builder__link,
      .layout-builder__add-block .layout-builder__link,
      .tabs a,
      .timeline-info__withlink a,
      .ui-dialog-content a,
      .messages--status a,
      .view-interact a {
        @include link-no-underline(
          var(--uw-black),
          var(--uw-black)
        );
        text-shadow: none;
      }

      .toolbar-tray a {
        @include link-reverse(
          var(--uw-black),
          var(--uw-black)
        );
      }
      .uw-footer-phone a,
      .uw-territorial a {
        @include link(
          var(--uw-gold),
          var(--uw-gold)
        );
      }
      .tabs a {
        @include link-no-underline(
          var(--uw-black),
          var(--uw-black)
        );
      }
      .uw-contact__h2 a{
        @include link-reverse(
          var(--uw-black),
          var(--gray-5)
        );
      }
      .pager__item a{
        @include link(
          var(--uw-black),
          var(--uw-white)
        );
      }
      .uw-site-footer__content .highlight {
        color: var(--uw-white);
      }
    }
    // Else run the loop on the faculties.
    @else {
      // Generic links.
      a{
        @include link(
          var(--#{$colour}-primary),
          var(--#{$colour}-primary)
        );
        // Links as buttons need white.
        &.button {
          @include link-no-underline(
            var(--uw-white),
            var(--gray-5)
          );
        }
        &.uw-site-name__link {
          @include link-reverse(
            var(--uw-black),
            var(--uw-black)
          );
        }
        &.tag {
          @include link-reverse(
            var(--#{$colour}-primary),
            var(--#{$colour}-primary)
          );
        }
      }
      // Reset to white.
      .uw-section__background--org-default-b a,
      .uw-section__background--org-ahs a,
      .uw-section__background--org-eng a,
      .uw-section__background--org-art a,
      .uw-section__background--org-mat a,
      .uw-section__background--org-sci a,
      .uw-section__background--org-env a,
      .uw-section__background--org-school a,
      .uw-section__background--org-stj a,
      .uw-section__background--org-cgc a,
      .uw-section__background--org-stp a,
      .uw-section__background--org-ren a,
      .uw-section__text-color--white a,
      .uw-section__text-color--white-black-shadow a {
        @include link(
          var(--uw-white),
          var(--uw-white)
        );
        .waterloo-events__event--title,
        .waterloo-events__event--summary {
          color: var(--uw-black) !important;
        }
      }

      // Background colors Yellow and lightgrey make links black
      .uw-section__background--neutral a,
      .uw-section__background--org-default a,
      .uw-section__text-color--black a,
      .uw-section__text-color--black-white-shadow a {
        @include link(
          var(--uw-black),
          var(--uw-black)
        );
      }
      .pager__item a{
        @include link(
          var(--uw-black),
          var(--uw-white)
        );
      }
      .card__title a {
        @include link-reverse(
          var(--#{$colour}-primary),
          var(--#{$colour}-primary)
        );
      }
      .uw-section__background-color,
      .uw-section__background-image {
        .card__title a {
          @include link-reverse(
            var(--uw-white),
            var(--uw-white)
          );
        }
      }
      .uw-section__background--neutral,
      .uw-section__background--org-default {
        .card__title a {
          @include link-reverse(
            var(--uw-black),
            var(--uw-black)
          );
        }
      }
      .uw-details {
        &:hover {
          .uw-contact__h2 a {
            color: var(--uw-black);
          }
        }
      }
      .uw-contact__h2 a {
        @include link-reverse(
          var(--#{$colour}-primary),
          var(--uw-black)
        );
      }
      .menu--uw-footer li a {
        @include link-reverse(
          var(--uw-white),
          var(--uw-gold)
        );
      }
      .uw-footer__marketing--text a {
        @include link(
          var(--uw-white),
          var(--uw-gold)
        );
        //text-decoration-color: var(--uw-gold);
      }
      .uw-site-footer__content a,
      .uw-site-footer__title a {
        @include link(
          var(--uw-white),
          var(--uw-white)
        );
      }
      .uw-site-footer__content table a {
        @include link(
          var(--uw-black),
          var(--uw-black)
        );
      }
      .uw-footer__social-directory a {
        @include link-reverse(
          var(--uw-gold),
          var(--uw-white)
        );
      }
      .uw-footer__social-directory a,
      .uw-footer-phone a,
      .uw-territorial a {
        @include link-reverse(
          var(--uw-gold),
          var(--uw-gold)
        );
      }
      // Blackout the link
      .uw-site-name__link,
      .layout-builder__link,
      .layout-builder__add-block .layout-builder__link,
      .tabs a,
      .timeline-info__withlink a,
      .ui-dialog-content a,
      .messages--status a,
      .view-interact a {
        @include link-no-underline(
          var(--uw-black),
          var(--uw-black)
        );
        text-shadow: none;
      }
      .toolbar-tray a {
        @include link-reverse(
          var(--uw-black),
          var(--uw-black)
        );
      }
      .uw-link-list--style-quick .uw-link-list__link a,
      .uw-link-list--style-related .uw-link-list__link a{
        @include link-reverse(
          var(--#{$colour}-primary),
          var(--#{$colour}-primary)
        );
      }
      .uw-site-footer .uw-link-list--style-related .uw-link-list__link a,
      .uw-site-footer .uw-link-list--style-navbar .uw-link-list__link a {
        @include link(
          var(--uw-white),
          var(--uw-white)
        );
      }
      .uw-site-footer__content .highlight {
        color: var(--uw-white);
      }
    }

    .uw-waterloo-news__featured a {
      @include link-reverse(
        var(--uw-white),
        var(--uw-white)
      );
    }
    .uw-waterloo-news__items a {
      @include link-reverse(
        var(--uw-black),
        var(--uw-black)
      );
    }
    //Remove Map's zoom button underline.
    .leaflet-control-zoom a {
      text-decoration: none;
    }
  }

  // Background color links.
  .uw-link__bg-color--#{$faculty} {
    @if $faculty == org-default {
      a {
        @include link-reverse(
          var(--uw-white),
          var(--uw-black)
        );
        background-color: var(--uw-black);
        &:hover,
        &:focus {
          background-image: none;
          background-color: var(--uw-gold);
        }
        &.uw-link-list__button {
          border-color: var(--uw-gold);
          @include link-no-underline(
            var(--uw-black),
            var(--uw-white)
          );
          background-color: var(--uw-gold);
          &:hover,
          &:focus {
            background-color: var(--uw-black);
            border-color: var(--uw-black);
          }
        }
      }
    }
    @else if $faculty == org-default-b {
      a {
        &.uw-link-list__button {
          background-color: var(--uw-black);
          border-color: var(--uw-black);
          @include link-no-underline(
            var(--uw-white),
            var(--uw-black)
          );
          &:hover,
          &:focus {
            background-color: var(--uw-white);
          }
        }
      }
    }
    @else if $faculty == neutral {
      a {
        &.uw-link-list__button {
          background-color: var(--uw-white);
          border-color: var(--uw-black);
          @include link-no-underline(
            var(--uw-black),
            var(--uw-white)
          );
          &:hover,
          &:focus {
            background-color: var(--uw-black);
          }
        }
      }
    }
    @else{
      a {
        @include link-reverse(
          var(--uw-white),
          var(--#{$colour}-primary)
        );
        &.uw-link-list__button {
          @include link-no-underline(
            var(--uw-white),
            var(--#{$colour}-primary)
          );
        }
        background-color: var(--#{$colour}-primary);
        border-color: var(--#{$colour}-primary);
        &:hover,
        &:focus {
          background-color: var(--#{$colour}-1);
        }
      }
    }
  }
  .uw-link__link-color--#{$faculty} {
    @if $faculty == org-default {
      a {
        &.uw-link-list__button {
          border-color: var(--uw-black);
          @include link-no-underline(
            var(--uw-black),
            var(--uw-black)
          );
          &:hover,
          &:focus {
            background-color: var(--uw-gold);
            border-color: var(--uw-gold);
          }
        }
      }
    }
    @else if $faculty == org-default-b {
      a {
        &.uw-link-list__button {
          border-color: var(--uw-black);
          @include link-no-underline(
            var(--uw-white),
            var(--uw-black)
          );
          &:hover,
          &:focus {
            background-color: var(--uw-black);
          }
        }
      }
    }
    @else if $faculty == neutral {
      a {
        &.uw-link-list__button {
          background-color: var(--uw-white);
          border-color: var(--uw-black);
          @include link-no-underline(
            var(--uw-black),
            var(--uw-white)
          );
          &:hover,
          &:focus {
            background-color: var(--uw-black);
          }
        }
      }
    }
    @else {
      a {
        &.uw-link-list__button {
          border-color: var(--#{$colour}-primary);
          @include link-no-underline(
            var(--#{$colour}-primary),
            var(--uw-white)
          );
          &:hover,
          &:focus {
            border-color: var(--#{$colour}-primary);
            background-color: var(--#{$colour}-primary);
          }
        }
      }
    }
  }
  .uw-link__bg-image.uw-link__link-color--#{$faculty} {
    @if $faculty == org-default {
      a {
        @include link-no-underline(
          var(--uw-white),
          var(--uw-white)
        );
        background-color: transparent;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 100%);
        .uw-link-list__link-description {
          color: var(--uw-white);
        }
        &:hover,
        &:focus {
          background-image: none;
          background-color: var(--uw-black);
          opacity: 0.9;
          .uw-link-list__link-description {
            color: var(--uw-white);
          }
        }
      }
    }
    @else {
      a {
        @include link-no-underline(
          var(--#{$colour}-1),
          var(--uw-white)
        );
        background-color: transparent;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 100%);
        .uw-link-list__link-description {
          color: var(--uw-white);
        }
        &:hover,
        &:focus {
          background-image: none;
          background-color: var(--#{$colour}-primary);
          opacity: 0.9;
          .uw-link-list__link-description {
            color: var(--uw-white);
          }
        }
      }
    }
  }
}

/* Ensure contextual links don't take on font effects from section backgrounds. */
.contextual-links a {
  color: var(--uw-black) !important;
  text-shadow: none !important;
}
