@use '../../01-core' as *;

//Set up the colour variables. Determine what the "base"
// link colour variable should be based on the theme chosen.
//Set the link colour variable to the link colour from the theme chosen.
@each $faculty, $colour in $faculties_colours {
  .#{$faculty} {
    --theme-link-color: var(--#{$colour}-primary);
    --default-primary: var(--#{$colour}-primary);
    --default-colour-1: var(--#{$colour}-1);
    --default-colour-2: var(--#{$colour}-2);
    --default-colour-3: var(--#{$colour}-3);
    --default-colour-4: var(--#{$colour}-4);
    @if $faculty == org-default or $faculty == neutral {
      --theme-link-color: var(--uw-black);
      --default-primary: var(--uw-black);
    }
    .tag {
      --link-color: var(--theme-link-color);
      --link-color-2: var(--gray-5);
    }
    .contextual-links a {
      --link-color: var(--uw-black);
      text-shadow: none !important;
    }
  }
  // Special color assignments inside background colors.
  .uw-section__background--#{$faculty} {
    @if $faculty == org-default or $faculty == neutral {
      --link-color: var(--uw-black);
      --link-color-2: var(--uw-black);
      .card__title a,
      .tag {
        --link-color: var(--uw-black);
        --link-color-2: var(--uw-black);
      }
    }
    @else {
      --link-color: var(--uw-white);
      --link-color-2: var(--uw-white);
    }
  }

  .uw-link__bg-color--#{$faculty} {
    @if $faculty == org-default {
      a {
        --link-color: var(--uw-black);
        --link-color-2: var(--uw-white);
        background-color: var(--uw-gold);
        border-color: var(--uw-gold);
        &:hover,
        &:focus {
          background-image: none;
          border-color: var(--link-color);
          background-color: var(--link-color);
        }
        &.uw-link-list__navbar {
          --link-color: var(--uw-black);
          --link-color-2: var(--uw-white);
          @include link-no-underline(
            var(--link-color),
            var(--link-color-2)
          );
        }
      }
      .uw-link-list--style-related & {
        background-color: var(--uw-gold);
        a {
          --link-color: var(--uw-black);
          --link-color-2: var(--uw-black);
          &:hover,
          &:focus {
            background-image: none;
            border-color: transparent;
            background-color: transparent;
          }
        }
      }
    }
    @else if $faculty == org-default-b {
      a {
        --link-color: var(--uw-white);
        --link-color-2: var(--uw-black);
        background-color: var(--link-color-2);
        border-color: var(--link-color-2);
        &:hover,
        &:focus {
          background-image: none;
          border-color: var(--link-color-2);
          background-color: var(--link-color);
        }
        &.uw-link-list__navbar {
          @include link-no-underline(
            var(--link-color),
            var(--link-color-2)
          );
        }
        &.uw-link-list__related {
          --link-color: var(--uw-white);
          --link-color-2: var(--uw-white);
          background-color: transparent;
          &:hover,
          &:focus {
            background-image: none;
            border-color: transparent;
            background-color: transparent;
          }
        }
      }
      .uw-link-list--style-related & {
        background-color: var(--uw-black);
        &::marker {
          color: var(--uw-white);
        }
      }
    }
    @else if $faculty == neutral {
      a {
        &.uw-link-list__buttons,
        &.uw-link-list__navbar,
        &.uw-link-list__quick,
        &.uw-link-list__option {
          --link-color: var(--gray-7);
          --link-color-2: var(--uw-white);
          background-color: var(--gray-3);
          border-color: var(--gray-5);
          &:hover,
          &:focus {
            background-image: none;
            border-color: var(--gray-7);
            background-color: var(--gray-7);
          }
        }
        &.uw-link-list__navbar {
          --link-color: var(--gray-7);
          --link-color-2: var(--uw-white);
          @include link-no-underline(
            var(--link-color),
            var(--link-color-2)
          );
        }
        &.uw-link-list__related {
          --link-color: var(--uw-black);
          --link-color-2: var(--uw-black);
          &:hover,
          &:focus {
            background-image: none;
            border-color: transparent;
            background-color: transparent;
          }
        }
      }
      .uw-link-list--style-related & {
        background-color: var(--gray-3);
        &::marker {
          color: var(--gray-6);
        }
      }
    }
    @else if $faculty == org-stp or $faculty == org-stj or $faculty == org-cgc or $faculty == org-ren {
      a {
        --link-color: var(--uw-white);
        --link-color-2: var(--theme-link-color);
        .uw-link-list--style-option & {
          --link-color-2: var(--#{$colour}-primary);
        }
        &.uw-link-list__buttons,
        &.uw-link-list__navbar,
        &.uw-link-list__quick {
          --link-color: var(--uw-white);
          --link-color-2: var(--#{$colour}-primary);
        }
        background-color: var(--#{$colour}-primary);
        border-color: var(--#{$colour}-primary);
        &:hover,
        &:focus {
          background-color: var(--uw-white);
        }
        &.uw-link-list__navbar {
          @include link-no-underline(
            var(--link-color),
            var(--link-color-2)
          );
        }
        &.uw-link-list__related {
          --link-color: var(--uw-white);
          --link-color-2: var(--uw-white);
          &:hover,
          &:focus {
            background-image: none;
            border-color: transparent;
            background-color: transparent;
          }
        }
      }
      .uw-link-list--style-related & {
        background-color: var(--#{$colour}-primary);
        &::marker {
          color: var(--uw-white);
        }
      }
    }
    @else {
      a {
        --link-color: var(--uw-white);
        --link-color-2: var(--theme-link-color);
        &.uw-link-list__buttons,
        &.uw-link-list__quick,
        &.uw-link-list__option {
          --link-color: var(--uw-white);
          --link-color-2: var(--#{$colour}-primary);
        }
        background-color: var(--#{$colour}-primary);
        border-color: var(--#{$colour}-primary);
        &:hover,
        &:focus {
          background-color: var(--#{$colour}-1);
        }
        &.uw-link-list__navbar {
          --link-color: var(--uw-white);
          --link-color-2: var(--#{$colour}-primary);
          @include link-no-underline(
            var(--link-color),
            var(--link-color-2)
          );
        }
        &.uw-link-list__related {
          --link-color: var(--uw-white);
          --link-color-2: var(--uw-white);
          &:hover,
          &:focus {
            background-image: none;
            border-color: transparent;
            background-color: transparent;
          }
        }
      }
      .uw-link-list--style-related & {
        background-color: var(--#{$colour}-primary);
        &::marker {
          color: var(--uw-white);
        }
      }
    }
  }

  .uw-link__link-color--#{$faculty} {
    .uw-site-footer & a {
      &.uw-link-list__related,
      &.uw-link-list__navbar,
      &.uw-link-list__option,
      &.uw-link-list__quick {
        @include link(
            var(--uw-white),
            var(--uw-white)
        );
      }
      @if $faculty != org-default {
        &.uw-link-list__buttons {
          @include link(
              var(--uw-white),
              var(--uw-white)
          );
        }
      }
    }
    @if $faculty == org-default {
      a {
        &.uw-link-list__buttons {
          --link-color: var(--uw-black);
          --link-color-2: var(--uw-white);
          border-color: var(--uw-black);
          background-color: var(--uw-white);
          &:hover,
          &:focus {
            background-color: var(--uw-black);
            border-color: var(--uw-black);
          }
        }
        &.uw-link-list__related {
          @include link(
            var(--uw-black),
            var(--uw-black)
          );
        }
        &.uw-link-list__navbar {
          @include link-no-underline(
            var(--uw-black),
            var(--uw-black)
          );
        }
        &.uw-link-list__option {
          @include link-no-underline(
            var(--uw-black),
            var(--uw-white)
          );
          &:hover,
          &:focus {
            background-color: var(--uw-black);
            border-color: var(--uw-black);
          }
        }
        &.uw-link-list__quick {
          @include link-reverse(
            var(--uw-black),
            var(--uw-black)
          );
        }
      }
    }
    @else if $faculty == org-default-b {
      a {
        &.uw-link-list__buttons,
        &.uw-link-list__option {
          --link-color: var(--uw-white);
          --link-color-2: var(--uw-black);
          border-color: var(--uw-black);
          &:hover,
          &:focus {
            background-color: var(--uw-black);
          }
        }
        &.uw-link-list__related {
          @include link(
            var(--uw-black),
            var(--uw-black)
          );
        }
        &.uw-link-list__navbar {
          @include link-no-underline(
            var(--uw-black),
            var(--uw-black)
          );
        }
      }
    }
    @else if $faculty == default {
      a {
        &.uw-link-list__related {
          @include link(
            var(--default-primary),
            var(--default-primary)
          );
        }
        &.uw-link-list__option {
          &:hover,
          &:focus {
            --link-color-2: var(--uw-white);
            background-color: var(--default-primary);
          }
        }
      }
    }
    @else if $faculty == neutral {
      a {
        &.uw-link-list__buttons,
        &.uw-link-list__option {
          --link-color: var(--uw-black);
          --link-color-2: var(--uw-white);
          background-color: var(--uw-white);
          border-color: var(--uw-black);
          &:hover,
          &:focus {
            background-color: var(--uw-black);
          }
        }
      }
    }
    @else {
      a {
        &.uw-link-list__buttons,
        &.uw-link-list__option {
          --link-color: var(--#{$colour}-primary);
          --link-color-2: var(--uw-white);
          border-color: var(--#{$colour}-primary);
          &:hover,
          &:focus {
            border-color: var(--#{$colour}-primary);
            background-color: var(--#{$colour}-primary);
          }
        }
        // Set colors to primary
        &.uw-link-list__related {
          @include link(
            var(--#{$colour}-primary),
            var(--#{$colour}-primary)
          );
        }
        &.uw-link-list__quick {
          @include link-reverse(
            var(--#{$colour}-primary),
            var(--#{$colour}-primary)
          );
        }
        &.uw-link-list__navbar {
          --link-color: var(--#{$colour}-primary);
          --link-color-2: var(--#{$colour}-primary);
          @include link-no-underline(
            var(--link-color),
            var(--link-color-2)
          );
        }
      }
    }
  }
  .uw-link__bg-image.uw-link__link-color--#{$faculty} {
    @if $faculty == org-default {
      a {
        --link-color: var(--uw-white);
        --link-color-2: var(--uw-white);
        background-color: transparent;
        .uw-link-list__link-description {
          color: var(--uw-white);
        }
        &:hover,
        &:focus {
          background-color: var(--uw-black);
          .uw-link-list__link-description {
            color: var(--uw-white);
          }
        }
      }
    }
    @else if $faculty == default {
      a {
        --link-color: var(--uw-white);
        --link-color-2: var(--uw-white);
      }
    }
    @else if $faculty == org-stp or $faculty == org-stj or $faculty == org-cgc or $faculty == org-ren {
      a {
        --link-color: var(--uw-white);
        --link-color-2: var(--uw-white);
      }
    }
    @else {
      a {
        --link-color: var(--#{$colour}-1);
        --link-color-2: var(--uw-white);
        background-color: transparent;
        .uw-link-list__link-description {
          color: var(--uw-white);
        }
        &:hover,
        &:focus {
          background-color: var(--#{$colour}-primary);
          .uw-link-list__link-description {
            color: var(--uw-white);
          }
        }
      }
    }
  }
}

// Special color assignments when in sections with background images.
.uw-section__text-color--white,
.uw-section__text-color--white-black-shadow {
  --link-color: var(--uw-white);
  --link-color-2: var(--uw-white);
}
.uw-section__text-color--black,
.uw-section__text-color--black-white-shadow {
  --link-color: var(--uw-black);
  --link-color-2: var(--uw-black);
}

//Set link color to the "scoped" variable that changes based on context.
body {
  --link-color: var(--theme-link-color);
  --link-color-2: var(--theme-link-color);
}
a {
  // Force links custom.
  &.button {
    --link-color: var(--uw-white);
    --link-color-2: var(--gray-5);
  }
  .pager__item & {
    --link-color: var(--uw-black);
    --link-color-2: var(--uw-white);
  }
  .uw-footer__territorial & {
    --link-color: var(--uw-gold);
    --link-color-2: var(--uw-white);
  }

  .uw-footer__social-directory &,
  .menu--uw-footer li & {
    --link-color: var(--uw-white);
    --link-color-2: var(--uw-gold);
  }

  .uw-footer-phone &, {
    --link-color: var(--uw-gold);
    --link-color-2: var(--uw-gold);
  }

  // Force links white.
  .uw-site-footer__content &,
  .uw-site-footer__title &,
  .uw-waterloo-news__featured &,
  .uw-section__background-color .card__title &,
  .uw-section__background-image .card__title &,
  .uw-link__image-link-color--white-with &,
  .uw-link__image-link-color--white-without &,{
    --link-color: var(--uw-white);
    --link-color-2: var(--uw-white);
  }

  // Overrode background colour for black background links in the footer.
  .uw-site-footer__content .uw-link__bg-color.uw-link__bg-color--org-default-b & {
    --link-color-2: var(--uw-black);
  }

  // Force links black.
  .uw-link__image-link-color--black-with &,
  .uw-link__image-link-color--black-without &,
  .contextual-link &,
  .toolbar-tray &,
  .tabs &,
  .timeline-info__withlink &,
  .ui-dialog-content &,
  .messages--status &,
  .uw-content-moderation &,
  .view-interact &,
  .uw-site-footer__content table &,
  &.uw-site-name__link,
  &.layout-builder__link,
  .waterloo-events__event--title,
  .waterloo-events__event--summary,
  .uw-waterloo-news__items &,
  .uw-section__background--neutral .card__title &,
  .uw-section__background--org-default .card__title &,{
    --link-color: var(--uw-black);
    --link-color-2: var(--uw-black);
  }

  // Set regular underlined links
  @include link(
    var(--link-color),
    var(--link-color-2)
  );

  // Set reverse underlined on hover
  .card__title &,
  .uw-waterloo-news__featured &,
  .uw-waterloo-news__items &,
  &.uw-site-name__link,
  &.tag,
  .uw-footer__social-directory &,
  .menu--uw-footer li &,
  .toolbar-tray &,
  .uw-footer-phone &,
  .uw-section__background-color .card__title &,
  .uw-section__background-image .card__title &,
  .uw-section__background--neutral .card__title &,
  .uw-section__background--org-default .card__title &,
  .uw-link-list--style-quick &,
  .uw-contact__h2 &{
    @include link-reverse(
      var(--link-color),
      var(--link-color-2)
    );
  }
  // Set no underlined on hover for buttons ect.
  &.button,
  &.uw-site-name__link,
  &.layout-builder__link,
  .tabs &,
  .timeline-info__withlink &,
  .ui-dialog-content &,
  .messages--status &,
  .view-interact &,
  &.uw-link-list__buttons,
  &.uw-link-list__option,
  .uw-link__bg-image.uw-link__link-color & {
    @include link-no-underline(
      var(--link-color),
      var(--link-color-2)
    );
  }
}
