// @file
// Background color styles override.

@use '../../01-core' as *;

@each $faculty, $colour in $faculties_colours {
  .uw-section__background--#{$faculty} {
    background-color: var(--#{$colour}-primary);
    .block-layout-builder,
    .layout-builder-block {
      background: transparent;
    }
    @if $faculty == org-default or $faculty == neutral {
      color: var(--uw-black);
      .highlight {
        color: var(--uw-black);
      }
      :where(hr) {
        border-color: var(--uw-black);
      }
      :where(blockquote) {
        background-color: rgba(255, 255, 255, 0.2);
      }
      .uw-blockquote__text,
      .uw-blockquote__text::before,
      .uw-blockquote__text::after,
      .uw-blockquote__attribution--wrapper,
      .uw-blockquote__attribution--wrapper cite {
        color: var(--black);
      }
    }
    @else {
      color: var(--uw-white);
      :where(hr) {
        border-color: var(--uw-white);
      }
      table {
        td,
        tr,
        th {
          background-color: transparent;
        }
        th[scope="row"],
        th[scope="col"],
        thead,
        tfoot {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
      mark,
      form input {
        color: var(--uw-black);
      }

      :where(blockquote),
      :where(code),
      :where(kbd) {
        color: var(--uw-white);
        background-color: rgba(255, 255, 255, 0.2);
      }
      :where(kbd),
      :where(var) {
        border-color: var(--uw-white);
      }
      .uw-blockquote__text,
      .uw-blockquote__text::before,
      .uw-blockquote__text::after,
      .uw-blockquote__attribution--wrapper,
      .uw-blockquote__attribution--wrapper cite,
      cite,
      .highlight,
      .description {
        color: var(--uw-white);
      }
    }
    @if $faculty == neutral {
      :where(blockquote) {
        background-color: var(--uw-white);
      }
    }
  }
}
