.uw-section__background-image {
  background-position: center;
  background-size: cover;
  .block-layout-builder,
  .layout-builder-block {
    background: transparent;
  }
  :where(blockquote) {
    background-color: transparent;
    color: var(--uw-black);
  }
}
.uw-section__text-color--white,
.uw-section__text-color--white-black-shadow {
  color: var(--uw-white);
  mark {
    color: var(--uw-black) !important;
  }
  :where(code) {
    color: var(--uw-black);
  }
  table {
    * {
      color: var(--uw-black) !important;
    }
    caption {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
  .description,
  .uw-blockquote__text,
  .uw-blockquote__text::before,
  .uw-blockquote__text::after,
  .uw-blockquote__attribution--wrapper,
  .uw-blockquote__attribution--wrapper cite,
  blockquote,
  blockquote cite{
    color: var(--uw-white);
  }
  form input {
    color: var(--uw-black);
  }
}

.uw-section__text-color--black,
.uw-section__text-color--black-white-shadow {
  color: var(--uw-black);
  table {
    * {
      color: var(--uw-black) !important;
      text-shadow: transparent 0 0 0;
    }
    caption {
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
  .uw-blockquote__text {
    color: var(--uw-black);
    &::after,
    &::before {
      color: var(--uw-black);
    }
  }
}

.uw-section__text-color--black-white-shadow {
  text-shadow: var(--uw-white) 1px 1px 2px;
}

.uw-section__text-color--white-black-shadow {
  text-shadow: var(--uw-black) 1px 1px 2px;
}

.uw-section__tint-color--black,
.uw-section__tint-color--white,
.uw-section__tint-color--none {
  position: relative;
  &::before {
    background-color: transparent;
    bottom: 0;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: var(--layer-background);
  }
  .layout__region {
    position: relative;
    z-index: var(--layer-wrapper);
  }
}
.uw-section__tint-color--black {
  // Adds the black filter to image overlay.
  &::before {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.uw-section__tint-color--white {
  // Adds the white filter to image overlay.
  &::before {
    background-color: rgba(255, 255, 255, 0.75);
  }
}
