{% if classes %}
  {% set classes = classes %}
{% else %}
  {% set classes = [] %}
{% endif %}

{% if has_sidebar == 'Yes' %}
  {% set classes = classes | merge(['uw-node', 'uw-node__with-sidebar']) %}
{% else %}
  {% set classes = classes | merge(['uw-node']) %}
{% endif %}

<div {{ attributes.addClass(classes) }}>
  <div class="uw-node__grid">
    <article class="uw-node__node">
      {% block content %}
        This is the node content
      {% endblock %}
    </article>
    {% if has_sidebar == 'Yes' %}
      <aside class="uw-node__sidebar">
        {% block sidebar_content %}
          This is the sidebar
        {% endblock %}
      </aside>
    {% endif %}
  </div>
</div>
