// @file
// Styles for the Toolbar module.

/* stylelint-disable-next-line selector-no-qualifying-type */
ul.toolbar-menu {
  font-size: var(--font-size-000);
  li {
    margin-bottom: 0;
    padding-left: 0;
  }
}
/* stylelint-disable-next-line selector-no-qualifying-type */
.org-default .toolbar .toolbar-bar .toolbar-item {
  color: var(--uw-white);
  &:hover,
  &:focus {
    color: var(--uw-white);
  }
}
