@use '../../01-core' as *;

.tag-list {
  @include list-unstyled();
  color: var(--gray-5);
}

.tag-list__item {
  @include uw-no-breakout();
  display: inline-block;
  margin-bottom: var(--size-05);
}
