{% import '@base/macros/_uw.macro.twig' as macros %}
<ul class="tag-list {{ modifier_classes }}">
  {% for item in items %}
    <li class="tag-list__item {%  if item.faculty %}{{ item.faculty }}{%  endif %}">
      {{ macros.tag(item.url, item.title, item.type, item.size)|spaceless }}
      {%- if not loop.last and item.type is not same as "full" %}, {% endif %}
    </li>
  {% endfor %}
</ul>
