// @file
// Styles for a content grid list .

@use '../../01-core' as *;

.uw-content--grid-list {
  &__layout {
    @include uw-flex-grid();
    .card {
      @include uw-flex-term-item();
      // Set the rest of the cards to print
      // third.
      order: 3;
      .card__body{
        height: inherit;
      }

      &:first-of-type {
        @include uw-flex-term-item();
        // Set the first card to match
        // full width of gridded and print second row.
        order: 2;
        width: 100% !important;
      }
    }
    // When in manual list.
    .block-uw-cbl-manual-list div & {
      .card {
        align-self: inherit;
      }
    }
    .contact &{
      display: block;
    }
  }
  &__style_controls {
    @include uw-flex-term-item();
    @include align-content(flex-end);
    // Set the controls for the layout
    // and off canvas as top row.
    order: 1;
    width: 100% !important;
  }
  .view-content {
    @include uw-flex-grid();
    .views-row{
      @include uw-flex-term-item();
      order: 3;
      &:first-of-type {
        @include uw-flex-term-item();
        // Set the first card to match
        // full width of gridded and print second row.
        order: 2;
        width: 100% !important;
      }
    }
  }
}

// ISTWCMS-6859 Agenda look for event card teaser grid.
.uw-agenda {
  // Ensure agenda items without body have enough height.
  // NOTE: height is based on observation, not math.
  .card__agenda:not(:has(.card__body)),
  .card__uw-agenda:not(:has(.card__body)) {
    min-height: 6.25rem;
  }
  // Don't put bottom margin on the last description element.
  .card__content > :last-child {
    margin-bottom: 0;
  }
  .uw-content--grid-list {
    &__layout {
      display: grid;
      grid-row-gap: 0;
      .card {
        flex: inherit;
        flex-wrap: inherit;
        column-gap: var(--grid-gutter);
        order: inherit;
        width: inherit;
        .card__body{
          height: inherit;
        }

        &:first-of-type {
          flex: inherit;
          flex-wrap: inherit;
          column-gap: var(--grid-gutter);
          order: inherit;
          width: inherit !important;
        }
      }
    }
    .view-content {
      flex: inherit;
      flex-flow: inherit;
      gap: var(--grid-gutter);
      .views-row{
        flex: inherit;
        flex-wrap: inherit;
        column-gap: var(--grid-gutter);
        width: inherit !important;
        order: inherit;
        &:first-of-type {
          flex: inherit;
          flex-wrap: inherit;
          column-gap: var(--grid-gutter);
          order: inherit;
          width: inherit !important;
        }
      }
    }
  }
}

.block-uw-cbl-manual-list {
  .service {
    .uw-content--grid-list__layout {
      display: grid;
      grid-row-gap: inherit;
      .card {
        flex: inherit;
        flex-wrap: inherit;
        column-gap: var(--grid-gutter);
        order: inherit;
        width: inherit;
        .card__body{
          height: inherit;
        }

        &:first-of-type {
          flex: inherit;
          flex-wrap: inherit;
          column-gap: var(--grid-gutter);
          order: inherit;
          width: inherit !important;
        }
        &.card--show-hover {
          border: 1px solid transparent;
          box-shadow: inherit;
          transition: inherit;
          padding: inherit;
          &:hover,
          &:focus-within {
            border-bottom: 1px solid inherit;
            box-shadow: inherit;
          }
        }
        .card__header {
          margin: 0;
          .card__title{
            font-size: var(--font-size-1);
            margin: var(--size-1) 0 0 0;
            font-family: inherit;
            line-height: inherit;
            padding: inherit;
            width: inherit;
            a {
              text-decoration: underline;
              &:focus,
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
        .card__content {
          margin: 0;
          p {
            margin: 0;
          }
        }
      }
    }
    .view-content {
      flex: inherit;
      flex-flow: inherit;
      gap: inherit;
      .views-row {
        flex: inherit;
        flex-wrap: inherit;
        column-gap: inherit;
        width: inherit !important;
        order: inherit;
        &:first-of-type {
          flex: inherit;
          flex-wrap: inherit;
          column-gap: inherit;
          order: inherit;
          width: inherit !important;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}
