{% if not views %}
<div class="uw-content--grid-list__layout {{ layout_style }}">
{% endif %}
  {% block content %}

    {% for item in lists %}
        {% if views %}
          <div class ="views-row">
        {% endif %}
      {% include '@components/card/card.twig' with {
        'url': item.url,
        'type': item.type,
        'show_hover': '',
        'header': item.header,
        'hero_image': item.hero_image,
        'listing_image': item.listing_image,
        'content': item.content,
        'footer': item.footer,
      } %}
        {% if views %}
          </div>
        {% endif %}
      {% endfor %}
    {% if content %}
    {{ content }}
    {% endif %}
  {% endblock %}
  {% if views and pattern_lab %}
  </div>
{% endif %}
{% if not views %}
  </div>
{% endif %}

