//appearance
$global-radius: 3px;
$global-rounded: 1000px;
$highlighted-fact-radius: $global-radius;
$highlighted-fact-round: $global-rounded;

@use '../../01-core' as *;

@each $faculty, $colour in $faculties_colours {

  .uw-ff {
    .#{$faculty} {
      @if $faculty == org-default {
        .graph{
          background: var(--uw-gold);
        }

        .number,
        .timer {
          color: var(--uw-black);
          fill: var(--uw-black);
        }

        .uw-ff--text {
          &__big {
            color: var(--uw-black);
          }

          &__medium {
            color: var(--uw-black);
          }

          &__caption {
            color: var(--uw-black);
            > :last-child {
              margin-bottom: 0;
            }
          }

          &__small {
            background-color: var(--uw-gold);
            color: var(--uw-black);
          }
        }
      }

      @else if $faculty == org-stp or $faculty == org-stj or $faculty == org-ren or $faculty == org-cgc {
        .graph {
          background: var(--#{$colour}-primary);
        }

        .number,
        .timer {
          color: var(--#{$colour}-primary);
          fill: var(--#{$colour}-primary);
        }

        .uw-ff--text {
          &__big {
            color: var(--#{$colour}-primary);
          }

          &__medium {
            color: var(--#{$colour}-primary);
          }

          &__small {
            background-color: var(--#{$colour}-primary);
            color: var(--uw-white);
          }
          &__caption {
            color: var(--uw-black);
          }
        }
      }

      @else if $faculty == neutral {
        .uw-ff--text {
          &__big {
            color: var(--#{$colour}-3);
          }

          &__medium {
            color: var(--#{$colour}-3);
          }

          &__small {
            background-color: var(--#{$colour}-1);
            color: var(--#{$colour}-4);
          }

          &__caption {
            color: var(--uw-black);
          }
        }
      }
      @else {
        .graph{
          background: var(--#{$colour}-4);
        }

        .number,
        .timer {
          color: var(--#{$colour}-4);
          fill: var(--#{$colour}-4);
        }

        .uw-ff--text {
          &__big {
            color: var(--#{$colour}-4);
          }
          &__medium {
            color: var(--#{$colour}-4);
          }
          &__small{
            background-color: var(--#{$colour}-4);
            color: var(--uw-white);
          }
          &__caption {
            color: var(--uw-black);
          }
        }
      }
    }

    &--with-bubbles{
      &__white{
        .#{$faculty} {
          @if $faculty == org-default {
            .uw-ff--text {
              &__big {
                color: var(--uw-black);
              }

              &__medium {
                color: var(--uw-black);
              }

              &__caption {
                color: var(--uw-black);
              }

              &__small {
                background-color: var(--uw-gold);
                color: var(--uw-black);
              }
            }
          }

          @else if $faculty == org-stp or $faculty == org-stj or $faculty == org-ren or $faculty == org-cgc {
            .uw-ff--text {
              &__big {
                color: var(--#{$colour}-primary);
              }

              &__medium {
                color: var(--#{$colour}-primary);
              }

              &__small {
                background-color: var(--#{$colour}-primary);
                color: var(--uw-white);
              }
              &__caption {
                color: var(--uw-black);
              }
            }
          }
          @else if $faculty == neutral  {
            &__big {
              color: var(--#{$colour}-1);
            }

            &__medium {
              color: var(--#{$colour}-1);
            }
            &__small{
              background-color: var(--#{$colour}-1);
              color: var(--uw-black);
            }
            &__caption {
              color: var(--uw-black);
            }
          }

          @else {
            .uw-ff--text {
              &__big {
                color: var(--#{$colour}-4);
              }

              &__medium {
                color: var(--#{$colour}-4);
              }

              &__small {
                background-color: var(--#{$colour}-4);
                color: var(--uw-white);
              }
              &__caption {
                color: var(--uw-black);
              }
            }
          }
        }
      }
      &__black{
        .#{$faculty} {
          @if $faculty == org-default {
            .number,
            .timer {
              color: var(--uw-white);
              fill: var(--uw-white);
            }
            .uw-ff--text {
              &__big {
                color: var(--uw-white);
              }

              &__medium {
                color: var(--uw-white);
              }

              &__small {
                background-color: var(--uw-gold);
                color: var(--uw-black);
              }
              &__caption {
                color: var(--uw-white);
                a {
                  color: var(--uw-white);
                }
              }
            }
          }

          @else if $faculty == org-stp or $faculty == org-stj or $faculty == org-ren {
            .number,
            .timer {
              color: var(--#{$colour}-light);
              fill: var(--#{$colour}-light);
            }
            .uw-ff--text {
              &__big {
                color: var(--#{$colour}-light);
              }

              &__medium {
                color: var(--#{$colour}-light);
              }

              &__small {
                background-color: var(--#{$colour}-primary);
                color: var(--uw-white);
              }
              &__caption {
                color: var(--uw-white);
                a {
                  color: var(--uw-white);
                }
              }
            }
          }
          @else if $faculty == neutral  {
            .uw-ff--text {
              &__big {
                color: var(--#{$colour}-1);
              }

              &__medium {
                color: var(--#{$colour}-1);
              }

              &__small {
                background-color: var(--#{$colour}-1);
                color: var(--uw-black);
              }

              &__caption {
                color: var(--uw-white);

                a {
                  color: var(--uw-white);
                }
              }
            }
          }

          @else {
            .number,
            .timer {
              color: var(--#{$colour}-1);
              fill: var(--#{$colour}-1);
            }
            .uw-ff--text {
              &__big {
                color: var(--#{$colour}-1);
              }

              &__medium {
                color: var(--#{$colour}-1);
              }
              &__caption {
                color: var(--uw-white);
                a {
                  color: var(--uw-white);
                }
              }
              &__small{
                background-color: var(--#{$colour}-primary);
                color: var(--uw-white);
              }
            }
          }
        }
      }
      &__grey{
        .#{$faculty} {
          @if $faculty == org-default {
            .uw-ff--text {
              &__big {
                color: var(--uw-black);
              }

              &__medium {
                color: var(--uw-black);
              }

              &__small {
                background-color: var(--uw-gold);
                color: var(--uw-black);
              }
              &__caption {
                color: var(--uw-black);
              }
            }
          }
          @else {
            .uw-ff--text {
              &__big {
                color: var(--#{$colour}-primary);
                @if $faculty == neutral {
                  color: var(--neutral-3);
                }
              }
              &__medium {
                color: var(--#{$colour}-primary);
                @if $faculty == neutral {
                  color: var(--neutral-3);
                }
              }

              &__small{
                background-color: var(--#{$colour}-primary);
                @if $faculty == neutral {
                  color: var(--uw-black);
                }
                @else {
                  color: var(--uw-white);
                }
              }
            }
            &__caption {
              color: var(--uw-black);
            }
          }
        }
      }
      &__gold{
        .#{$faculty} {
          @if $faculty == org-default {
            .graph{
              background: var(--uw-black);
            }

            .number,
            .timer {
              color: var(--uw-black);
              fill: var(--uw-black);
            }

            .uw-ff--text {
              &__big {
                color: var(--uw-black);
              }

              &__medium {
                color: var(--uw-black);
              }

              &__small {
                background-color: var(--uw-black);
                color: var(--uw-gold);
              }
              &__caption {
                color: var(--uw-black);
              }
            }
          }

          @else {
            .graph{
              background: var(--uw-black);
            }

            .number,
            .timer {
              color: var(--uw-black);
              fill: var(--uw-black);
            }

            .uw-ff--text {
              &__big {
                color: var(--uw-black);
              }

              &__medium {
                color: var(--uw-black);
              }

              &__small {
                background-color: var(--uw-black);
                color: var(--uw-gold);
              }
              &__caption {
                color: var(--uw-black);
              }
            }
          }
        }
      }
    }
  }
}

.data-usecarousel,
.data-numberpercarousel {
  height: 0;
  visibility: hidden;
}

.uw-ff .owl-carousel .owl-item img {
  width: auto;
}

/* Override default display: block
from owl script.  Ensures bubbles
are the same height. */
.uw-ff {
  &--with-bubbles{
    .uw-ff--fact{
      border-radius: $highlighted-fact-radius + 10;
      &:nth-of-type(odd) {
        &::after {
          border-left: var(--size-2) solid transparent;
          border-right: var(--size-2) solid transparent;
          content: '';
          height: 0;
          left: 50%;
          margin-left: -0.75rem;
          position: absolute;
          top: -1.25rem;
          width: 0;
        }
      }

      &:nth-of-type(even) {
        &::after {
          border-left: var(--size-2) solid transparent;
          border-right: var(--size-2) solid transparent;
          bottom: -1.25rem;
          content: '';
          height: 0;
          left: 50%;
          margin-left: -0.75rem;
          position: absolute;
          width: 0;
        }
      }
    }

    &__black{
      .uw-ff--fact {
        background-color: var(--uw-black);

        &:nth-of-type(odd) {
          &::after {
            border-bottom: var(--size-3) solid var(--uw-black);
          }
        }

        &:nth-of-type(even) {
          &::after {
            border-top: var(--size-3) solid  var(--uw-black);
          }
        }
      }
    }
    &__white{
      .uw-ff--fact{
        background-color: var(--uw-white);

        &:nth-of-type(odd) {
          &::after {
            border-bottom: var(--size-3) solid var(--uw-white);
          }
        }

        &:nth-of-type(even) {
          &::after {
            border-top: var(--size-3) solid var(--uw-white);
          }
        }
      }
    }
    &__grey{
      .uw-ff--fact{
        background-color: var(--uw-black-1);

        &:nth-of-type(odd) {
          &::after {
            border-bottom: var(--size-3) solid var(--uw-black-1);
          }
        }
        &:nth-of-type(even) {
          &::after {
            border-top: var(--size-3) solid var(--uw-black-1);
          }
        }
      }
    }

    &__gold{
      .uw-ff--fact{
        background-color: var(--uw-gold);

        &:nth-of-type(odd) {
          &::after {
            border-bottom: var(--size-3) solid var(--uw-gold);
          }
        }

        &:nth-of-type(even) {
          &::after {
            border-top: var(--size-3) solid var(--uw-gold);
          }
        }
      }
    }
  }

  &--wrapper {
    clear: both;
    display: block;
    height: auto;
    list-style-type: none;
    margin: 0;
    position: relative;
    width: 100%;

    &__text-left {
      .uw-ff--fact {
        align-items: flex-start;
        text-align: left;
      }

      .infographic-circle,
      .infographic-half-circle {
        justify-self: flex-start;
      }
      .uw-ff--text {
        text-align: left;
      }
    }

    &__text-right {
      .infographic-number {
        display: block;
      }

      .infographic-vertical {
        justify-self: flex-end;
        width: auto;
      }

      .uw-ff--fact{
        align-items: flex-end;
        text-align: right;
      }

      .infographic-circle,
      .infographic-half-circle {
        justify-self: flex-end;
      }

      .uw-ff--text {
        text-align: right;

        &__icon {
          img {
            clear: both;
            float: right;
          }
        }
      }
    }

    &__text-center {
      .uw-ff--fact {
        text-align: center;
      }

      .highlighted-fact-infographic{
        align-items: center;
      }

      .infographic-vertical {
        justify-self: center;
        width: auto;
      }

      .infographic-number{
        margin: 0 auto;
        text-align: center;
        width: auto;
      }

      .infographic-circle,
      .infographic-half-circle {
        justify-self: center;
      }

      .uw-ff--text {
        text-align: center;

        &__icon {
          img {
            margin: 0 auto;
          }
        }

        &__small {
          margin: var(--size-2) auto;
        }
      }
    }
  }

  &--fact {
    font-weight: 300;
    padding: var(--size-4);
    position: relative;
    width: 100%;
  }

  &--text {
    display: inline-block;
    margin: var(--size-1) 0;
    text-wrap: balance;
    width: 100%;
    &__icon {
      display: block;
      img {
        display: block;
        height: 100%;
        max-height: var(--size-12);
      }
    }

    &__big {
      font-family: var(--font-condensed);
      font-size: var(--font-size-11);
      font-weight: var(--font-weight-400);
      line-height: var(--font-lineheight-2);
    }

    &__medium {
      font-size: var(--font-size-2);
      font-weight: var(--font-weight-300);
      hyphens: none;
      line-height: var(--font-lineheight-2);
      padding: var(--size-1) 0;
    }

    &__small {
      display: inline-block !important;
      font-family: var(--font-systemmedium);
      font-size: var(--font-size-0);
      hyphens: none;
      line-height: var(--font-lineheight-2);
      margin-bottom: var(--size-2);
      margin-top: var(--size-2);
      padding: var(--size-1) var(--size-205);
      width: auto;
    }

    &__caption {
      font-size: var(--font-size-00);
      font-style: italic;
      hyphens: none;
      line-height: var(--font-lineheight-2);
      padding: var(--size-05) 0;

      p {
        float: none;
        font-size: var(--font-size-00);
        line-height: var(--font-lineheight-2);
      }

      em,
      i {
        font-style: normal;
      }
      strong,
      b {
        font-weight: bold;
      }
    }
  }

  &--no-carousel{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;

    .uw-ff{
      &--fact{
        @include flex(1 1 auto);
        @include flex-grow(1);
        margin: var(--size-205) 0;
        width: 100%;

        @media(min-width: $screen-xs) {
          width: 50%;
        }

        @media(min-width: $screen-md) {
          width: 30%;
        }

        @media(min-width: $screen-xl) {
          width: 25%;
        }

        .uw-contained-width--wide & {
          @media(min-width: $screen-xs) {
            width: 45%;
          }

          @media(min-width: $screen-md) {
            width: 45%;
          }

          @media(min-width: $screen-xl) {
            width: 45%;
          }
        }

        .uw-node__sidebar &,
        .uw-contained-width--narrow & {
          @media(min-width: $screen-xs) {
            width: 100%;
          }

          @media(min-width: $screen-md) {
            width: 100%;
          }

          @media(min-width: $screen-xl) {
            width: 100%;
          }
        }
        .uw-full-width & {

          @media(min-width: $screen-xs) {
            width: 45%;
          }

          @media(min-width: $screen-md) {
            width: 30%;
          }

          @media(min-width: $screen-xl) {
            width: 23%;
          }
        }
      }
    }
  }

  &--carousel{
    .owl-stage{
      display: flex;
    }

    .owl-item {
      display: flex;
      position: relative;

      &:nth-of-type(odd) {
        .uw-ff--fact{
          &::after{
            bottom: inherit;
            top: -1.25rem;
          }
        }
      }

      &:nth-of-type(even) {
        .uw-ff--fact{
          &::after{
            bottom: -1.25rem;
            top: inherit;
            transform: rotate(180deg);
          }
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }

    .owl-stage-outer {
      padding: var(--size-4) 0;
    }
  }
}

.infographic-fields-inline .fieldset-wrapper {
  display: grid;
  grid-gap: var(--size-2);
  grid-template-columns: 12em minmax(auto, 20em) minmax(auto, 40%);
}

.infographic-fields-inline .fieldset-wrapper .fieldset-description {
  grid-column: 1 / span 3;
}

.circliful .outer {
  animation-play-state: running;
  fill: transparent;
  stroke: var(--gray-7);
  stroke-dasharray: 534;
  stroke-width: 19.8;
  /* firefox bug fix - won't rotate at 90deg angles */
  transform: rotate(-89deg) translateX(-190px);
  transition: stroke-dashoffset 1s;
}

.highlighted-fact-infographic {
  align-items: center;
  display: block;
  margin: 0 auto;

  .number,
  .timer {
    font-family: var(--font-condensedbook);
    font-size: 2.25rem;
  }

  .graph {
    display: block;
  }

  .infographic-texthide {
    display: none;
    font-family: var(--font-condensedbook);
    font-size: 3.2rem;
    width: 100%;
    .no-js & {
      display: block;
    }

    .no-js.js & {
      display: none;
    }
  }

  &.infographic-number {
    .number{
      font-size: 3.2rem;

      .timer {
        display: inline;
        font-size: 3.2rem;
      }
    }
  }

  &.infographic-vertical {

    .graph-wrapper {
      background: var(--gray-4);
      height: 200px;
      position: relative;
      width: var(--size-10);
      margin: 0 auto;
    }

    .graph {
      bottom: var(--size-xs);
      min-height: var(--size-205);
      position: absolute;
      width: var(--size-10);
    }

    .timer {
      margin-left: var(--size-1);
      width: 3.75rem;
    }

    .timer::after {
      content: '%';
      display: inline-block;
    }
  }

  &.infographic-horizontal {
    margin: 0;
    max-width: 100%;

    .graph-wrapper {
      background: var(--gray-4);
      height: var(--size-10);
      margin-bottom: var(--size-2);
      margin-right: var(--size-2);
      position: relative;
      width: 100%;
    }

    .graph {
      display: block;
      height: var(--size-10);
      width: 1px;
    }

    .timer {
      width: 3.75rem;
    }

    .timer::after {
      content: '%';
      display: inline-block;
    }
  }

  &.infographic-half-circle {
    max-width: 15.625rem;

    svg {
      margin: calc(-0.14 * 100%) 0 calc(-0.4 * 100%);
    }
  }
  &.infographic-circle {
    max-width: 15.625rem;

    svg {
      margin-top: calc(-0.14 * 100%);
    }
  }
}

.no-js .uw-ff--carousel .owl-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;

  .uw-ff {
    &--fact {
      @include flex(1 1 auto);
      @include flex-grow(1);
      margin: var(--size-205) 0;
      width: 100%;
      @media(min-width: $screen-xs) {
        width: 50%;
      }
      @media(min-width: $screen-md) {
        width: 30%;
      }
      @media(min-width: $screen-xl) {
        width: 25%;
      }
      .uw-contained-width--wide & {
        @media(min-width: $screen-xs) {
          width: 45%;
        }
        @media(min-width: $screen-md) {
          width: 45%;
        }
        @media(min-width: $screen-xl) {
          width: 45%;
        }
      }

      .uw-node__sidebar &,
      .uw-contained-width--narrow & {
        @media(min-width: $screen-xs) {
          width: 100%;
        }

        @media(min-width: $screen-md) {
          width: 100%;
        }

        @media(min-width: $screen-xl) {
          width: 100%;
        }
      }

      .uw-full-width & {
        @media(min-width: $screen-xs) {
          width: 45%;
        }

        @media(min-width: $screen-md) {
          width: 30%;
        }

        @media(min-width: $screen-xl) {
          width: 23%;
        }
      }
    }
  }
}

.no-js.js {
  .uw-ff--carousel .owl-carousel.owl-theme {
    display: flex !important;
    flex-flow: column;
  }
}
