{% if ffs.bg_colour == 'gold' %}
  {% set graph_colour = "--uw-black" %}
{% else %}
  {% set theme_map = {
    'org-art': '--art-4',
    'org-eng': '--eng-4',
    'org-ahs': '--ahs-4',
    'org-mat': '--mat-4',
    'org-sci': '--sci-4',
    'org-env': '--env-4',
    'org-stp': '--stp-light',
    'org-stj': '--stj-light',
    'org-ren': '--ren-light',
    'org-cgc': '--cgc-light',
    'org-school': '--school-4',
    'org-default': '--uw-gold'
  } %}

  {% set graph_colour = theme_map[ffs.theme] %}
{% endif %}


<div
  class="highlighted-fact-infographic infographic-{{ infographics.info_type | replace({'_': '-'}) }} "
  data-infographic-type="{{ infographics.info_type }}"
  data-percent="{{ infographics.info_text }}"
  data-foregroundColor="var({{ graph_colour }})"
>
  {% if infographics.info_type == 'number' %}
    <span class="number">
      <span class="timer">{{ infographics.info_text }}</span>
      {% if infographics.info_suffix %}
        {{ infographics.info_suffix }}
      {% endif %}
    </span>
  {% else %}
    <div class="infographic-texthide">
      {{ infographics.info_text }}
      {% if infographics.info_suffix %}
        {{ infographics.info_suffix }}
      {% else %}
      <span>%</span>
      {% endif %}
    </div>
  {% endif %}

</div>
