<div id="uw-ff-{{ ffs.id }}" class="uw-ff {% if ffs.show %}uw-ff--with-bubbles uw-ff--with-bubbles__{{ ffs.bg_colour}}{% else%}uw-ff__{{ ffs.bg_colour}}{% endif %}" data-carousel="{{ ffs.num_per_carousel ? 'yes' :'no' }}" data-num-per-carousel="{{ ffs.num_per_carousel }}" data-id="{{ ffs.id }}">
  <div class="uw-ff--wrapper uw-ff--wrapper__text-{{ ffs.text_align }} {{ ffs.num_per_carousel ? 'uw-ff--carousel' : 'uw-ff--no-carousel' }} {{ ffs.theme }}">
    {% if ffs.num_per_carousel >= 1%}
      {% embed '@layouts/carousel/carousel.twig' %}
        {% block content %}
          {% for details in ffs.details %}
            <div class="uw-ff--fact">

              {% for detail in details %}

                {% if detail.type == 'infographic' %}
                  {% include '@components/facts-and-figures/_infographics.twig' with {
                    'infographics': detail,
                  } %}
                {% elseif detail.type == 'icon' %}
                  <div class="uw-ff--text uw-ff--text__{{ detail.type }}">
                    <img src="{{ detail.icon }}" alt="{{ detail.alt }}" />
                  </div>
                {% elseif detail.type == 'caption' %}
                  {% if detail.caption %}
                    <span class="uw-ff--text uw-ff--text__caption balance-text">
                      {{ detail.caption }}
                    </span>
                  {% endif %}
                {% else %}
                  <span class="uw-ff--text uw-ff--text__{{ detail.type }} balance-text">{{ detail.text }}</span>
                {% endif %}
              {% endfor %}
            </div>
          {% endfor %}
        {% endblock %}
      {% endembed %}
    {% else %}
      {% for details in ffs.details %}
        <div class="uw-ff--fact">
        {% for detail in details %}

          {% if detail.type == 'infographic' %}

            {% include '@components/facts-and-figures/_infographics.twig' with {
              'infographics': detail,
            } %}
          {% elseif detail.type == 'icon' %}
            <div class="uw-ff--text uw-ff--text__{{ detail.type }}">
              <img src="{{ detail.icon }}" alt="{{ detail.alt }}" />
            </div>
          {% elseif detail.type == 'caption' %}
            {% if detail.caption %}
              <span class="uw-ff--text uw-ff--text__caption balance-text">
                {{ detail.caption }}
              </span>
            {% endif %}
          {% else %}
            <span class="uw-ff--text uw-ff--text__{{ detail.type }} balance-text">{{ detail.text }}</span>
          {% endif %}
        {% endfor %}
        </div>
      {% endfor %}

    {% endif %}
  </div>
</div>
