@use '../../../01-core' as *;

.layout--uw-4-col {
  display: grid;
  gap: var(--grid-gap);
  &.even-split {

    @media(min-width: $screen-sm) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @media(min-width: $screen-lg) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }

  &.larger-left {

    @media(min-width: $screen-sm) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @media(min-width: $screen-lg) {
      grid-template-columns: minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }

  &.larger-second {

    @media(min-width: $screen-sm) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @media(min-width: $screen-lg) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr) minmax(0, 1fr);
    }
  }

  &.larger-third {

    @media(min-width: $screen-sm) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @media(min-width: $screen-lg) {
      grid-template-columns: minmax(0, 1fr)  minmax(0, 1fr) minmax(0, 3fr) minmax(0, 1fr);
    }
  }

  &.larger-right {

    @media(min-width: $screen-sm) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @media(min-width: $screen-lg) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 3fr);
    }
  }

  &.legacy-23-27-27-23 {

    @media(min-width: $screen-sm) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @media(min-width: $screen-lg) {
      grid-template-columns: minmax(0, 0.8fr) minmax(0, 1.1fr) minmax(0, 1.1fr) minmax(0, 0.8fr);
    }
  }

  .layout__region{

    &--first {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    &--second {
      grid-column: 1 / 2;

      @media(min-width: $screen-sm) {
        grid-column: 2 / 3;
      }

      @media(min-width: $screen-lg) {
        grid-column: 2 / 3;
      }
    }

    &--third {

      @media(min-width: $screen-sm) {
        grid-column: 1 / 2;
      }

      @media(min-width: $screen-lg) {
        grid-column: 3 / 4;
        grid-row: 1 / 2;
      }
    }

    &--fourth {

      @media(min-width: $screen-sm) {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }

      @media(min-width: $screen-lg) {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
      }
    }
  }
}
