// @file
// Styles for Page title.

@use '../../01-core' as *;

.block-page-title-block{
  @include uw-contained-width(var(--layout-max-width-narrow));
  @media(min-width: $screen-xl) {
    // Reset the width so we use all the width when we have room to.
    @include uw-contained-width(var(--layout-max-width));
  }
  margin-bottom: 0;
}
.page-title {
  @include uw-no-breakout();
  margin: 0;
  padding: 0;
}
