@use '../../01-core' as *;

.ofis-profile-jobtitle {
  font-size: 1.4rem;
}

.ofis-profile-header {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 1rem;

  .ofis-profile-picture {
    display: block;
    width: 188px;
    height: auto;
    margin: 0 auto;
    flex: 0 0 188px;
  }

  > div {
    flex: 1 1 250px;
  }

  @media(min-width: $screen-xs) {
    flex-direction: row;
    .ofis-profile-picture {
      margin: 0;
    }
  }
}
