<section class="uw-contained-width uw-section-spacing--default uw-section-separator--none uw-column-separator--none layout {% if ofis_data.profile.video %}layout--uw-2-col even-split{% else %}layout--uw-1-col{% endif %}">
  <div>
    <div class="ofis-profile-header">
      {% if ofis_data.profile.photo %}
        <img alt="{{ ofis_data.profile.nickname }}"
             class="ofis-profile-picture" src="{{ ofis_data.profile.photo }}">
      {% endif %}
      <div>
        <div class="ofis-profile-jobtitle" property="schema:jobTitle">
          {{ ofis_data.profile.profile_job_title | join(', ') }}
        </div>
        {% if ofis_data.profile.profile_email %}
          <div>{{ 'Email:'|t }} <a
              href="mailto:{{ ofis_data.profile.profile_email }}">{{ ofis_data.profile.profile_email }}</a>
          </div>
        {% endif %}
        {% if ofis_data.profile.location %}
          <div>{{ 'Location:'|t }} {{ ofis_data.profile.location }}</div>
        {% endif %}
        {% if ofis_data.profile.profile_phones %}
          <div>{{ 'Phone:'|t }} {{ ofis_data.profile.profile_phones }}</div>
        {% endif %}
        {% if ofis_data.profile.personal_url %}
          <div><a
              href="{{ ofis_data.profile.personal_url }}">{{ ofis_data.profile.personal_url_title }}</a>
          </div>
        {% endif %}
        {% if ofis_data.profile.lab_url %}
          <div><a
              href="{{ ofis_data.profile.lab_url }}">{{ ofis_data.profile.lab_url_title }}</a>
          </div>
        {% endif %}
        {% if ofis_data.profile.active %}
          <div>{{ 'Status:'|t }} {{ ofis_data.profile.active }}</div>
        {% endif %}
        {% if ofis_data.profile.crossappointments %}
          <div>{{ 'Faculty &amp; Department Cross-Appointments:'|t }} {{ ofis_data.profile.crossappointments|join(', ') }}</div>
        {% endif %}
      </div>
    </div>
  </div>
  {% if ofis_data.profile.video %}
    <div>
      <div class="uw-remote-video">
        {% set vid = ofis_data.profile.video|split('?v=')[1] %}
        {% if not vid %}
          {% set vid = ofis_data.profile.video|split('https://youtu.be/')[1] %}\
        {% endif %}
        {% if vid %}
          {% set ytembed = 'https://www.youtube.com/embed/' ~ vid %}
          <div class="uw-remote-video__video">
            <div class="uw-media media media--type-uw-mt-remote-video media--view-mode-default">
              <div class="uw-field uw-field--name-field-media-oembed-video uw-field--type-string uw-field--label-visually_hidden uw-field__items">
                <div class=uw-field__item">
                  <iframe class="media-oembed-content" width="200" height="113" src="{{ ytembed }}" aria-label="Remote Video"></iframe>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
        <div class="uw-remote-video__view">
          <a href="https://www.youtube.com/watch?v={{ vid }}">View on YouTube</a>
        </div>
      </div>
    </div>
  {% endif %}
</section>

<section class="uw-contained-width uw-section-spacing--default uw-section-separator--none uw-column-separator--none layout layout--uw-1-col">
  <div>
    {% if ofis_data.profile.profile_bio %}
      <h2>{{ 'Biography'|t }}</h2>
      <div>{{ ofis_data.profile.profile_bio | striptags('<a>') | raw | nl2br }}</div>
    {% endif %}
    {% if ofis_data.profile.research_keywords %}
      <h2>{{ 'Research Interests'|t }}</h2>
      <div>
        <ul>
          {% for research_keywords in ofis_data.profile.research_keywords %}
            <li>{{ research_keywords | striptags('<a>') | raw }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if ofis_data.profile.scholarly %}
      <h2>{{ "Scholarly Research"|t }}</h2>
      <div>
        {% for scholarly in ofis_data.profile.scholarly %}
          {{ scholarly | striptags('<a>') | raw | nl2br }}
        {% endfor %}
      </div>
    {% endif %}
    {% if ofis_data.profile.industrial %}
      <h2>{{ "Industrial Research"|t }}</h2>
      <div>
        {% for industrial in ofis_data.profile.industrial %}
          {{ industrial | striptags('<a>') | raw | nl2br }}
        {% endfor %}
      </div>
    {% endif %}
    {% if ofis_data.profile.education %}
      <h2>{{ 'Education'|t }}</h2>
      <div>
        <ul>
          {% for edu in ofis_data.profile.education %}
            <li>{{ edu | striptags('<a>') | raw }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if ofis_data.profile.awards %}
      <h2>{{ 'Awards'|t }}</h2>
      <div>
        <ul>
          {% for award in ofis_data.profile.awards %}
            <li>{{ award | striptags('<a>') | raw }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if ofis_data.profile.service %}
      <h2>{{ 'Service'|t }}</h2>
      <div>
        <ul>
          {% for service in ofis_data.profile.service %}
            <li>{{ service | striptags('<a>') | raw }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if ofis_data.profile.profassociations %}
      <h2>{{ 'Professional Associations'|t }}</h2>
      <div>
        <ul>
          {% for association in ofis_data.profile.profassociations %}
            <li>{{ association | striptags('<a>') | raw }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if ofis_data.profile.affiliations %}
      <h2>{{ 'Affiliations and Volunteer Work'|t }}</h2>
      <div>
        <ul>
          {% for affiliations in ofis_data.profile.affiliations %}
            <li>{{ affiliations | striptags('<a>') | raw }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if ofis_data.profile.courses %}
      <h2>{{ 'Teaching*'|t }}</h2>
      <div>
        <ul>
          {% for course in ofis_data.profile.courses %}
            <li>{{ course.subject }} {{ course.num }} - {{ course.title }}
              <ul>
                <li>{{ 'Taught in'|t }} {{ course.years_taught }}</li>
              </ul>
            </li>
          {% endfor %}
        </ul>
        <p>{{ '* Only courses taught in the past 5 years are displayed.'|t }}</p>
      </div>
    {% endif %}
    {% if ofis_data.profile.contributions %}
      <h2>{{ 'Selected/Recent Publications'|t }}</h2>
      <div>
        <ul>
          {% for contribution in ofis_data.profile.contributions %}
            <li>{{ contribution | striptags('<a>') | raw }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if ofis_data.profile.patents %}
      <h2>{{ 'Patents'|t }}</h2>
      <div>
        <ul>
          {% for patent in ofis_data.profile.patents %}
            <li>{{ patent | striptags('<a>') | raw }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if ofis_data.profile.news %}
      <h2>{{ 'In The News'|t }}</h2>
      <div>
        <ul>
          {% for news in ofis_data.profile.news %}
            <li><a href="{{ news.url }}">{{ news.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if ofis_data.profile.gradwilling is defined %}
      <h2>{{ 'Graduate studies'|t }}</h2>
      <ul>
        {% if ofis_data.profile.gradwilling %}
          <li>
            {{ 'Currently considering applications from graduate students. A completed online application is required for admission; <a href=":url">start the application process now.</a>'|t({':url': 'https://uwaterloo.ca/graduate-studies-postdoctoral-affairs/future-students/applying-graduate-school/before-you-apply'}) }}
          </li>
        {% else %}
          <li>{{ 'Not currently accepting applications for graduate students'|t }}</li>
        {% endif %}
        {% if ofis_data.profile.ssps %}
          <li>
            {{ 'Has <a href=":url">Sole-Supervisory Privilege Status</a> (SSPS) status'|t({':url': 'https://uwaterloo.ca/current-graduate-students/about-gspa/organization-graduate-studies#ssps'}) }}
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
</section>
