// @file
// Styles for accessible skiplinks.

.skiplinks {
  display: flex;
  font-family: var(--font-sans);
  font-size: var(font-size-0000);
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: var(--layer-overlay);
  &__link{
    color: var(--uw-white) !important;
    &:focus{
      background-color: var(--uw-black);
      border: var(--size-xs) solid var(--uw-white);
      border-top: 0;
      color: var(--uw-white) !important;
      display: inline-block;
      font-weight: 200;
      margin: 0;
      outline: 0;
      padding: var(--size-sm) var(--size-075);
      text-align: center;
      text-decoration: none;
      &:hover{
        background-color: var(--uw-white);
        color: var(--uw-black) !important;
      }
    }
  }
}

// Remove :focus styles for skiplink targets.
/* stylelint-disable-next-line selector-max-id */
#main:focus {
  outline: 0;
}
