@use '../../01-core' as *;

.uw-site-footer {
  background-color: var(--uw-black-3);
  &__wrapper {
    @include uw-contained-width;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    padding: var(--size-2);
    @media(min-width: $screen-md) {
      grid-template-columns: auto 18rem;
    }
    @media(min-width: $screen-xl) {
      padding: var(--size-2) 0;
    }
  }
  &__title {
    color: var(--uw-white);
    font-family: var(--font-condensedbook);
    font-size: var(--font-size-3);
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-bottom: var(--size-2);
    text-align: center;
    text-transform: uppercase;
    @media(min-width: $screen-md) {
      grid-row: 1 / 2;
      text-align: left;
    }
  }
  &__logo {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding-bottom: var(--size-2);
    text-align: center;
    @media(min-width: $screen-md) {
      grid-row: 1 / 2;
      text-align: left;
    }
  }
  &__social-media {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    margin: 0 auto;
    width: 100%;
    @media(min-width: $screen-md) {
      padding-bottom: var(--size-4);
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      margin: 0;
    }
  }

  &__content {
    h2,
    h3,
    h4,
    h5,
    h6{
      margin-left: auto;
      margin-right: auto;
      @media(min-width: $screen-md) {
        margin-left: inherit;
        margin-right: auto;
      }
    }
    cite {
      color: var(--uw-white-1);
    }
    color: var(--uw-white-1);
    text-align: center;
    @media(min-width: $screen-md) {
      text-align: left;
    }
    @media(min-width: $screen-xl) {
      padding-left: 0;
      padding-right: 0;
    }
    .highlight {
      color: var(--uw-white);
    }
    table {
      caption {
        color: var(--uw-white-1);
      }
      th,
      td,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      span,
      mark,
      table caption {
        color: var(--uw-black);
      }
    }
  }

  .uw-admin-label {
    display: none;
  }

  .in-layout-builder {
    border: 0;
    margin: initial;
  }
}
