{% if site_name or logo_url %}
<div class="uw-site-footer">
  <div class="uw-site-footer__wrapper">

    {%  if logo_url %}
    <div class="uw-site-footer__logo">
      <a href="{{ logo_link }}">
        <img src="{{ logo_url }}" alt="{{ logo_alt_text }}" />
      </a>
    </div>
    {% else  %}
    <div class="uw-site-footer__title">
      <a href="{{ home_link }}">
        {{ site_name }}
      </a>
    </div>
    {%  endif %}

    {% if social_media.menu_tree %}
    <div class="uw-site-footer__social-media">
      {% include "@components/menu/menu--social/menu--social.twig" with {
        "social_media_placement": 'local-site-footer',
      } %}
    </div>
    {% endif %}
  </div>
  <div class="uw-site-footer__content">
    {{ body }}
  </div>
</div>
{% endif %}
