@use '../../../01-core' as *;

$menu-horizontal-bg-sm: var(--uw-white);

.uw-horizontal-nav--secondary{
  @include uw-full-width;
  background-color: $menu-horizontal-bg-sm !important;
  @media(min-width: $screen-md) {
    background-color: var(--uw-white);
    border-bottom: 3px solid var(--gray-2);
  }
  .uw-horizontal-nav--wrapper{
    @include uw-contained-width;
    display: grid;
    padding: 0;
    position: relative;
    @media(min-width: $screen-md) {
      grid-template-columns: var(--size-6) auto;
      padding: 0 var(--size-1);
    }
  }
  .uw-horizontal-nav--home{
    display: none;
    grid-column: none;
    padding: 0;
  }
  .uw-horizontal-nav--menu {
    @include uw-full-width;
    .menu {
      // ALL Menus ul>
      .menu__item{
        a{
          outline: none;
          outline-offset: unset;
        }
      }
      // Top Level <ul> flex top items
      &--horizontal {
        @include uw-full-width;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: var(--font-systembold);
        font-size: var(--font-size-000);
        justify-content: flex-start;
        text-transform: inherit;
        width: 100%;
        li{
          font-size: var(--font-size-000);
        }
        > .menu__item{
          @media(min-width: $screen-md) {
            width: auto;
          }
          a{
            display: inline-block;
            font-weight: inherit;
            line-height: 1.25rem;
            text-decoration: none;
            &:hover{
              background-color: var(--gray-2);
              color: var(--uw-black);
            }
          }
          &.has-submenu {
            > a{
              &::after {
                top: 14px;
              }
            }
          }
        }
      }
    }
  }
}
