{% if items %}
{% include "@components/menu/menu--horizontal/menu--horizontal.twig" with {
    'modifier_classes': 'secondary',
    'menu_name': 'horizontal',
    'items': items,
    'is_demo': true,
    'include_home': false,
}%}

{% endif %}
