@use '../../01-core' as *;

@each $faculty, $colour in $faculties_colours {

  .uw-cta {
    .#{$faculty} {
      .uw-cta__text--big {

        @if $faculty == org-default {
          color: var(--uw-gold);
        }

        @else if $faculty == neutral {
          color: var(--uw-black-2);
        }

        @else if $faculty == org-stp or $faculty == org-stj or $faculty == org-ren or $faculty == org-cgc {
          color: var(--#{$colour}-light);
        }
        @else {
          color: var(--#{$colour}-1);
        }
      }
    }

    &__aside.#{$faculty} {
      a {
        &:hover,
        &:focus {
          @if $faculty == org-default {
            background-color: var(--uw-gold);

            .uw-cta__text--big,
            .uw-cta__text--small,
            .uw-cta__text--medium {
              color: var(--uw-black);
            }
          }

          @else if $faculty == neutral {
            background-color: var(--uw-black-3);

            .uw-cta__text--big {
              color: var(--uw-white);
            }
          }

          @else if $faculty == org-stp or $faculty == org-stj or $faculty == org-ren {
            background-color: var(--#{$colour}-light);

            .uw-cta__text--big,
            .uw-cta__text--small,
            .uw-cta__text--medium,
            a {
              color: var(--#{$colour}-primary);
              filter: brightness(0.2);
            }
          }
          @else if $faculty == org-cgc {
            background-color: var(--#{$colour}-primary);

            .uw-cta__text--big,
            .uw-cta__text--small,
            .uw-cta__text--medium,
            a {
              color: var(--uw-white);
            }
          }
          @else {
            background-color: var(--#{$colour}-1);

            .uw-cta__text--big,
            .uw-cta__text--small,
            .uw-cta__text--medium {
              color: var(--#{$colour}-4);
            }
          }
        }
      }
    }
  }
}

.uw-cta__center-wrapper {
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.uw-cta {
  clear: both;
  height: 100%;
  width: 100%;

  &.uw-contained-width {
    @include uw-contained-width;
    padding: 0;
  }

  .uw-cta__aside {
    background-color: var(--uw-black);
    border: var(--size-xs) solid var(--uw-white);
    flex: 1 0 100%;

    .layout--uw-2-col &,
    .layout--uw-3-col &,
    .layout--uw-4-col &,
    .layout--uw-5-col & {
      flex: 1 0 100%;
    }

    @media(min-width: $screen-sm) {
      flex: 1 0 50%;
    }

    @media(min-width: $screen-lg) {
      flex: 1 0 30%;
    }

    @media(min-width: $screen-xxl) {
      flex: 1 0 25%;
    }
  }

  .uw-cta__aside:last-child {
    margin: 0;
  }
}

.uw-cta__link {
  border: 0;
  bottom: 0;
  display: block;
  font-family: var(--font-condensedbook);
  height: 100%;
  left: 0;
  min-height: 6.25rem;
  padding: 0;
  position: relative;
  right: 0;
  text-decoration: none;
  top: 0;
  width: 100%;

  &:hover {
    text-decoration: none;
  }
}

.uw-cta__text {
  font-family: var(--font-condensedbook);
  text-align: center;

  &--big {
    font-size: var(--font-size-3-5);
    letter-spacing: 0.05rem;
    line-height: 1.2;
    padding: 0 var(--size-05) 0.313rem var(--size-05);
  }

  &--medium {
    color: var(--uw-white);
    font-size: var(--font-size-0);
    line-height: 1.2;
    padding: 0 var(--size-05) var(--size-05) var(--size-05);
    text-transform: uppercase;
  }

  &--small {
    color: var(--uw-white);
    font-family: var(--font-systemmedium);
    font-size: var(--font-size-000);
    line-height: 1;
    padding: 0 var(--size-05) var(--size-05) var(--size-05);
    text-transform: uppercase;
  }
}

@each $faculty, $colour in $faculties_colours {

  .call-to-action-theme-#{$faculty} {
    display: table-cell;
    margin: var(--size-xs);
    vertical-align: middle;
  }
}

.uw-cta__wrapper {
  display: table;
  float: left;
  height: 6.25rem;
  width: 100%;
}
