{% if not empty %}
  {% set empty = 'Your filters returned no results please review criteria selected.' %}
{% endif %}

{% if show_filter_message %}
  <div class="view-content--message">
    <div role="alert" class="message message--warning">
      <ul class="message__list">
        <li class="message__item">{{ empty }}</li>
      </ul>
    </div>
  </div>
{% endif %}
