@use '../../01-core' as *;

.uw-site-container {
  display: grid;
  grid-template-columns: 100%;
  position: relative;
  // Puts the site container at z-index 2
  z-index: var(--layer-wrapper);
  .uw-header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    position: relative;
    // Puts the header at z-index 4
    z-index: var(--layer-header);
  }
  .uw-emergency-notification {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    position: relative;
    width: 100%;
    // Puts the content at z-index 3
    z-index: var(--layer-content);
  }
  .uw-special-alert {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    position: relative;
    width: 100%;
    // Puts the content at z-index 3
    z-index: var(--layer-content);
  }
  .uw-highlighted {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    position: relative;
    width: 100%;
    // Puts the content at z-index 3
    z-index: var(--layer-content);
  }

  .uw-main {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
    min-height: 60vh;
    position: relative;
    width: 100%;
  }

  .uw-footer {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
    position: relative;
    // Puts the footer at z-index 2
    z-index: var(--layer-footer);
  }
}

.mobile-menu,
.mobile-menu-button{
  display: none !important;
}
