<div class="view-interact">
  {% if exposed %}
    {# Print button when filters are present #}
    {% include '@components/icon/icon--button/icon--button.twig' with {
      'url': '#view-filters',
      'btn_id': 'offcanvasbutton',
      'text': 'Filters',
      'name': 'filter2',
      'is_hidden': false,
      'modifier_classes': 'icon--button view-filters__open',
    } %}
  {% endif %}
  {% if ical %}
    {% include '@components/icon/icon--button/icon--button.twig' with {
      'url': ical,
      'text': 'iCal',
      'name': 'ical',
      'is_hidden': false,
      'is_download': true,
      'modifier_classes': 'icon--button',
    } %}
  {% endif %}
  {% if rss %}
    {% include '@components/icon/icon--button/icon--button.twig' with {
    'url': rss,
    'text': 'RSS',
    'name': 'rss',
    'is_hidden': false,
    'modifier_classes': 'icon--button icon--rss',
  } %}
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
