@use '../../../01-core' as *;

.card__teaser {
  @include uw-flex-grid(card);
  .views-row & {
    height: 100%;
  }

  .uw-label {
    display: block;
    margin-top: var(--size-2);
  }

  .card__tags {
    line-height: var(--line-height-2);
    margin: auto auto 0 var(--size-2);
    padding: 0;
    max-width: 90%;
  }

  .uw-node__without-media & {
    .card__header,
    .card__footer {
      padding: 0;
      max-width: inherit;
    }
  }
  &--opportunity{
    .card__header{
      margin-bottom: var(--size-1);
    }
  }
  &--profile {
    display: grid;
    gap: var(--size-2);
    align-content: flex-start;

    &.card__has-profile-image {
      grid-template-columns: var(--size-10) auto;
      .card__header {
        grid-column: 2 / 3;
      }
    }
    .card {
      &__image {
        margin: 0;
        max-width: var(--size-10);
      }

      &__header {
        grid-column: 1 / 3;
        margin: 0;
        .card__title {
          margin: 0;
        }
      }

      &__body {
        grid-column: 1 / 3;
      }
    }
    .uw-content--grid-list__layout & {

      &.card__has-profile-image {
        .card__header {
          grid-column: 2 / 3;
          display: block;
          margin: 0;
        }
      }
    }
  }
  &--event {
    // ISTWCMS-6859 Agenda look for event card teaser.
    &.card__uw-agenda,
    .uw-agenda & {
      display: grid;
      grid-template-columns: 100%;
      column-gap: var(--grid-gutter);
      @include uw-no-breakout();
      @media(min-width: $screen-md) {
        display: grid;
        grid-template-columns: 19rem auto;
      }
      &.card--show-hover {
        border: 0;
        border-bottom: 1px solid var(--gray-3);
        box-shadow: var(--shadow-0);
        transition: box-shadow 300ms ease;
        padding: var(--size-2);
        padding-bottom: var(--size-6);
        &:hover,
        &:focus-within {
          background-color: var(--gray-1);
          border-bottom: 1px solid var(--uw-black-primary);
          box-shadow: var(--shadow-3);
        }
      }
      .card__image {
        margin-top: 2rem;
        @media(min-width: $screen-md) {
          grid-column: 1 / 2;
          grid-row: 2 / 3;
        }
        img {
          max-width: 12.5rem;
        }
        a {
          max-width: 12.5rem;
        }
      }
      .card__header {
        display: grid;
        grid-template-columns: 100%;
        grid-row: 1 / 2;
        margin-bottom: 0.75rem;
        @media(min-width: $screen-md) {
          grid-template-columns: 20rem auto;
          grid-column: 1 / 3;
        }
      }
      .card__date {
        background: inherit;
        padding-left: 0;
        position: relative;
        .uw-date {
          background: inherit;
          padding-left: 0;
        }
        @media(min-width: $screen-md) {
          grid-row: 1 / 2;
          margin: 0;
          .uw-date {
            top: 0;
            left: 0;
            position: absolute;
            background: inherit;
            padding: 0;
            margin: 0;
          }
        }
      }
      .card__title {
        grid-column: 1 / 2;
        margin: 0;
        padding-top: var(--size-305);
        @media(min-width: $screen-md) {
          grid-column: 2 / 3;
        }
      }

      .card__author {
        grid-column: 1 / 2;
        @media(min-width: $screen-md) {
          grid-column: 2 / 3;
        }
      }

      .card__body,
      .card__content,
      .card__footer,
      .card__position,
      .card__tags,
      .card__readmore,
      .card__social {
        grid-column: 1 / 2;
        @media(min-width: $screen-md) {
          grid-column: 2 / 3;
        }
      }
      .card__body {
        grid-row: 2 / 3;
      }
      .card__content {
        margin-bottom: 0;
      }
      .card__tags {
        margin: 0;
      }
    }
  }
}
