{% if type and (type == 'header' or type == 'footer') %}
  {% set show_hover = '' %}
{% else %}
  {% set show_hover = 'true' %}
{% endif %}

{% set modifier_classes = 'teaser--' ~ teaser.bundle %}
{% include '@components/card/card.twig' with {
  'content': teaser.content,
  'footer': teaser.footer,
  'header': teaser.header,
  'image': teaser.image,
  'modifier_classes': modifier_classes,
  'show_hover': show_hover,
  'style': style,
  'tags': teaser.tags,
  'type': type,
  'url': teaser.url,
} %}
