@use '../../../01-core' as *;

.view-filters {
  // Hide Filter Buttons on large
  &__open {
    order: 100;
    @media(min-width: $screen-lg) {
      display: none;
    }
  }

  &__close {
    margin: inherit inherit var(--size-2) inherit;
    // Hide Filter Buttons on large
    @media(min-width: $screen-lg) {
      display: none;
    }
  }
  h2{
    align-items: center;
    display: flex;
    gap: var(--size-05);
    @media(min-width: $screen-md) {
      .uw-icon{
        height: 1.75rem;
        width: 1.75rem;
        svg{
          height: 1.75rem;
          width: 1.75rem;
        }
      }
    }
  }

  form {
    width: 100%;
    ul,
    li{
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .uw-input,
    .form-text,
    select{
      width: 100%;
    }
    .button,
    .image-button {
      margin: 0;
    }
    label{
      font-family: var(--font-book);
      font-size: var(--font-size-00);
      font-weight: var(--font-weight-300);
    }
  }
  @media(min-width: $screen-lg) {
    .uw-input,
    .form-text {
      width: 100%;
    }
    .views-exposed-form {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
  .bef-toggle{
    display: inline-block;
    font-family: var(--font-systemmedium) !important;
    font-size: var(--font-size-000) !important;
    margin-bottom: var(--size-2) !important;
    text-decoration: underline;
    &:hover,
    &:focus{
      text-decoration: none;
    }
  }
}
