// @file
// Styles for Drupal messages.
@use '../../01-core' as *;

$message-font-family: var(--font-system) !default;
$message-background-color: var(--gray-1) !default;
$message-border-color: var(--gray-4) !default;
$message-error-background-color: var(--red-1) !default;
$message-error-border-color: var(--red-4) !default;
$message-status-background-color: var(--green-0) !default;
$message-status-border-color: var(--green-8) !default;
$message-warning-background-color: var(--yellow-1) !default;
$message-warning-border-color: var(--yellow-4) !default;

.message,
.messages{
  background-color: $message-background-color;
  border: var(--size-xs) solid $message-border-color;
  color: var(--uw-black);
  font-family: $message-font-family;
  margin: var(--size-3) auto;
  overflow: hidden;
  padding: var(--size-2) var(--size-3) var(--size-2) var(--size-4);
  position: relative;
  word-wrap: break-word;

  &::before {
    background-repeat: no-repeat;
    background-size: em(52px);
    bottom: -0.5em;
    content: '';
    display: block;
    height: em(52px);
    position: absolute;
    right: -0.5em;
    transform: rotate(-20deg);
    width: em(52px);
    @media print {
      display: none !important;
    }
  }

  a {
    color: var(--uw-black);
    font-weight: var(--font-weight-500);
    text-decoration: underline;
    &:hover{
      color: var(--uw-black);
      text-decoration: none;
    }
  }
}

.message__content,
.messages__content{
  > *:last-child {
    margin-bottom: 0;
  }
}
.message__list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.message--status,
.messages--status{
  background-color: $message-status-background-color;
  border-color: $message-status-border-color;

  &::before {
    @include svg-background(messages-status);
  }
}

.message--error,
.messages--error{
  background-color: $message-error-background-color;
  border-color: $message-error-border-color;

  &::before {
    @include svg-background(messages-error);
  }

  .message__item,
  .messages__item{
    em:first-child {
      font-style: normal;
      font-weight: gesso-font-weight(bold);
    }
  }
}

.message--warning,
.messages--warning{
  background-color: $message-warning-background-color;
  border-color: $message-warning-border-color;

  &::before {
    @include svg-background(messages-warning);
  }
}
