{% if type == 'error' %}
  {% set additional_attributes = {
    'class': ['message','message--error']
  } %}
{% elseif type == 'warning' %}
  {% set additional_attributes = {
    'class': ['message','message--warning']
  } %}
{% else %}
  {% set additional_attributes = {
    'class': ['message','message--status']
  } %}
{% endif %}

{% set messages_classes = [
  attributes ? additional_attributes.class
]|join(' ')|trim %}

<div {% if type == 'error' %} role="alert" {% else %} role="contentinfo" {% endif %} {% if heading %}aria-label="{{ heading }}"{% endif %} class="{{messages_classes}}" {{ attributes ? attributes|without('class') }}>
  {% if messages|length > 1 %}
    <h2 class="visually-hidden">{{ heading }}</h2>
    <ul class="message__list">
      {% for message in messages %}
        <li class="message__item">{{- message -}}</li>
      {% endfor %}
    </ul>
  {% else %}
    <div class="message__content">
      <h2 class="visually-hidden">{{ heading }}</h2>
      {{- messages|first -}}
    </div>
  {% endif %}
</div>
