<div class="uw-codepen">
  <div class="codepen" data-height="{{ height }}" data-theme-id="{{ theme_id }}" data-slug-hash="{{ slug_hash }}" data-default-tab="{{ default_tab }}" data-user="{{ username }}" data-pen-title="{{ pen_title|escape }}" data-preview="{{ preview }}">{{ 'See the Pen'|t }} <a href="https://codepen.io/{{ username }}/pen/{{ slug_hash }}/">{{ pen_title|escape }}</a> {{ 'by'|t }} {{ displayname|escape }} (<a href="https://codepen.io/{{ username }}/">@{{ username }}</a>) {{ 'on'|t }} <a href="https://codepen.io/">CodePen</a>.</div>
  <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
</div>
