@use '../../01-core' as *;

@each $faculty, $colour in $faculties_colours {

  // Wrapping the element with this class, <body>.
  .#{$faculty} {

    // If the UW branding group
    @if $faculty == org-default {
      .uw-exp-col{
        &:not(.contact){
          .uw-exp-col__button{
            &[data-type="expand-all"] {
              background: var(--gray-2);
              border-right: var(--size-xs) solid var(--gray-4);
              color: var(--gray-6);
            }

            &[data-type="collapse-all"] {
              background: var(--gray-2);
              color: var(--gray-6);
            }

            &:hover,
            &:focus {
              outline: none;

              &[data-type="expand-all"] {
                background: var(--gray-6);
                color: var(--gray-2);
              }

              &[data-type="collapse-all"] {
                background: var(--gray-6);
                color: var(--gray-2);
              }
            }
          }

          .uw-details{
            .details__summary {
              @include svg-background(mobile-arrow-down);
              background-color: var(--gray-2);

              h2,
              h3,
              h4,
              h5,
              h6 {
                color: var(--gray-6);
              }

              &:hover,
              &:focus {
                @include svg-background(mobile-arrow-down-w);
                background-color: var(--gray-6);
                h2,
                h3,
                h4,
                h5,
                h6 {
                  color: var(--uw-white);
                }
              }
            }

            &[open] {
              > .details__summary {
                @include svg-background(mobile-arrow-up);
                background-color: var(--gray-2);
                h2,
                h3,
                h4,
                h5,
                h6 {
                  color: var(--gray-6);
                }

                &:focus {
                  @include svg-background(mobile-arrow-up-w);
                  background-color: var(--gray-6);
                  h2,
                  h3,
                  h4,
                  h5,
                  h6 {
                    color: var(--uw-white);
                  }
                }

                &:hover {
                  @include svg-background(mobile-arrow-up-w);
                  background-color: var(--gray-6);
                  h2,
                  h3,
                  h4,
                  h5,
                  h6{
                    color: var(--uw-white);
                  }
                }
              }
            }
          }
        }
      }
    }
    // Else run the loop on the faculties.
    @else {
      .uw-exp-col {
        &:not(.contact) {
          .uw-exp-col__button {
            &[data-type="expand-all"] {
              background: var(--#{$colour}-primary);
              border-right: var(--size-xs) solid var(--uw-white);
              color: var(--uw-white);
            }

            &[data-type="collapse-all"] {
              background: var(--#{$colour}-primary);
              color: var(--uw-white);
            }

            &:hover,
            &:focus {
              outline: none;

              &[data-type="expand-all"] {
                background-color: var(--uw-white);
                color: var(--#{$colour}-primary);
              }

              &[data-type="collapse-all"] {
                background-color: var(--uw-white);
                color: var(--#{$colour}-primary);
              }
            }
          }

          .uw-details {
            .details__summary {
              background-color: var(--#{$colour}-primary);
              background-image: inherit;

              h2,
              h3,
              h4,
              h5,
              h6 {
                color: var(--uw-white);
              }

              &::after {
                @include svg-background-color(var(--uw-white), mobile-arrow-down);
              }

              &:hover,
              &:focus {
                background-color: var(--uw-white);

                &::after {
                  @include svg-background-color(var(--#{$colour}-primary), mobile-arrow-down);
                }

                h2,
                h3,
                h4,
                h5,
                h6 {
                  color: var(--#{$colour}-primary);
                }
              }
            }
          }

          .uw-details[open] {
            .details__summary {
              background-image: inherit;
            }

            > .details__summary {
              background-color: var(--#{$colour}-primary);

              h2,
              h3,
              h4,
              h5,
              h6 {
                color: var(--uw-white);
              }

              &::after {
                @include svg-background-color(var(--uw-white), mobile-arrow-up);
              }
            }

            &:focus {
              .details__summary {
                background-color: var(--uw-white);
                background-image: inherit;

                &::after {
                  @include svg-background-color(var(--#{$colour}-primary), mobile-arrow-down);
                }

                h2,
                h3,
                h4,
                h5,
                h6 {
                  color: var(--#{$colour}-primary);
                }
              }
            }

            &:focus-within {
              .details__summary {
                background-color: var(--uw-white);
                background-image: inherit;

                &::after {
                  @include svg-background-color(var(--#{$colour}-primary) ,mobile-arrow-up);
                }

                h2,
                h3,
                h4,
                h5,
                h6 {
                  color: var(--#{$colour}-primary);
                }
              }
            }

            &:hover {
              .details__summary {
                background-color: var(--uw-white);

                &::after {
                  @include svg-background-color(var(--#{$colour}-primary), mobile-arrow-up);
                }

                h2,
                h3,
                h4,
                h5,
                h6 {
                  color: var(--#{$colour}-primary);
                }
              }
            }
          }
        }
      }
    }
  }
}

.uw-exp-col__operations {
  list-style-type: none;
  margin: 0;
  padding: var(--size-2) 0 0;

  li {
    display: inline-block;
    margin: 0;
    padding: 0 0 0 var(--size-2);
  }
}

.uw-exp-col__group-info {
  .form-type-entity-autocomplete {
    display: inline-block;
    width: 90%;
  }
}

.uw-exp-col {
  /* Make sure expand/collapse content is visible in a sidebar. */
  .uw-node__sidebar & article {
    width: 100%;
  }

  &:not(.contact) {
    -webkit-font-smoothing: antialiased;

    .uw-exp-col__group-info,
    .uw-exp-col__heading-selector,
    .uw-exp-col__heading-text {
      display: inline-block;
    }

    .uw-exp-col__heading-selector {
      .form-select {
        display: inline-block;
        width: 82%;
      }
    }

    .uw-exp-col__group-info,
    .uw-exp-col__heading-text {
      .ui-dialog & {
        input[size="60"] {
          display: inline-block;
        }
      }
    }

    .uw-exp-col__table {
      td {
        vertical-align: top;
      }
    }

    .uw-exp-col__controls {
      border: var(--size-xs) solid var(--gray-2);
      display: grid;
      grid-template-columns: 50% 50%;
      margin-bottom: var(--size-2);

      .no-js & {
        display: none;
      }

      .no-js.js &,
      .js & {
        display: grid;
      }
    }

    .uw-exp-col__button {
      font-size: var(--font-size-1);
      font-weight: 400;
      margin: 0;
      max-width: inherit;

      .uw-exp-col--controls {
        text-align: center;
      }
    }

    .uw-details {
      border: inherit;
      font-family: inherit !important;
      margin-bottom: var(--size-2);
      margin-top: inherit;

      .details__summary {
        background-image: inherit;
        border: var(--size-xs) solid var(--gray-2);
        padding: 0;
        position: relative;
        text-shadow: inherit;
        transition: background-color 0.2s ease-in-out;

        &::after {
          content: '';
          display: block;
          height: var(--size-2);
          position: absolute;
          right: var(--size-2);
          top: calc(50% - 0.5rem);
          width: var(--size-2);
        }

        h2,
        h3,
        h4,
        h5,
        h6 {
          font-family: var(--font-condensedbook);
          // All headers currently set to same size
          font-size: var(--font-size-1);
          font-weight: var(--font-weight-400);
          letter-spacing: var(--font-letterspacing-2);
          line-height: var(--font-lineheight-4);
          margin: 0;
          padding: var(--size-2) 2.75rem var(--size-2) var(--size-2);
          text-transform: uppercase;
        }
      }
    }

    .details__content {
      background-color: var(--gray-1);
      padding: var(--size-2);

      .layout {
        padding: 0;
      }

      .block {
        margin-bottom: var(--size-2);
      }
    }

    .uw-exp-col__group-info {
      .form-type-entity-autocomplete {
        display: inline-block;
        width: 90%;
      }
    }
  }

  &.contact {
    .uw-exp-col__controls {
      border: var(--size-xs) solid var(--gray-2);
      display: grid;
      grid-template-columns: 50% 50%;
      margin-bottom: var(--size-2);
      gap: var(--size-05);

      .no-js & {
        display: none;
      }

      .no-js.js &,
      .js & {
        display: grid;
      }
    }
  }
}


/* stylelint-disable selector-max-id, declaration-no-important */
#drupal-modal {
  .uw-content-moderation {
    display: none;
  }
}

/* stylelint-enable selector-max-id, declaration-no-important */
.layout-builder {
  &__section [data-expand-collapse-group],
  &__section [data-expand-collapse-header] {
    margin-top: var(--size-5) !important;
    position: relative;

    &:first-of-type {
      &::before {
        background: #195c8f;
        padding: var(--size-05) var(--size-2);
        top: -0.5rem;
      }
    }
  }

  &.layout__region{
    outline: var(--size-sm) dashed  #195c8f;
  }
}
