// @file
// Styles for Site logo.
@use '../../01-core' as *;

.uw-site-logo {
  .uw-site-logo__link {
    @include svg-background(uwaterloo-logo);
    background-color: var(--uw-black);
    background-size: contain;
    color: var(--uw-white);
    display: block;
    height: var(--size-5);
    outline: var(--size-xs) solid transparent;
    text-align: center;
    text-indent: -999rem;
    width: 8rem;
    @media(min-width: $screen-xs) {
      height: 2.5rem;
      width: 10.6rem;
    }
    &:hover,
    &:focus {
      outline: 1px solid var(--uw-white);
    }
  }
}
