// @file
// Styles for PowerBI embeds.

@use '../../01-core' as *;

.uw-powerbi {
  iframe {
    width: 100%;
    min-width: 100%;
    min-height: 300px;

    @media(min-width: $screen-md) {
      min-height: 400px;
    }

    @media(min-width: $screen-lg) {
      min-height: 541px;
    }

    @media(min-width: $screen-xl) {
      min-height: 740px;
    }

    // Set reduced height when in columns.
    // May want to make responsive later and/or adjust based on width settings.

    .layout--uw-2-col &,
    .layout--uw-inverted-l-right .uw-inverted-l--right-side &,
    .layout--uw-inverted-l-left .uw-inverted-l--left-side &
    {
      min-height: 400px;
    }

    .layout--uw-3-col & {
      min-height: 300px;
    }

    .layout--uw-4-col &,
    .layout--uw-inverted-l-right .uw-inverted-l--left-side &,
    .layout--uw-inverted-l-left .uw-inverted-l--right-side &
    {
      min-height: 200px;
    }
  }
}
