@use '../../01-core' as *;

.uw-twitter {
  &__wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  &__view-on-source {
    padding: var(--size-2) 0;
    text-align: center;
  }
}
