@use '../../../01-core' as *;

.layout--uw-inverted-l-left {
  display: grid;
  gap: var(--grid-gap);
  &.even-split {
    @media(min-width: $screen-lg) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }
  }

  &.larger-left {
    @media(min-width: $screen-lg) {
      grid-template-columns: minmax(0, 2fr) minmax(0, 1fr);
    }
  }

  &.larger-right {
    @media(min-width: $screen-lg) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    }
  }

  .uw-inverted-l--left-side {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .uw-inverted-l--right-side {
    display: grid;
    gap: var(--grid-gap);
    grid-column: 1 / 2;
    grid-template-columns: 100%;

    @media(min-width: $screen-md) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    @media(min-width: $screen-lg) {
      grid-column: 2 / 3;
    }
  }

  .layout__region {

    &--second {
      @media(min-width: $screen-md) {
        grid-column: 1 / 2;
      }
    }

    &--third {
      grid-column: 1 / 2;

      @media(min-width: $screen-md) {
        grid-column: 2 / 3;
      }
    }

    &--fourth {
      grid-column: 1 / 2;

      @media(min-width: $screen-md) {
        grid-column: 1 / 3;
      }
    }
  }
}
