@use '../../01-core' as *;

// @file
// Styles for Block.

.block {
  margin-bottom: var(--grid-gap);
  .in-layout-builder &{
    outline: var(--size-xs) dashed var(--gray-4) !important;
  }
  .path-dashboard &,
  &.block-page-title-block,
  &.block-local-tasks-block {
    margin-bottom: 0;
  }
  // On nodes, move block title to top of block, while preserving spacing underneath.
  // Needs to be done using positioning because negative margin here pushes sections up.
  .uw-main & > {
    h2:first-child,
    .uw-admin-label + h2 {
      position: relative;
      bottom: 0.25em; /* Using ems so it adjusts to font size. */
      margin-bottom: calc(var(--size-1) - 0.25em);
      padding-top: 0;
    }
  }
  &:last-of-type {
    margin-bottom: 0;
  }
  // On nodes, move an initial header in copy text to top of block, while preserving spacing underneath, unless there was a block title.
  // Using negative margin here doesn't seem to cause problems here so not refactoring in case it introduces issues.
  .uw-main & .uw-admin-label + .contextual + .uw-copy-text,
  .uw-main & .uw-copy-text:first-child {
    .uw-copy-text__wrapper > :where(h2, h3, h4, h5, h6):first-child {
      margin-top: -0.25em; /* Using ems so it adjusts to font size. */
      padding-top: 0;
    }
  }
}


// disable margin for layout builder blocks
.block--provider-layout-builder {
  margin-bottom: 0;
}
