{% set classes = [
  'block',
  modifier ? modifier:  '',
  attributes ? attributes.class
]|join(' ')|trim %}

{% set title_classes = [
  'block__title',
  title_attributes ? title_attributes.class
]|join(' ')|trim %}

{% set content_classes = [
  'block__content',
  content_attributes ? content_attributes.class
]|join(' ')|trim %}

{% if block_wrapper %}
<div class="{{ classes }}" {{ attributes ? attributes|without('class','id') }}>
{% endif %}

  {% if constrain %}
  <div class="{{ constrain }}">
  {% endif %}

  {{ title_prefix }}
  {% if label %}
    <{{ label_element ?: 'h2' }} class="{{ title_classes }}" {{ title_attributes ? title_attributes|without('class') }}>{{ label }}</{{ label_element ?: 'h2' }}>
  {% endif %}
  {{ title_suffix }}

  {% if content_wrapper %}
  <div class="{{ content_classes }}" {{ content_attributes ? content_attributes|without('class') }}>
  {% endif %}

  {% block content %}
  {{ content }}
  {% endblock %}

  {% if content_wrapper %}
    </div>
  {% endif %}

  {% if constrain %}
  </div>
{% endif %}

{% if block_wrapper %}
</div>
{% endif %}
