@use '../../01-core' as *;

.vertical-timeline {
  font-family: var(--font-secondary);
  font-size: var(--font-size-00);
  font-weight: 200;
  list-style: none;
  /* 2 padding-top to allow pulling the line up above the first entry */
  padding: 0;
  padding-top: var(--size-6) !important;
  position: relative;
  z-index: var(--layer-background);

  b,
  strong {
    font-family: var(--font-book);
    font-weight: 500;
  }

  @container column (min-width: #{$screen-sm}) {
    margin-left: var(--size-4);
  }

  @container column (min-width: #{$screen-md}) {
    margin: 0;
  }
  p{
    margin-top: var(--size-1);
  }
  p,
  ul,
  ol,
  {
    font-family: var(--font-secondary);
    font-size: var(--font-size-00);
  }

  li {
    margin: 0;
    padding: 0;
  }

  ol {
    display: inline-block;
    list-style: none;
    margin: 0;
    overflow: visible;
    padding: 0;
    vertical-align: top;
  }

  .timeline-year {
    background: var(--uw-black);
    color: var(--uw-white);
    display: inline-block;

    @container column (min-width: #{$screen-md}) {
      margin-left: inherit;
    }
    padding: var(--size-05) var(--size-1);
    position: relative;
    text-align: center;
    /* Fix the width so the line always lines up. */
    width: var(--size-605);
    z-index: var(--layer-wrapper);
  }

  .timeline-month {
    background: var(--gray-5);
    color: var(--uw-white);
    display: inline-block;

    @container column (min-width: #{$screen-md}) {
      margin-left: -0.23rem;
    }
    padding: var(--size-05) var(--size-1);
    position: relative;
    text-align: center;
    text-transform: uppercase;
    /* Fix the width so the line always lines up. */
    width: var(--size-605);
    z-index: var(--layer-wrapper);
  }

  .timeline-info {
    border: var(--size-xs) solid var(--uw-white);
    box-shadow: var(--size-sm) var(--size-sm) 0 var(--gray-2);
    margin-bottom: var(--size-4);
    padding: var(--size-sm) var(--size-2) var(--size-4);
    position: relative;

    /* Affordance for links inside of links, which can happen because
     * they don't have to have an outer link, and can put links in the text,
     * but sometimes people have done both, which is not allowed by web standards, and causes issues.
     * This makes sure the clickable bits are at least visible.
     */
    a {
      text-decoration: underline;
    }
    /* Only put the timeline link styling on the outer link. */
    > a {
      display: block;
      /* Margin/padding tricks to make links cover the padding of the li */
      margin: -1rem -1rem -2rem;
      padding: var(--size-2) var(--size-2) var(--size-2);
      /* Undo the link underline for the "real" link. */
      text-decoration: none;

      &:hover,
      &:focus{
        background: var(--gray-2);
      }

      &::after {
        /* Modern clearfix from https://css-tricks.com/snippets/css/clear-fix/ */
        clear: both;
        content: '';
        display: table;
      }
    }

    &::before {
      /* Trick CSS to add the circle. */
      background: var(--gray-1);
      border: 1px solid var(--gray-4);
      border-radius: 50%;
      content: '';
      display: inline-block;
      height: var(--size-105);
      left: -0.5rem;

      @container column (min-width: #{$screen-md}) {
        left: -1.45rem;
      }
      position: absolute;
      top: var(--size-05);
      width: var(--size-105);
    }

    &::after {
      /* Modern clearfix from https://css-tricks.com/snippets/css/clear-fix/ */
      clear: both;
      content: '';
      display: table;
    }

    &__withlink {
      &:hover {
        &::before {
          background: var(--gray-3);
          border: var(--size-xs) solid var(--gray-4);
        }
      }
    }
  }

  .timeline-photo {
    border: var(--size-xs) solid #dddddd;
    float: right;
    margin: 0 0 0.7rem 0.7rem;
  }

  &.vertical-year,
  &.vertical-month {
    overflow: visible;
  }

  &.vertical-year,
  &.vertical-month ol {
    /* -2 margin-top + 2 padding-top to pull the line up above the first entry */
    margin-top: -2rem;
    padding-top: var(--size-4);
    width: 100%;

    @container column (min-width: #{$screen-md}) {
      width: calc(100% - 4rem);
    }
  }

  &.vertical-year ol,
  &.vertical-month ol ol {
    border-left: var(--size-xs) solid var(--gray-4);
    /* -2 margin-top + 2 padding-top to pull the line up above the first entry */
    margin: 0;
    width: 100%;

    @container column (min-width: #{$screen-md}) {
      margin: -1rem 0 0 var(--size-4);
      padding: var(--size-2) var(--size-2) 0;
      width: calc(100% - 8rem);
    }
  }
}

.timeline {
  &-headline {
    font-size: var(--font-size-0);
    line-height: 1.25;
  }

  &-year,
  &-month {
    font-family: var(--font-systemmedium);
    font-size: var(--font-size-00);
  }
}
