.block-uw-cbl-image {
  .uw-image {
    display: flex;
    flex-flow: column;
    width: 100%;
    img {
      display: block;
      max-width: 100%;
    }
    &__figure {
      display: table;
      min-width: 9rem;
    }
    &__caption {
      caption-side: bottom;
      display: table-caption;
    }
    &__sized-image {
      &--center {
        align-self: center;
        img {
          margin: 0 auto;
        }
      }
      &--left {
        align-self: flex-start;
      }
      &--right {
        align-self: flex-end;
        img {
          margin: 0 0 0 auto;
        }
      }
    }
    &__full-width {
      &.uw-image__figure{
        width: 100%;
      }
    }
  }
}
