{% set image_class = ['uw-image__figure'] %}
{% if image.type == 'full' %}
  {% set image_class = image_class | merge (['uw-image__full-width']) %}
{% else %}
  {% if image.sized_type %}
    {% set image_class = image_class | merge (
     ['uw-image__sized-image',
      'uw-image__sized-image--' ~ image.alignment,
      'uw-image__sized-image--' ~ image.sized_type,
     ]
    )%}
{% else %}
 {% set image_class = image_class | merge (
   ['uw-image__sized-image',
    'uw-image__sized-image--' ~ image.alignment,
   ]
 ) %}
{% endif %}
{% endif %}
<div class="uw-image">
  <figure {{ attributes.addClass(image_class) }}>
    {% if image.type == 'full' %}
      {% include '@components/responsive-image/responsive-image.twig' with {
        'sources': image.image.sources,
        'img_element': image.image.img_element['#uri'],
        'alt': image.alt,
      } %}
    {% else %}
      <img src="{{ file_url(image.image.uri) }}" width="{{ image.image.width }}" height="{{ image.image.height }}" alt="{{ image.alt }}" />
    {% endif %}
    {% if image.caption %}
      {% if image.caption_format == 'underneath_photo' %}
        <figcaption class="uw-image__caption" {% if image.image.width %} style="width:{{ image.image.width }}px;"{% endif %}>
          {% include '@components/caption/caption.twig' with {
            'caption': image.caption
          } %}
      </figcaption>
      {% endif %}
    {% endif %}
  </figure>
</div>
