<h2>Full Image</h2>
{% include '@components/image/_image.twig' with {
  image: full
} %}

<h2>{{ 'Sized Image (Height)'|t }}</h2>
{% include '@components/image/_image.twig' with {
  image: height
} %}

<h2>{{ 'Sized Image (Width)'|t }}</h2>
{% include '@components/image/_image.twig' with {
  image: width
} %}
