@use '../../01-core' as *;

main #kuali-catalog .__KUALI_THEMABLE__ {
  width: 100%;
  padding: 0;
  font-family: var(--font-primary) !important; //Kuali makes their font definition !important, so we need !important to override.
  font-size: var(--font-size-0);
  h3[class^="style__addendaHeader"] {
    font-weight: normal;
  }
  a,
  a * {
    @include link(
      var(--uw-black),
      var(--uw-black)
    );
  }
  .md-floating-label--floating {
    font-size: 1rem;
  }
  .nestedNavItem {
    color: var(--uw-black);
    text-decoration: underline;
  }
  div[class^="style__autocomplete"] [role="listbox"] {
    max-height: none;
    font-family: var(--font-condensedbook);
  }
  div[class^="style__breadcrumbs"] {
    font-size: var(--font-size-00);
  }
  #Select\ Catalog-menu {
    font-family: var(--font-condensedbook);
  }
}
