@use '../../01-core' as *;

.pl-c-pattern__extra-toggle,
.pl-js-pattern-extra-toggle{
  border: var(--size-xs) solid var(--gray-4) !important;
  border-width: var(--size-xs) var(--size-xs) 0 var(--size-xs);
  box-shadow: none !important;
  font-size: inherit !important;
  &:hover{
    border: var(--size-xs) solid var(--gray-6) !important;
  }
}
.pl-c-code-copy-btn,
.pl-js-code-copy-btn{
  width: inherit;
  max-width: var(--size-8);
}
