// Text Balancer
.balance-text {
  visibility: hidden;
}
@media (scripting: none) {
  .balance-text {
    visibility: visible;
  }
}
.no-js {
  .balance-text {
    visibility: visible !important;
  }
}
