<details class="uw-details {{ details_classes }}" {% if details.is_open or is_open %} open{% endif %}>
  <summary class="details__summary">
    {% block details_summary %}

      {{ details_summary }}

    {% endblock %}
  </summary>
  <div class="details__content">
    {% block details_content %}

      {{ details_content }}

    {% endblock %}
  </div>
</details>
