@use '../../../01-core' as *;

.social-media-list {
  align-items: center;
  display: inline-flex;
  gap: var(--size-075);
  justify-content: center;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
  @media(min-width: $screen-xs) {
    margin: 0;
    max-width: inherit;
  }
  @media(min-width: $screen-md) {
    padding: var(--size-2) 0 0 0;
    justify-content: flex-end;
  }
  @media(min-width: $screen-lg) {
    justify-content: center;
  }
  li {
    margin: 0;
    padding: 0;
  }
}
