<div class="uw-social-media">
  <ul class="social-media-list {{ social_media_menu_class }}">
    {% for item in social_media.menu_tree %}
      <li class="social-media-list-item">
        {% include '@components/icon/icon--button/icon--button.twig' with {
          'url': item.url,
          "text": item.text,
          "name": item.text | lower,
          "is_hidden": true,
          "social_media_placement": social_media_placement,
          "modifier_classes": "icon--button icon--social",
        } %}
      </li>
    {% endfor %}
  </ul>
</div>
