// @file
// Styles for the mobile menu buttons.

@use '../../01-core' as *;

.uw-navigation-button{
  @include focus();
  background-color: transparent;
  border-radius: inherit;
  color: var(--gray-6);
  cursor: pointer;
  display: block;
  @media(min-width: $screen-md) {
    display: none;
  }
  font-family: var(--font-book);
  font-size: var(--font-size-00000);
  font-weight: var(--font-weight-400);
  height: 2.98125rem;
  letter-spacing: 0;
  margin: inherit;
  margin-bottom: 0;
  max-width: inherit;
  padding: 0;
  padding-top: var(--size-2);
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: inherit;
  white-space: nowrap;
  width: 100%;
  &:hover,
  &:focus {
    border: 0;
    outline: none !important;
  }
  &:active {
    outline: none !important;
  }
  &[disabled] {
    cursor: default;
    pointer-events: none;
  }
  &[aria-expanded='true'] > .uw-navigation-button__lines{
    background-color: transparent;
    transition: background-color, opacity 0s;
    width: var(--size-3);
  }
  > .uw-navigation-button__lines {
    background-color: var(--gray-5);
    display: block;
    font-size: 0;
    height: var(--size-sm);
    left: 50%;
    margin-left: -0.75rem;
    position: absolute;
    top: 28%;
    transition: background-color 0.3s;
    user-select: none;
    width: var(--size-3);
    &::before,
    &::after{
      background: var(--gray-5);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      transition: transform 0.3s;
      width: 100%;
    }
    &::before{
      transform: translateY(-250%);
    }
    &::after{
      transform: translateY(250%);
    }
  }
  &[aria-expanded='true'] > .uw-navigation-button__lines::before{
    transform: translateY(0) rotate(45deg);
  }
  &[aria-expanded='true'] > .uw-navigation-button__lines::after{
    transform: translateY(0) rotate(-45deg);
  }
}
