@use '../../01-core' as *;

.uw-highlighted {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
  width: 100%;
  // Puts the content at z-index 3
  z-index: var(--layer-content);
  &__content {
    @include uw-contained-width(var(--layout-max-width-narrow));

    @media(min-width: $screen-xl) {
      // Reset the width so we use all the width when we have room to.
      @include uw-contained-width(var(--layout-max-width));
    }
  }
}
