@use '../../01-core' as *;

.uw-blockquote {
  &__wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: var(--size-4) 0;
    text-align: center;
  }

  &__text {
    display: inline-block;
    p{
      font-size: var(--font-size-4);
    }
    max-width: 640px;
    padding: 0 var(--size-5);
    position: relative;
    text-align: left;

    &::before {
      content: "\201C";
      font-size: var(--font-size-14);
      left: 0;
      line-height: 5.2rem;
      position: absolute;
      top: -10px;
    }

    &::after {
      bottom: 5px;
      content: "\201D";
      font-size: var(--font-size-14);
      line-height: 0;
      position: absolute;
      right: 0;
    }
  }

  &__attribution {
    display: block;
    text-indent: -0.75rem;
    padding-left: 1.75rem;
    &--wrapper {
      display: inline-block;
      font-size: var(--font-size-0);
      max-width: 640px;
      padding: 0 var(--size-2);
      position: relative;
      text-align: left;
    }

    cite {
      font-family: var(--font-condensedbook);
      font-size: var(--font-size-1);
      font-style: normal;
      font-weight: normal;
      text-align: left;
      text-transform: uppercase;
      > :first-child::before{
        content: "\2014";
        display: inline-block;
        padding-right: var(--size-1);
      }
    }
  }
}
