<blockquote class="uw-blockquote">
  <div class="uw-blockquote__wrapper">
    <div class="uw-blockquote__text">
      {{ blockquote.text }}
    </div>
    {% if blockquote.attribution %}
    <footer class="uw-blockquote__attribution">
      <div class="uw-blockquote__attribution--wrapper">
        <cite>
          {{ blockquote.attribution }}
        </cite>
      </div>
    </footer>
    {% endif %}
  </div>
</blockquote>
