// @file
// Styles for contacts..

@use '../../01-core' as *;

$details-background-color: var(--gray-2) !default;
.uw-contact {
  .uw-details {
    background-color: inherit;
    border: 0;
    border-radius: inherit;
    box-shadow: inherit;
    margin: 0;
    transition: inherit;
    width: 100%;
    &:hover {
      box-shadow: inherit;
      .details__summary{
        background-color: $details-background-color;
      }
    }
    &:focus-within {
      .details__summary{
        background-color: $details-background-color;
      }
      box-shadow: inherit;
    }
    &:first-child{
      margin-top: 0;
    }
    .details__summary{
      background-color: var(--uw-white);
      border-bottom: var(--size-xs) solid  var(--gray-3);
      padding-right: var(--size-7);
      text-transform: inherit;
      white-space: normal;
    }
    .details__content {
      background: var(--gray-1);
    }
    &[open] > .details__summary {
      background-color: $details-background-color;
      color: var(--uw-black);
    }
  }
  &__no-values {
    padding: var(--size-2);
    border-bottom: var(--size-xs) solid  var(--gray-3);
    background-color: var(--uw-white);
  }
  &__h2 {
    margin-bottom: var(--size-05);
    text-transform: inherit;

    a {
      font-weight: 400;
    }
  }
  &__position {
    font-family: var(--font-primary);
    font-size: var(--font-size-2);
    font-weight: 400;
    text-decoration: none;
    text-transform: inherit;
    width: 100%;
  }
  &__content {
    display: grid;
    font-size: var(--font-size-0);
    grid-template-columns: 100%;
    margin: 0 0  var(--size-3) 0;
  }
  .uw-contact__info {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
    .uw-contact__additional{
      padding-top: 1rem;
    }
  }
  &__with_image {
    .uw-contact__image{
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      @media(min-width: $screen-md) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
      }
      width: 100%;
    }
    .uw-contact__content{
      display: grid;
      font-size: var(--font-size-0);
      gap: var(--size-2);
      grid-template-columns: 100%;
      @media(min-width: $screen-md)  {
        grid-template-columns: var(--size-20) 1fr;
      }
    }
    .uw-contact__info{
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      @media(min-width: $screen-md) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }
    }
  }
}
// CSS for NODE VIEW
.node {
  // &--type-uw-ct-profile
  &--type-uw-ct-contact{
    @include uw-contained-width(var(--layout-max-width-narrow));
    @media(min-width: $screen-xl) {
      // Reset the width so we use all the width when we have room to.
      @include uw-contained-width(var(--layout-max-width));
    }
  }
}
