<div class="uw-contact {%  if contact.image %} uw-contact__with_image {% endif %}">
  {% if contact.has_values %}
    {%  embed "@components/details/details.twig" with {
      is_open: is_open
    } %}
      {% block details_summary %}
        {% if contact.header.title %}
          <h2 class="uw-contact__h2">
            <a href="{{ contact.url }}">
              {{ contact.header.title }}
            </a>
          </h2>
        {% endif %}
        {% if contact.header.position %}
          <span class="uw-contact__position">
            {{ contact.header.position }}
          </span>
        {% endif %}
      {% endblock %}
      {% block details_content %}
        <div class="uw-contact__content">
          {%  if contact.image %}
            <img src="{{ contact.image.small.url }}" alt="{{  contact.image.small.alt  }}" />
          {% endif %}
          <div class="uw-contact__info">
            {% if contact.footer.contact_info.email or contact.footer.contact_info.emails or contact.footer.contact_info.phone %}
              <div class="uw-contact__phone-email">

                {% if contact.footer.contact_info.email %}
                  <div class="uw-contact__email">
                    {% if contact.footer.contact_info.emails %}
                      Primary email:
                    {% endif %}
                    <a href="mailto:{{ contact.footer.contact_info.email }}">{{ contact.footer.contact_info.email }}</a>
                  </div>
                {% endif %}
                {% if contact.footer.contact_info.emails %}
                  {% for email in contact.footer.contact_info.emails %}
                    {% if email.email %}
                      <div class="uw-contact__emails">
                        {{ email.description }}: <a href="mailto:{{ email.email }}">{{ email.email }}</a>
                      </div>
                    {% endif %}
                  {% endfor %}
                {% endif %}
                {% if contact.footer.contact_info.phone %}
                  <div class="uw-contact__phone">
                    {{ contact.footer.contact_info.phone }}
                  </div>
                {% endif %}
              </div>
            {% endif %}

            {% if contact.footer.contact_info.location %}
              <div class="uw-contact__location">
                <span class="uw-label">{{ 'Location:'|t }}</span>
                {{ contact.footer.contact_info.location }}
              </div>
            {% endif %}

            {% if contact.footer.contact_info.contact %}
              <div class="uw-contact__contact">
                <span class="uw-label">{{ 'Contact for:'|t }}</span>
                {{ contact.footer.contact_info.contact }}
              </div>
            {% endif %}

            {% if contact.footer.contact_info.info %}
              <div class="uw-contact__additional">
                {{ contact.footer.contact_info.info }}
              </div>
            {% endif %}

            {% if contact.footer.links.profile %}
              <div class="uw-contact__profile">
                <span class="uw-label">{{ 'Link to profile:'|t }}</span>
                <a href="{{ contact.footer.links.profile.0.uri }}">
                  {% if contact.footer.links.profile.0.title %}
                    {{ contact.footer.links.profile.0.title }}
                  {% else %}
                    {{ contact.header.title }}
                  {% endif %}
                </a>
              </div>
            {% endif %}

            {% if contact.footer.links.webpage %}
              <div class="uw-contact__website">
                <span class="uw-label">{{ 'Link to personal webpage:'|t }}</span>
                <a href="{{ contact.footer.links.webpage.0.uri }}">
                  {% if contact.footer.links.webpage.0.title %}
                    {{ contact.footer.links.webpage.0.title }}
                  {% else %}
                    {{ contact.header.title }}
                  {% endif %}
                </a>
              </div>
            {% endif %}
          </div>
        </div>
      {% endblock %}
    {% endembed %}
  {% else %}
    <div class="uw-contact__no-values">
      {% if contact.header.title %}
        <h2 class="uw-contact__h2">
          <a href="{{ contact.url }}">
            {{ contact.header.title }}
          </a>
        </h2>
      {% endif %}
      {% if contact.header.position %}
        <span class="uw-contact__position">
          {{ contact.header.position }}
        </span>
      {% endif %}
    </div>
  {% endif %}
</div>
