{%
  set classes = [
  'view',
  'view-' ~ id|clean_class,
  'view-id-' ~ id,
  'view-display-id-' ~ display_id,
  dom_id ? 'js-view-dom-id-' ~ dom_id,
  exposed ? 'with-filters',
]
%}

{% if exposed or rss_feed or calendar or feed_icons %}
  {% include '@components/view/view-interact/view-interact.twig' %}
{% endif %}

{# If expand and collapse Tabs in the view
   set uuid to pass to view-content.
#}
{% if exp_col_all %}
  {% set uuid = random() %}
  <div class="view-tabs">
    {% include '@components/tabs/tabs--exp-col-all/tabs--exp-col-all.twig' with {
      uuid: uuid
    }%}
  </div>
{% endif %}

<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if title %}
    {{ title }}
  {% endif %}
  {{ title_suffix }}

  {% if header %}
    {% include '@components/view/view-header/view-header.twig' %}
  {% endif %}
  {% if exposed %}
    {% include '@components/view/view-filter/view-filter.twig' %}
  {% endif %}
  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}
{# Pass uuid down if we have it #}
  {% if rows %}
    {% include '@components/view/view-content/view-content.twig' with {
      uuid:uuid
    } %}
  {% else %}
    {% if show_empty == 'yes' %}
      {% include '@components/view/view-empty/view-empty.twig' with {
        empty: empty,
      } %}
    {% endif %}
  {% endif %}

  {% if pager %}
    <div class="view-pager">
      {{ pager }}
    </div>
  {% endif %}
  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}
  {% if more %}
    {{ more }}
  {% endif %}
  {% if footer %}
    {% include '@components/view/view-footer/view-footer.twig' %}
  {% endif %}

</div>
