<div class="uw-google-maps">
  <div class="uw-google-maps__message">{{ 'Enable JavaScript to view map.'|t }}</div>
  <iframe aria-label="Google Maps" src="{{ url }}" height="{{ height }}" allowfullscreen loading="lazy"></iframe>
</div>
