// @file
// Button styles

$button-border-radius: 0 !default;
$button-background-color: var(--gray-5) !default;
$button-background-color-active: var(--gray-5) !default;
$button-background-color-disabled: var(--gray-2) !default;
$button-background-color-hover: var(--gray-2) !default;
$button-background-image: none !default;
$button-text-color: var(--uw-white) !default;
$button-text-color-active: var(--uw-white) !default;
$button-text-color-disabled: var(--gray-4) !default;
$button-text-color-hover: var(--gray-6) !default;
$button-text-shadow: none !default;
$button-font-size: var(--font-size-1) !default;

@mixin button(
  $color-background: $button-background-color,
  $color-text: $button-text-color,
  $color-background-hover: $button-background-color-hover,
  $color-text-hover: $button-text-color-hover,
  $color-background-active: $button-background-color-active,
  $color-text-active: $button-text-color-active,
  $color-background-disabled: $button-background-color-disabled,
  $color-text-disabled: $button-text-color-disabled,
  $border-radius: $button-border-radius,
  $font-size: $button-font-size
) {
  background-color: $color-background;
  background-image: $button-background-image;
  border: 0;
  border-radius: $border-radius;
  box-shadow: none;
  color: $color-text;
  cursor: pointer;
  display: inline-block;
  font-family: var(--font-condensedbook);
  font-size: $button-font-size;
  font-weight: var(--font-weight-200);
  letter-spacing: var(--font-letterspacing-2);
  line-height: var(--font-lineheight-4);
  padding: var(--size-2) var(--size-4);
  text-align: center;
  text-decoration: none;
  text-shadow: $button-text-shadow;
  transition: background 200ms ease-in;
  vertical-align: top;
  white-space: normal;
  width: auto;
  &:visited {
    color: $color-text;
  }

  &:hover,
  &:focus {
    background-color: $color-background-hover;
    background-image: $button-background-image;
    border: 0;
    box-shadow: none !important;
    color: $color-text-hover;
    outline: none !important;
    text-decoration: none;
  }

  &:active {
    background-color: $color-background-active;
    background-image: $button-background-image;
    color: $color-text-active;
    outline: none !important;
  }

  &[disabled] {
    background-color: $color-background-disabled;
    background-image: $button-background-image;
    color: $color-text-disabled;
    cursor: default;
    pointer-events: none;
  }
}


@mixin button-reset(
  $color-background: inherit,
  $color-text: inherit,
  $color-background-hover: inherit,
  $color-text-hover: inherit,
  $color-background-active: inherit,
  $color-text-active: inherit,
  $color-background-disabled: inherit,
  $color-text-disabled: inherit,
  $border-radius: inherit,
  $font-size: inherit
) {
  background-color: $color-background;
  background-image: $button-background-image;
  border: 0;
  border-radius: $border-radius;
  box-shadow: none;
  color: $color-text;
  cursor: pointer;
  display: inherit;
  font-family: inherit;
  font-size: $font-size;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  max-width: inherit;
  padding: 0;
  text-align: inherit;
  text-decoration: inherit;
  text-shadow: inherit;
  text-transform: inherit;
  transition: inherit;
  vertical-align: inherit;
  white-space: inherit;
  width: inherit;
  &:visited {
    color: $color-text;
  }

  &:hover,
  &:focus {
    background-color: $color-background-hover;
    background-image: $button-background-image;
    border: 0;
    box-shadow: none !important;
    color: $color-text-hover;
    outline: none !important;
    text-decoration: none;
  }

  &:active {
    background-color: $color-background-active;
    background-image: $button-background-image;
    color: $color-text-active;
    outline: none !important;
  }

  &[disabled] {
    background-color: $color-background-disabled;
    background-image: $button-background-image;
    color: $color-text-disabled;
    cursor: default;
    pointer-events: none;
  }
}
%button--standard {
  border: 1px solid var(--uw-black) !important;
  background: var(--uw-white) !important;
  color: var(--uw-black) !important;
  padding: var(--size-1) var(--size-2);
  width: auto;
  &:hover,
  &:focus {
    border: 1px solid transparent !important;
    background: var(--gray-2) !important;
    color: var(--uw-black) !important;
  }
  &:active{
    border: 1px solid  var(--uw-black) !important;
  }
}


%button--highlight {
  border: 1px solid var(--uw-black) !important;
  color: var(--uw-white) !important;
  background: var(--uw-black) !important;
  padding: var(--size-1) var(--size-2);
  width: auto;
  &:hover,
  &:focus {
    border: 1px solid transparent !important;
    background: var(--gray-2) !important;
    color: var(--uw-black) !important;
  }
  &:active{
    border: 1px solid  var(--uw-black) !important;
  }
}
