// @file
// Focus mixin

@mixin focus($color: var(--uw-black), $width: var(--size-sm), $offset: var(--size-sm)) {
  outline: $width solid transparent;
  outline-offset: $offset;
  &:focus {
    outline-color: $color;
  }
}
