// @file
// Typography mixins
// Text wrapping for headlines.
@mixin uw-headlines() {
  text-wrap: balance;
  visibility: visible;
}

@mixin heading-base {
  // Make pretty text wrap.
  @include uw-headlines();
  color: inherit;
  clear: both;
  font-family: var(--font-condensedbook);
  font-weight: var(--font-weight-400);
  hyphens: none;
  line-height: var(--font-lineheight-4);
  margin: 0 0 var(--size-1);
  text-rendering: optimizeLegibility;
  @media print {
    orphans: 3;
    page-break-after: avoid;
    widows: 3;
    &::after {
      display: inline-block;
    }
  }

  // Add top margin when headers are preceded by other elements (p, ul, etc.)
  // (excluding the uw-admin-label that identifies the blocks in layout builder)
  *:not(.uw-admin-label) + & {
    margin-top: var(--size-2);
  }
}

@mixin heading-1 {
  @include heading-base;
  line-height: var(--font-lineheight-1);
  font-size: var(--font-size-8);
  &.card__title{
    margin: 0;
  }
}

@mixin heading-2 {
  @include heading-base;
  font-size: var(--font-size-5);
}

@mixin heading-3 {
  @include heading-base;
  font-size: var(--font-size-3);
}

@mixin heading-4 {
  @include heading-base;
  font-size: var(--font-size-2);
}

@mixin heading-5 {
  @include heading-base;
  font-size: var(--font-size-1);
}

@mixin heading-6 {
  @include heading-base;
  font-size: var(--font-size-0);
}
