// @file
// SVG background image Mixin
@mixin svg-background($image-name, $image-location: '../images/') {
  background-image: url($image-location + $image-name + '.svg'), linear-gradient(transparent, transparent);
  background-repeat: no-repeat;
}

@mixin svg-background-color($image-color, $image-name, $image-location: '../images/') {
  background-color: $image-color;
  mask: url($image-location + $image-name + '.svg') no-repeat;
  mask-size: contain;
}
