$test-color-1: var(--teal-3);
$test-color-2: var(--pink-3);
$test-color-3: var(--blue-3);
$test-color-4: var(--violet-3);
$test-color-5: var(--indigo-3);
$test-color-6: var(--red-3);
$test-color-7: var(--red-8);
$test-color-8: var(--orange-8);
$test-color-9: var(--orange-5);
$test-color-10: var(--yellow-2);
$test-color-11: var(--green-2);
$test-color-12: var(--green-5);

@mixin uw-no-breakout {
  overflow-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  word-wrap: break-word;
}

@mixin uw-contained-width($value:var(--layout-max-width)) {
  margin-left: auto;
  margin-right: auto;
  max-width: $value;
}

@mixin uw-full-width {
  max-width: 100%;
  padding: 0;
  width: 100%;
}

@mixin uw-full-width-padding {
  max-width: 100%;
  padding-left: var(--size-2);
  padding-right: var(--size-2);
  width: 100%;
}

@mixin uw-full-width-margin {
  :not(.uw-exp-col) & {
    margin-left: calc(-1 * var(--size-2));
    margin-right: calc(-1 * var(--size-2));
    max-width: calc(2 * var(--size-2) + 100%);
  }
  .uw-exp-col & {
    @include uw-full-width-reset;
    margin-left: 0;
    margin-right: 0;
  }
}

@mixin uw-full-width-reset {
  left: inherit;
  margin-left: -1rem;
  margin-right: -2rem;
  max-width: inherit;
  padding: inherit;
  position: relative;
  right: inherit;
  width: inherit;
}

@mixin uw-contained-width-reset() {
  margin-left: inherit;
  margin-right: inherit;
  max-width: inherit;
  padding: inherit;
  @media(min-width: 75rem) {
    padding-left: inherit;
    padding-right: inherit;
  }
}

// Flexbox display
@mixin flexbox {
  display: flex;
}

// Inline flex display
@mixin inline-flex {
  display: inline-flex;
}

// The 'flex' shorthand
// - applies to: flex items
// <positive-number>, initial, auto, or none
@mixin flex($fg: 1, $fs: 0, $fb: auto) {
  flex: $fg $fs $fb;
}

// Flex Flow Direction
// - applies to: flex containers
// row (default) | row-reverse | column | column-reverse
@mixin flex-direction($direction: row) {
  flex-direction: $direction;
}

// Flex Line Wrapping
// - applies to: flex containers
// nowrap | wrap | wrap-reverse
@mixin flex-wrap($value: nowrap) {
  flex-wrap: $value;
}

// Flex Direction and Wrap
// - applies to: flex containers
// <flex-direction> || <flex-wrap>
@mixin flex-flow($values: (row nowrap)) {
  flex-flow: $values;
}

// Display Order
// - applies to: flex items
// <integer>
@mixin order($int: 0) {
  order: $int;
}

// Flex grow factor
// - applies to: flex items
// <number>
@mixin flex-grow($int: 1) {
  flex-grow: $int;
}

// Flex shrink
// - applies to: flex item shrink factor
// <number>
@mixin flex-shrink($int: 0) {
  flex-shrink: $int;
}

// Flex basis
// - the initial main size of the flex item
// - applies to: flex itemsnitial main size of the flex item
// <width>
@mixin flex-basis($value: auto) {
  flex-basis: $value;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($value: flex-start) {
  justify-content: $value;
}

// Packing Flex Lines
// - applies to: multi-line flex containers
// flex-start | flex-end | center | space-between | space-around | stretch
@mixin align-content($value: stretch) {
  align-content: $value;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($value: stretch) {
  align-items: $value;
}

// Cross-axis Alignment
// - applies to: flex items
// auto | flex-start | flex-end | center | baseline | stretch
@mixin align-self($value: auto) {
  align-self: $value;
}

// Display of elements in gridded style.
@mixin uw-flex-grid($value: flexbox){
  @if $value == inline-flex {
    @include inline-flex();
    @include flex-flow(row wrap);
    gap: var(--grid-gap);
  }
  @else if $value == term{
    @include flexbox();
    @include flex-wrap(wrap);
    gap: var(--grid-gap);
  }
  @else if $value == card{
    @include flexbox();
    @include flex-direction(column);
  }
  @else if $value == masonry{
    @include flexbox();
    @include flex-flow(row wrap);
  }
  @else{
    @include flexbox();
    @include flex-flow(row wrap);
    gap: var(--grid-gap);
  }
}

// Display of grid item.
@mixin uw-flex-grid-item(){
  @include flex();
  @include align-items(flex-start);
  width: 100%;
  @media(min-width: 48.06rem) {
    flex: 1 1 auto;
    @include flex-grow(1);
    width: 45%;
    .uw-contained-width--narrow &,
    .layout--uw-inverted-l-right &,
    .layout--uw-inverted-l-left &,
    .layout--uw-2-col &,
    .layout--uw-3-col &,
    .layout--uw-4-col &{
      width: 100% !important;
    }
  }

  @media(min-width: 63.1875rem) {
    width: 30%;
    .uw-contained-width--wide &{
      width: 45% !important;
    }
  }
}

// Display of list item.
@mixin uw-flex-term-item(){
  align-self: flex-start;
  width: 100%;
  @media(min-width: 48.06rem) {
    flex: 1 1 auto;
    @include flex-grow(1);
    width: 45%;
  }
}
