<div class="card__contact-info">
  {% embed '@components/details/details.twig'  with {
    'is_open': TRUE,
  }%}
    {% block details_summary %}
      {{ 'Contact Information'|t }}
    {% endblock %}

    {% block details_content %}
      {% if contact_info.email %}
        <div class="card__contact-info--email">
        {% if contact_info.emails %}
          Primary email:
        {% endif %}
          <a href="mailto:{{ contact_info.email }}">{{ contact_info.email }}</a>
        </div>
      {% endif %}
      {% if contact_info.emails %}
        {% for email in contact_info.emails %}
          {% if email.email %}
            <div class="card__contact-info--emails">
              {{ email.description }}: <a href="mailto:{{ email.email }}">{{ email.email }}</a>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      {% if contact_info.phone %}
        <div class="card__contact-info--phone">
          {{ contact_info.phone }}
        </div>
      {% endif %}
      {% if contact_info.location %}
        <div class="card__contact-info--location">
          <span class="uw-label">{{ 'Location:'|t }}</span>
          {{ contact_info.location }}
        </div>
      {% endif %}
      {% if contact_info.contact %}
        <div class="card__contact-info--contact">
          <span class="uw-label">{{ 'Contact for:'|t }}</span>
          {{ contact_info.contact }}
        </div>
      {% endif %}
    {% endblock %}
  {% endembed %}
</div>
