<div class="card__date">
  {% for d in date %}
    {# Logic for teaser card Event dates as Agenda and not in multi lists #}
    {% if style == 'agenda' or style == 'uw-agenda' and lists == NULL and rows == NULL  %}
      {# Short version of Month and Day with no timezone. #}
      <div class ="uw-date uw-date__agenda-date-time">
        <div class="uw-date__agenda-date">
          {% include '@components/date/_date.twig' with {
            'date_format': 'agenda-date',
            'date': d.start_date,
            'timezone': false,
          } %}
        </div>
        {# Agenda item Start Time #}
        <div>
          <span class="uw-date__agenda-time">
          {% if d.all_day %}
            {{ d['translated']['all_day'] }}
          {% else %}
            {% include '@components/date/_date.twig' with {
              'date_format': 'agenda-time',
              'date': d.start_date,
              'translated': d['translated']['start_date'][date_format] ?? null,
              'timezone': false,
            } %}
            {# Agenda item end Time #}
          - {% include '@components/date/_date.twig' with {
              'date_format': 'agenda-time',
              'date': d.end_date,
              'translated': d['translated']['end_date'][date_format] ?? null,
              'timezone': false,
            } %}
          {% endif %}
          </span>
        </div>
      </div>
      {# If not use regular Event date, use defaults. #}
      {% else %}
      {% if date|length > 1 and loop.index0 == 0 %}
        <details class="uw-date-details">
        <summary role="button" aria-controls="edit-future-dates-collapsible" aria-expanded="false" aria-pressed="false" class="uw-date-details__summary">
      {% endif %}

      {% if modifier_classes != 'node--opportunity' %}
        <span class="uw-date">
      {% endif %}

      {# Logic for Event dates #}
      {% if d.start_date %}
        {% if d.same_day %}
          {% if d.all_day %}
            {% include '@components/date/_date.twig' with {
              'date_format': 'long',
              'date': d.start_date,
              'translated': d['translated']['start_date']['long'] ?? null,
              'timezone': d.timezone,
            } %} ({% if d['translated']['all_day'] %}{{ d['translated']['all_day'] }}{% else %}all day{% endif %})
          {% else %}
            {% include '@components/date/_date.twig' with {
              'date_format': 'long_with_time',
              'date': d.start_date,
              'translated': d['translated']['start_date']['long_with_time'] ?? null,
              'timezone': d.timezone,
            } %}
            -
            {% include '@components/date/_date.twig' with {
              'date_format': 'time_only',
              'date': d.end_date,
              'translated': d['translated']['end_date']['time_only'] ?? null,
              'timezone': d.timezone,
            } %}

            {% include '@components/date/_date.twig' with {
              'date_format': 'timezone',
              'date': d.start_date,
              'translated': d['translated']['start_date']['timezone'] ?? null,
              'timezone': d.timezone,
            } %}
          {% endif %}
        {# Multiple days Event #}
        {% else %}
          {% if d.all_day %}
            {% include '@components/date/_date.twig' with {
              'date_format': 'long',
              'date': d.start_date,
              'translated': d['translated']['start_date']['long'] ?? null,
              'timezone': d.timezone,
            } %}
            -
            {% include '@components/date/_date.twig' with {
              'date_format': 'long',
              'date': d.end_date,
              'translated': d['translated']['end_date']['long'] ?? null,
              'timezone': d.timezone,
            } %} ({% if d['translated']['all_day'] %}{{ d['translated']['all_day'] }}{% else %}all day{% endif %})
          {% else %}
            {% include '@components/date/_date.twig' with {
              'date_format': 'long_with_time',
              'date': d.start_date,
              'translated': d['translated']['start_date']['long_with_time'] ?? null,
              'timezone': d.timezone,
            } %}
            -
            {% include '@components/date/_date.twig' with {
              'date_format': 'long_with_time',
              'date': d.end_date,
              'translated': d['translated']['end_date']['long_with_time'] ?? null,
              'timezone': d.timezone,
            } %}

            {% include '@components/date/_date.twig' with {
              'date_format': 'timezone',
              'date': d.start_date,
              'translated': d['translated']['start_date']['timezone'] ?? null,
              'timezone': d.timezone,
            } %}
          {% endif %}
        {% endif %}
      {# If not Event date, use defaults. #}
      {% else %}
        {% include '@components/date/_date.twig' with {
          'date_format': date_format,
          'date': d.date,
          'translated': d['translated'][date_format] ?? null,
          'timezone': d.timezone,
        } %}
      {% endif %}

      {% if date|length > 1 and loop.index0 == 0 %}
        </summary>
      {% endif %}

      {% if date|length > 1 and loop.last %}
        </details>
      {% endif %}

      {% if modifier_classes != 'node--opportunity' %}
        </span>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>
