<div class="card__groups">
  {% embed '@components/details/details.twig' with {
    'is_open': TRUE,
  }%}
    {% block details_summary %}
      {{ 'Groups'|t }}
    {% endblock %}

    {% block details_content %}
      <div class="card__groups-list">
        {{ groups|map(g => g.title)|join(', ') }}
      </div>
    {% endblock %}
  {% endembed %}
</div>
