<style>

  {% for source in hero_image.sources|reverse %}
  @media only screen and {{ source.media | replace({'all and': ''}) }} {
    .card__featured-image {
      background-image: url("{{ source.srcset | replace({ ' 1x': '' }) }}");
    }
  }
  {% endfor %}
</style>

<div class="card__featured-image">
  {% if hero_image.alt %}
    <span role="img" aria-label="{{ hero_image.alt }}"> </span>
  {% endif %}
  {% if header %}
    {% include '@components/card/card-elements/_header.twig' with {
      'header': header,
      'show_title': 'yes',
    } %}
  {% endif %}
</div>
