<div class="card__image">

  {% if image.type == 'listing_image' %}
    {% if view_mode == 'teaser' or type == 'teaser' or image.block_type == 'multi_type_list' %}

      {% if data['#uw_index'] %}
        {% set uw_index = data['#uw_index'] %}
        {% set uw_row_count = data['#uw_row_count'] %}
      {% else %}
        {% if view_mode == 'teaser' %}
          {% set uw_index = elements['#uw_index'] %}
          {% set uw_row_count = elements['#uw_row_count'] %}
        {% else %}
          {% set uw_index = image.uw_index %}
          {% set uw_row_count = image.uw_row_count %}
        {% endif %}
      {% endif %}

      {% include '@components/card/card-elements/_listing-image.twig' with {
        'listing_image': image,
        'uw_index': uw_index,
        'uw_row_count': uw_row_count,
        'image_type': 'image',
        'block_type': image.block_type
      } %}
    {% else %}
      {% include '@components/card/card-elements/_listing-image.twig' with {
        'listing_image': image,
        'image_type': 'responsive'
      } %}
    {% endif %}
  {% endif %}

  {% if image.type == 'portrait' %}
    {% include "@components/responsive-image/responsive-image.twig" with {
      sources: image.sources,
      img_element: image.img_element,
      alt: image.alt
    }%}
  {% endif %}
</div>
