<div class="card__contact-links">
  {% embed '@components/details/details.twig'  with {
    'is_open': TRUE,
  }%}
    {% block details_summary %}
      {{ 'Links'|t }}
    {% endblock %}

    {% block details_content %}

      {% if links.profile %}
        {% include '@components/card/card-elements/_link.twig' with {
          'label': 'Link to profile'|t,
          'link_type': 'profile',
          'links': links.profile
        } %}
      {% endif %}

      {% if links.webpage %}
        {% include '@components/card/card-elements/_link.twig' with {
          'label': 'Link to personal webpage'|t,
          'link_type': 'personal-webpage',
          'links': links.webpage
        } %}
      {% endif %}

      {% if links.link_to_contact %}
        {% include '@components/card/card-elements/_link.twig' with {
          'label': 'Contact information'|t,
          'link_type': 'link-to-contact',
          'links': links.link_to_contact
        } %}
      {% endif %}

      {% if links.application %}
        {% include '@components/card/card-elements/_link.twig' with {
          'label': 'Link to application'|t,
          'link_type': 'application',
          'links': links.application
        } %}
      {% endif %}

      {% if links.additional_info %}
        {% include '@components/card/card-elements/_link.twig' with {
          'label': 'Link to additional information'|t,
          'link_type': 'additional-info',
          'links': links.additional_info
        } %}
      {% endif %}

      {% if links.contact %}
        {% include '@components/card/card-elements/_link.twig' with {
          'label': 'Contact for additional information'|t,
          'link_type': 'contact-for',
          'links': links.contact
        } %}
      {% endif %}

    {% endblock %}
  {% endembed %}
</div>
