<div class="card__link card__link--{{ link_type }}">
  {% include '@components/label/label.twig' with {
    'label': label
  } %}
  {% include '@components/links/links.twig' with {
    'links': links
  } %}
</div>
