{% if url %}
  <a href="{{ url }}" aria-label="{{ header.title }}">
{% endif %}

  {% if image_type == 'image' %}

    {% if block_type == 'multi_type_list' %}
      {% if (uw_index == 1 and uw_row_count == 1) or (uw_index % 4 == 0 and uw_index == uw_row_count) %}
        <img src="{{ image.medium.url }}" alt="{{ image.medium.alt }}" />
      {% else %}
        <img src="{{ image.small.url }}" alt="{{ image.small.alt }}" />
      {% endif %}
    {% else %}
      {% if uw_index == 1 or (uw_row_count is even and uw_index == uw_row_count) %}
        <img src="{{ image.medium.url }}" alt="{{ image.medium.alt }}" />
      {% else %}
        <img src="{{ image.small.url }}" alt="{{ image.small.alt }}" />
      {% endif %}
    {% endif %}
  {% endif %}

  {% if image_type == 'responsive' %}
    {% include "@components/responsive-image/responsive-image.twig" with {
      sources: listing_image.sources,
      img_element: listing_image.img_element,
      alt: listing_image.alt
    }%}
  {% endif %}
{% if url %}
  </a>
{% endif %}
