<div class="card__media{% if media.media.media_width %} layout {{ media.media.media_width }}{% endif %}">

  {% if media.type == 'banner' %}
    {% include '@components/banners/banners.twig' with {
      'banners': media.media,
      'media_flags': media_flags
    } only %}
  {% endif %}

  {% if media.type == 'image' %}
    {% include '@components/card/card-elements/_hero-image.twig' with {
      'hero_image': media.media,
      'header': header,
      'header_level': 1,
    } %}
  {% endif %}

  {% if media.type == 'remote_video' %}
    {% include '@components/remote-video/remote-video.twig' with {
      'remote_video': media.media,
      'media_flags': media_flags
    } %}
  {% endif %}
</div>
