<div class="card__opportunity-details">
  {% embed '@components/details/details.twig'  with {
    'is_open': TRUE,
  }%}
    {% block details_summary %}
      {{ 'Details'|t }}
    {% endblock %}

    {% block details_content %}

      {% if opportunity_details.posted_by %}
        {% include '@components/label/label.twig' with {
          'label': 'Posted by (department/office)'|t
        } %}
        {{ opportunity_details.posted_by }}
      {% endif %}

      {% if opportunity_details.number_of_positions %}
        {% include '@components/label/label.twig' with {
          'label': 'Number of positions'|t
        } %}
        {{ opportunity_details.number_of_positions }}
      {% endif %}

      {% if opportunity_details.reports_to %}
        {% include '@components/label/label.twig' with {
          'label': 'Reports to'|t
        } %}
        {{ opportunity_details.reports_to }}
      {% endif %}

    {% endblock %}

  {% endembed %}
</div>
