<div class="card__opportunity-dates">
  {% embed '@components/details/details.twig'  with {
    'is_open': TRUE,
  }%}
    {% block details_summary %}
      {{ 'Dates'|t }}
    {% endblock %}

    {% block details_content %}

      {% if dates.posted %}
        {% include '@components/label/label.twig' with {
          'label': 'Date posted'|t
        } %}
        {% include '@components/card/card-elements/_date.twig' with {
          'date_format': 'long',
          'date': dates.posted
        } %}
      {% endif %}

      {% if dates.deadline %}
        {% include '@components/label/label.twig' with {
          'label': 'Application deadline'|t
        } %}
        {% include '@components/card/card-elements/_date.twig' with {
          'date_format': 'long_with_time',
          'date': dates.deadline
        } %}
      {% endif %}

      {% if dates.start_date %}
        {% include '@components/label/label.twig' with {
          'label': 'Start date'|t
        } %}
        {% include '@components/card/card-elements/_date.twig' with {
          'date_format': 'long',
          'date': dates.start_date
        } %}
      {% endif %}

      {% if dates.end_date %}
        {% include '@components/label/label.twig' with {
          'label': 'End date'|t
        } %}
        {% include '@components/card/card-elements/_date.twig' with {
          'date_format': 'long',
          'date': dates.end_date
        } %}
      {% endif %}

    {% endblock %}
  {% endembed %}
</div>
