{% if project_details | length > 0 %}
  <div class="card__project-details">
    {% embed '@components/details/details.twig' with {
      'is_open': TRUE,
    }%}
      {% block details_summary %}
        Project details
      {% endblock %}

      {% block details_content %}
        <div class="card__project-details--status">
          {% include '@components/label/label.twig' with {
            'label': 'Status'|t
          } %}
          {% include "@components/tag-list/tag-list.twig" with {
            items: project_details.status
          } %}
        </div>

        {% if project_details.topics %}
          <div class="card__project-details--topics">
            {% include '@components/label/label.twig' with {
              'label': 'Topics'|t
            } %}
            {% include "@components/tag-list/tag-list.twig" with {
              items: project_details.topics
            } %}
          </div>
        {% endif %}
      {% endblock %}
    {% endembed %}
  </div>
{% endif %}
