{% if project_members | length > 0 %}
  <div class="card__project-members">
    {% embed '@components/details/details.twig' with {
      'is_open': TRUE,
    }%}
      {% block details_summary %}
        {{ 'Project members'|t }}
      {% endblock %}

      {% block details_content %}
        <div class="card__project-members--content">
          {% for member in project_members %}
            <div class="card__project-member">
              {% if member.link %}
              <a href="{{ member.link }}">
                {% endif %}

                {% if member.roles %}
                  {% set roles = '' %}
                  {% for role in member.roles %}
                    {% if loop.index0 > 0 %}
                      {% set roles = roles ~ ', ' %}
                    {% endif %}
                    {% set roles = roles ~ role.title %}
                  {% endfor %}
                  {{ member.name }} ({{ roles }})
                {% else %}
                  {{ member.name }}
                {% endif %}
                {% if member.link %}
              </a>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endblock %}
    {% endembed %}
  </div>
{% endif %}
