<div class="card__service-information">
  {% embed '@components/details/details.twig' with {
    'is_open': TRUE
  } %}
    {% block details_summary %}
      {{ 'Service Information'|t }}
    {% endblock %}

    {% block details_content %}

      {% if info.status %}
        {% include '@components/label/label.twig' with {
          'label': 'Status'|t
        } %}
        {{ info.status }}
      {% endif %}

      {% if info.categories %}
        {% include '@components/label/label.twig' with {
          'label': 'Categories'|t
        } %}
        {% include "@components/tag-list/tag-list.twig" with {
          items: info.categories
        } %}
      {% endif %}

    {% endblock %}
  {% endembed %}
</div>
