<div class="card__timeline">
  {% embed '@components/details/details.twig' with {
    'is_open': TRUE,
  }%}
    {% block details_summary %}
      {{ 'Project time line'|t }}
    {% endblock %}

    {% block details_content %}
      <div class="card__timeline--content">
        {% include '@components/date/_date.twig' with {
          'date_format': 'standard',
          'date': timeline.start_date,
        } %}
        to
        {% include '@components/date/_date.twig' with {
          'date_format': 'standard',
          'date': timeline.end_date,
        } %}
      </div>
    {% endblock %}
  {% endembed %}
</div>
