// @file
// Styles for an icon.
.uw-icon {
  align-items: center;
  display: inline-flex;
  height: var(--size-3);
  line-height: normal;
  width: var(--size-3);

  svg {
    height: var(--size-3);
    width: var(--size-3);
  }

  // Fixes delayed transitions in Chrome.
  * {
    transition: none;
  }
  .icon--social &{
    align-items: center;
    display: inline-flex;
    height: var(--size-3);
    line-height: normal;
    padding: 0;
    width: var(--size-3);
    svg {
      height: var(--size-3);
      width: var(--size-3);
    }
  }
}
