@font-face {
  font-family: 'BureauGrotCond Book';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Bureau_Grot-Condensed_Book.eot'), url('/fonts/Bureau_Grot-Condensed_Book.eot?#iefix') format('embedded-opentype'), url('/fonts/Bureau_Grot-Condensed_Book.woff2') format('woff2'), url('/fonts/Bureau_Grot-Condensed_Book.woff') format('woff'), url('/fonts/Bureau_Grot-Condensed_Book.ttf') format('truetype'), url('/fonts/Bureau_Grot-Condensed_Book.svg#Bureau_Grot-Condensed_Book') format('svg');
}

@font-face {
  font-family: 'BureauGrotWide';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Bureau_Grot-Wide_Light.eot'), url('/fonts/Bureau_Grot-Wide_Light.eot?#iefix') format('embedded-opentype'), url('/fonts/Bureau_Grot-Wide_Light.woff2') format('woff2'), url('/fonts/Bureau_Grot-Wide_Light.woff') format('woff'), url('/fonts/Bureau_Grot-Wide_Light.ttf') format('truetype'), url('/fonts/Bureau_Grot-Wide_Light.svg#Bureau_Grot-Wide_Light') format('svg');
}

@font-face {
  font-family: 'BureauGrot Book';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Bureau_Grot-Book.eot'), url('/fonts/Bureau_Grot-Book.eot?#iefix') format('embedded-opentype'), url('/fonts/Bureau_Grot-Book.woff2') format('woff2'), url('/fonts/Bureau_Grot-Book.woff') format('woff'), url('/fonts/Bureau_Grot-Book.ttf') format('truetype'), url('/fonts/Bureau_Grot-Book.svg#Bureau_Grot-Book') format('svg');
}

@font-face {
  font-family: 'BureauGrotCond';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/Bureau_Grot-Condensed_Bold.eot'), url('/fonts/Bureau_Grot-Condensed_Bold.eot?#iefix') format('embedded-opentype'), url('/fonts/Bureau_Grot-Condensed_Bold.woff2') format('woff2'), url('/fonts/Bureau_Grot-Condensed_Bold.woff') format('woff'), url('/fonts/Bureau_Grot-Condensed_Bold.ttf') format('truetype'), url('/fonts/Bureau_Grot-Condensed_Bold.svg#Bureau_Grot-Condensed_Bold') format('svg');
}

@font-face {
  font-family: 'BureauGrot';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/Bureau_Grot-Light.eot'), url('/fonts/Bureau_Grot-Light.eot?#iefix') format('embedded-opentype'), url('/fonts/Bureau_Grot-Light.woff2') format('woff2'), url('/fonts/Bureau_Grot-Light.woff') format('woff'), url('/fonts/Bureau_Grot-Light.ttf') format('truetype'), url('/fonts/Bureau_Grot-Light.svg#Bureau_Grot-Light') format('svg');
}

@font-face {
  font-family: 'BureauGrotWide Book';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Bureau_Grot-Wide_Book.eot'), url('/fonts/Bureau_Grot-Wide_Book.eot?#iefix') format('embedded-opentype'), url('/fonts/Bureau_Grot-Wide_Book.woff2') format('woff2'), url('/fonts/Bureau_Grot-Wide_Book.woff') format('woff'), url('/fonts/Bureau_Grot-Wide_Book.ttf') format('truetype'), url('/fonts/Bureau_Grot-Wide_Book.svg#Bureau_Grot-Wide_Book') format('svg');
}

/* Complete 1451 */

@font-face {
  font-family: "Typ1451-Regularalternate";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/lineto-typ1451-regularalternate.eot"), url("/fonts/lineto-typ1451-regularalternate.eot?#iefix") format("embedded-opentype"), url("/fonts/lineto-typ1451-regularalternate.woff2") format("woff2"), url("/fonts/lineto-typ1451-regularalternate.woff") format("woff");
}

@font-face {
  font-family: "Typ1451-Mediumalternate";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/lineto-typ1451-mediumalternate.eot"), url("/fonts/lineto-typ1451-mediumalternate.eot?#iefix") format("embedded-opentype"), url("/fonts/lineto-typ1451-mediumalternate.woff2") format("woff2"), url("/fonts/lineto-typ1451-mediumalternate.woff") format("woff");
}

@font-face {
  font-family: "Typ1451-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/lineto-typ1451-regular.eot"), url("/fonts/lineto-typ1451-regular.eot?#iefix") format("embedded-opentype"), url("/fonts/lineto-typ1451-regular.woff2") format("woff2"), url("/fonts/lineto-typ1451-regular.woff") format("woff");
}

@font-face {
  font-family: "Typ1451-Boldalternate";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/lineto-typ1451-boldalternate.eot"), url("/fonts/lineto-typ1451-boldalternate.eot?#iefix") format("embedded-opentype"), url("/fonts/lineto-typ1451-boldalternate.woff2") format("woff2"), url("/fonts/lineto-typ1451-boldalternate.woff") format("woff");
}

@font-face {
  font-family: "Typ1451-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/lineto-typ1451-medium.eot"), url("/fonts/lineto-typ1451-medium.eot?#iefix") format("embedded-opentype"), url("/fonts/lineto-typ1451-medium.woff2") format("woff2"), url("/fonts/lineto-typ1451-medium.woff") format("woff");
}

@font-face {
  font-family: "Typ1451-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/lineto-typ1451-bold.eot"), url("/fonts/lineto-typ1451-bold.eot?#iefix") format("embedded-opentype"), url("/fonts/lineto-typ1451-bold.woff2") format("woff2"), url("/fonts/lineto-typ1451-bold.woff") format("woff");
}

@font-face {
  font-family: "Typ1451-Light";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/lineto-typ1451-light.eot"), url("/fonts/lineto-typ1451-light.eot?#iefix") format("embedded-opentype"), url("/fonts/lineto-typ1451-light.woff2") format("woff2"), url("/fonts/lineto-typ1451-light.woff") format("woff");
}

@font-face {
  font-family: "Typ1451-Lightalternate";
  font-style: normal;
  font-weight: normal;
  src: url("/fonts/lineto-typ1451-lightalternate.eot"), url("/fonts/lineto-typ1451-lightalternate.eot?#iefix") format("embedded-opentype"), url("/fonts/lineto-typ1451-lightalternate.woff2") format("woff2"), url("/fonts/lineto-typ1451-lightalternate.woff") format("woff");
}
.pl-typography .gap{
  margin: var(--size-8) auto;
}
