@use '../../01-core' as *;

.uw-search-form {
  width: 100%;
}

.uw-search-form,
.publication-search-form {
  margin: 0 0 var(--size-2) 0;
  .catalog-search-form,
  .service-search-form,
  .uw-project-search-form,
  // Using id starts with because form is built differently.
  [id^="publication-search-form"] {
    max-width: inherit;
    display: grid;
    grid-template-columns: auto var(--size-6);
    padding: 0;
    position: relative;

    .form-item {
      .description {
        margin: var(--size-1) 0;
      }
    }

    .form-text {
      border: var(--size-xs) solid  var(--gray-3);
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
      box-shadow: inset 0 var(--size-xs) 3px var(--gray-3);
      box-sizing: border-box;
      cursor: pointer;
      font-family: var(--font-systemmedium);
      font-size: var(--font-size-0);
      letter-spacing: inherit;
      padding: 0.46667rem;
      max-width: inherit;
      touch-action: manipulation;
      width: 100%;
    }

    // The search button icon using the svg background
    // function the svg
    .button {
      &[aria-label="search"] {
        @include svg-background(search_2-white);
        background-color: var(--gray-5);
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 50%;
        border: var(--size-xs) solid var(--gray-3);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 3px;
        border-top-left-radius: 0;
        border-top-right-radius: 3px;
        height: 35.2969px;
        margin: 0;
        max-width: inherit;
        padding: 0;
        transition: background-color 200ms cubic-bezier(0.4, 0, 1, 1);
        vertical-align: top;
        white-space: normal;
        width: 35.2969px;

        &:hover,
        &:focus{
          @include svg-background(search_2);
          background-color: var(--uw-white);
          background-position: 50% 50%;
        }
      }
    }
  }
}
