<div class="uw-form-search">
  {% if pattern_lab %}
    <div class="uw-search-form">
      <form class="service-search-form" data-drupal-selector="service-search-form" action="/" method="post" id="service-search-form" accept-charset="UTF-8" data-once="form-updated" data-drupal-form-fields="edit-search-input,edit-submit" novalidate="novalidate">

        <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-search-input form-item-search-input form-no-label">

          <input data-drupal-selector="edit-search-input" data-msg-required="This field is required." data-msg-maxlength="This field has a maximum length of 128." type="text" id="edit-search-input" name="search_input" value="" size="60" maxlength="128" placeholder="This is the placeholder" class="form-text required" required="required" aria-required="true">

          <div id="edit-search-input--description" class="description">
            {{ 'This is the description'|t }}
          </div>

        </div>

        <input aria-label="search" data-drupal-selector="edit-submit" type="submit" id="edit-submit" name="op" value="" class="button js-form-submit form-submit">

        <input autocomplete="off" data-drupal-selector="form-1nob6jrzosccz2u34zi8dulxbqrrrkjdwfl9xbdjl2k" type="hidden" name="form_build_id" value="form-1NoB6jRzOsccZ2U34zI8duLxBqRRRKJdwFL9XBdJl2k">

        <input data-drupal-selector="edit-service-search-form-form-token" type="hidden" name="form_token" value="awRDW15N5DB2Q7OQYpPl5ZgsBLF60_3nl3F6o80wxyQ">

        <input data-drupal-selector="edit-service-search-form" type="hidden" name="form_id" value="service_search_form">

      </form>
    </div>
  {% else %}
    <div class="uw-search-form">
      {{ form_search }}
    </div>
  {% endif %}
</div>
