@use '../../../01-core' as *;

.view {
  // With Filters
  &.with-filters {
    .view-content {
      margin-top: var(--size-2);
      width: 100%;
      &--message {
        margin-top: var(--size-2);
      }

      @media(min-width: $screen-lg) {
        margin-top: var(--size-6);
        &--message {
          margin-top: var(--size-6);
        }
      }
    }

    &.view-uw-view-projects {
      .view-content {
        margin-top: 0;
        @media(min-width: $screen-lg) {
          margin-top: var(--size-105);
        }
      }

      &.view-uw-view-contacts {
        .view-content {
          gap: 0;
        }
      }
    }
  }
}
