<div class="view-content" {% if uuid %} data-uuid="{{ uuid }}" {% endif %}>
  {% if rows %}
  {{ rows }}
  {% endif %}


  {% if pattern_lab %}
    {% include '@components/content-grid-list/content-grid-list.twig' with {
      'lists': lists,
      'views' : true,
      'show_hover': true,
    } %}
  {% endif %}
</div>
