@use '../../01-core' as *;

.uw-emergency-notification {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  position: relative;
  width: 100%;
  // Puts the content at z-index 3
  z-index: var(--layer-content);
  border-bottom: 1px solid var(--uw-white);

  &__content {
    @include uw-contained-width(var(--layout-max-width-narrow));

    @media(min-width: $screen-xl) {
      // Reset the width so we use all the width when we have room to.
      @include uw-contained-width(var(--layout-max-width));
    }

  }

  background: var(--uw-alert);
  max-width: 100%;

  .uw-emergency-notification__content {
    display: grid;
    gap: var(--size-2);
    grid-template-columns: 100%;
    margin: var(--size-4) auto;
    max-width: 80%;
    padding: 0;
    text-align: center;

    .uw-icon {
      align-self: center;
      height: var(--size-8);
      margin-left: auto;
      margin-right: auto;
      width: var(--size-8);

      svg {
        fill: var(--uw-white);
        height: var(--size-8);
        width: var(--size-8);
      }
    }

    @media(min-width: $screen-md) {
      @include uw-contained-width(var(--layout-max-width));
      grid-template-columns: var(--size-10) auto;
      margin: var(--size-2) auto;
      padding: 0 var(--size-2);
      text-align: left;
    }

    .block-uw-cbl-emergency-notification {
      border: 0 solid transparent;
      background-color: var(--uw-alert);
      padding: var(--size-1);
      margin: 0;
      * {
        color: var(--uw-white);
      }

      .emergency-notification__content {
        * {
          font-family: var(--font-systemmedium);
          font-size: var(--font-size-1);
        }
        p {
          &:last-of-type {
            margin-bottom: 0;
          }
        }
        .campus-status-link {
          text-align: right;
          font-size: 90%;
          a {
            font-size: inherit;
          }
        }
      }
    }
  }
}
