<div class="uw-emergency-notification">
  <div role="complementary" class="uw-emergency-notification__content">
    {% include '@components/icon/icon.twig' with {
      'name': 'special-alert',
    } %}
    {%  if pattern_lab %}
      <div class="block-uw-cbl-emergency-notification">
    {% endif %}
    <div id="block-emergency-notification" class="block block-uw-custom-blocks block-uw-cbl-emergency-notification">
      <div class="emergency-notification__content">
        {{ emergency_notification.notification }}
      </div>
    </div>
    {%  if pattern_lab %}
      </div>
    {% endif %}
  </div>
</div>

