
    <li class="{{ list_classes }}">
      {% if item.background_image %}
        <style>
          {% for source in item.background_image.image.sources|reverse %}
          @media only screen and {{ source.media | replace({'all and': ''}) }} {
            .uw-link-list__link--{{ item.uuid }} {
              background-image: url("{{ source.srcset | replace({ ' 1x': '' }) }}");
              background-repeat: no-repeat;
              background-size:cover;
            }
          }
          {% endfor %}
        </style>
      {% endif %}
      {% if item.background_image  %}
      <div class="uw-link-list__link--{{ item.uuid }}">
      {% endif %}
        <a {% if links.link_style == "buttons" %} role="button" {% endif %} class="uw-link-list__{{ links.link_style }}"  href="{{ item.uri }}">
          {% if item.icon %}
            <div class="uw-link-list__link-icon">
            <img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}" />
          </div>
          {% endif %}
          <div class="uw-link-list__link-text">
            {% if item.title %}
              {{ item.title }}
            {% else %}
              {{ item.uri }}
            {% endif %}
          </div>
          {% if item.description %}
            <div class="uw-link-list__link-description">
              {{ item.description }}
            </div>
          {% endif %}
        </a>
      {% if item.background_image  %}
      </div>
      {% endif %}
    </li>
