@use '../../01-core' as *;
.block-uw-cbl-links {
  display: block;
  @media(min-width: $screen-md) {
    display: grid;
    grid-template-rows: auto;
  }
  .uw-admin-label {
    grid-template-rows: 1 / 2;
  }
  h2,
  h3,
  h4,
  h5,
  h6 {
    grid-row: 2 / 3;
  }
  .uw-link-list__top-icon {
    grid-row: 1 / 2;
    display: grid;
    margin-bottom: var(--size-205);
  }
  .uw-link-list__link-description {
    font-family: var(--font-primary);
    font-size: var(--font-size-1);
    margin: 0;
  }
  &__navbar,
  &__quick,
  &__option {
    .uw-link-list__top-icon {
      place-content: center;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
    }
  }
  &__navbar {
    text-align: center;
  }
  &__buttons {
    .uw-link-list__link-description {
      display: block;
      font-family: var(--font-system);
      font-size: var(--font-size-00);
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
      grid-row: inherit;
    }
  }
}
.uw-link-list {
  &--style-navbar {
    list-style-type: none;
    padding: 0;
    padding-bottom: var(--size-405);
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    opacity: 1;
    text-align: center;
    width: 100vw;
    .layout-builder__layout & {
      left: inherit;
      right: inherit;
      margin: 0 auto;
      width: inherit;
    }
    @media(min-width: $screen-md) {
      left: inherit;
      right: inherit;
      margin: 0 auto;
      grid-row: 3 / 4;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 0;
      width: inherit;
    }
    .uw-link {
      padding: 0;
      border-bottom: 3px solid transparent;
      width: 100%;
      margin-bottom: 0;
      &:hover,
      &:focus,
      &:focus-within {
        border-bottom: 3px solid var(--gray-6);
      }
      &:nth-child(2n) {
        background-color: var(--gray-2);
      }

      @media(min-width: $screen-md) {
        flex: 0 1 auto;
        width: inherit;
        &:nth-child(2n) {
          background-color: inherit;
        }
      }
    }
    .uw-link-list__link {
      display: flex;
      height: 100%;
      width: 100%;
      a {
        display: block;
        height: 100%;
        padding: var(--size-205);
        text-decoration: none;
        width: 100%;
      }
      .uw-link-list__link-text {
        font-family: var(--font-condensedbook);
        font-size: var(--font-size-2);
      }
      .uw-link-list__link-icon {
        img {
          max-width: var(--size-605);
          @media(min-width: $screen-md) {
            max-width: var(--size-1205);
          }
        }
      }
    }
  }
  &--style-option {
    margin: 0;
    padding: 0;
    list-style-type: none;
    .uw-link {
      padding: 0;
      min-height: 14.8rem;
      margin: 0.125rem;
      .uw-link-list__link {
        border: none;
        background-position: 50% 50%;
        background-size: cover;
        a {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          height: 100%;
          place-content: flex-end center;
          padding-bottom: var(--size-205);
          text-align: center;
        }
        &-text {
          font-size: var(--font-size-4);
          line-height: var(--font-lineheight-00);
          margin-top: 0;
          @media(min-width: $screen-md) {
            font-size: var(--font-size-6);
          }
        }
        &-description {
          font-family: var(--font-primary);
          font-size: var(--font-size-0);
          margin: 0;
          width: 100%;
        }
        &-icon {
          width: 100%;
        }
        &--has-image {
          a {
            //background-color: transparent;
            background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.7) 100%);
            &:hover,
            &:focus {
              background-image: none;
              opacity: 0.9;
            }
          }
        }
      }
    }
    .uw-link-list__link a {
      min-height: 14.8rem;
    }
    @media(min-width: $screen-xs) {
      align-items: stretch;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      .uw-link-list__link,
      .uw-link-list__link a,
      .uw-link {
        min-height: 14.8rem;
        flex: 1 0 48%;
      }
    }
    @media(min-width: $screen-md) {
      grid-row: 3 / 4;
      .uw-link-list__link,
      .uw-link-list__link a,
      .uw-link {
        min-height: 20rem;
        flex: 1 0 31%;
      }
    }
    @media(min-width: $screen-xl) {
      .uw-link-list__link,
      .uw-link-list__link a,
      .uw-link {
        min-height: 24.8rem;
      }
    }
  }
  &--style-quick {
    padding: 0;
    list-style-type: none;
    grid-row: 3 / 4;
    text-align: center;
    .uw-link {
      padding: 0;
      margin-bottom: 0;
      .uw-link-list__link {
        a {
          display: inline-block;
          margin-bottom: var(--size-05);
          width: 100%;
        }
        &-description {
          font-size: var(--font-size-00);
        }
        &--has-image {
          padding: var(--size-05);
        }
      }
      .uw-link-list__link-icon {
        display: block;
      }
      &__bg-color,
      &__bg-image {
        a.uw-link-list__quick {
          display: block;
          padding: var(--size-03);
          width: 100%;
        }
      }
    }
  }
  &--style-related {
    --list-indent: var(--size-2);
    margin: 0 0 var(--size-05) var(--size-3);
    grid-row: 3 / 4;
    padding: 0;
    &.uw-link-list {
      margin-left: 0;
      padding-left: var(--size-2);
      list-style-position: inside;
    }
    .uw-link {
      margin-bottom: 0;
      padding-inline-start: 0;
      padding: 0 var(--list-indent) 0 var(--list-indent);
      &.uw-link__has-icon {
        list-style-position: inside;
        padding: 0 0 0 var(--list-indent);
        .uw-link-list__link-description {
          margin: inherit;
          padding: 0 0 0 var(--size-210);
          text-indent: 0;
        }
      }
      &.uw-link__bg-color,
      &.uw-link__bg-image {
        --bullet-spacing: var(--size-2);
        background-position: center;
        background-size: cover;
        list-style-position: inside;
        padding: var(--size-075) var(--list-indent) var(--size-075) calc(var(--list-indent) + var(--bullet-spacing));
        text-indent: calc(-1 * var(--bullet-spacing));
        .uw-link-list__link-description {
          margin: inherit;
          padding: 0  0  var(--size-075) var(--size-09);
          text-indent: 0;
        }
      }
    }
    .uw-link-list__link-icon {
      vertical-align: middle;
      img {
        max-width: var(--size-5);
        margin-right: var(--size-05);
      }
    }
    .uw-link-list__link-description {
      display: block;
      font-size: var(--font-size-00);
      font-style: italic;
      padding-left: var(--size-210);
    }
    .uw-link-list__link{
      display: inline-block;
      vertical-align: middle;
    }
    .uw-link-list__related {
      //display:inline-block;
      height: 100%;
      width: 100%;
    }
    &__link--has-image {
      background-position: center;
      background-size: cover;
      height: 100%;
    }
  }
  &--style-buttons {
    // Use this for future button alignment.
    //.align-center & {
    //  justify-content: center;
    //}
    //.align-left & {
    //  justify-content: left;
    //}
    //.align-right & {
    //  justify-content: right;
    //}
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--size-2);
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
    }

    a.uw-link-list__buttons {
      border-radius: 0;
      border-style: solid;
      border-width: var(--size-xs);
      box-shadow: none;
      cursor: pointer;
      display: inline-block;
      font-family: var(--font-condensedbook);
      font-size: var(--font-size-1);
      font-weight: var(--font-weight-200);
      letter-spacing: var(--font-letterspacing-2);
      line-height: var(--font-lineheight-4);
      padding: var(--size-2) var(--size-4);
      text-align: center;
      text-shadow: none;
      transition: all 200ms ease-in;
      vertical-align: top;
      white-space: normal;
      width: auto;
    }
  }
  &__link--has-image {
    background-position: center;
    background-size: cover;
    height: 100%;
  }
  .uw-link__image-link-color {
    &--black-with {
      &::marker {
        color: var(--uw-black);
      }
      a {
        text-shadow: rgba(255, 255, 255, 0.95) 1px 1px 2px;
        &:hover,
        &:focus {
          background: #ffffff90;
        }
      }
    }
    &--black-without {
      &::marker {
        color: var(--uw-black);
      }
      a {
        &:hover,
        &:focus {
          background: #ffffff90;
        }
      }
    }
    &--white-with {
      &::marker {
        color: var(--uw-white);
      }
      a{
        border-color: var(--uw-black);
        text-shadow: rgba(0, 0, 0, 0.95) 1px 1px 2px;
        &:hover,
        &:focus {
          background: #00000090;
        }
      }
    }
    &--white-without {
      &::marker {
        color: var(--uw-white);
      }
      a {
        border-color: var(--uw-black);
        &:hover,
        &:focus {
          background: #00000090;
        }
      }
    }
    // Reset the hover state to no color in related links.
    &--white-with,
    &--white-without,
    &--black-with,
    &--black-without {
      a.uw-link-list__navbar {
        @include link-no-underline(
          var(--link-color),
          var(--link-color-2)
        );
      }
      a.uw-link-list__related {
        &:hover,
        &:focus {
          background: none;
        }
      }
    }
  }
}
