
    <li class="{{ list_classes }} {% if item.background_image  %} uw-link-list__link--{{ item.uuid }}{% endif %}">
      {% if item.background_image %}
        <style>
          {% for source in item.background_image.image.sources|reverse %}
          @media only screen and {{ source.media | replace({'all and': ''}) }} {
            .uw-link-list__link--{{ item.uuid }} {
              background-image: url("{{ source.srcset | replace({ ' 1x': '' }) }}");
              background-repeat: no-repeat;
            }
          }
          {% endfor %}
        </style>
      {% endif %}
        <a class="uw-link-list__{{ links.link_style }}" href="{{ item.uri }}">
          {% if item.icon %}
            <span class="uw-link-list__link-icon">
            <img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}" />
          </span>
          {% endif %}
          <span class="uw-link-list__link-text">
            {% if item.title %}
              {{ item.title }}
            {% else %}
              {{ item.uri }}
            {% endif %}
          </span>
          {% if item.description %}
            <span class="uw-link-list__link-description">
              {{ item.description }}
            </span>
          {% endif %}
        </a>
    </li>
