{% set classes = [
  'uw-link-list',
  links.items[0].icon  ? 'uw-link-list__with-icon' :  '',
  links.top_icon ? 'uw-link-list--with-top-icon' :  '',
  'uw-link-list--style-' ~ links.link_style,
]|join(' ')|trim %}



{% if links.top_icon %}
  <div class="uw-link-list__top-icon">
    <img src="{{ links.top_icon.url }}" alt="{{ links.top_icon.alt }}" />
  </div>
{% endif %}
<ul class="{{ classes }}">
  {% for item in links.items %}
    {% set list_classes = [
      'uw-link',
      item.background_image ? 'uw-link__bg-image' : '',
      item.background_color ? 'uw-link__bg-color uw-link__bg-color--' ~ item.background_color : '',
      item.link_coloring ? 'uw-link__link-color uw-link__link-color--' ~ item.link_coloring : '',
      item.image_link_coloring ? 'uw-link__image-link-color uw-link__image-link-color--' ~ item.image_link_coloring : '',
      item.icon ? 'uw-link__has-icon' : '',
    ]|join(' ')|trim %}
   {% if links.link_style == 'related' %}
     {% include '@components/link-list/_link-related.twig' with {
       ' list_classes': list_classes,
       'item' : item,
     } %}
    {% elseif links.link_style == 'buttons' %}
      {% include '@components/link-list/_link-buttons.twig' with {
        ' list_classes': list_classes,
        'item' : item,
      } %}
    {% elseif links.link_style == 'quick' %}
      {% include '@components/link-list/_link-quick.twig' with {
        ' list_classes': list_classes,
        'item' : item,
      } %}
    {% else %}
    <li class="{{ list_classes }}">
      {% if item.background_image %}
        <style>
          {% for source in item.background_image.image.sources|reverse %}
          @media only screen and {{ source.media | replace({'all and': ''}) }} {
            .uw-link-list__link--{{ item.uuid }} {
              background-image: url("{{ source.srcset | replace({ ' 1x': '' }) }}");
              background-repeat: no-repeat;
            }
          }
          {% endfor %}
        </style>
      {% endif %}
      <div class="uw-link-list__link{% if item.background_image %} uw-link-list__link--{{ item.uuid }} uw-link-list__link--has-image{% endif %}" >
        <a class="uw-link-list__{{ links.link_style }}" href="{{ item.uri }}">
          {% if item.icon and links.link_style != "navbar" %}
          <span class="uw-link-list__link-icon">
            <img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}" />
          </span>
          {% endif %}
          {%  if links.link_style == "option" %}
          <h3 class="uw-link-list__link-text">
          {% else %}
          <span class="uw-link-list__link-text">
          {% endif %}

            {% if item.title %}
            {{ item.title }}
            {% else %}
            {{ item.uri }}
            {% endif %}

          {%  if links.link_style == "option" %}
          </h3>
          {% else %}
          </span>
          {% endif %}

          {% if item.description %}
          <p class="uw-link-list__link-description">
            {{ item.description }}
          </p>
          {% endif %}

          {% if item.icon and links.link_style == "navbar" %}
          <div class="uw-link-list__link-icon">
            <img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}" />
          </div>
          {% endif %}
        </a>
      </div>
    </li>
   {% endif %}
  {% endfor %}
</ul>

