{% for font in fonts %}
  <h3>{{ font }}</h3>
  <div style="font-family: '{{ font }}'">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu augue ut lectus arcu bibendum at varius vel pharetra. Gravida dictum fusce ut placerat. Tincidunt dui ut ornare lectus sit. Justo nec ultrices dui sapien. Nunc aliquet bibendum enim facilisis gravida neque convallis a cras. Mattis nunc sed blandit libero volutpat. Ut sem nulla pharetra diam sit amet nisl suscipit adipiscing. In mollis nunc sed id semper risus in hendrerit. Id nibh tortor id aliquet lectus proin. Ultricies leo integer malesuada nunc. Amet nisl suscipit adipiscing bibendum est ultricies.
  </div>
{% endfor %}
