{#{% set modifier_classes -%}#}
{#    button--submit  button--submit__form {{ modifier_classes }}#}
{#{%- endset %}#}

{#{% include '@base/02-html-elements/25-forms/forms.twig' with {#}
{#    'form_items': form_items#}
{#} %}#}


{% if pattern_lab %}
  {% include '@components/search/_search.twig'%}
{% else %}
  <div class="uw-header-search">
    {{ search }}
  </div>
{% endif %}
