.uw-footer-address {
  background-color: var(--uw-black);
  color: var(--uw-white);
  .uw-footer-address--show {
    display: grid;
    column-gap: var(--size-05);
    grid-template-columns: var(--size-3) auto;
    font-family: var(--font-sans);
    letter-spacing: var(--font-letterspacing-1);
    place-content: center;
    margin: 0 auto;
    max-width: 14rem;
    .uw-icon {
      display: inline;
      align-items: center;
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      svg{
        fill: var(--neutral-3);
      }
    }
    .uw-icon-link {
      grid-row: 1 / 4;
    }
    .uw-footer-address__street {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
    }
    .uw-footer-address__region {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
    .uw-footer-phone {
      grid-column: 2 / 3;
      grid-row: 3 / 4;
      a {
        color: var(--uw-gold);
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
