<div class="uw-footer-address" about="//uwaterloo.ca/" typeof="v:VCard">
  <div class="hidden">
    <div property="v:fn">University of Waterloo</div>
    <div rel="v:org">
      <div property="v:organisation-name">University of Waterloo</div>
    </div>
    <div rel="v:geo">
      <div property="v:latitude">43.471468</div>
      <div property="v:longitude">-80.544205</div>
    </div>
  </div>
  <div class="uw-footer-address--show" rel="v:adr">
    {% include '@components/icon/icon--button/icon--button.twig' with {
      'url': 'https://uwaterloo.ca/map/',
      'text': 'Campus map',
      'name': 'pin',
      'is_hidden': true,
    } %}
    <div class="uw-footer-address__street" property="v:street-address">200 University Avenue West</div>
    <div class="uw-footer-address__region">
      <span property="v:locality">Waterloo</span>,
      <span property="v:region">ON</span>,
      <span property="v:country-name">Canada</span>
      <span property="v:postal-code">N2L 3G1</span>
    </div>
    <div class="uw-footer-phone" rel="v:tel">
      <a href="tel:+1-519-888-4567" property="rdf:value">+1 519 888 4567</a>
    </div>
  </div>
</div>
