:where(html) {
  // uw-branding follows:
  --art-1: #efd2ab;
  --art-2: #f7bf0a;
  --art-3: #ed8c00;
  --art-4: #e3530f;
  --art-primary: #d93f00;
  --cgc-1: #ffa5aa;
  --cgc-2: #e41740;
  --cgc-3: #b71233;
  --cgc-4: #80001f;
  --cgc-red: #cb3340;
  --cgc-light: var(--cgc-red);
  --cgc-primary: #c4262e;
  --gray-0: #ffffff;
  --gray-1: #fafafa;
  --gray-2: #eee;
  --gray-3: #dbdbdb;
  --gray-4: #a2a2a2;
  --gray-5: #757575;
  --gray-6: #4e4e4e;
  --gray-7: #333;
  --gray-8: #000;
  --gray-9: #000;
  --eng-1: #c2a8f0;
  --eng-2: #a05dcb;
  --eng-3: #865da4;
  --eng-4: #5d0096;
  --eng-primary: var(--eng-4);
  --env-1: #d4ed98;
  --env-2: #cede00;
  --env-3: #b6bf00;
  --env-4: #778921;
  --env-primary: #607000;
  --ahs-1: #a4dbf7;
  --ahs-2: #00c2de;
  --ahs-3: #009cab;
  --ahs-4: #115e6b;
  --ahs-primary: var(--ahs-4);
  --mat-1: #efbbf0;
  --mat-2: #ef60ad;
  --mat-3: #df1aa0;
  --mat-4: #a2006e;
  --mat-primary: var(--mat-4);
  --neutral-1: #dfdfdf;
  --neutral-2: #a2a2a2;
  --neutral-3: #767676;
  --neutral-4: #000;
  --neutral-primary: #fafafa;
  --sci-1: #b9cdfb;
  --sci-2: #7e9ccc;
  --sci-3: #0072da;
  --sci-4: #003599;
  --sci-primary: var(--sci-4);
  --school-1: #f4cedf;
  --school-2: #e10054;
  --school-3: #bb0f33;
  --school-4: #782434;
  --school-primary: var(--school-3);
  --stj-1: #ffa5aa;
  --stj-2: #e41740;
  --stj-3: #b71233;
  --stj-4: #80001f;
  --stj-gold: #af6e05;
  --stj-green: #105742;
  --stj-light: #92b7ac;
  --stj-primary: var(--stj-green);
  --stp-1: #ffa5aa;
  --stp-2: #e41740;
  --stp-3: #b71233;
  --stp-4: #80001f;
  --stp-light: #3499CC;
  --stp-primary: #21698e;
  --ren-1: #ffa5aa;
  --ren-2: #e41740;
  --ren-3: #b71233;
  --ren-4: #80001f;
  --ren-red: #e03c39;
  --ren-gold: #d4be97;
  --ren-green: #076b3b;
  --ren-light: #7fb49d;
  --ren-primary: var(--ren-green);
  --uw-black: #000;
  --uw-black-1: #dfdfdf;
  --uw-black-2: #a2a2a2;
  --uw-black-3: #767676; //Local site footer color for accessibility.
  --uw-black-4: #000;
  --uw-black-primary: #000;
  --uw-gold: #fdd54f;
  --uw-gold-1: #f2eda8;
  --uw-gold-2: #fae100;
  --uw-gold-3: #fed34c;
  --uw-gold-4: #eaab00;
  --uw-gold-primary:  var(--uw-gold-3);
  --uw-gold-footer: #3f3a13;
  --uw-white: #fff;
  --uw-white-1: #fff;
  --uw-white-primary: #fff;
  --uw-alert: #cd1414;
  // Default Ohana follows:
  --red-0: #fff5f5;
  --red-1: #ffe3e3;
  --red-2: #ffc9c9;
  --red-3: #ffa8a8;
  --red-4: #ff8787;
  --red-5: #ff6b6b;
  --red-6: #fa5252;
  --red-7: #f03e3e;
  --red-8: #e03131;
  --red-9: #c92a2a;
  --pink-0: #fff0f6;
  --pink-1: #ffdeeb;
  --pink-2: #fcc2d7;
  --pink-3: #faa2c1;
  --pink-4: #f783ac;
  --pink-5: #f06595;
  --pink-6: #e64980;
  --pink-7: #d6336c;
  --pink-8: #c2255c;
  --pink-9: #a61e4d;
  --grape-0: #f8f0fc;
  --grape-1: #f3d9fa;
  --grape-2: #eebefa;
  --grape-3: #e599f7;
  --grape-4: #da77f2;
  --grape-5: #cc5de8;
  --grape-6: #be4bdb;
  --grape-7: #ae3ec9;
  --grape-8: #9c36b5;
  --grape-9: #862e9c;
  --violet-0: #f3f0ff;
  --violet-1: #e5dbff;
  --violet-2: #d0bfff;
  --violet-3: #b197fc;
  --violet-4: #9775fa;
  --violet-5: #845ef7;
  --violet-6: #7950f2;
  --violet-7: #7048e8;
  --violet-8: #6741d9;
  --violet-9: #5f3dc4;
  --indigo-0: #edf2ff;
  --indigo-1: #dbe4ff;
  --indigo-2: #bac8ff;
  --indigo-3: #91a7ff;
  --indigo-4: #748ffc;
  --indigo-5: #5c7cfa;
  --indigo-6: #4c6ef5;
  --indigo-7: #4263eb;
  --indigo-8: #3b5bdb;
  --indigo-9: #364fc7;
  --blue-0: #e7f5ff;
  --blue-1: #d0ebff;
  --blue-2: #a5d8ff;
  --blue-3: #74c0fc;
  --blue-4: #4dabf7;
  --blue-5: #339af0;
  --blue-6: #228be6;
  --blue-7: #1c7ed6;
  --blue-8: #1971c2;
  --blue-9: #1864ab;
  --cyan-0: #e3fafc;
  --cyan-1: #c5f6fa;
  --cyan-2: #99e9f2;
  --cyan-3: #66d9e8;
  --cyan-4: #3bc9db;
  --cyan-5: #22b8cf;
  --cyan-6: #15aabf;
  --cyan-7: #1098ad;
  --cyan-8: #0c8599;
  --cyan-9: #0b7285;
  --teal-0: #e6fcf5;
  --teal-1: #c3fae8;
  --teal-2: #96f2d7;
  --teal-3: #63e6be;
  --teal-4: #38d9a9;
  --teal-5: #20c997;
  --teal-6: #12b886;
  --teal-7: #0ca678;
  --teal-8: #099268;
  --teal-9: #087f5b;
  --green-0: #ebfbee;
  --green-1: #d3f9d8;
  --green-2: #b2f2bb;
  --green-3: #8ce99a;
  --green-4: #69db7c;
  --green-5: #51cf66;
  --green-6: #40c057;
  --green-7: #37b24d;
  --green-8: #2f9e44;
  --green-9: #2b8a3e;
  --lime-0: #f4fce3;
  --lime-1: #e9fac8;
  --lime-2: #d8f5a2;
  --lime-3: #c0eb75;
  --lime-4: #a9e34b;
  --lime-5: #94d82d;
  --lime-6: #82c91e;
  --lime-7: #74b816;
  --lime-8: #66a80f;
  --lime-9: #5c940d;
  --yellow-0: #fff9db;
  --yellow-1: #fff3bf;
  --yellow-2: #ffec99;
  --yellow-3: #ffe066;
  --yellow-4: #ffd43b;
  --yellow-5: #fcc419;
  --yellow-6: #fab005;
  --yellow-7: #f59f00;
  --yellow-8: #f08c00;
  --yellow-9: #e67700;
  --orange-0: #fff4e6;
  --orange-1: #ffe8cc;
  --orange-2: #ffd8a8;
  --orange-3: #ffc078;
  --orange-4: #ffa94d;
  --orange-5: #ff922b;
  --orange-6: #fd7e14;
  --orange-7: #f76707;
  --orange-8: #e8590c;
  --orange-9: #d9480f;
}


$faculties_colours: (
  'org-default': uw-gold,
  'org-default-b': uw-black,
  'org-ahs': ahs,
  'org-art': art,
  'org-eng': eng,
  'org-env': env,
  'org-mat': mat,
  'org-sci': sci,
  'org-school': school,
  'org-stp': stp,
  'org-cgc': cgc,
  'org-stj': stj,
  'org-ren': ren,
  'neutral': neutral,
  'default': default
);
//Swatches
.pl-colors .color-demo > div > div{
  background-color: rgba(0, 0, 0, 0.6);
  font-family: var(--font-systembold);
  font-size: var(--font-size-000);
}
