:where(html) {
  /* stylelint-disable-next-line value-keyword-case */
  --font-book: 'BureauGrot Book', 'Barlow', impact, 'avenir next condensed heavy', 'Droid Sans', sans-serif;
  /* stylelint-disable-next-line value-keyword-case */
  --font-condensed: 'BureauGrotCond', 'Barlow Condensed', impact, 'avenir next condensed heavy', 'Droid Sans', sans-serif;
  /* stylelint-disable-next-line value-keyword-case */
  --font-condensedbook: 'BureauGrotCond Book', 'Barlow Condensed', impact, 'avenir next condensed heavy', 'Droid Sans', sans-serif;
  /* stylelint-disable-next-line value-keyword-case */
  --font-sans: BureauGrot, Barlow, impact, 'avenir next condensed heavy', 'Droid Sans', sans-serif;
  /* stylelint-disable-next-line value-keyword-case */
  --font-serif: georgia, 'droid serif', 'Times New Roma', Times, serif;
  /* stylelint-disable-next-line value-keyword-case */
  --font-system: Typ1451-Regular, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Oxygen-Sans', Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', sans-serif;
  /* stylelint-disable-next-line value-keyword-case */
  --font-systemlight: Typ1451-Light, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Oxygen-Sans', Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', sans-serif;
  /* stylelint-disable-next-line value-keyword-case */
  --font-systemmedium: Typ1451-Medium, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Oxygen-Sans', Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', sans-serif;
  /* stylelint-disable-next-line value-keyword-case */
  --font-systembold: Typ1451-Bold, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Oxygen-Sans', Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', sans-serif;
  /* stylelint-disable-next-line value-keyword-case */
  --font-mono: Consolas, 'Lucida Console', 'Liberation Mono', 'Courier New', monospace, sans-serif;
  /* stylelint-disable-next-line value-keyword-case */
  --font-primary: georgia, 'droid serif', 'Times New Roma', Times, serif;
  /* stylelint-disable-next-line value-keyword-case */
  --font-secondary: BureauGrot, Barlow, impact, 'avenir next condensed heavy', 'Droid Sans', sans-serif;
  --font-weight-100: 100;
  --font-weight-200: 200;
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-weight-700: 700;
  --font-weight-800: 800;
  --font-weight-900: 900;
  --font-size-0000000: 7.888px;
  --font-size-000000: 8.88px;
  --font-size-00000: 9.984px;
  --font-size-0000: 11.232px;
  --font-size-min: 12px;
  --font-size-000: 12.64px;
  --font-size-00: 14.22224px;
  --font-size-0: 16px;
  --font-size-1: 18px;
  --font-size-2: 20.256px;
  --font-size-3: 22.784px;
  --font-size-3-5: 24px;
  --font-size-4: 25.632px;
  --font-size-5: 28.832px;
  --font-size-55: 30px;
  --font-size-57: 31px;
  --font-size-6: 32.432px;
  --font-size-7: 36.496px;
  --font-size-8: 41.056px;
  --font-size-9: 46.192px;
  --font-size-10: 51.952px;
  --font-size-11: 58.448px;
  --font-size-12: 65.76px;
  --font-size-13: 73.984px;
  --font-size-14: 83.232px;
  --font-size-15: 93.632px;
  --font-size-16: 105.328px;
  --font-lineheight-000: 0.75;
  --font-lineheight-00: 0.95;
  --font-lineheight-0: 1;
  --font-lineheight-1: 1.1;
  --font-lineheight-2: 1.25;
  --font-lineheight-3: 1.375;
  --font-lineheight-4: 1.425;
  --font-lineheight-5: 1.75;
  --font-lineheight-6: 2;
  --font-lineheight-nav: 1.25rem;
  --font-letterspacing-0: -0.05em;
  --font-letterspacing-1: 0.025em;
  --font-letterspacing-2: 0.05em;
  --font-letterspacing-3: 0.75em;
  --font-letterspacing-4: 0.15em;
  --font-letterspacing-5: 0.5em;
  --font-letterspacing-6: 0.75em;
  --font-letterspacing-7: 1em;
}
