:where(html) {
  --layout-gutter: var(--size-2);
  --layout-max-width: 75rem;
  --layout-lg-max-width: 63.1875rem;
  --layout-wide-max-width: 47.0625rem;
  --grid-gutter: var(--size-2);
  --grid-gap: var(--size-4);
  --max-width: 47.0625rem;
  .uw-full-width {
    --layout-max-width: 100%;
  }
  .uw_para_image_banner,
  .uw_para_local_video_banner {
    --layout-max-width: 75rem;
  }
}
