// Media Query Ranges
$screen-xxs: 20rem;
$screen-xs: 30rem;
$screen-fb: 37.5rem;
$screen-sm: 40.06rem;
$screen-md: 48.06rem;
$screen-lg: 63.1875rem;
$screen-xl: 75rem;
$screen-xxl: 102.5rem;
$screen-onek: 120rem;
$screen-twok: 159.93rem;
