:where(html) {
  --layer-1: 1;
  --layer-2: 2;
  --layer-3: 3;
  --layer-4: 4;
  --layer-5: 5;
  --layer-background: 1;
  --layer-wrapper: 2;
  --layer-slides: 2;
  --layer-footer: 2;
  --layer-content: 3;
  --layer-header: 4;
  --layer-interact: 5;
  --layer-mobilemenu: 6;
  --layer-dropdown: 7;
  --layer-logo: 8;
  --layer-nav: 8;
  --layer-drawer: 9;
  --layer-overlay: 9;
  --layer-modal: 10;
  --layer-important: 2147483647;
}
