@use '../../../01-core' as *;

.uw-horizontal-nav.uw-horizontal-nav--header {
  background-color: var(--uw-black);
  max-width: inherit;
  width: inherit;

  .uw-horizontal-nav--wrapper {
    background-color: var(--uw-black);
    display: block;
    max-width: inherit;
    padding: 0;
    position: relative;
    .uw-header-menu__full & {
      @media(min-width: $screen-lg) {
        display: inherit !important;
      }
    }
  }
  .uw-horizontal-nav--home {
    display: none;
    grid-column: none;
    padding: 0;
  }
  .uw-horizontal-nav--menu {
    width: inherit;
    .menu {
      border: var(--size-xs) solid var(--uw-white);
      height: auto;
      position: relative;
      width: var(--size-12);
      .uw-header-menu__full & {
        @media(min-width: $screen-lg) {
          border: 0 solid transparent !important;
          max-width: 100%;
          width: 100%;
        }
      }
      a {
        color: var(--uw-white);
        line-height: 1.25rem;
        outline: none;
        outline-offset: unset;
        width: 100%;
        &:hover{
          color: var(--uw-black);
        }
      }
      &.menu__subnav--global,
      &.menu__subnav {
        .uw-header-menu__full & {
          @media(min-width: $screen-lg) {
            align-items: center;
            display: grid;
            grid-auto-flow: column;
            place-content: space-evenly;
          }
        }
        a {
          color: var(--uw-black);
          .uw-header-menu__full & {
            @media(min-width: $screen-lg) {
              background-color: transparent;
              color: var(--uw-white);
              display: inline;
              padding: var(--size-sm);
              font-family: var(--font-sans);
              font-size: var(--font-size-00);
              font-weight: var(--font-weight-100) !important;
              letter-spacing: var(--font-letterspacing-1);
            }
          }
          outline: none;
          outline-offset: unset;
          width: 100%;
        }
      }
      &--horizontal {
        li {
          .uw-header-menu__full & {
            @media(min-width: $screen-lg) {
              font-family: var(--font-sans);
              padding-right: var(--size-1);
              padding-left: var(--size-1);
              text-align: center;
            }
          }
        }
        > .menu__item {
          background-color: var(--uw-black);
          border-bottom: 0 solid transparent;
          width: 100%;
          &.has-submenu {
            > a {
              padding-right: var(--size-3);
              position: relative;
              .uw-header-menu__full & {
                @media(min-width: $screen-lg) {
                  display: none !important;
                }
              }
              &::after {
                @include svg-background(mobile-arrow-down-w);
                background-position: center center; // LTR
                background-repeat: no-repeat;
                background-size: contain;
                display: block;
                height: 0.6rem;
                position: absolute;
                text-align: center;
                width: 0.6rem;
              }
              &:hover,
              &:focus {
                &::after {
                  @include svg-background(mobile-arrow-down);
                }
              }
            }
            &.submenu-active {
              > a {
                &::after {
                  @include svg-background(mobile-arrow-down);
                }
              }
            }
          }

          .no-scroll & {
            > a {
              &::after {
                transform: rotate(0deg);
                @media(min-width: $screen-md) {
                  transform: rotate(180deg);
                }
              }
            }
          }

          &[aria-expanded="true"] {
            > a {
              border-left: inherit;
              display: inline-block;
              height: inherit;
              overflow: inherit;
              width: inherit;
              z-index: var(--layer-overlay);
              span{
                display: block;
              }
              &::after {
                transform: rotate(180deg);
              }
            }
          }
        }
      }
    }
    &__subnav {
      display: none;
      .uw-header-menu__full & {
        display: none;
        @media(min-width: $screen-lg) {
          display: grid;
          grid-auto-flow: column;
          place-content: space-evenly;
          padding-top: var(--size-05);
        }
      }
    }
    &__subnav--global {
      display: none;
      @media(min-width: $screen-lg) {
        display: grid;
        grid-auto-flow: column;
        place-content: space-evenly;
        padding-top: var(--size-05);
      }
    }
    .submenu-active .menu__subnav {
      background: #f7f7f7;
      border-width: 0;
      column-count: 1;
      display: inherit;
      height: auto;
      left: inherit;
      min-height: auto;
      min-width: 13rem;
      padding: var(--size-2) var(--size-1);
      right: 0;
      top: inherit;
      width: auto;
      .uw-header__masthead.open & {
        z-index: var(--layer-important);
      }
      .menu__item {
        max-width: inherit;
        &-parent{
          display: none;
        }
        a{
          .no-scroll &{
            border-color: transparent;
            &:hover{
              border-color: #e6e6e6;
            }
          }
        }
      }
      .menu__subnav {
        border: 0 solid var(--uw-white);
      }
    }
  }
}
.uw-header-menu__full {
  .uw-horizontal-nav .menu--horizontal li > a:hover,
  .uw-horizontal-nav .menu--horizontal li > a:focus {
    @media(min-width: $screen-lg) {
      background-color: transparent;
      text-decoration: underline;
    }
  }
  .menu__item-parent {
    @media(min-width: $screen-lg) {
      display: none !important;
    }
  }
}
