{% set submenu = [] %}

{% set submenu = submenu|merge([
  {
    'title': 'Admissions'|t,
    'url': 'https://uwaterloo.ca/admissions/',
    'in_active_trail': false
  },
  {
    'title': 'About Waterloo'|t,
    'url': 'https://uwaterloo.ca/about/',
    'in_active_trail': false
  },
  {
    'title': 'Faculties & Academics'|t,
    'url': 'https://uwaterloo.ca/faculties-academics/',
    'in_active_trail': false
  },
  {
    'title': 'Offices & Services'|t,
    'url': 'https://uwaterloo.ca/offices-services/',
    'in_active_trail': false
  },
  {
    'title': 'Support Waterloo'|t,
    'url': 'https://uwaterloo.ca/support/',
    'in_active_trail': false
  },
]) %}


{% set items = [] %}

  {% set items = items|merge([
    {
      'title': 'Jump to'|t,
      'url': '#',
      'in_active_trail': 'false',
      'submenu': submenu
    }
  ]) %}

{% set headerMenuClasses = [
  'uw-header-menu',
  'uw-header-menu__' ~  branding_menu_style
]|join(' ')|trim %}

<div class="{{ headerMenuClasses }}">
  {% include "@components/menu/menu--horizontal/menu--horizontal.twig" with {
    'items': items,
    'modifier_classes': 'header',
    'menu_name': 'horizontal',
    'include_home': false,
  }%}
</div>

