// @file
// Styles for UW Tabs.
@use '../../01-core' as *;

.uw-tabs {
  margin: var(--size-1) auto;

  &.catalog {

    @media(min-width: $screen-md) {
      padding: 0;
    }
  }
  width: 100%;
  .hide-js {
    display: none;
    html:not(.js) & {
      border-bottom: 2px solid var(--gray-2);
      display: block;
      margin-bottom: var(--size-1);
      padding-bottom: var(--size-1);
    }
  }
}

//buttons wrapper
.uw-tab {
  @include flexbox();

  @supports (scrollbar-width: none) {
    scrollbar-width: none;
  }
  overflow-y: scroll;
  @media(min-width: $screen-md) {
    overflow-y: initial;
  }

  html:not(.js) & {
    display: none;
  }

  a {
    white-space: nowrap;
  }
}

.uw-tab::-webkit-scrollbar {
  display: none;
}

// button
.uw-tablinks {
  border-bottom: 0.4rem var(--uw-white);
  font-weight: inherit;
  margin: 0 0 0 0.15rem;
  max-width: inherit;
  padding: 1rem 2rem;
  width: 100%;
  @media(min-width: $screen-md) {
    border-bottom: 0.4rem solid var(--uw-white);
    font-weight: inherit;
    margin: 0 0 0 0.15rem;
    max-width: inherit;
    padding: 1rem 2rem;
    &.active {
      border-bottom: 0.4rem solid var(--uw-black);
    }
  }

  &[aria-selected="true"] {
    background: var(--gray-2);
    border-bottom: 0.4rem solid var(--uw-black);
    color: var(--uw-black);

    &:hover{
      border-bottom: 0.4rem solid #ddd;
    }
  }

  &:hover{
    border-bottom: 0.4rem solid var(--uw-white);
  }
}

.uw-tabcontent[role="tabpanel"] {
  @include uw-flex-grid();
  padding-top: var(--size-2);

  &[hidden] {
    display: none;
  }
}

html:not(.js) .uw-tabcontent[role="tabpanel"][hidden]{
  @include flexbox();
}

.uw-tabcontent[role="tabpanel"] .card{
  @include uw-flex-grid-item();
}

.block-local-tasks-block{
  nav nav ul li a {
    font-family: var(--font-systemmedium);
  }
}
