// @file
// Styles for Button.

@use '../../01-core' as *;

.button,
button{
  @include button();
  // This custom button class, included as an example, is not output by Drupal by default.

  &.button--medium {
    font-size: var(--font-size-000);
    padding: var(--size-2);
    &:hover,
    &:focus {
      padding: var(--size-2);
    }
  }
  &.button--small {
    font-size: var(--font-size-0000);
    padding: var(--size-1);
    &:hover,
    &:focus {
      padding: var(--size-1);
    }
  }
  &.button--unstyled {
    background-color: transparent !important;
    color: inherit;
    padding: 0 !important;
    text-decoration: underline;
  }
}

// Drupal outputs this class on buttons that can delete content.
.button--cancel,
.button[data-drupal-selector="edit-cancel"]{
  background-color: var(--orange-5);
  color: var(--uw-white);
  &:hover,
  &:focus {
    background-color: var(--orange-9);
    color: var(--uw-white) !important;
  }
}
.button[data-drupal-selector="edit-cancel"]{
  line-height: 2.125;
}

// Drupal outputs this class on buttons that can delete content.
.button--danger {
  background-color: var(--red-9);
  color: var(--uw-white);

  &:hover,
  &:focus {
    background-color: var(--cgc-3);
    color: var(--uw-white);
  }

  &:active {
    background-color: var(--cgc-4);
    color: var(--uw-white);
  }
}

// Drupal outputs this class on buttons that can delete content.
.button--primary {
  background-color: var(--green-8);
  color: var(--uw-white);
  &:hover,
  &:focus {
    background-color: #315631ff;
    color: var(--uw-white);
  }
}

// Drupal outputs this class on buttons that can delete content.
.button--secondary {
  background-color: var(--blue-5);
  color: var(--uw-white);
  &:hover,
  &:focus {
    background-color: var(--blue-9);
    color: var(--uw-white);
  }
}





// Css within pattern lab.
.pattern-lab-content .mobile-menu-button,
.pl-c-pattern__extra-toggle{
  max-width: inherit;
  width: auto;
}
.pl-c-pattern .pl-c-demo button,
.pl-c-pattern .pl-c-demo .button{
  margin: 0 0 var(--size-1);
}
