{% if is_demo %}
  <div class="pl-c-demo">
{% endif %}
{% if is_button_tag %}
  <button
          {% if data_type_name %}
            data-value-{{ data_type_name }}="{{ data_type_value }}"
          {% endif %}

          {% if is_disabled %}
            disabled
          {% endif %}

          {% if type %}
            type="{{ type }}"
          {% endif %}

          {%  if autofocus %}
            autofocus="{{ autofocus }}"
          {% endif %}

          {% if formaction %}
            formaction=" {{ formaction }}"
          {% endif %}

          {% if form %}
            form="{{form}}"
          {% endif %}

          {%  if formenctype %}
            formenctype="{{ formenctype }}"
          {% endif %}

          {% if formmethod %}
            formmethod=" {{ formmethod }}"
          {% endif %}

          {% if formtarget %}
            formtarget=" {{ formtarget }}"
          {% endif %}

          {%  if name %}
            name="{{ name }}"
          {% endif %}

          {%  if formenctype %}
            formenctype="{{ formenctype }}"
          {% endif %}

          {%  if value %}
            value="{{ value }}"
          {% endif %}

          {%  if formnovalidate %}
            formnovalidate
          {% endif %}

          {%  if btnclick %}
            onclick="{{ btnclick }}"
          {% endif %}

          class="button {{ modifier_classes }}"
  >
    {{ text }}
  </button>
{% else %}
  <a {% if aria %} aria-{{ aria_type_name }}="{{ aria_type_value}}" {% endif %} {% if data_type_name %} data-{{ data_type_name }}="{{ data_type_value }}"{% endif %} {% if btn_id %} id="{{ btn_id }}" {% endif %} class="button {{ modifier_classes }}" href="{{ url }}" {%  if btnclick %} onclick="{{ btnclick }}" {% endif %} {%  if target %}target="{{ target }}" {% endif %}>
    {{ text }}
  </a>
{% endif %}

{% if is_demo %}
  <br>

  <a href="{{ url }}" class="button {{ modifier_classes }}">{{ text_demo }}</a>
  <br>

  <button class="button {{ modifier_classes }}" disabled>{{ 'Disabled'|t }} {{ text }}</button>
{% endif %}

{% if is_demo %}
  </div>
{% endif %}
