// @file
// Styles for Content Layout.
.uw-main{
  &.layout.uw-contained-width{
    padding: 0 0 1rem;
  }
}

// Tabs in admin
.tabs{
  z-index: var(--layer-wrapper);
}
.is-collapse-enabled .tabs__trigger{
  z-index: var(--layer-content);
}
// Code for show hide revision/tabs
.uw-show-hide{
  background-color: var(--uw-white-1);
  bottom: 4rem;
  color: rgb(150, 23, 46);
  cursor: pointer;
  display: none;
  font-size: 2rem;
  height: auto;
  padding: 0;
  position: fixed;
  right: 1rem;
  text-decoration: none;
  width: 2rem;
  z-index: var(--layer-overlay);
}
.block-local-tasks-block,
.uw-content-moderation{
  display: block;
}
// end.
