{% set main_classes = 'uw-main' %}
{% for class in classes %}
  {% set main_classes = main_classes ~ ' ' ~ class %}
{% endfor %}

<main id="main" class="{{ main_classes }}" role="main" tabindex="-1">
  {% block content %}
    Main content
  {% endblock %}

  {% if logged_in and user.hasPermission('create and edit custom blocks') %}
    <!-- Button for show and hide of admin -->
    <button class="uw-show-hide"  id="revision-show-hide" title="Show/hide revision elements">±</button>
    <!-- end -->
  {% endif %}

</main>
