@use '../../01-core' as *;

.uw-mailman {
  form {
    @include uw-contained-width-reset();
    width: 100%;
    .form-item{
      margin: 0;
      &:hover,
      &:focus{
        //border: none;
        outline: none;
      }
    }
  }

  &__label {
    display: block;
    margin-bottom: var(--size-1);
  }

  &__email {
    display: grid;
    gap: var(--size-1);
    grid-template-columns: auto var(--size-12);

    @media(min-width: $screen-md) {
      grid-template-columns: auto var(--size-18);
    }

    .uw-input {
      width: 100%;
    }
  }

  &__servername {
    text-align: center;
  }
}
