{% set children = '<input type="email" id="uw-mailman__input-' ~ mailman.uniqueid ~ '" name="email" class="uw-input">' %}

<div id="uw-mailman-{{ mailman.uniqueid }}" class="uw-mailman">
  <form action="//{{ mailman.server }}/mailman/subscribe/{{ mailman.servername }}">
    <div class="uw-mailman__label">
      <label for="uw-mailman__input-{{ mailman.uniqueid }}" class="uw-mailman__label--email">{{ 'Email address:'|t }}</label>
    </div>
    <div class="uw-mailman__email">
      {% include '@components/form-item/form-item.twig' with {
        type: 'email',
        name: 'email',
        errors: '',
        is_disabled: false,
        is_required: true,
        is_full_width: true,
        label_display: 'before',
        prefix: '',
        suffix: '',
        children: children
      } %}
      {% include '@components/form-item/form-item.twig' with {
        type: 'submit',
        name: 'submit',
        errors: '',
        is_disabled: false,
        is_required: false,
        is_full_width: true,
        label_display: 'before',
        prefix: '',
        suffix: '',
        children: '<input type="submit" value="Subscribe" class="uw-input uw-input--submit button--medium">'
      } %}
    </div>
  </form>
</div>
