@use '../../../01-core' as *;

$menu-horizontal-bg: var(--gray-2);
$menu-horizontal-bar-font: var(--font-book);
$menu-horizontal-sub-font: var(--font-system);
$menu-horizontal-sub-font-bold:  var(--font-systembold);
$menu-horizontal-bar-font-size:  var(--font-size-000);
$menu-horizontal-sub-font-size:  var(--font-size-000);
$menu-horizontal-drop-bg: #f7f7f7;

// Colors

@each $faculty, $colour in $faculties_colours {

  @if $faculty == org-default{
    .#{$faculty} {
      .uw-horizontal-nav {
        .uw-site-home__link{
          svg{
            .bg-circle{
              fill: var(--uw-black);
              stroke: var(--uw-black);
            }
            .house{
              fill: var(--uw-white);
            }
          }
          &:focus{
            svg{
              .bg-circle {
                fill: var(--uw-white);
                stroke: var(--uw-black);
              }
              .house {
                fill: var(--uw-black);
              }
            }
          }
          &:hover{
            svg{
              .bg-circle {
                fill: var(--uw-white);
                stroke: var(--uw-black);
              }
              .house {
                fill: var(--uw-black);
              }
            }
          }
        }
        .menu--horizontal {
          > .is-active-trail {
            background-color: var(--gray-3);
            color: var(--uw-black);
            >  .menu__link.active{
              ~ .menu{
                .menu__item{
                  &-parent{
                    a{
                      border-bottom: var(--size-xs) solid var(--uw-black);
                    }
                  }
                }
              }
            }
          }
          li {
            > a{
              color: var(--uw-black);
              &:focus{
                background-color: var(--gray-3);
                color: var(--uw-black);
              }
              &.active{
                background-color: var(--gray-3);
                color: var(--uw-black);
              }
              &:hover{
                background-color: var(--uw-white);
                color: var(--uw-black);
              }
            }
            .menu__subnav{
              a{
                background-color: transparent;
                border-bottom: 1px solid transparent;
                text-decoration: none;
                &:focus {
                  background-color: inherit;
                  border-bottom: 1px solid  var(--uw-black);
                  color: var(--uw-black);
                }
                &.active{
                  background-color: inherit;
                  border-bottom: 1px solid  var(--uw-black);
                  color: var(--uw-black);
                  &::after{
                    display: none;
                  }
                  &:hover{
                    background-color: inherit;
                    border-bottom: 1px solid  var(--gray-3);
                    color: var(--uw-black);
                  }
                }
                &:hover{
                  background-color: inherit;
                  border-bottom: 1px solid  var(--gray-3);
                  color: var(--uw-black);
                }
              }
            }
          }
        }
      }
    }
  }
  @else {
    .#{$faculty} {
      .uw-horizontal-nav {
        .uw-site-home__link{
          svg{
            .bg-circle{
              fill: var(--#{$colour}-primary);
              stroke: var(--#{$colour}-primary);
            }
            .house{
              fill: var(--uw-white);
            }
          }
          &:focus{
            svg{
              .bg-circle{
                fill: var(--uw-white);
                stroke: var(--#{$colour}-primary);
              }
              .house{
                fill: var(--#{$colour}-primary);
              }
            }
          }
          &:hover{
            svg{
              .bg-circle{
                fill: var(--uw-white);
                stroke: var(--#{$colour}-primary);
              }
              .house{
                fill: var(--#{$colour}-primary);
              }
            }
          }
        }
        .menu--horizontal {
          > .is-active-trail {
            background-color: var(--gray-3);
            color: var(--uw-black);
            >  .menu__link.active{
              ~ .menu{
                .menu__item{
                  &__parent{
                    a{
                      border-bottom: 1px solid var(--#{$colour}-primary);
                      color: var(--#{$colour}-primary);
                    }
                  }
                }
              }
            }
          }
          li {
            > a{
              color: var(--uw-black);
              &:focus{
                background-color: var(--gray-3);
                color: var(--uw-black);
              }
              &.active{
                background-color: var(--gray-3);
                color: var(--uw-black);
              }
              &:hover{
                background-color: var(--uw-white);
                color: var(--uw-black);
              }
            }
            .menu__subnav{
              a{
                background-color: transparent;
                border-bottom: var(--size-xs) solid transparent;
                text-decoration: none;
                &:focus {
                  background-color: inherit;
                  border-bottom: var(--size-xs) solid var(--#{$colour}-primary);
                  color: var(--uw-black);
                }
                &.active{
                  background-color: inherit;
                  border-bottom: var(--size-xs) solid var(--#{$colour}-primary);
                  color: var(--#{$colour}-primary);
                  &::after{
                    display: none;
                  }
                  &:hover{
                    background-color: inherit;
                    border-bottom: var(--size-xs) solid  var(--gray-3);
                    color: var(--uw-black);
                  }
                }
                &:hover{
                  background-color: inherit;
                  border-bottom: var(--size-xs) solid var(--#{$colour}-primary);
                  color: var(--#{$colour}-primary);
                }
              }
            }
          }
        }
      }
    }
  }
}

.uw-horizontal-nav{
  @include uw-full-width;
  background-color: var(--gray-2);
  &--wrapper{
    @include uw-contained-width;
    display: grid;
    padding: 0;
    position: relative;
    @media(min-width: $screen-md) {
      grid-template-columns: var(--size-6) auto;
      padding: 0 var(--size-1);
    }
    @media(min-width: $screen-xl) {
      padding: 0;
    }
  }
  &--home{
    display: none;
    @media(min-width: $screen-md) {
      display: block;
      grid-column: 1 / 2;
      padding: var(--size-05);
      .uw-site-home__link{
        display: block;
        height: var(--size-3);
        width: var(--size-3);
        svg{
          .bg-circle{
            stroke-miterlimit: 10;
            stroke-width: 0.5;
          }
          .house{
            stroke: none !important;
          }
        }
      }
    }
    @media(min-width: $screen-xl) {
      padding: var(--size-05) 0;
    }
  }
  &--menu {
    @include uw-full-width;
    @media(min-width: $screen-md) {
      grid-column: 2 / 3;
    }
    .menu {
      margin-left: inherit;
      &__link{
        line-height: var(--font-lineheight-nav);
        position: relative;
      }
      .menu__item{
        a{
          cursor: pointer;
          outline: none;
          outline-offset: unset;
          &:hover{
            background-color: var(--uw-white);
          }
        }
      }

      // Top Level <ul> flex top items
      &--horizontal {
        @include uw-full-width;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        font-family: $menu-horizontal-bar-font;
        justify-content: flex-start;
        width: 100%;
        li{
          font-size: $menu-horizontal-bar-font-size;
        }
        > .menu__item{
          border-bottom: var(--size-xs) solid  var(--gray-3);
          font-size: $menu-horizontal-bar-font-size;
          @media(min-width: $screen-md) {
            border-bottom: inherit;
          }
          width: 100%;
          @media(min-width: $screen-md) {
            width: auto;
          }
          a{
            display: inline-block;
            line-height: var(--font-lineheight-nav);
            padding: var(--size-1);
            text-decoration: none;
            width: 100%;
          }
          &.has-submenu {
            > a{
              padding-right: var(--size-3);
              position: relative;
              &::after {
                @include svg-background(mobile-arrow-down);
                background-position: center center; // LTR
                background-repeat: no-repeat;
                background-size: contain;
                color: var(--uw-black);
                content: '';
                display: block;
                height: var(--size-1);
                position: absolute;
                right: var(--size-1);
                text-align: center;
                top: 12px;
                width: var(--size-1);
              }
            }
          }
          .no-scroll & {
            > a {
              height: 2.25rem;
              @media(min-width: $screen-md) {
                height: inherit;
              }
              &::after {
                transform: rotate(270deg);
                @media(min-width: $screen-md) {
                  transform: rotate(180deg);
                }
              }
            }
            &[aria-expanded="true"]{
              > a{
                border-left: var(--size-xs) solid var(--gray-3);
                display: inline-block;
                height: 2.25rem;
                @media(min-width: $screen-md) {
                  height: inherit;
                }
                overflow: hidden;
                position: absolute;
                right: 0;
                top: 0;
                width: var(--size-4);
                z-index: var(--layer-overlay);
                span{
                  display: none;
                }
                &::after {
                  transform: rotate(90deg);
                  @media(min-width: $screen-md) {
                    transform: rotate(180deg);
                  }
                }
              }
            }
          }
        }
      }
      // hide all menus that are classed subnav
      &__subnav {
        display: none;
        font-size: $menu-horizontal-sub-font-size;
        text-transform: none;
        width: 100%;
      }
      .submenu-active {

        &[aria-expanded="true"]{
          > a{
            height: 2.25rem;
            @media(min-width: $screen-md) {
              height: inherit;
            }
            &::after {
              transform: rotate(-90deg);
              @media(min-width: $screen-md) {
                transform: rotate(180deg);
              }
            }
          }
        }
        .menu__subnav{
          background-color: #f7f7f7;
          display: block;
          height: calc(100vh - 7rem);
          position: absolute;
          top: 0;
          z-index: var(--layer-dropdown);
          .menu__subnav{
            align-items: inherit;
            background: inherit;
            box-shadow: none;
            column-count: inherit;
            display: inherit;
            flex-flow: inherit;
            flex-direction: inherit;
            flex-wrap: inherit;
            height: inherit;
            left: inherit;
            margin: 0;
            max-height: inherit;
            min-height: inherit;
            padding-top: inherit !important;
            position: inherit;
            top: inherit;
            width: inherit;
            z-index: inherit;
          }
          @media(min-width: $screen-md) {
            background-color: #f7f7f7;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.13);
            break-inside: avoid;
            column-count: 2;
            column-fill: balance;
            column-gap: var(--grid-gap);
            height: auto;
            left: var(--size-6);
            overflow-y: inherit;
            padding: 0 var(--size-2) var(--size-3) var(--size-2);
            top: 100%;
            width: calc(100% - 6rem);
            // Puts the dropdown at z-index 7
            z-index: var(--layer-dropdown);
          }
          @media(min-width: $screen-lg) {
            column-count: 3;
          }
          @media(min-width: $screen-xl) {
            column-count: 4;
          }
          li{
            font-size: $menu-horizontal-bar-font-size;
          }
          .menu__item{
            @supports (break-inside: avoid-column) {
              display: block;
            }
            .menu__subnav{
              padding: 0;
            }
            a{
              font-family: $menu-horizontal-sub-font-bold;
              font-weight: 400;
              padding: var(--size-1);
              padding-right: var(--size-3);
              .no-scroll &{
                border-bottom: var(--size-xs) solid #e6e6e6;
              }
              @media(min-width: $screen-md) {
                padding: var(--size-1) var(--size-1) var(--size-1) 0;
              }
            }
            .no-scroll & {
              &-parent{
                border-bottom: var(--size-xs) solid #e6e6e6;
                padding: 0;
                a{
                  border-bottom: var(--size-xs) solid transparent;
                  height: 2.25rem;
                  @media(min-width: $screen-md) {
                    height: inherit;
                  }
                }
              }
              .menu__item {
                a {
                  font-family: $menu-horizontal-sub-font;
                  font-weight: 200;
                  height: 2.25rem;
                  @media(min-width: $screen-md) {
                    height: inherit;
                  }
                  padding-left: var(--size-2);
                }
                .menu__item {
                  a {
                    font-family: $menu-horizontal-sub-font;
                    font-weight: 200;
                    height: 2.25rem;
                    @media(min-width: $screen-md) {
                      height: inherit;
                    }
                  }
                  .menu__item {
                    a {
                      font-family: $menu-horizontal-sub-font;
                      font-weight: 200;
                      height: 2.25rem;
                      @media(min-width: $screen-md) {
                        height: inherit;
                      }
                    }
                  }
                }
              }
            }
            @media(min-width: $screen-md) {
              height: auto;
              width: 100%;
              .menu__item{
                font-family: $menu-horizontal-sub-font;
                font-weight: 200;
                margin-top: inherit;
                max-width: inherit;
                padding-left: var(--size-1);
                a{
                  font-family: $menu-horizontal-sub-font;
                  padding: var(--size-05);
                }
                .menu__item{
                  margin-top: inherit;
                  padding-left: var(--size-1);
                  a{
                    font-family: $menu-horizontal-sub-font;
                    font-weight: 200;
                  }
                  .menu__item{
                    margin-top: inherit;
                    a{
                      font-family: $menu-horizontal-sub-font;
                      font-weight: 200;
                    }
                  }
                }
              }
            }
            &-parent{
              padding: var(--size-05) 0 var(--size-05) 0;
              top: 0;
              width: 100%;
              .menu__link-parent {
                display: inline-block;
                position: relative;
                width: auto;
                &::after {
                  @include svg-background(mobile-arrow-down);
                  background-position: center center; // LTR
                  background-repeat: no-repeat;
                  background-size: contain;
                  color: var(--uw-black);
                  content: '';
                  display: block;
                  height: var(--size-1);
                  position: absolute;
                  right: var(--size-1);
                  text-align: center;
                  top: 12px;
                  transform: rotate(-90deg);
                  width: var(--size-1);
                }
              }
              @media(min-width: $screen-md) {
                column-span: all;
                max-width: inherit !important;
                padding: var(--size-1) 0 var(--size-1) 0;
                .menu__link-parent {
                  font-size: var(--font-size-00);
                  margin: 0 0 var(--size-05) 0;
                  &::after {
                    right: -1rem !important;
                  }
                }
              }
            }
          }
        }
      }
      .sub-1{
        @media(min-width: $screen-md) {
          /* for Chrome and Edge Brave Opera */
          break-inside: avoid;
          /* for Firefox */
          page-break-inside: avoid;
        }
      }
    }
  }
}
/* stylelint-disable-next-line function-url-quotes */
@-moz-document url-prefix() {
  .uw-horizontal-nav--menu .menu .submenu-active .menu__subnav .menu__item.sub-1{
    display: inline-grid !important;
  }
}
