<section class="l-{{ region_name ?: 'region' }}">
  {% if constrain %}
    <div class="l-constrain {{ constrain }}">
  {% endif %}

      {% block content %}
        Region Content
      {% endblock %}

  {% if constrain %}
    </div>
  {% endif %}
</section>
