{% if title %}
  <{{ title_element ?: 'h3' }}>{{ title }}</{{ title_element ?: 'h3' }}>
{% endif %}

{% for row in rows %}
  {% if has_wrapper %}

    {% set classes = [
      'view__row',
      row.attributes ? row.attributes.class
    ]|join(' ')|trim %}

    <{{ element ?: 'div' }} class="{{ classes }}" {{ row.attributes ? row.attributes|without('class','id') }}>
      {{ row.content }}
    </{{ element ?: 'div' }}>
  {% else %}
    {{ row.content }}
  {% endif %}
{% endfor %}
