{% if media_flags.has_media %}
  {% set node_classes = 'uw-node__with-media uw-node__with-media--' ~ node.media.type %}
{% else %}
  {% set node_classes =  'uw-node__without-media' %}
{% endif %}

{% if media_flags.has_portrait and node.image %}
  {% set node_classes = node_classes ~ ' uw-node__with-portrait' %}
{% endif %}

<div class="{{ node_classes }}">
  {% include '@components/card/card.twig' with {
    'bundle': node.bundle,
    'url': node.url,
    'type': type,
    'show_hover': '',
    'header': node.header,
    'media': node.media,
    'image': node.image,
    'content': node.content,
    'footer': node.footer,
    'tags': node.tags,
    'ical': node.ical,
    'media_flags': media_flags,
    'node_classes': node_classes
  } %}
</div>
