<h2>{{ 'Node - basic'|t }}</h2>
{% include '@components/card/card--node/_card--node.twig' with {
  'node': node_webpage,
  'type': 'node'
} %}
<h2>{{ 'Node - with media'|t }}</h2>
{% include '@components/card/card--node/_card--node.twig' with {
  'node': node_webpage_media,
  'type': 'node'
} %}
<h2>{{ 'Node - Blog (without media)'|t }}</h2>
{% include '@components/card/card--node/_card--node.twig' with {
  'node': node_blog,
  'type': 'node'
} %}

<h2>{{ 'Node - Blog (with media)'|t }}</h2>
{% include '@components/card/card--node/_card--node.twig' with {
  'node': node_blog_media,
  'type': 'node'
} %}

<h2>{{ 'Node - Event (without media)'|t }}</h2>
{% include '@components/card/card--node/_card--node.twig' with {
  'node': node_event,
  'type': 'node'
} %}

<h2>{{ 'Node - Event (with media)'|t }}</h2>
{% include '@components/card/card--node/_card--node.twig' with {
  'node': node_event_media,
  'type': 'node'
} %}

<h2>{{ 'Node - News (without media)'|t }}</h2>
{% include '@components/card/card--node/_card--node.twig' with {
  'node': node_news,
  'type': 'node'
} %}

<h2>{{ 'Node - News (with media)'|t }}</h2>
{% include '@components/card/card--node/_card--node.twig' with {
  'node': node_news_media,
  'type': 'node'
} %}
