@use '../../01-core' as *;

.uw-carousel {
  display: block;
  position: relative;
  width: 100%;
}

.owl-carousel.owl-theme {
  display: flex !important;
  flex-flow: column;

  .owl-dots{
    margin-bottom: var(--size-1);
    .owl-dot {
      &:hover{
        span {
          background: var(--gray-5) !important;
          color: var(--gray-5) !important;
        }
      }
      &.active{
        span {
          background: var(--gray-5) !important;
          color: var(--gray-5) !important;
        }
      }
    }
  }
}

.owl-stage-outer {
  margin-bottom: var(--size-2);
  order: 1;
}

// Style the carousel buttons.
.uw-owl-nav{

  &.disabled {
    display: none;
  }
  display: flex;
  justify-content: center;
  order: 3;

  button {
    background: var(--gray-2);
    color: var(--uw-black);
    display: inline-block;
    font-family: var(--font-condensedbook);
    font-size: var(--font-size-1);
    font-weight: 200;
    letter-spacing: 0.055rem;
    margin: 0 var(--size-1);
    max-width: inherit;
    padding: var(--size-105);
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;

    &:hover {
      background: var(--gray-5) !important;
      color: var(--uw-white) !important;
    }
  }
}

.owl-dots {
  order: 2;

  &.disabled {
    display: none;
  }

  button {
    background: var(--gray-5);
    color: var(--uw-white-1);
    display: inline-block;
    font-size: var(--font-size-1);
    height: var(--size-4);
    margin: 0 auto;
    max-width: inherit;
    padding: inherit;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: var(--size-4);

    &:hover {
      background-color: transparent;
    }
  }
}

.owl-theme .owl-dots .owl-dot {
  span{
    border-radius: 50%;
    height: var(--size-2) !important;
    width: var(--size-2) !important;
  }

  &:hover{
    span {
      background: var(--gray-5) !important;
      color: var(--gray-5) !important;
    }
  }
  &.active{
    span {
      background: var(--gray-5) !important;
      color: var(--gray-5) !important;
    }
  }
}
