<div class="eu-cookie-compliance-banner eu-cookie-compliance-banner-info eu-cookie-compliance-banner--default">
    <div class="popup-content info eu-cookie-compliance-content" role="alertdialog">
        <div
            aria-labelledby="{{ cookie.labelledby_id }}"
            aria-describedby="{{ cookie.describedby_id }}"
            id="popup-text"
            class="eu-cookie-compliance-message">
            <h2 id="{{ cookie.labelledby_id }}">{{ cookie.label }}</h2>
            <p id="{{ cookie.describedby_id }}">{{ cookie.description }}</p>
        </div>

        <div id="popup-buttons" class="eu-cookie-compliance-buttons">
            <button type="button" class="agree-button eu-cookie-compliance-default-button">{{ 'Accept all'|t }}</button>
        </div>
    </div>
</div>
