@use '../../01-core' as *;

:root {
  --banner-transition-speed: 400ms;
}

.uw-carousel {
  &__banner {
    .animated {
      animation-duration: var(--banner-transition-speed) !important;
    }

    // Used to control the display of the play-pause.
    &[data-autoplay="1"] {
      .uw-owl-nav__banner-control-wrap {
        display: block;
      }

      &.banner-single {
        .uw-owl-nav__banner-control-wrap {
          display: none;
        }
      }
    }

    &[data-autoplay="0"] {
      .uw-owl-nav__banner-control-wrap {
        display: none;
      }
    }

    .uw-owl-nav__banner-control-wrap {
      bottom: var(--size-5);
      display: none;
      font-size: var(--font-size-3);
      left: var(--size-1);
      order: 4;
      position: absolute;
      z-index: var(--layer-content);
      .uw-owl-nav__banner-control {
        @include button-reset();
        box-sizing: border-box;
        display: block;
        height: var(--size-4);
        overflow: hidden;
        position: relative;
        width: var(--size-4);
        &.uw-play{
          display: none;
        }

        .uw-icon{
          display: block;
          height: var(--size-4);
          width: var(--size-4);
        }
      }
    }

    .owl-stage-outer {
      margin-bottom: 0;
      overflow: hidden;
    }

    .owl-carousel {
      .uw-owl-nav__dots {
        align-items: flex-start;
        background: var(--gray-5);
        border-bottom: 1px solid var(--gray-5);
        display: flex;
        &.disabled {
          display: none;
        }
        gap: var(--size-xs);
        order: 3;
        .owl-dot {
          @include button-reset();
          background-color: var(--gray-2);
          color: var(--uw-white);
          height: var(--size-3);
          margin: 0;
          padding: 0;
          width: 100%;
          &:hover,
          &:focus {
            background-color: var(--gray-5);
            color: var(--uw-white);
          }
          &.active{
            background-color: var(--uw-black);
          }
        }
      }

      .uw-owl-nav__prevnext{
        // Replace with display: flex; when theming
        // other banners.styles.
        display: none;
        &.disabled {
          display: none;
        }
        flex-flow: column;
        opacity: 0;
        position: absolute;
        top: calc(50% - 6rem);
        transition: opacity 350ms ease-in-out 250ms;
        width: 100% !important;
        z-index: 1;
        .owl-prev,
        .owl-next {
          @include button-reset();
          background: rgba(0, 0, 0, 0.5);
          height: var(--size-13);
          position: absolute;
          vertical-align: middle !important;
          width: var(--size-6);
          &::after {
            display: block;
            font-family: var(--font-system);
            font-size: var(--font-size-12);
          }
        }

        .owl-prev {
          align-self: flex-start;
          padding-left: var(--size-2) !important;
          &::after {
            content: "\2039";
          }
        }

        .owl-next{
          align-self: flex-end;
          padding-left: var(--size-2) !important;
          right: 0;
          &::after {
            content: "\203A";
          }
        }
      }

      &:hover {
        .uw-owl-nav__prevnext {
          opacity: 1;
          transition: opacity 350ms ease-in-out 250ms;
        }
      }
    }
  }
}

.no-js {
  .uw-carousel {
    &__banner {
      &[data-autoplay="1"] {
        .uw-owl-nav__banner-control-wrap {
          display: none;
        }
      }
    }
  }

  &.js {
    .uw-carousel {
      &__banner {
        &[data-autoplay="1"] {
          .uw-owl-nav__banner-control-wrap {
            display: inherit;
          }
          &.banner-single{
            .uw-owl-nav__banner-control-wrap {
              display: none;
            }
          }
        }
      }
    }
    .card__banner:target ~ .card__banner:last-of-type,
    .card__banner {
      display: inherit;
    }
    .card__banner:last-of-type,
    .card__banner:target {
      display: inherit;
    }
  }

  .uw-owl-nav__dots-js {
    align-items: flex-start;
    background: var(--gray-5);
    border-bottom: var(--size-xs) solid var(--gray-5);
    display: flex;
    gap: var(--size-xs);
    order: 3;
    .owl-dot {
      @include button-reset();
      background-color: var(--gray-2);
      color: var(--uw-white);
      height: var(--size-3);
      margin: 0;
      padding: 0;
      width: 100%;
      &:hover,
      &:focus {
        background-color: var(--gray-5);
        color: var(--uw-white);
      }

      &.active {
        background-color: var(--uw-black);
      }
    }
  }

  .card__banner:target ~ .card__banner:last-of-type,
  .card__banner {
    display: none;
  }

  /* :last-child works, but .page:last-child will not */
  .card__banner:last-of-type,
  .card__banner:target {
    display: block;
  }
}
