{% set button_modifier_classes -%}
  button  button--large  {{ modifier_classes }}
{%- endset %}

{% include "@components/tabs/_tabs.twig" with {
  tab_type: 'link',
  content_list: content_list,
  button_modifier_classes: button_modifier_classes,
  tabs_modifier_class: tabs_modifier_class,
} %}
