// @file
// Styles for the Layout Builder stuff module.

@use '../../../01-core' as *;

// constraining sections of the theme with the site-container
.uw-highlighted,
.block-page-title-block,
.block-local-tasks-block,
.layout-builder__message,
.field--name-moderation-state {
  @include uw-contained-width(var(--layout-max-width-narrow));
  @media(min-width: $screen-xl) {
    // Reset the width so we use all the width when we have room to.
    @include uw-contained-width(var(--layout-max-width));
  }
  margin-bottom: 0;
  padding: var(--size-2) 0;
  .form-wrapper{
    padding: var(--size-2);
  }
}
.uw-highlighted{
  padding: 0;
}
.node-form,
.admin-list,
.js-media-library-view,
.messages,
.message,
.contextual-region.profile,
.uw-content-moderation__wrapper,
form {
  @include uw-contained-width;
  padding: var(--size-2) 0;
}
// Reset padding
.uw-content-moderation__wrapper{
  display: none;
  margin-bottom: var(--size-4);
  padding: var(--size-2);
  .user-logged-in &{
    display: block;
    margin: var(--size-2);
    @media(min-width: $screen-xl) {
      margin: 0 auto var(--size-2) auto;
    }
  }
}
// right column on edit
.entity-meta__header {
  background-color: #fffbda;
}
// overlay popuup
.ui-dialog .ui-dialog-title {
  font-family: var(--font-condensedbook);
  font-size: var(--font-size-4);
  font-weight: 400;
}
.js-media-library-view {
  background: var(--gray-2);
  border: 1px solid #bfbfbf;
  border-radius: 2px;
  padding: var(--size-2);
}
// button in popup
.ui-dialog-buttonpane {
  //box-shadow: 6px;
}
.ui-dialog {
  // Reset the widths put from default size values.
  input[size="60"],
  input[size="120"] {
    max-width: 100%;
    width: 100%;
  }

  .media-library-widget {
    .fieldset-wrapper {
      display: block;
    }
  }

  .description {
    font-size: var(--font-size-000);
    font-style: italic;
  }

  .views-display-link {
    font-family: var(--font-systemmedium);
  }

  form {
    @include uw-contained-width;
    padding: 0 !important;
  }

  .field--widget-entity-reference-paragraphs {
    padding: var(--size-2);

    .field--widget-entity-reference-paragraphs {
      padding: 0 !important;
    }
  }

  .field--name-field-uw-ec-items {
    background: inherit;
    padding: inherit;
  }

  // Adjusting the presentation of the tables.
  .field--widget-entity-reference-paragraphs td {
    background: inherit;
    border: var(--size-xs) solid var(--gray-3);
    padding: var(--size-2);
  }

  .field--widget-entity-reference-paragraphs .field-label {
    border-width: var(--size-xs) var(--size-xs) 0;
    .label {
      font-size: var(--font-size-1);
    }
  }

  // Adjusting the drag handles on the draggable tables.
  .paragraph-type--uw-para-fact-figure .tabledrag-handle .handle {
    margin: 0;
  }

  .draggable .tabledrag-handle {
    cursor: move;
    float: inherit;
    height: inherit;
    margin-left: inherit;
    overflow: inherit;
    text-decoration: none;
    .handle {
      float: left;
      height: var(--size-4);
      padding: 0;
      width: var(--size-4);
    }
  }

  .tabledrag-hide {
    border-width: var(--size-xs) var(--size-xs) 0;
    font-family: var(--font-condensedbook);
    font-size: var(--font-size-1);
    font-weight: 400;
    margin: 0;
    padding: 0 var(--size-2);
    text-align: center;
    select {
      min-width: 3rem;
    }
  }

  // Resets the min width.
  .field-multiple-table {
    min-width: inherit;
  }

  // Reset media
  .media-library-item--grid {
    padding-bottom: var(--size-4);
  }

  // Banner block issues (ISTWCMS-5884).
  .dropbutton .dropbutton-action > input {
    font-family: var(--font-book);
    font-weight: var(--font-weight-300);
    color: var(--uw-black);
  }
  .dropbutton-toggle {
    button,
    .button{
      margin: 0;
      .dropbutton-arrow{
        right: 18%;
      }
    }
  }
}
// Token dialog popup.
.token-tree-dialog {
  font-family: var(--font-book);

  table td {
    padding: var(--size-1) var(--size-2);
  }
}
// Makes the flex basis accomodate more characters.
.js .paragraph-type-title {
  flex-basis: 35%;
}
.tabledrag-changed.warning {
  color: #e00 !important;
}


// Edits of buttons in the wcms forms
.button,
button {
  [aria-label="Layout Builder tools"] &,
  .layout-builder-discard-changes.confirmation & {
    font-size: var(--font-size-00);
    height: 2.5rem;
    line-height: var(--font-lineheight-2);
    max-width: inherit;
    padding: var(--size-05);
    width: 100%;
    &:hover,
    &:focus {
      padding: var(--size-05);
    }
  }
  .media-library-content &,
  .paragraphs-actions &,
  .paragraph-type-top &,
  .paragraphs-dropbutton-wrapper &,
  .user-login-form &{
    font-size: var(--font-size-00);
    font-weight: 200;
    height: inherit;
    //letter-spacing:inherit;
    max-width: 12rem;
    padding: var(--size-1) var(--size-2);
    width: 100%;
    &:hover,
    &:focus {
      padding: var(--size-1) var(--size-2);
    }
  }

  .ui-dialog & {
    margin: var(--size-1) 0 0 0;
  }

  .ui-dialog-buttonset.form-actions & {
    max-width: 10rem;
    width: 100%;
  }

  .user-login-form .form-actions & {
    @include button();
  }

  .tabledrag-toggle-weight-wrapper & {
    font-size: var(--font-size-000);
    font-weight: 200;
    max-width: 10rem;
    padding: 0;
    text-align: inherit;
    width: inherit;
    &:hover,
    &:focus {
      background: none;
      font-size: var(--font-size-000);
      font-weight: 200;
      max-width: 10rem;
      padding: 0;
      text-align: inherit;
      width: inherit;
    }
  }

  .views-exposed-form .form-actions & {
    font-size: var(--font-size-00);
    height: 2.5rem;
    line-height: var(--font-lineheight-2);
    padding: var(--size-05);
    width: 100%;

    &:hover,
    &:focus {
      padding: var(--size-05);
    }
  }
}

// Reset the button in media dialog
.media-library-widget__toggle-weight {
  font-size: var(--font-size-000) !important;
  font-weight: 200;
  max-width: 10rem;
  padding: 0;
  text-align: inherit;
  width: inherit;
  &:hover,
  &:focus {
    background: none;
    font-size: var(--font-size-000);
    font-weight: 200;
    max-width: 10rem;
    padding: 0;
    text-align: inherit;
    width: inherit;
  }
}

// Removce Box shadow on the dashboard boxes.
.layouts-dashboards-3 .drow > div,
.layouts-dashboards-2 .drow > div,
.layouts-dashboards-1 .drow > div {
  box-shadow: none;
}

// overlay labels
.uw-admin-label {
  background-color: var(--gray-5) !important;
  color: var(--uw-white);
  font-family: var(--font-system);
  font-size: var(--font-size-000);
  left: -1px;
  padding: 0.2rem var(--size-2);
  position: absolute;
  top: -1.5rem !important;
  text-shadow: none;
}

// Give padding for the admin labels.
.layout-builder__region {
  padding: var(--size-05);
}

.contextual .trigger {
  color: #f03;
  width: inherit;

  &:focus {
    color: #25ffcc;
    width: inherit;
  }
}

// Color for button in dialog
.paragraphs-dropdown-action.button {
  color: var(--gray-6);
}

// Edit tabs for the main pages in drupal
.tabs{
  &__trigger{
    padding-bottom: 0;
    &:hover,
    &:focus{
      background: var(--gray-2);
      border: var(--size-xs) solid var(-gray-4);
    }
  }
  .is-collapse-enabled &{
    &::before{
      display: none;
    }
    li{
      &:not(.is-active){
        display: none;
      }
    }
  }
  &.is-open{
    li{
      &:not(:first-child){
        display: inherit;
      }
    }
  }
}
