/**
 * @file
 * Collapsible details for filter page.
 *
 */
@use '../../01-core' as *;

.views-exposed-form.bef-exposed-form{
  margin: 0 !important;
  padding: 0 !important;
  .form-actions{
    display: flex;
    justify-content: flex-end;
    flex-flow: row;
    gap: var(--size-2);
    margin-top: var(--size-1);
    .button.js-form-submit.form-submit{
      @extend %button--highlight;
      font-weight: inherit;
      order: 1;
      &[data-drupal-selector="edit-reset"]{
        @extend %button--standard;
        order: -1;
      }
    }
  }
  .form-item.form-wrapper {
    background: var(--uw-white);
    margin: 0;
    .form-item{
      float: inherit;
      .form-item{
        margin: 0;
      }
    }
  }
  details{
    &.uw-details,
    &.seven-details{
      background: var(--uw-white);
      border: var(--size-xs) solid var(--gray-3);
      border-width: var(--size-xs) var(--size-xs) 0 var(--size-xs);
      font-family: var(--font-systembold);
      font-size: var(--font-size-000);
      margin: 0;
      &[open] > .seven-details__summary {
        background-color: var(--gray-2);
        color: var(--uw-black-primary);
      }
      &:hover > .seven-details__summary {
        background-color: var(--gray-2);
        color: var(--uw-black-primary);
      }
      &:last-of-type{
        border-width: var(--size-xs);
        margin-bottom: var(--size-1);
      }
    }
    summary{
      &.seven-details__summary,
      &.details__summary {
        background-color: var(--uw-white);
      }
    }
  }
  input[type="radio"],
  input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: -9999px;
    visibility: hidden;
    &:checked + label {
      &::before {
        //
      }
      &::after {
        transform: translate3d(0, 0, 0);
        opacity: 1;
      }
    }
  }
  label.option {
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: inherit;
    padding: var(--size-1) 0 var(--size-1) var(--size-4);
    position: relative;
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
    }
    &::before {
      background: var(--gray-2);
      box-shadow: 0 0 1px var(--gray-4);
      height: 20px;
      margin: -10px 0 0;
      left: 0;
      width: 20px;
    }

    &::after {
      background: var(--uw-black);
      height: 15px;
      margin: -7px 0 0;
      left: 3px;
      opacity: 0;
      transform: translate3d(-40px, 0, 0) scale(0.5);
      transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
      width: 15px;
    }
  }
}
.form-type-radio label.option {
  &::before,
  &::after {
    border-radius: 50% !important;
  }
}
.view-filters .form-checkboxes .bef-checkboxes {
  .form-item{
    margin: 0;
  }
}
