  <div id="view-filters" class="view-filters">
    <div class="uw-offcanvas--filter">
      {% include '@components/button/button.twig' with {
        'is_button_tag': false,
        'is_demo': false,
        'url': '#offcanvasbutton',
        'text': 'Close X'|t,
        'modifier_classes': 'button--medium view-filters__close',
      } %}
     </div>
    <h2>
      {% include '@components/icon/icon.twig' with {
        'name': 'filter2',
      } %}
      {{ 'Filter by:'|t }}
    </h2>
    {% block exposed %}
      {{ exposed }}
    {% endblock %}
  {% if pattern_lab %}
    <form class="views-exposed-form bef-exposed-form" data-drupal-selector="views-exposed-form-uw-view-events-event-page" action="" method="" id="views-exposed-form-uw-view-events-event-page" accept-charset="UTF-8">
      <div class="form--inline clearfix">
        <details open data-drupal-selector="edit-title-collapsible" aria-describedby="edit-title-collapsible--description" id="edit-title-collapsible" class="js-form-wrapper form-item form-wrapper seven-details">    <summary role="button" aria-controls="edit-title-collapsible" aria-expanded="false" aria-pressed="false" class="seven-details__summary">
            <span>{{ 'Title'|t }}</span>
          </summary>
          <div class="seven-details__wrapper details-wrapper">
            <div class="seven-details__description">{{ 'Limit to events where the title matches:'|t }}</div><div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-title form-item-title form-no-label">
              <input class="views-ac-dependent-filter form-autocomplete form-text ui-autocomplete-input" data-drupal-selector="edit-title" data-autocomplete-path="/views-autocomplete-filters/uw_view_events/event_page/title/0" type="text" id="edit-title" name="title" value=""  maxlength="128" autocomplete="off">
            </div>
          </div>
        </details>
        <details open data-drupal-selector="edit-date-collapsible" aria-describedby="edit-date-collapsible--description" id="edit-date-collapsible" class="js-form-wrapper form-item form-wrapper seven-details">    <summary role="button" aria-controls="edit-date-collapsible" aria-expanded="false" aria-pressed="false" class="seven-details__summary">
            <span>{{ 'Date range'|t }}</span>
          </summary><div class="seven-details__wrapper details-wrapper">
            <div class="seven-details__description">{{ 'Limit to events where the first date of the event:'|t }}</div>
            <div class="js-form-item form-item js-form-type-select form-type-select js-form-item-date-type form-item-date-type">
              <label for="edit-date-type">{{ 'Operator'|t }}</label>
              <select data-drupal-selector="edit-date-type" id="edit-date-type" name="date_type" class="form-select"><option value="<">{{ 'Is less than'|t }}</option><option value="<=">{{ 'Is less than or equal to'|t }}</option><option value="=" selected="selected">{{ 'Is equal to'|t }}</option><option value="!=">{{ 'Is not equal to'|t }}</option><option value=">=">{{ 'Is greater than or equal to'|t }}</option><option value=">">{{ 'Is greater than'|t }}</option><option value="between">{{ 'Is between'|t }}</option><option value="not between">{{ 'Is not between'|t }}</option></select>
            </div>
            <div data-drupal-selector="edit-date" id="edit-date" class="js-form-wrapper form-item form-wrapper"><div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-date-value form-item-date-value">

                <input class="bef-datepicker form-text hasDatepicker" type="text" autocomplete="off" data-drupal-selector="edit-date-value" id="edit-date-value" name="date[value]" value=""  maxlength="128" data-drupal-states="{&quot;visible&quot;:[{&quot;:input[name=\u0022date_type\u0022]&quot;:{&quot;value&quot;:&quot;\u003C&quot;}},{&quot;:input[name=\u0022date_type\u0022]&quot;:{&quot;value&quot;:&quot;\u003C=&quot;}},{&quot;:input[name=\u0022date_type\u0022]&quot;:{&quot;value&quot;:&quot;=&quot;}},{&quot;:input[name=\u0022date_type\u0022]&quot;:{&quot;value&quot;:&quot;!=&quot;}},{&quot;:input[name=\u0022date_type\u0022]&quot;:{&quot;value&quot;:&quot;\u003E=&quot;}},{&quot;:input[name=\u0022date_type\u0022]&quot;:{&quot;value&quot;:&quot;\u003E&quot;}},{&quot;:input[name=\u0022date_type\u0022]&quot;:{&quot;value&quot;:&quot;regular_expression&quot;}}]}">

              </div>
              <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-date-min form-item-date-min" style="display: none;">
                <label for="edit-date-min">{{ 'Date range'|t }}</label>
                <input class="bef-datepicker form-text hasDatepicker" type="text" autocomplete="off" data-drupal-selector="edit-date-min" aria-describedby="edit-date-min--description" id="edit-date-min" name="date[min]" value=""  maxlength="128" data-drupal-states="{&quot;visible&quot;:[{&quot;:input[name=\u0022date_type\u0022]&quot;:{&quot;value&quot;:&quot;between&quot;}},{&quot;:input[name=\u0022date_type\u0022]&quot;:{&quot;value&quot;:&quot;not between&quot;}}]}">

                <div id="edit-date-min--description" class="description">
                  {{ 'Limit to events where the first date of the event:'|t }}
                </div>
              </div>
              <div class="js-form-item form-item js-form-type-textfield form-type-textfield js-form-item-date-max form-item-date-max" style="display: none;">
                <label for="edit-date-max">{{ 'And'|t }}</label>
                <input class="bef-datepicker form-text hasDatepicker" type="text" autocomplete="off" data-drupal-selector="edit-date-max" id="edit-date-max" name="date[max]" value=""  maxlength="128" data-drupal-states="{&quot;visible&quot;:[{&quot;:input[name=\u0022date_type\u0022]&quot;:{&quot;value&quot;:&quot;between&quot;}},{&quot;:input[name=\u0022date_type\u0022]&quot;:{&quot;value&quot;:&quot;not between&quot;}}]}">

              </div>
            </div>
          </div>
        </details>
        <details open data-drupal-selector="edit-type-collapsible" aria-describedby="edit-type-collapsible--description" id="edit-type-collapsible" class="js-form-wrapper form-item form-wrapper seven-details">    <summary role="button" aria-controls="edit-type-collapsible" aria-expanded="false" aria-pressed="false" class="seven-details__summary">
            <span>{{ 'Types'|t }}</span>
          </summary><div class="seven-details__wrapper details-wrapper">
            <div class="seven-details__description">{{ 'Limit to events where the type is one or more of:'|t }}</div><div id="edit-type" class="form-checkboxes"><a class="bef-toggle" href="#">{{ 'Select All'|t }}</a><div class="form-checkboxes bef-checkboxes bef-select-all-none bef-processed">
                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-type-25 form-item-type-25">
                  <input data-drupal-selector="edit-type-25" type="checkbox" id="edit-type-25" name="type[25]" value="25" class="form-checkbox">

                  <label for="edit-type-25" class="option">{{ 'Conference'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-type-26 form-item-type-26">
                  <input data-drupal-selector="edit-type-26" type="checkbox" id="edit-type-26" name="type[26]" value="26" class="form-checkbox">

                  <label for="edit-type-26" class="option">{{ 'Information session'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-type-27 form-item-type-27">
                  <input data-drupal-selector="edit-type-27" type="checkbox" id="edit-type-27" name="type[27]" value="27" class="form-checkbox">

                  <label for="edit-type-27" class="option">{{ 'Lecture'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-type-28 form-item-type-28">
                  <input data-drupal-selector="edit-type-28" type="checkbox" id="edit-type-28" name="type[28]" value="28" class="form-checkbox">

                  <label for="edit-type-28" class="option">{{ 'Open house'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-type-29 form-item-type-29">
                  <input data-drupal-selector="edit-type-29" type="checkbox" id="edit-type-29" name="type[29]" value="29" class="form-checkbox">

                  <label for="edit-type-29" class="option">{{ 'Performance'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-type-30 form-item-type-30">
                  <input data-drupal-selector="edit-type-30" type="checkbox" id="edit-type-30" name="type[30]" value="30" class="form-checkbox">

                  <label for="edit-type-30" class="option">{{ 'Reception'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-type-31 form-item-type-31">
                  <input data-drupal-selector="edit-type-31" type="checkbox" id="edit-type-31" name="type[31]" value="31" class="form-checkbox">

                  <label for="edit-type-31" class="option">{{ 'Reunion'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-type-32 form-item-type-32">
                  <input data-drupal-selector="edit-type-32" type="checkbox" id="edit-type-32" name="type[32]" value="32" class="form-checkbox">

                  <label for="edit-type-32" class="option">{{ 'Seminar'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-type-33 form-item-type-33">
                  <input data-drupal-selector="edit-type-33" type="checkbox" id="edit-type-33" name="type[33]" value="33" class="form-checkbox">

                  <label for="edit-type-33" class="option">{{ 'Thesis defence'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-type-34 form-item-type-34">
                  <input data-drupal-selector="edit-type-34" type="checkbox" id="edit-type-34" name="type[34]" value="34" class="form-checkbox">

                  <label for="edit-type-34" class="option">{{ 'Workshop'|t }}</label>
                </div>

              </div>
            </div>
          </div>
        </details>
        <details open data-drupal-selector="edit-field-uw-event-tags-target-id-collapsible" aria-describedby="edit-field-uw-event-tags-target-id-collapsible--description" id="edit-field-uw-event-tags-target-id-collapsible" class="js-form-wrapper form-item form-wrapper seven-details">    <summary role="button" aria-controls="edit-field-uw-event-tags-target-id-collapsible" aria-expanded="false" aria-pressed="false" class="seven-details__summary">
            <span>{{ 'Tags'|t }}</span>
          </summary><div class="seven-details__wrapper details-wrapper">
            <div class="seven-details__description">{{ 'Limit to events tagged with one or more of:'|t }}</div><div id="edit-field-uw-event-tags-target-id" class="form-checkboxes"><a class="bef-toggle" href="#">{{ 'Select None'|t }}</a><div class="form-checkboxes bef-checkboxes bef-select-all-none bef-processed">
              </div>
            </div>
          </div>
        </details>
        <details open data-drupal-selector="edit-audience-collapsible" aria-describedby="edit-audience-collapsible--description" id="edit-audience-collapsible" class="js-form-wrapper form-item form-wrapper seven-details">    <summary role="button" aria-controls="edit-audience-collapsible" aria-expanded="false" aria-pressed="false" class="seven-details__summary">
            <span>{{ 'Audience'|t }}</span>
          </summary><div class="seven-details__wrapper details-wrapper">
            <div class="seven-details__description">{{ 'Limit to events where the audience is one or more of:'|t }}</div><div id="edit-audience" class="form-checkboxes"><a class="bef-toggle" href="#">{{ 'Select All'|t }}</a><div class="form-checkboxes bef-checkboxes bef-select-all-none bef-processed">
                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-audience-1 form-item-audience-1">
                  <input data-drupal-selector="edit-audience-1" type="checkbox" id="edit-audience-1" name="audience[1]" value="1" class="form-checkbox">

                  <label for="edit-audience-1" class="option">{{ 'Current students'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-audience-2 form-item-audience-2">
                  <input data-drupal-selector="edit-audience-2" type="checkbox" id="edit-audience-2" name="audience[2]" value="2" class="form-checkbox">

                  <label for="edit-audience-2" class="option">{{ 'Current undergraduate students'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-audience-5 form-item-audience-5">
                  <input data-drupal-selector="edit-audience-5" type="checkbox" id="edit-audience-5" name="audience[5]" value="5" class="form-checkbox">

                  <label for="edit-audience-5" class="option">{{ 'Future undergraduate students'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-audience-3 form-item-audience-3">
                  <input data-drupal-selector="edit-audience-3" type="checkbox" id="edit-audience-3" name="audience[3]" value="3" class="form-checkbox">

                  <label for="edit-audience-3" class="option">{{ 'Current graduate students'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-audience-6 form-item-audience-6">
                  <input data-drupal-selector="edit-audience-6" type="checkbox" id="edit-audience-6" name="audience[6]" value="6" class="form-checkbox">

                  <label for="edit-audience-6" class="option">{{ 'Future graduate students'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-audience-4 form-item-audience-4">
                  <input data-drupal-selector="edit-audience-4" type="checkbox" id="edit-audience-4" name="audience[4]" value="4" class="form-checkbox">

                  <label for="edit-audience-4" class="option">{{ 'Future students'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-audience-7 form-item-audience-7">
                  <input data-drupal-selector="edit-audience-7" type="checkbox" id="edit-audience-7" name="audience[7]" value="7" class="form-checkbox">

                  <label for="edit-audience-7" class="option">{{ 'Faculty'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-audience-8 form-item-audience-8">
                  <input data-drupal-selector="edit-audience-8" type="checkbox" id="edit-audience-8" name="audience[8]" value="8" class="form-checkbox">

                  <label for="edit-audience-8" class="option">{{ 'Staff'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-audience-9 form-item-audience-9">
                  <input data-drupal-selector="edit-audience-9" type="checkbox" id="edit-audience-9" name="audience[9]" value="9" class="form-checkbox">

                  <label for="edit-audience-9" class="option">{{ 'Alumni'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-audience-10 form-item-audience-10">
                  <input data-drupal-selector="edit-audience-10" type="checkbox" id="edit-audience-10" name="audience[10]" value="10" class="form-checkbox">

                  <label for="edit-audience-10" class="option">{{ 'Parents'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-audience-11 form-item-audience-11">
                  <input data-drupal-selector="edit-audience-11" type="checkbox" id="edit-audience-11" name="audience[11]" value="11" class="form-checkbox">

                  <label for="edit-audience-11" class="option">{{ 'Donors | Friends | Supporters'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-audience-12 form-item-audience-12">
                  <input data-drupal-selector="edit-audience-12" type="checkbox" id="edit-audience-12" name="audience[12]" value="12" class="form-checkbox">

                  <label for="edit-audience-12" class="option">{{ 'Employers'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-audience-13 form-item-audience-13">
                  <input data-drupal-selector="edit-audience-13" type="checkbox" id="edit-audience-13" name="audience[13]" value="13" class="form-checkbox">

                  <label for="edit-audience-13" class="option">{{ 'International'|t }}</label>
                </div>

                <div class="js-form-item form-item js-form-type-checkbox form-type-checkbox js-form-item-audience-14 form-item-audience-14">
                  <input data-drupal-selector="edit-audience-14" type="checkbox" id="edit-audience-14" name="audience[14]" value="14" class="form-checkbox">

                  <label for="edit-audience-14" class="option">{{ 'Media'|t }}</label>
                </div>

              </div>
            </div>
          </div>
        </details>
        <div data-drupal-selector="edit-actions" class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
          <input data-drupal-selector="edit-submit-uw-view-events" type="submit" id="edit-submit-uw-view-events" value="{{ 'Apply filters'|t }}" class="button js-form-submit form-submit">
          <input data-drupal-selector="edit-reset" type="submit" id="edit-reset" name="op" value="{{ 'Clear filters'|t }}" class="button js-form-submit form-submit">
        </div>

      </div>

    </form>
  {% endif %}
  </div>


