@use '../../01-core' as *;
@use '../../03-layouts/layout/layout--1-col/layout--1-col' as *;
@use '../../03-layouts/layout/layout--2-col/layout--2-col' as *;
@use '../../03-layouts/layout/layout--3-col/layout--3-col' as *;
@use '../../03-layouts/layout/layout--4-col/layout--4-col' as *;
@use '../../03-layouts/layout/layout--5-col/layout--5-col' as *;
@use '../../03-layouts/layout/layout--inverted-l-left/layout--inverted-l-left' as *;
@use '../../03-layouts/layout/layout--inverted-l-right/layout--inverted-l-right' as *;
:root{
  --layout-border-shadow: var(--shadow-1);
  --layout-show-seperator-color: var(--gray-3);
  --layout-show-bottom-color: var(--gray-3);
  --layout-border-color: var(--layout-show-bottom-color);
  --layout-border-style: solid;
  --layout-border-width: var(--size-xs);
  --layout-border-radius: 0;
}
.layout__region {
  container-name: column;
  container-type: inline-size;

  .pl & {
    outline: var(--size-xs) dashed var(--blue-6);
    padding: var(--size-3);
    text-align: center;
    .pl-labels{
      text-align: center;
    }
  }
}

.pl-layout-h2 {
  @include uw-contained-width;
}
