@use '../../01-core' as *;

:root {
  /* establish a default for calculations */
  --base-section-margin: calc(var(--grid-gap) * 0.5);
  /* use that default as the default spacing */
  --section-margin: var(--base-section-margin);
  --layout-max-width-narrow: calc(100vw - 2rem);
}

/* Only apply top padding to the first section when there's a background. */
.card__content section.layout:first-child:not(.uw-section__background-color,.uw-section__background-image) {
  padding-top: 0;
}

@media(min-width: $screen-md) {
  .card__content section.layout:last-child.uw-section-separator--narrow {
    padding-bottom: unset;
  }
}

.uw-section-alignment {
  &--top-align-content,
  &--center-align-content,
  &--bottom-align-content {
    .layout__region {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
  &--top-align-content {
    .layout__region {
      place-content: flex-start;
    }
  }
  &--center-align-content {
    .layout__region {
      place-content: center;
    }
  }
  &--bottom-align-content {
    .layout__region {
      place-content: flex-end;
    }
  }
}

.uw-section-spacing {
  &--75 {
    --section-margin: calc(var(--base-section-margin) * 0.75);
    &.layout {
      padding-bottom: var(--section-margin);
      padding-top: var(--section-margin);
      &.card__media {
        margin-bottom: 0 !important;
      }
    }
  }
  &--50 {
    --section-margin: calc(var(--base-section-margin) * 0.5);
    &.layout {
      padding-bottom: var(--section-margin);
      padding-top: var(--section-margin);
    }
  }
  &--25 {
    --section-margin: calc(var(--base-section-margin) * 0.25);
    &.layout {
      padding-bottom: var(--section-margin);
      padding-top: var(--section-margin);
    }
  }
  &--none {
    --section-margin: 0;
    &.layout {
      padding-bottom: var(--section-margin);
      padding-top: var(--section-margin);
    }
  }
  &--default {
    --section-margin: var(--base-section-margin);
    &.layout {
      padding-bottom: var(--section-margin);
      padding-top: var(--section-margin);
    }
  }
  &.layout  {
    &.card__media {
      margin-bottom: 0 !important;
    }
  }
}
// Section seperators.
.uw-section-separator {

  &--none {
    border-color: transparent;
  }
  &--bottom {
    position: relative;
    &:not(.is-layout-builder-highlighted) {
      border-color: var(--layout-border-color);
      border-style: var(--layout-border-style);
      border-bottom-width: var(--layout-border-width);
    }
  }
  &--narrow {
    margin-bottom: var(--section-margin);
    padding-bottom: var(--section-margin);
    position: relative;
    border-color: var(--layout-border-color);
    border-style: var(--layout-border-style);
    border-bottom-width: var(--layout-border-width);
    @media(min-width: $screen-md) {
      border-color: transparent;
    }
  }
}

.block-uw-cbl-expand-collapse .block-title {
  margin-left: 0 !important;
}

.layout {
  --layout-border-width: var(--size-xs);
  // Puts padding on mobile view.
  @include uw-contained-width(var(--layout-max-width-narrow));
  &.uw-section__background-color {
    max-width: 100% !important;
    padding-left: calc((100% - var(--layout-max-width-narrow)) / 2);
    padding-right: calc((100% - var(--layout-max-width-narrow)) / 2);
  }
  // Desktop max width no padding look.
  &.layout-builder__layout {
    padding-top: var(--size-2);
  }
  // Set default spacing to match old block spacing if no classes
  &:not(.uw-section-spacing--default, .uw-section-spacing--none, .uw-section-spacing--75, .uw-section-spacing--50, .uw-section-spacing--25) {
    margin-bottom: var(--section-margin);
    padding-bottom: var(--section-margin);
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  &.card__media {
    padding: 0 var(--size-2);
    @media(min-width: $screen-xl) {
      padding: 0;
    }
  }
  &.uw-contained-width {
    @include uw-contained-width(var(--layout-max-width-narrow));
    &.uw-section__background--contained {
      padding-left: var(--size-2);
      padding-right: var(--size-2);
    }
    &.uw-section__background-color,
    &.uw-section__background--full-width {
      max-width: 100% !important;
      padding-left: calc((100% - var(--layout-max-width-narrow)) / 2);
      padding-right: calc((100% - var(--layout-max-width-narrow)) / 2);
    }
    @media(min-width: $screen-xl) {
      @include uw-contained-width(var(--layout-max-width));
      &.uw-section__background-color,
      &.uw-section__background--full-width {
        max-width: 100% !important;
        padding-left: calc((100% - var(--layout-max-width)) / 2);
        padding-right: calc((100% - var(--layout-max-width)) / 2);
      }
    }
    &.card__media {
      max-width: var(--layout-max-width);
    }
    &--narrow {
      /* Match the width of WCMS2's narrow: 496px */
      &.uw-section__background--contained {
        padding-left: var(--size-2);
        padding-right: var(--size-2);
        margin-left: var(--size-2);
        margin-right: var(--size-2);
        max-width: 30rem !important;
        @media(min-width: 32rem) {
          margin-left: auto;
          margin-right: auto;
        }
      }
      @media(min-width: 32rem) {
        max-width: 100% !important;
        padding-left: calc((100% - 30rem) / 2);
        padding-right: calc((100% - 30rem) / 2);
      }
      &.uw-section__background-color,
      &.uw-section__background--full-width {
        @media(min-width: 32rem) {
          max-width: 100% !important;
          padding-left: calc((100% - 30rem) / 2);
          padding-right: calc((100% - 30rem) / 2);
        }
      }
      &.card__media {
        max-width: 31rem;
      }
    }
    &--wide {
      /* Match the width of WCMS2's wide: 753px */
      &.uw-section__background--contained {
        padding-left: var(--size-2);
        padding-right: var(--size-2);
        margin-left: var(--size-2);
        margin-right: var(--size-2);
        max-width: 45rem !important;
        @media(min-width: 47.0625rem) {
          margin-left: auto;
          margin-right: auto;
        }
      }
      max-width: 100% !important;
      @include uw-contained-width(47.0625rem);
      padding-left: var(--size-2);
      padding-right: var(--size-2);
      &.uw-section__background-color,
      &.uw-section__background--full-width {
        max-width: 100% !important;
        padding-left: var(--size-2);
        padding-right: var(--size-2);
      }
      @media(min-width: $screen-md) {
        padding-left: calc((100% - 46.625rem) / 2);
        padding-right: calc((100% - 46.625rem) / 2);
        &.uw-section__background-color,
        &.uw-section__background--full-width {
          padding-left: calc((100% - 47.0625rem) / 2);
          padding-right: calc((100% - 47.0625rem) / 2);
        }
      }
      &.card__media {
        max-width: 47.0625rem;
      }
    }
  }
  &.uw-full-width {
    @include uw-full-width-padding;
    overflow: hidden;
    .layout__region:not(:has(.block-uw-cbl-image)) {
      padding-top: var(--size-1);
    }
    .uw-caption{
      > p{
        padding-left: var(--size-2);
      }
    }

    .uw-section-has-full-width.uw-node__with-sidebar & {
      padding: 0  var(--size-1) !important;
    }

    .dashboards-container & {
      @include uw-full-width;
      margin-bottom: var(--grid-gap);
      overflow: visible; /* otherwise, dropdowns truncate at the border. */
    }
    .layout-builder & {
      padding: var(--size-2);
    }

    .layout-builder__region {
      padding: var(--size-1) 0 0;
    }

    &.layout--uw-1-col {
      .block-inline-blockuw-cbl-banner-images,
      .block-inline-blockuw-cbl-image,
      .block-uw-cbl-image,
      .block-inline-blockuw-cbl-remote-video,
      .block-inline-blockuw-cbl-image-gallery,
      .block-uw-cbl-waterloo-news {
        @include uw-full-width-margin;

        .layout-builder & {
          @include uw-full-width-reset;
          margin-left: 0;
          margin-right: 0;
        }

        > h2:first-of-type {
          margin-left: var(--size-2);
        }

        .uw-section-has-full-width.uw-node__with-sidebar & {
          @include uw-full-width-reset;
        }
      }
      .block-inline-blockuw-cbl-google-maps {
        @include uw-contained-width;
        .block-title {
          margin-left: inherit;
        }
        @media(min-width: $screen-md) {
          @include uw-full-width-margin;
          .block-title {
            margin-left: var(--size-2);
          }
        }
        .layout-builder & {
          @include uw-full-width-reset;
          margin-left: 0;
          margin-right: 0;
        }
        .uw-section-has-full-width.uw-node__with-sidebar & {
          @include uw-full-width-reset;
        }
      }
      .block-uw-cbl-expand-collapse {
        .layout.uw-contained-width {
          max-width: 100%;
          .block-inline-blockuw-cbl-google-maps {
            @media(min-width: $screen-md) {
              @include uw-full-width-reset;
              margin-left: 0;
              margin-right: 0;
            }
            .uw-google-maps {
              display: block;
              max-width: 100%;
              width: 100%;
            }
          }
        }
      }
    }
    &.card__media {
      padding: 0;
    }
  }
  // When wrapped with class to identify sidebar
  .uw-node__with-sidebar & {
    margin: inherit;

    @media(min-width: $screen-md) {
      @include uw-contained-width;
    }

    &.uw-contained-width {
      @include uw-contained-width;
      margin: inherit;
      padding-left: var(--size-1);
      padding-right: var(--size-1);

      @media(min-width: $screen-xxl) {
        padding-left: 0;
        padding-right: 0;
      }

      &--narrow {
        /* Match the width of WCMS2's narrow: 496px */
        margin: inherit;
      }

      &--wide {
        /* Match the width of WCMS2's wide: 753px */
        margin: inherit;
      }
    }
  }

  // Column separator css.
  &--uw-2-col {
    &.uw-column-separator {
      &--between {
        .layout__region {
          position: relative;
          &--first {
            &::before {
              content: '';
              position: absolute;
              background-color: var(--layout-show-seperator-color);
              width: 100%;
              height: var(--layout-border-width);
              bottom: 0;
              transform: translate(0, var(--size-2));
              left: 0;
            }
            @media(min-width: $screen-md) {
              &::before {
                content: '';
                position: absolute;
                background-color: var(--layout-show-seperator-color);
                width: var(--layout-border-width);
                height: 100%;
                bottom: 0;
                left: inherit;
                right: 0;
                transform: translate(var(--size-2), 0);
              }
            }
          }
        }
      }
      &--narrow {
        .layout__region {
          position: relative;
          &--first {
            &::before {
              content: '';
              position: absolute;
              background-color: var(--layout-show-seperator-color);
              width: 100%;
              height: var(--layout-border-width);
              bottom: 0;
              left: 0;
              transform: translate(0, var(--size-2));
            }
            @media(min-width: $screen-md) {
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  &--uw-3-col {
    &.uw-column-separator {
      &--between {
        .layout__region {
          position: relative;
          &--first {
            &::before {
              content: '';
              position: absolute;
              background-color: var(--layout-show-seperator-color);
              width: 100%;
              height: var(--layout-border-width);
              bottom: 0;
              left: 0;
              transform: translate(0, var(--size-2));
            }
            @media(min-width: $screen-md) {
              &::before {
                content: '';
                position: absolute;
                background-color: var(--layout-show-seperator-color);
                width: var(--layout-border-width);
                height: 100%;
                bottom: 0;
                left: inherit;
                right: 0;
                transform: translate(var(--size-2), 0);
              }
            }
          }
          &--second {
            &::before {
              background-color: var(--layout-show-seperator-color);
              bottom: 0;
              content: '';
              height: var(--layout-border-width);
              left: 0;
              position: absolute;
              transform: translate(0, var(--size-2));
              width: 100%;
            }
            @media(min-width: $screen-md) {
              &::before {
                background-color: var(--layout-show-seperator-color);
                bottom: 0;
                content: '';
                height: 100%;
                left: inherit;
                position: absolute;
                right: 0;
                transform: translate(var(--size-2), 0);
                width: var(--layout-border-width);
              }
            }
          }
        }
      }
      &--narrow {
        .layout__region {
          position: relative;
          &--first {
            &::before {
              background-color: var(--layout-show-seperator-color);
              bottom: 0;
              content: '';
              height: var(--layout-border-width);
              left: 0;
              position: absolute;
              transform: translate(0, var(--size-2));
              width: 100%;
            }
            @media(min-width: $screen-md) {
              &::before {
                display: none;
              }
            }
          }
          &--second {
            &::before {
              content: '';
              position: absolute;
              background-color: var(--layout-show-seperator-color);
              width: 100%;
              height: var(--layout-border-width);
              bottom: 0;
              transform: translate(0, var(--size-2));
              left: 0;
            }
            @media(min-width: $screen-md) {
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  &--uw-4-col {
    &.uw-column-separator {
      &--between {
        .layout__region {
          position: relative;
          &--first {
            &::after {
              bottom: 0;
              content: '';
              position: absolute;
              background-color: var(--layout-show-seperator-color);
              width: 100%;
              height: var(--layout-border-width);
              left: 0;
              right: inherit;
              transform: translate(0, var(--size-2));
            }
            &::before {
              @media(min-width: $screen-sm) {
                background-color: var(--layout-show-seperator-color);
                bottom: 0;
                content: '';
                height: 100%;
                left: inherit;
                position: absolute;
                right: 0;
                transform: translate(var(--size-2), 0);
                width: var(--size-xs);
              }
            }
            @media(min-width: $screen-lg) {
              &::after {
                display: none;
              }
            }
          }
          &--second {
            &::before {
              background-color: var(--layout-show-seperator-color);
              bottom: 0;
              content: '';
              height: var(--layout-border-width);
              left: 0;
              position: absolute;
              transform: translate(0, var(--size-2));
              width: 100%;
            }
            @media(min-width: $screen-lg) {
              &::before {
                background-color: var(--layout-show-seperator-color);
                bottom: 0;
                content: '';
                height: 100%;
                left: inherit;
                position: absolute;
                right: 0;
                transform: translate(var(--size-2), 0);
                width: var(--size-xs);
              }
            }
          }
          &--third {
            &::before {
              bottom: 0;
              content: '';
              position: absolute;
              background-color: var(--layout-show-seperator-color);
              width: 100%;
              height: var(--layout-border-width);
              left: 0;
              transform: translate(0, var(--size-2));
            }
            @media(min-width: $screen-sm) {
              &::before {
                background-color: var(--layout-show-seperator-color);
                bottom: 0;
                content: '';
                position: absolute;
                height: 100%;
                left: inherit;
                right: 0;
                transform: translate(var(--size-2), 0);
                width: var(--size-xs);
              }
            }
          }
        }
      }
      &--narrow {
        .layout__region {
          position: relative;
          &--first {
            &::after {
              bottom: 0;
              content: '';
              position: absolute;
              background-color: var(--layout-show-seperator-color);
              width: 100%;
              height: var(--layout-border-width);
              left: 0;
              right: inherit;
              transform: translate(0, var(--size-2));
            }
            &::before {
              background-color: var(--layout-show-seperator-color);
              bottom: 0;
              content: '';
              height: 100%;
              left: inherit;
              position: absolute;
              right: 0;
              transform: translate(var(--size-2), 0);
              width: var(--size-xs);
            }
            @media(min-width: $screen-lg) {
              &::after,
              &::before{
                display: none;
              }
            }
          }
          &--second {
            &::before {
              background-color: var(--layout-show-seperator-color);
              bottom: 0;
              @media(min-width: $screen-sm) {
                bottom: -1rem;
              }
              content: '';
              height: var(--layout-border-width);
              left: 0;
              position: absolute;
              width: 100%;
            }
            @media(min-width: $screen-lg) {
              &::after,
              &::before{
                display: none;
              }
            }
          }
          &--third {
            &::before {
              bottom: 0;
              @media(min-width: $screen-sm) {
                transform: translate(0, var(--size-2));
              }
              content: '';
              position: absolute;
              background-color: var(--layout-show-seperator-color);
              width: 100%;
              height: var(--layout-border-width);
              left: 0;
            }
            @media(min-width: $screen-sm) {
              &::before {
                background-color: var(--layout-show-seperator-color);
                bottom: 0;
                content: '';
                position: absolute;
                height: 100%;
                left: inherit;
                right: 0;
                transform: translate(var(--size-2), 0);
                width: var(--size-xs);
              }
            }
            @media(min-width: $screen-lg) {
              &::after,
              &::before{
                display: none;
              }
            }
          }
        }
      }
    }
  }
  &--uw-inverted-l-right {
    &.uw-column-separator {
      &--between {
        .layout__region {
          position: relative;
          &--first {
            &::after {
              content: '';
              position: absolute;
              background-color: var(--layout-show-seperator-color);
              width: 100%;
              height: var(--layout-border-width);
              bottom: 0;
              transform: translate(0, var(--size-2));
              left: 0;
              right: inherit;
            }
            &::before {
              content: '';
              position: absolute;
              background-color: var(--layout-show-seperator-color);
              width: var(--size-xs);
              height: 100%;
              bottom: 0;
              left: inherit;
              right: 0;
              transform: translate(var(--size-2), 0);
            }
            @media(min-width: $screen-lg) {
              &::after {
                display: none;
              }
            }
          }
          &--second {
            &::before {
              content: '';
              position: absolute;
              background-color: var(--layout-show-seperator-color);
              width: 100%;
              height: var(--layout-border-width);
              bottom: 0;
              transform: translate(0, var(--size-2));
              left: 0;
            }
            @media(min-width: $screen-lg) {
              &::before {
                content: '';
                position: absolute;
                background-color: var(--layout-show-seperator-color);
                width: var(--size-xs);
                height: 100%;
                bottom: 0;
                left: inherit;
                right: 0;
                transform: translate(var(--size-2), 0);
              }
            }
          }
          &--third {
            &::before {
              content: '';
              position: absolute;
              background-color: var(--layout-show-seperator-color);
              width: 100%;
              height: var(--layout-border-width);
              bottom: 0;
              transform: translate(0, var(--size-2));
              left: 0;
            }
            @media(min-width: $screen-lg) {
              &::before {
                content: '';
                position: absolute;
                background-color: var(--layout-show-seperator-color);
                width: var(--size-xs);
                height: 100%;
                bottom: 0;
                left: inherit;
                right: 0;
                transform: translate(var(--size-2), 0);
              }
            }
          }
          &--fourth {
            @media(min-width: $screen-lg) {
              &::before {
                content: '';
                position: absolute;
                background-color: var(--layout-show-seperator-color);
                width: var(--size-xs);
                height: 100%;
                top: 0;
                left: 0;
                transform: translate(calc((var(--size-2) * -1) - 1px), 0);
              }
              // Fix height of separator when block has title showing (requires browser with :has support).
              .uw-main &:has(.block > h2:first-child)::before {
                height: calc(100% - 0.45em);
                top: 0.45em;
              }
            }
          }
        }
      }
      &--narrow {
        //
      }
    }
  }
  &--uw-inverted-l-left {
    &.uw-column-separator {
      &--between {
        .layout__region {
          position: relative;
          &--first {
            &::after {
              content: '';
              position: absolute;
              background-color: var(--layout-show-seperator-color);
              width: 100%;
              height: var(--layout-border-width);
              bottom: 0;
              transform: translate(0, var(--size-2));
              left: 0;
              right: inherit;
            }

            @media(min-width: $screen-lg) {
              &::after {
                display: none;
              }
              &::before {
                content: '';
                position: absolute;
                background-color: var(--layout-show-seperator-color);
                width: var(--size-xs);
                height: 100%;
                bottom: 0;
                left: inherit;
                right: 0;
                transform: translate(var(--size-2), 0);
              }
            }
          }
          &--second{
            &::before {
              content: '';
              position: absolute;
              background-color: var(--layout-show-seperator-color);
              width: 100%;
              height: var(--layout-border-width);
              bottom: 0;
              transform: translate(0, var(--size-2));
              left: 0;
            }
            @media(min-width: $screen-lg) {
              &::before {
                content: '';
                position: absolute;
                background-color: var(--layout-show-seperator-color);
                width: var(--size-xs);
                height: 100%;
                bottom: 0;
                left: inherit;
                right: 0;
                transform: translate(var(--size-2), 0);
              }
              &::after {
                content: '';
                position: absolute;
                background-color: var(--layout-show-seperator-color);
                width: var(--size-xs);
                height: 100%;
                bottom: 0;
                left: 0;
                transform: translate(calc((var(--size-2) * -1) - 1px), 0);
              }
            }
          }
          &--third {
            &::before {
              content: '';
              position: absolute;
              background-color: var(--layout-show-seperator-color);
              width: 100%;
              height: var(--layout-border-width);
              bottom: 0;
              transform: translate(0, var(--size-2));
              left: 0;
            }
            @media(min-width: $screen-lg) {
              &::before {
                display: none;
              }
            }
          }
          &--fourth {
            @media(min-width: $screen-lg) {
              &::before {
                content: '';
                position: absolute;
                background-color: var(--layout-show-seperator-color);
                width: var(--size-xs);
                height: 100%;
                bottom: 0;
                left: 0;
                transform: translate(calc((var(--size-2) * -1) - 1px), 0);
              }
            }
          }
        }
      }
      &--narrow {
        .layout__region {
          position: relative;
          &--first {
            &::after {
              content: '';
              position: absolute;
              background-color: var(--layout-show-seperator-color);
              width: 100%;
              height: var(--layout-border-width);
              bottom: 0;
              transform: translate(0, var(--size-2));
              left: 0;
              right: inherit;
            }
            @media(min-width: $screen-lg) {
              &::after {
                display: none;
              }
            }
          }
          &--second {
            &::before {
              content: '';
              position: absolute;
              background-color: var(--layout-show-seperator-color);
              width: 100%;
              height: var(--layout-border-width);
              bottom: 0;
              transform: translate(0, var(--size-2));
              left: 0;
            }
            @media(min-width: $screen-lg) {
              &::before {
                display: none;
              }
            }
          }
          &--third {
            &::before {
              content: '';
              position: absolute;
              background-color: var(--layout-show-seperator-color);
              width: 100%;
              height: var(--layout-border-width);
              bottom: 0;
              transform: translate(0, var(--size-2));
              left: 0;
            }
            @media(min-width: $screen-lg) {
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.uw-section-has-full-width .layout.layout--uw-1-col {
  overflow: hidden;
}
