@use '../../01-core' as *;

.uw-copy-text {
  overflow: auto;

  ul {
    overflow: hidden;
  }

  .media {
    &.align-left {
      img {
        margin: 0 var(--size-2) 0 0;
      }
    }
    &.align-center {
      padding-left: 0;
      padding-right: 0;
      text-align: center;
      img{
        margin: 0 auto var(--size-1) auto;
      }
    }
    &.align-right {
      img{
        margin: 0 0 0 var(--size-2);
      }
    }
  }

  &__wrapper > :last-child {
    margin-bottom: 0;
  }

  &__wrapper.uw-contained-width {
    @include uw-contained-width;
    padding: var(--size-2) 0;
  }
}
.uw-text-align {
  &--center {
    text-align: center;
    .balanced-text {
      margin-left: auto;
      margin-right: auto;
    }
  }
  &--left {
    text-align: left;
    .balanced-text {
      margin-right: auto;
    }
  }
  &--right {
    text-align: right;
    .balanced-text {
      margin-left: auto;
    }
  }
}
